[2016-02-26 19:20] lovegushwa commented on #93
@Giorgio-Olivero how can we get the share working on our end so we can test this?

[2016-02-26 19:21] lovegushwa commented on #93
@Giorgio-Olivero I need to do some thinking about the footer. @valianttry @HPaulJohnson have any thoughts on what this should include?

You can steal some code from us here: https://github.com/mozilla/advocacy.mozilla.org/blob/master/components/footer.jsx https://github.com/mozilla/advocacy.mozilla.org/blob/master/components/footer-icon.jsx https://github.com/mozilla/advocacy.mozilla.org/blob/mast

[2016-02-26 20:36] valianttry commented on #185
New copy for Beat 2 snippet that is text + icon only:
https://docs.google.com/document/d/1f8aD_1ALc4UCuycVLqVeRSUMW_mmL9zSbvXoE13wKXY/edit

[2016-02-26 20:47] #173 closed

[2016-02-26 21:05] lovegushwa commented on #185
@valianttry I don't think there is any design work for this?

[2016-02-26 21:09] lovegushwa commented on #38
@OpenMatt yeah, we should revisit this when we have time.

[2016-02-26 21:09] #38 closed

[2016-02-26 21:22] KGorr commented on #97
Sorry to re-open this, but we discussed on our call Tuesday that having the tracking URL on the encryption link would be helpful. @KevZawacki, is this something you can help with by 3/1?

[2016-02-26 21:23] KevZawacki commented on #97
plus @HPaulJohnson, tracking link expert

[2016-02-26 21:43] natalieworth commented on #139
This is updated with final version on encryption site.

[2016-02-26 21:43] #139 closed

[2016-02-26 21:43] natalieworth commented on #138
@HPaulJohnson Closing this, but reopen if you need changes to any of the Beat 2 social assets.

[2016-02-26 21:43] #138 closed

[2016-02-26 22:16] Giorgio-Olivero commented on #93
Check the footer (desktop) on this version http://el.s.todo.to.it/cryptoloji/0578/#/welcome

Sent from my phone

[2016-02-26 22:51] sabrinang commented on #144
/cc @sabrinang

[2016-02-26 23:54] HPaulJohnson commented on #169
This is done and we are starting to use these on social now.

[2016-02-26 23:54] #169 closed

[2016-02-26 23:54] HPaulJohnson commented on #170
Optimizely, Share Progress, and outstanding blog pieces moving to beat 3.

[2016-02-26 23:54] #170 closed

[2016-02-26 23:58] HPaulJohnson commented on #24
Almost done.

Share Progress has made necessary changes on their side. Abigail is drafting a special adendum to their TOS that reflects these changes that Share Progress will need to sign. Once that happens, I'll close this and we can move tom implementation.

[2016-02-29 16:45] chelseanovak commented on #73
@valianttry @shaghdoosti are there still videos planned for beats 3 and 4?

[2016-02-29 18:12] valianttry opened #187 "Snippet performance analysis: Views and optins"
* Which Beat 1 or Beat 2 snippet yielded more video views per impression?
* Which Beat 1 or Beat 2 snippet yielded more optins per impression?

Given the importance of snippet as a channel for future beats, we should do some analysis on what we've learned from Beat 1 and 2. We've used several different snippet variants and so should have some comparative data to learn from.

@adamlofting

[2016-02-29 18:48] OpenMatt commented on #154
I emailed the estimate from TODO to @simonwex . Next step: get feedback from @simonwex ( and potentially @davidascher if needed )

[2016-02-29 18:48] OpenMatt commented on #155
@shaghdoosti can you update status on this one?

[2016-02-29 18:54] shaghdoosti commented on #155
Hey everyone --

So I just looked over the copy and a few key points. Biggest top line is that we should have Simon and Jochai's flag's top of mind with the content. Let's not frame this as encryption but rather as a cipher. The two are used interchangably -- they should all shift to talking about ciphers.

Also, flagging that we should try to avoid using words like 'private', 'secret', 'secure' -

[2016-02-29 19:33] adamlofting commented on #187
@valianttry could you find, or point me at the list of all the snippet IDs we've used?

Then I can look these up in Tableau, and answer the questions above.

[2016-02-29 21:11] OpenMatt commented on #155
Thanks @shaghdoosti !

@michellenebiolo @Giorgio-Olivero: copy edits are done from our side at this point! Going to close this ticket now. Let us know if you need anything further from us on copy!

[2016-02-29 21:48] valianttry commented on #130
cc @shaghdoosti

[2016-02-29 22:01] JessicaVondrak commented on #187
Hi @adamlofting

Here you go:
Beat #1
Form + video = 5534
Form only = 5539
Beat #2
Video only = 5540
Simple snippet = 5541

They are also all in a Tableau sheet labeled "Privacy Day 2016" within the Snippet Campaigns workbook.

[2016-02-29 23:16] HPaulJohnson commented on #178
this is done. closing.

[2016-02-29 23:16] #178 closed

[2016-03-01 13:46] adamlofting commented on #187
Here are some things we can see in the data:
- Adding the form to the snippet increases email opt-in acquisition by ~40X. This is the most significant factor in these results by far. (0.38% vs 0.01% sign-ups/impressions)
- Adding the video to the snippet doesn't decrease sign-ups (but naturally does add video views). (0.38% vs 0.39% sign-ups/impressions for Beat 1)
- The video with the form, and t

[2016-03-01 13:49] adamlofting commented on #187
Actually - hold on this for a second... I might have been misreading how the links are tagged for the CTR.

[2016-03-01 14:00] adamlofting commented on #187
Double checked, and this was OK. I'd missed out one of the CTR fields in the sheet, but this doesn't change the conclusions above.

[2016-03-01 14:00] #187 closed

[2016-03-01 17:42] michellenebiolo commented on #155
Hi @OpenMatt, actually we need a final approval on the definitive copy.
I have edited everything according to the comments received, and you can find the new version in column F of the [spreadsheet](https://docs.google.com/spreadsheets/d/1STrOHP3L2VmxmBqjIc3PPbJn0-tq5Qu2gOCgFTtXK_o/edit#gid=298121543).

We are in the process of updating the prototype to that version (that's what the colors and Xs

[2016-03-01 19:30] Giorgio-Olivero commented on #155
hello!
@OpenMatt @shaghdoosti @HPaulJohnson @lovegushwa
we've updated the copy as said by @michellenebiolo on this prototype
http://el.s.todo.to.it/cryptoloji/0622/

[2016-03-01 20:54] HPaulJohnson commented on #187
@adamlofting can you verify the number of opt-ins (~345K) from Beat 1? That's a lot higher than I had heard reported in other places.

[2016-03-01 20:58] valianttry commented on #187
My guess: "Signup" is calculated as "click on the submit button" in snippet metrics (Tableau) on the embedded form. People who click the submit button then receive an email confirmation that they must click to be subscribed to our list -- so that Signup number minus our ExactTarget totals = people who didn't bother to confirm their subscription by email. @adamlofting should confirm of course.

[2016-03-01 23:17] valianttry commented on #187
To put a finer point on it, it appears there is roughly a 50% drop off rate from people who fill in the form but then don't click "confirm subscription" in the automated signup email.

[2016-03-02 01:33] HPaulJohnson commented on #144
Meeting on 3/2 to discuss initial list of ideas, here: https://docs.google.com/a/mozilla.com/document/d/1TQwKVN_A-KwCNVevD_IBIUET4q_r87qxm0SZfHdLV5c/edit?usp=sharing

[2016-03-02 10:36] adamlofting commented on #187
Yes, to confirm: the sign-up numbers I have are the Tableau 'Form Submission Successful' events. So this won't account for people who don't confirm the double opt-in email mechanism.

The same is true for sign-ups from our website - I'm looking at the form submission event and not the ExactTarget data.

As both groups receive the same confirmation email, this data should be fine for comparing betw

[2016-03-02 16:18] adamlofting commented on #130
I've booked a call for us to work through Jan and Feb as practical examples of what this KPI looks like.

This document should help guide that call:
https://docs.google.com/spreadsheets/d/1HJVAYns-SksMRkUZz5ivqnKd9B-07PT8gsKLKKrwRto/edit#gid=0

[2016-03-02 16:54] valianttry commented on #130
@adamlofting since "share" is going to likely factor large can you also invite @HPaulJohnson ? He's done some numbers crunching ...

[2016-03-02 16:57] adamlofting commented on #130
:+1:

[2016-03-02 18:04] OpenMatt commented on #155
#### Next steps:
- [ ] copy review ( @shaghdoosti  )
- [ ] UX / branding pass ( @lovegushwa )
- [ ] general testing (Brett + Andrea + Maryam + Matt)

[2016-03-02 19:01] shaghdoosti opened #188 "Build beat 5 Campaign Pledge petition page"
#### Context
* In conjunction with the beat 5 video, we're going to release a global pledge around standing up for encryption.
* People will commit to taking action, and also share which country they are in so that we can send them relevant advocacy actions when the time comes.

#### Deadline
* Needs to be ready to ship to production Monday, Mar 21

#### Design
Design ticket for this page: https:/

[2016-03-02 19:03] shaghdoosti commented on #188
@OpenMatt

[2016-03-02 19:10] OpenMatt commented on #156
### Next steps

Let's carve this into individual blog post pieces, assign and publish.
- **1) High-level.** What was our original goal w. this campaign? What were our hypotheses and goals?
  - Assigned to: @valianttry & @shaghdoosti working together?
- **2) Metrics.** How did we do in terms of... social? video views? translating that into longer-term relationships / "active advocates?, etc? How do

[2016-03-02 19:11] shaghdoosti opened #189 "Beat 5 -- Campaign Pledge petition copy"
Writing the copy and designing the ask for the campaign pledge for beat 5.

[2016-03-02 19:12] OpenMatt commented on #156
- We're going to publish these to fundraising.mozilla.org for now.
- To avoid stop energy and get this done w. busy people, I would say: just start writing and post a draft here when you have it.

[2016-03-02 19:12] shaghdoosti opened #190 "Write script for Beat 5 video"
Creating the script for beat 5 that highlights what's happening with Encryption around the world with help from the policy team.

Mutually working on this are myself and @brettgaylor

[2016-03-02 19:14] OpenMatt commented on #155
@Giorgio-Olivero @michellenebiolo thank you for this! We are working on getting this done by eod today so that we can be in good shape for our meeting with you Thurs (Mar 3)

[2016-03-02 19:34] shaghdoosti commented on #155
Just looked at the tool -- it looks great!

A few things on the copy:
- Can we add 'about' to the header: A fun tool to learn about ciphers

-On the onboarding screen can we change the copy that says 'I have a crush on you' to say something like 'hello!' or 'How are you?' (again, that's a private message and this isn't a secure app)

-Is there a place where we can add in a explanation that a)these

[2016-03-03 00:35] alanmoo commented on #183
Any thoughts on this @valianttry @HPaulJohnson @adamlofting @OpenMatt ?

[2016-03-03 00:38] HPaulJohnson commented on #183
Makes sense to me. Ideally, we'd have a system where we could also customize the share language for each piece of content. Not sure if that works with this scheme but something to also consider.

[2016-03-03 00:46] alanmoo commented on #183
As in A/B testing of the content within a design?

[2016-03-03 00:47] brettgaylor commented on #183
This is great.  Avoids us confusing the numbers in the URL with the beats.

[2016-03-03 00:50] HPaulJohnson commented on #183
@alanmoo as in the share message might be unique to a specific piece of content. As an example, with the first video a share message about general privacy was appropriate and with the second video we wanted a share message that was much more focused on encryption.

[2016-03-03 04:42] lovegushwa commented on #155
@Giorgio-Olivero @michellenebiolo

Looking great overall. Some UX/UI comments for in a redpen here:
https://redpen.io/p/uy423a52fe86c66a01

I would love to somehow see what happens once you receive a link (what decoding a cipher looks like.)

[2016-03-03 10:49] michellenebiolo commented on #155
Hello everyone,

@Giorgio-Olivero is traveling today so unfortunately we have to postpone the weekly update: @OpenMatt, could we schedule a call for Tuesday, 9.30am PT/6.30pm CET? Giorgio will be in Los Angeles next week, so if that time doesn’t work hopefully it will be easy to find another that does.

As regards copy: thank you @shaghdoosti for your feedback.
- We will add “about” in the header

[2016-03-03 15:29] lovegushwa commented on #176
Looks great on my phone.
On Mar 3, 2016 7:25 AM, "Stephanie McVicker" notifications@github.com
wrote:

[2016-03-03 15:59] KevZawacki commented on #176
Just read through on desktop. It looks beautiful — well done!

My notes:

-- I'd change the em dash in the first line of copy ("While encryption isn't...") to a comma. Ditto where this sentence reappears in the email body. So: "While encryption is making a lot of headlines right now, the basic principle behind it isn’t new."

-- "Caesar" is misspelled "Ceasar" in the third paragraph
![screen shot

[2016-03-03 17:49] KevZawacki commented on #156
@OpenMatt Here's my section:

"Press around Mozilla's encryption campaign and our support for Apple has been tremendous. As of Thursday, March 3 — about little more than halfway through the campaign — we've garnered 90 stories on five continents. Capstone coverage includes Mark's interview on NPR's Morning Edition (which reaches 13 million listeners each day!); Mark's op-ed in CNN; and stories in

[2016-03-03 17:58] OpenMatt commented on #154
We had a great meeting w. @michellenebiolo / @abusedmedia (fabio) / @simonwex today.

### What we decided in this meeting:

1) **We may not need an API after all.** Fabio / TODO is going to consult w. his team to verify. But we agree this approach is viable and simplifies things considerably.
2) **URL shorteners.** Fabio will look into whether long URLs impact UX / share-ability. If no, we’re ok w

[2016-03-03 18:00] valianttry commented on #176
Let's link to the video a 2nd time here:

![_beat_3_test_1__can_you_read_this_message__-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/13503914/bff4a78c-e126-11e5-9dde-8f7e4912ec95.png)

[2016-03-03 18:15] OpenMatt commented on #155
- Next step: we need to come up with a replacement for "I have a crush on you" in the on-boarding copy.
- Will file it here before eod.

[2016-03-03 18:29] lovegushwa commented on #155
@Giorgio-Olivero
As I discussed with @michellenebiolo today, we need to remove the "cryptoloji" logo our final presentation. I hope we can still use "cryptoloji" final name, but we need to remove it for now. (so we don't create a stumbling block around the word "crypt" with our legal and policy friends during presentation.)

Here is our temporary stand-in logo to replace "cryptoloji" ... you can a

[2016-03-03 18:33] lovegushwa commented on #176
Has anyone double checked the cypher? I showed it to Sarah and she though the directions to de-code are backwards.

[2016-03-03 19:16] michellenebiolo commented on #155
@lovegushwa, just to make sure:
- Cypholoji is ok with a "y" (I think copy has been steered towards "cipher" with an "i")
- you need us to replace "Cryptoloji" throughout copy, not just onboarding (I think it comes up in one more spot or two)
  Right?

[2016-03-03 20:04] brettgaylor commented on #154
Something I also wanted to capture - we may not need CAPTCHA if we do not go with an API.

[2016-03-03 20:28] valianttry commented on #156
@stephaniemcv should write something about findings with our email testing!

[2016-03-03 20:49] OpenMatt commented on #156
Added!

[2016-03-03 20:50] OpenMatt commented on #156
@KevZawacki awesome! you can prep that as an individual blog post on fundraising.mozilla.org.

[2016-03-03 21:16] KevZawacki commented on #156
@OpenMatt Don't believe I have log in credentials for the site.

[2016-03-03 21:43] valianttry commented on #156
@KevZawacki maybe use Google Docs to draft for now? I'll work on your credentials for that site (and anyone else who needs authorship access).

[2016-03-03 21:50] valianttry commented on #156
@KevZawacki sent you credentials, lemme know if you don't have them.

[2016-03-03 22:18] lovegushwa commented on #155
Yes it should be "Cypholoji" with a Y ... and yes please replace "Cryptoloji" throughout the copy.

[2016-03-03 22:35] lovegushwa commented on #155
@michellenebiolo

Regarding a replacement for "I have a crush on you"
Let's use "You’re the best" ... or "You are the best" in case you need a few more letters visually.

also ... see the comment above.

[2016-03-03 23:04] stephaniemcv commented on #176
The cypher looks right to me. But I think I missed a letter in the message.

F ILSB BKZOMQFLK
I LOVE ENCRPTION

F ILSB BKZOVMQFLK
I LOVE ENCRYPTION

[2016-03-03 23:41] valianttry commented on #155
I have some copy feedback below -- I thought providing it in screengrabs might be helpful (in context) if not let me know and i'll work in the Google Doc

![mozilla_cryptoloji](https://cloud.githubusercontent.com/assets/9830371/13513464/e88ce004-e155-11e5-99a8-fbab11d309f6.png)

![mozilla_cryptoloji](https://cloud.githubusercontent.com/assets/9830371/13513471/efcd3b0c-e155-11e5-94f2-73eda8b11f17.p

[2016-03-04 00:55] HPaulJohnson commented on #24
Agreement signed. This part is done, now we can move to implementation. Setting up a separate ticket for that.

[2016-03-04 00:55] #24 closed

[2016-03-04 01:02] HPaulJohnson opened #191 "Implement Share Progress on Landing Page"
There are 3 things we need to do to implement.

1) Add a code snippet to the <head> section of /encrypt landing pages.
2) Update share buttons with new Share Progress code

^ these two steps allow us to implement via share buttons immediately

3) Create a custom subdomain to utilize the SP share page, something like share.mozilla.org.  To do this we'll need the point the DNS record for that to d.s

[2016-03-04 12:25] michellenebiolo commented on #155
Hello :)
- Cypholoji with a y, got it. I'll let you know as soon as we have a version of the prototype with that.
- Ok on "You are the best".
- No problem amending copy according to @valianttry's feedback. @OpenMatt can I consider these the final corrections and have them implemented? Or should we wait for further reviews (by today if possible)?
- I am opening two issues on our github for the "nex

[2016-03-04 14:10] KevZawacki commented on #36
Beat 4 blog draft is under review [here](https://docs.google.com/document/d/1mmoCc57RLd7FAOCt1idh_7_jCxmNJU7d3MFuBKxyEWU/edit).

[2016-03-04 18:24] HPaulJohnson opened #192 "Design wrappers for Share Progress landing page"
We need to add Mozilla/Encrypt campaign branding to our Share Progress share page. We'll also need to style the Share Progress buttons to be embedded on existing pages.

[2016-03-04 19:27] #185 closed

[2016-03-04 19:55] valianttry commented on #185
Correct. There may be some design tweaks to the embedded form in the future but it is no longer urgent / applicable for this campaign.

[2016-03-04 20:42] HPaulJohnson commented on #192
Reviewed requirements for this with @lovegushwa. Step 1 (setting up new buttons on our existing pages) doesn't require design work so not needed for Beat 4 launch. Design needed for wrapper on dedicated sharing landing page and the goal is to have that work complete in time for Beat 5 launch to optimize sharing post-pledge.

[2016-03-04 20:44] HPaulJohnson commented on #191
Talked to @alanmoo today about implementing steps 1 & 2. Goal is to have these live in time for beat 4 launch on Wednesday, 3/9.

[2016-03-04 20:59] HPaulJohnson commented on #142
We've been working on ideas in ticket #143

Plan for next phase of social is now being tracked in this doc:
https://docs.google.com/document/d/1TQwKVN_A-KwCNVevD_IBIUET4q_r87qxm0SZfHdLV5c/edit

Working on a set of 5 ideas for this phase to be used across FB, Tiwtter and paid.

[2016-03-04 21:01] HPaulJohnson commented on #144
Honed initial brainstormed list of ideas into a set of 5 that we are now building out. These 5 assets will be used across FB, Twitter and paid channels.

Progress now being tracked in this doc:
https://docs.google.com/document/d/1TQwKVN_A-KwCNVevD_IBIUET4q_r87qxm0SZfHdLV5c/edit

[2016-03-04 21:02] HPaulJohnson commented on #142
Duplicate of #144

[2016-03-04 21:02] #142 closed

[2016-03-04 21:04] HPaulJohnson commented on #143
@sabrinang did some awesome work on this here: https://docs.google.com/presentation/d/16Ui3J3OaT71qj_uH62EgyI3rguSPyp3oVDlb4Cz-yYo/edit#slide=id.g11c0759461_1_86

not sure if we can close and use #144 to track progress?

[2016-03-04 21:05] HPaulJohnson commented on #133
@KevZawacki anything more than needs to be done with this one or can we close?

[2016-03-04 21:19] lovegushwa commented on #155
Redpen review:
https://redpen.io/p/ycc70aef1a4c9651e3

[2016-03-04 21:27] KevZawacki commented on #133
@HPaulJohnson Still awaiting approval -- I messaged @valianttry / @shaghdoosti earlier today

[2016-03-04 23:01] HPaulJohnson opened #193 "MarCom Checklist for Beat 4 Launch"
Launch checklist for Marketing and Comms activity supporting launch of beat 4 content on 3/9.

- [x] Add video 3 and descriptions to landing page #198
- [x] Mark's blog for blog.mozilla.org and Medium #36  (needs MS signoff)
- [x] Beat 4 media pitching
- [x] 10 Facts about privacy/encryption for media packet and medium post #32
- [x] Finalize basic FB/Twitter posts for video 3 promotion #144
- [x]

[2016-03-04 23:06] HPaulJohnson commented on #144
In addition to the social concepts being built in the doc above, @KevZawacki drafted a copy to accompany any social embeds of Video 3 on Wednesday. These have been sent separately for policy review to expedite.

https://docs.google.com/document/d/1jukxu4ixu1atrDrwAho9RUVnZDfyagkMgpk8kCVpfzY/edit

[2016-03-04 23:08] brettgaylor commented on #144
What do you all think of including a few quote cards from the video to use
in social?
On 4 Mar 2016 3:06 p.m., "Paul Johnson" notifications@github.com wrote:

[2016-03-04 23:12] HPaulJohnson opened #194 "Create A/B tests messages for Share Progress buttons"
starting work on copy here: https://docs.google.com/a/mozilla.com/document/d/1yP1LVRI1TQ9pAwot9qbj5w2NIcNOGoE3AK1J3h-nRZk/edit?usp=sharing

cc/ @KevZawacki

[2016-03-04 23:16] HPaulJohnson commented on #144
@brettgaylor /@ birthdayboy - I like it. Some of the ideas we are building now use quotes, but not pulled from video.

@lovegushwa - this would be pretty easy to do, right. could leverage some of the cool visual assets you are creating for the video too? if you have something quick/handy add it to the doc above so we can get it through the approval ringer quickly.

[2016-03-04 23:55] brettgaylor commented on #144
Aj+ also has good benchmarks here. Check out what they do during
presidential debates.

Nytimes also good with this.
On 4 Mar 2016 3:16 p.m., "Paul Johnson" notifications@github.com wrote:

[2016-03-05 00:07] HPaulJohnson commented on #144
Yea, would also love to talk to AJ+ sometime how they measure ongoing engagement, impact, etc within the social platforms themselves (beyond the basic, views/likes/shares). Also, checkout some of the cool benchmarking work @sabrinang did in #143

[2016-03-05 02:00] lovegushwa commented on #155
@michellenebiolo some feedback in the redpen above.
We sent this to a few people for a review today , I'll let you know on Monday if any additional changes come in.

Have a great weekend, thank you!

[2016-03-05 04:31] brettgaylor commented on #144
@sabrinang that deck is :fire: !!!  So inspiring.

[2016-03-07 01:42] brettgaylor commented on #161
closed

[2016-03-07 01:42] #161 closed

[2016-03-07 01:43] #157 closed

[2016-03-07 01:43] brettgaylor commented on #144
This is an example of the quote benchmark I was referencing:
https://twitter.com/ajplus/status/706650705281429504

[2016-03-07 10:07] abusedmedia commented on #154
We can go with URL as backend.
We'll start to implement it on current prototype and we'll remove captcha.

During the call @simonwex had mentioned he could have set up a bit.ly (or something) in order to encode the long generated URL into a shorter one (consider URL could be very long, depending the message length).
According to the bit.ly doc, it requires oAuth to use their api, I'm not sure it i

[2016-03-07 13:38] KevZawacki commented on #133
Hi @kellymj, policy and legal have finished reviewing / making edits. You can find the final version here: https://goo.gl/oYH13Z

I've also pinged Jess O. to let her know. Thanks for your patience!

[2016-03-07 13:38] #133 closed

[2016-03-07 14:43] michellenebiolo commented on #155
Hello :)

at [this link](http://el.s.todo.to.it/cryptoloji/0746) you can find the iteration of the prototype where Cryptoloji has been replaced by Cypholoji, for your validation process.

For the copy: I saw the feedback on Red Pen, thank you. I'm afraid the copy had not been completely updated on the prototype you commented on because we were waiting for a final version: the most updated version

[2016-03-07 17:52] HPaulJohnson opened #195 "Landing Page tests via Optimizely to increase share rate"
Let's plan some simple to execute tests that can be deployed via Optimizely to optimize share rate on the /encrypt landing page.

[2016-03-07 19:43] KevZawacki commented on #35
Beat 3 content consists of [7 Encryption and Privacy Tips](https://docs.google.com/document/d/1_JFxU9AlZubkencjk_XN1kECyJrzmSRcS4w_Q1A7qh4/edit).

Content approved -- closing ticket.

[2016-03-07 19:43] #35 closed

[2016-03-07 20:17] KevZawacki commented on #193
- [x] [beat 4 pitch](https://docs.google.com/document/d/1m00wjQZKtoW1c4IJHKz2fZfkm_pQ6nBYhiteDWd3OhY/edit)

[2016-03-08 00:15] HPaulJohnson opened #196 "Update share message on landing page for Beat 4"
Current share language is specific to Video 2, including images of Crypty. We need to update for launch of 3rd video on 3/9.

Eventually we'll test a bunch of different messages via Share Progress but as a baseline we'll start with something more generic that fits all videos.

@lovegushwa working on Facebook and Twitter graphics for cards. Copy is here: https://docs.google.com/document/d/1te8zKolI

[2016-03-08 00:15] brettgaylor commented on #155
Hello @michellenebiolo!

I think there may be a few wires crossed, and it could be because @openmatt is not working this week!

We cannot provide final copy until our legal team has had a chance to review the prototype.  I think Matt and Giorgio may have discussed this previously - we have set a meeting for them tomorrow afternoon San Francisco time.

I think we should wait till we have had a chan

[2016-03-08 13:03] michellenebiolo commented on #155
Hi! Thank you for clearing that up, Brett. We can wait to fix all copy when you can provide the final version, no problem. Until then, just keep in mind that the copy you see on the prototype is not the most updated.

As regards the decryption experience: on desktop (the mobile version still needs some tweaking), you can go to the current prototype (http://el.s.todo.to.it/cryptoloji/0770/#/welcome

[2016-03-08 15:07] #176 closed

[2016-03-08 15:09] stephaniemcv commented on #148
Closing since Beat 3 email was sent last week.

[2016-03-08 15:09] #148 closed

[2016-03-08 15:19] stephaniemcv opened #197 "Email 4 - New Color Palette"
@lovegushwa
There's been concern about our campaign templates looking too similar to Firefox and You. Can we move toward a less grey/blue color scheme?

I would need a new background color, top bar color, button color.

For images I would need a new Mozilla logo (190px × 49px) and Facebook and Twitter icons (45px x 45px) - this is an increase in size so they're easier to tap on a mobile device

![

[2016-03-08 17:34] Giorgio-Olivero commented on #155
daily progress
http://el.s.todo.to.it/cryptoloji/0786/#/welcome

generated ciphered msg
http://el.s.todo.to.it/cryptoloji/0786/?data=eyJtZXNzYWdlIjoi8J%2BaqvCfkabwn5qZ8J%2BamfCfjaEg8J%2BYq%2FCfkKrwn42h8J%2BOoiDwn42B8J%2BNofCflKzwn4618J%2BamfCfmpnwn5i98J%2BStyIsImtleSI6IvCfmIIifQ%3D%3D#/landing

key do decipher: 😂

[2016-03-08 18:31] HPaulJohnson commented on #195
Ideas to test in this next cycle:
- Alt headline to "Share this now"
- Alt body copy to "We need your help to spread the word about how encryption protects our privacy."
- Colored share buttons for email/facebook/twitter to make them more visible
- (Possible) replace opt-in in header with share buttons

[2016-03-08 19:50] KevZawacki commented on #195
@HPaulJohnson

Suggested alt copy [here](https://docs.google.com/document/d/138e_Ug-YxN_n5xLEGvXfYBDHhzWBresbnUmwLLlhzRk/edit).

[2016-03-08 21:02] lovegushwa commented on #196
@HPaulJohnson check out the shares here:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvaXkxdFdQNFBXTlk&usp=sharing

Let me know which of these you want to set as default for beat4 (in-case share progress is not up and running.)

[2016-03-08 21:22] lovegushwa opened #198 "Update landing page / beat 4 video"
@alanmoo @HPaulJohnson
Working through this check list now.

- [x] Video 3 poster image
- [x] Video 3 thumbnail @2x
- [x] Video 3 for email ( 600x300 )
- [x] Video 3 copy
- [x] Video 3 social share images
- [x] Video 3 / compressed video files

[2016-03-08 21:23] lovegushwa commented on #198
Video 3 copy:
https://docs.google.com/document/d/1rZnC_4uIv7fVlps_RwTIcDR4ohHgIxN6vt_eLMEWcwo/edit

@HPaulJohnson @KevZawacki can you confirm the changes in this doc?

[2016-03-08 21:41] HPaulJohnson commented on #198
@lovegushwa - copy confirmed for Video 3 descriptor on landing page

[2016-03-08 21:45] alanmoo commented on #198
Sorry, I can't figure out what I'm looking at. What are the strings I need to put in the video title and description?

[2016-03-08 22:31] HPaulJohnson commented on #198
Here is the copy for video 3:

Episode 3: March 9, 2016
Encryption, Journalism, and Free Expression

Encryption doesn’t just protect your privacy — it also enables free expression. Encryption shields journalists and their sources, allowing individuals to tell powerful stories without placing themselves in imminent danger.

[2016-03-08 22:37] stephaniemcv opened #199 "Image of Video for Beat 4 email"
@lovegushwa @natalieworth

When you're finished with the video, can I get a 600x300 .jpg of it with a play button for the email?

[2016-03-08 22:44] HPaulJohnson commented on #196
@alanmoo - Here is the default share copy for email/twitter/facebook buttons on landing page. Regardless of whether we can implement Share Progress in time, we should use these to update site in time for Video 3 launch tomorrow.

**Email Share:**
[subject] Learn why encryption matters
[body] This video explains why encryption is so important. You should watch it and share it with your friends to s

[2016-03-08 22:48] lovegushwa commented on #198
@alanmoo social share images are here: #196

[2016-03-08 22:50] HPaulJohnson commented on #198
Updated copy also in #196

These should be the default for tomorrow, regardless of how far we get Share Progress implementation today.

[2016-03-08 23:04] HPaulJohnson commented on #196
@lovegushwa all the options look so good. lot's of good stuff to start testing with here.

[2016-03-08 23:12] HPaulJohnson commented on #195
@lovegushwa can we also consider adding a "share" CTA in the header on this version of the landing page (the one for email traffic): https://advocacy.mozilla.org/encrypt/2/

[2016-03-08 23:47] lovegushwa commented on #198
@alanmoo
Poster:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvUU5sY2NiU05uamc/view?usp=sharing

Thumbnail:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvbGY4ZFdtdmpFblU/view?usp=sharing

[2016-03-08 23:47] HPaulJohnson commented on #195
@adamlofting I attempted to start setting up these tests in Optimizely today but I'm not seeing our page load correctly in the editor mode. The message I get is "we've loaded your site in compatibility mode..." and I can't override by changing settings in firefox or chrome. Just seeing a blank page in the preview/editor.

Can you take a look at the draft experiment "Sharing Optimization: Encryptio

[2016-03-08 23:52] lovegushwa commented on #199
@stephaniemcv on it now!

[2016-03-08 23:59] alanmoo commented on #198
What is the CTA that appears after the video in the modal on the "direct from email" page?

[2016-03-09 00:03] lovegushwa commented on #198
@HPaulJohnson
Can you sort out a new Share CTA for @alanmoo ?

<img width="1366" alt="screen shot 2016-03-08 at 4 02 06 pm" src="https://cloud.githubusercontent.com/assets/12228435/13620782/2a1dd934-e547-11e5-8c1e-c31701115ce6.png">

[2016-03-09 00:08] HPaulJohnson commented on #198
Let's replace with this copy: "Help spread the word about encryption and why it's worth protecting"

[2016-03-09 00:39] HPaulJohnson commented on #191
@alanmoo here is the code snippets for initial set of share buttons:

email: `<div class='sp_161947 sp_em_small' ></div>`
facebook: `<div class='sp_161949 sp_fb_small' ></div>`
twitter: `<div class='sp_161950 sp_tw_small' ></div>`

[2016-03-09 00:53] HPaulJohnson commented on #196
Code for Share Progress buttons generated in #191

[2016-03-09 01:28] lovegushwa commented on #199
@stephaniemcv

Here is the video image:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvSUxEUW1kTVVpbWs/view?usp=sharing

[2016-03-09 01:30] lovegushwa commented on #197
@stephaniemcv working on this now.

[2016-03-09 01:55] lovegushwa commented on #197
@stephaniemcv @valianttry

Hi friends, my preference is B.
I think this "Warm" option is different enough from the firefox and you template.

We could also do C. but the lighter blue header will end up being less flexible (might clash with colors in the header image on future emails for example.)

<img width="1197" alt="screen shot 2016-03-08 at 5 49 57 pm" src="https://cloud.githubusercontent.com

[2016-03-09 02:07] alanmoo commented on #183
URLs need to have parameters at this point in time, so I've set up some forwarding:

`/encrypt/social` and `encrypt/` redirect to `encrypt/social/{latestVideoNumber}`
`/encrypt/direct` and `encrypt/hybrid` add the latest video number to themselves automatically

[2016-03-09 02:10] alanmoo commented on #183
All other routes that were previously used redirect to the appropriate pages with new URLs.

Key new URLs going forward:

`/encrypt/` remains for latest video, social page
`/encrypt/direct/3` for video 3 in the email blast @stephaniemcv
`/encrypt/hybrid` for that hybrid page with just one video, if we need to link to it from the snippet (but the existing url the snippet is using will still work)
`

[2016-03-09 02:25] alanmoo opened #200 "Beat 4 QA"
I've got the site up at https://lit-mountain-52009.herokuapp.com/encrypt/
https://lit-mountain-52009.herokuapp.com/encrypt/direct
https://lit-mountain-52009.herokuapp.com/encrypt/hybrid

Please play around with URLs (such as ones from previous emails, changing out the base domain for the one above) and switching between videos, and make sure share messages are correct. The card images will not be

[2016-03-09 02:53] lovegushwa commented on #198
@alanmoo @simonwex
Here are the final videos:

LANDING PAGE:
https://drive.google.com/folderview?id=0B2qu3ExKWIlvbTd6MkFPem1ieEE&usp=sharing

NATIVE (for facebook):
https://drive.google.com/file/d/0B2qu3ExKWIlvTy1wbXdKOWxONUE/view?usp=sharing

[2016-03-09 02:59] HPaulJohnson commented on #144
@KevZawacki see this folder for the social optimized version of the video for use in our initial posts for Video 3 (tomorrow):

https://drive.google.com/file/d/0B2qu3ExKWIlvTy1wbXdKOWxONUE/view?usp=sharing

[2016-03-09 03:23] HPaulJohnson commented on #200
@alanmoo Quick run through and everything looks good (with exception of cards which I realize we can't test until tomorrow).

All of the old/existing links (in social and paid media channels, at least) don't break with this new URL structure. However, it is problematic in a few isolated cases where we referenced video 2 and just used the generic short link. Example: https://twitter.com/mozilla/sta

[2016-03-09 03:27] HPaulJohnson commented on #200
I should also note that the issue above is exclusive to Twitter. On Facebook posts we can go back and edit the link retroactively to point to the appropriate video; on Twitter we can't edit existing tweets.

[2016-03-09 03:31] HPaulJohnson commented on #200
@alanmoo one more note about Facebook share is that the default URL that FB displays is now d.shp.org - that's because we are using the Share Progress code to generate these I assume.

See screenshot here: https://www.evernote.com/shard/s46/sh/100df303-ccb8-41dd-bf08-a13d1823f635/16b32d733dc46132aa0f4e411e6395df

I have a question about this out to Share Progress to see if we can address (it's a b

[2016-03-09 03:33] alanmoo commented on #200
You are correct about everything. The short url has always linked to the latest video, that was my understanding of its intended behavior from the beginning.

[2016-03-09 03:35] HPaulJohnson commented on #200
@alanmoo cool, thx - we'll just live with the twitter awkwardness then (it's only a few posts that are more than a week old), update links on Facebook to point to correct video and try to address the d.shpg.org URL that is showing up on FB share on the Share Progress side.

[2016-03-09 04:16] lovegushwa commented on #197
@stephaniemcv

If option B you just need to change the background and button. If C, I included the new blue for the header and logo below as well.

<img width="698" alt="screen shot 2016-03-08 at 8 13 18 pm" src="https://cloud.githubusercontent.com/assets/12228435/13625242/5be98bc0-e56a-11e5-8b8b-0ba867f3ae7d.png">

[2016-03-09 04:37] lovegushwa commented on #197
@stephaniemcv logos and icons here:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvbjQyd2JPUGRHV28&usp=sharing

[2016-03-09 07:07] alanmoo commented on #198
These are live on the test server I set up in #200, awaiting approval from @alicoding in the morning to deploy to staging

[2016-03-09 16:03] valianttry commented on #197
@lovegushwa what do you think about making "mozilla" red? That connects it a little more to our original template design (with a large red wordmark). I really like the red button and the updated background shade! Thanks @lovegushwa :clap:

[2016-03-09 16:12] stephaniemcv commented on #183
https://advocacy.mozilla.org/encrypt/direct/3 redirects to https://advocacy.mozilla.org/, does that mean it's not ready yet?

[2016-03-09 16:38] alanmoo commented on #183
I haven't deployed to production yet.

Staging is up though.https://advocacy-mozilla-org-staging.herokuapp.com/encrypt/direct/3I'll deploy to production when I get in to the office, before the daily stand.

-Alan

On Mar 9, 2016, 8:12 AM -0800, Stephanie McVickernotifications@github.com, wrote:

[2016-03-09 17:30] lovegushwa commented on #200
@alanmoo Looking great!
I have only one fix, on the hybrid version can we fix the paragraph so the last word "danger" is not all by itself? Maybe squeeze the column so "imminent" returns down to the next line.
![screen shot 2016-03-09 at 9 27 34 am](https://cloud.githubusercontent.com/assets/12228435/13644191/5dd3a51e-e5d9-11e5-8e87-cec610c8e1dc.png)

[2016-03-09 17:35] davidascher commented on #200
Typographic geek sez:
Use a non breaking space before danger. Width independent. (Aka cheap
orphan control).

On Wed, Mar 9, 2016, 9:30 AM lovegushwa notifications@github.com wrote:

[2016-03-09 17:36] alanmoo commented on #200
Brilliant!

[2016-03-09 17:48] lovegushwa commented on #197
@valianttry @stephaniemcv
If we use the red I would go with option F (red logo, mini header, button) ... We're not using this mozilla red in the visual system (we use a lighter neon red) so I would recommend option B for now.

<img width="1100" alt="screen shot 2016-03-09 at 9 41 36 am" src="https://cloud.githubusercontent.com/assets/12228435/13644598/73bf03a8-e5db-11e5-99ff-270ec9b9f9d5.png">

[2016-03-09 17:55] lovegushwa commented on #197
Mozilla red: #C13832

[2016-03-09 18:23] natalieworth commented on #177
Just a small thing on the type that reads "Freedom Of The Press" (in the last paragraph)—shouldn't it be "Freedom of the Press" (without capitalization on 'of the')? Not sure if this is correct or who would confirm.

[2016-03-09 18:27] valianttry commented on #177
Looks great -- just sneaking a peak between sessions.

In Sara's signature:

![_test_1_how_encryption_helps_write_the_news_-_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/13645536/43b8f5c4-e5e0-11e5-9b11-def06cf5d8c2.png)

We should probably say "Mozilla Team" since the Mozilla.org team is actually a team that works on the website. Let's stay con

[2016-03-09 18:34] #200 closed

[2016-03-09 18:35] #198 closed

[2016-03-09 18:36] #196 closed

[2016-03-09 18:36] #191 closed

[2016-03-09 18:37] #183 closed

[2016-03-09 18:38] alanmoo commented on #125
Can we close this or is there more to do?

[2016-03-09 18:47] shaghdoosti opened #201 "Triggered email for Beat 5 pledge"
With beat 5 the idea is we want people to sign a pledge. On the page there will be a form that's much like a petition. Once people sign the pledge we want to send them an email that gives more information on software they can use and a pro forma email they can send.

@stephaniemcv is working on this issue and I'll let her elaborate. Also wanted to flag for @alanmoo

CCing @brettgaylor and @valiant

[2016-03-09 18:47] lovegushwa commented on #177
@stephaniemcv just noticed a small detail. The play button is not quite vertically centered (my fault).
It's not a big deal if I missed my chance to fix this.

I updated the image:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvSUxEUW1kTVVpbWs/view?usp=sharing

![beat4-email-600x300](https://cloud.githubusercontent.com/assets/12228435/13646410/316aeffe-e5e4-11e5-9879-89ac7d160de3.jpg)

[2016-03-09 19:17] valianttry commented on #188
For reference, it can be based on https://advocacy.mozilla.org/encrypt/signup

[2016-03-09 19:45] KevZawacki commented on #177
@natalieworth Yep -- it should indeed be stylized "Freedom of the Press Foundation." If you want it, you have a promising career as a copy editor :-)

[2016-03-09 20:13] stephaniemcv commented on #177
@KevZawacki
One last question- "It helps makes it possible for them to tell us the stories that need to be told.", shouldn't that be "It helps make it possible..."

[2016-03-09 23:18] lovegushwa commented on #144
@HPaulJohnson @KevZawacki  CC @sabrinang
We need a review / perhaps some copy tweaks to the historical figure social share:
https://redpen.io/ae7b4dbdfd4337a1e2

Some high level feedback from todays design critique:
- Paul Revere quote, difficult to understand, I think we need to change this one.
- Ben Franklin quote, American centric  (this might be ok but Laura had a hard time with it.)
- We sho

[2016-03-10 01:10] HPaulJohnson commented on #144
@lovegushwa @sabrinang left some quick comments in the redpen.

Agree we should ditch Paul Revere as it's not a clear enough connection to our campaign.

I like Ben Franklin character and Snowden silhouette. Not totally apples to apples but we could try each and see what works better. We can also do a simple test with Franklin of Silhouette vs. Character.

I think we should prob run these by rest

[2016-03-10 09:31] adamlofting opened #202 "Allow Optimizely domains for various CSP rules"
I order to view the site in the Optimizely editor to design our experiments we need to add a selection of their sub domains to our CSP rules.

We can copy the Optimizely settings as used on donate.m.o from here:

https://github.com/mozilla/donate.mozilla.org/blob/551ff88a3086eb0ae8ea3af2abd046454c540f7a/server.js#L282-L294

These appear under:
* connectSrc
* frameSrc
* imgSrc
* scriptSrc

[2016-03-10 09:31] adamlofting commented on #202
This blocks #195

[2016-03-10 09:32] adamlofting commented on #195
Some of our sites security settings are blocking Optimizely from loading the site in the editor at the moment. I've filed #202 with a list of the subdomains we need to allow through, and then it should work again.

[2016-03-10 13:43] KevZawacki commented on #144
@lovegushwa These are great -- very exciting. Left a handful of comments in the RedPen.

@HPaulJohnson Will send this content to Sara now. Will report back with policy/legal's thoughts.

[2016-03-10 16:57] #197 closed

[2016-03-10 21:35] KevZawacki commented on #156
Just finished [my post](https://docs.google.com/document/d/16mFHxv2AOP5hbf-9AR7rtpMfOZ1H9mTM_t6STYnl_HQ/edit) for fundraising.mozilla.org.

@HPaulJohnson or @valianttry, can you give a quick read / thumbs up before I publish?

[2016-03-10 21:47] alanmoo opened #203 "Page titles?"
Simple question, but we probably should have the microsite `<title>` tag be something other than "Mozilla Advocacy", no? When links get shared on the web that pull that tag, they're not [very](https://news.ycombinator.com/item?id=11222993) [engaging](https://news.ycombinator.com/item?id=11148417)...

[2016-03-10 21:49] brettgaylor commented on #188
Would this be something that we'd use Share Progress for? cc @HPaulJohnson

[2016-03-10 21:58] brettgaylor commented on #203
Yes, good flag!  We don't actually have a formal name for the campaign.  What about "Learn about encryption - Mozilla Advocacy" cc @valianttry

[2016-03-11 16:01] KevZawacki commented on #36
Blog is live [here](https://blog.mozilla.org/blog/2016/03/09/encryption-journalism-and-free-expression/). Closing ticket!

[2016-03-11 16:01] #36 closed

[2016-03-11 16:01] KevZawacki commented on #32
Pitching continues. I anticipate closing this ticket in late March, ~one week after beat 5 launches.

[2016-03-11 17:37] alanmoo opened #204 "Add GA tracking for 75% of video watched"

[2016-03-11 20:10] lovegushwa commented on #192
@HPaulJohnson I haven't had much time for this, let's connect Monday.

[2016-03-12 00:24] lovegushwa opened #205 "Design pledge form for beat 5 landing page"
Adapt current landing pages to contain a pledge below Video. Page should auto scroll to pledge after the video ends. We also need to modify the playlist component so it works for both 4 videos.

@valianttry  @shaghdoosti  CC @natalieworth @alanmoo

Build ticket for this page: https://github.com/MozillaFoundation/encryption_campaign/issues/188

QUESTIONS:
- are we modifying both the email direct ve

[2016-03-12 00:24] natalieworth commented on #205
I've got the .ai file that I started working on here: https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0dWtwZVQ2OHNDSVU/view?usp=drive_web

[2016-03-12 00:25] natalieworth commented on #205
<img width="626" alt="screen shot 2016-03-11 at 3 54 57 pm" src="https://cloud.githubusercontent.com/assets/14876567/13719099/d3035f32-e7a5-11e5-939b-400d0b6c7280.png">

[2016-03-14 14:09] #177 closed

[2016-03-14 14:09] #199 closed

[2016-03-14 14:12] stephaniemcv opened #206 "Beat 5 emails in layout review"
Please review the email copy, links and rendering. Note any feedback in this ticket.

[2016-03-14 14:13] stephaniemcv opened #207 "Image of Video for Beat 5 email"
When you're finished with the video, can I get a 600x300 .jpg of it with a play button for the email?

@lovegushwa @natalieworth

[2016-03-14 16:28] OpenMatt commented on #188
@shaghdoosti what is the deadline / timeline for this? When does it need to be live?

[2016-03-14 16:30] shaghdoosti commented on #188
Needs to be live same day as video is launched.

[2016-03-14 16:47] valianttry opened #208 "Write text for Android snippet about Beat 5 video"
IPC team has OK'd a simple snippet on Android for our final beat, since it's phone-related. It's a relatively small audience, but will be a nice test!

We need to write the copy in partnership with that team.

@chelseanovak can you provide:
[ ] - character count; etc so we can launch some drafting
[ ] - any best practices / examples that performed well
[ ] - deadline for having this text completed

[2016-03-14 17:05] OpenMatt opened #209 "Finalize all text for Beat Five video"
@mmika can you post a link to a google doc or etherpad here so we can track and approve?

[2016-03-14 17:08] OpenMatt opened #210 "Make storyboards for Beat 5 video"
Presentation deck w. early rough concept: https://docs.google.com/presentation/d/1B9DHjP_ldOFbOVGm4dQbt-O3DOlrjLNeC5Kwm8J-5kM/edit#slide=id.g11deee1bbf_0_34

@darrenpasemko can you start work on storyboards and share here?

cc @brettgaylor

[2016-03-14 17:10] OpenMatt opened #211 "Deliver Beat 5 video"

[2016-03-14 17:14] OpenMatt opened #212 "Develop social strategy for Beat 5"
@HPaulJohnson cool?

[2016-03-14 17:18] darrenpasemko commented on #210
Thanks Matt. Will do. I'm working on the boards today.

[2016-03-14 17:29] darrenpasemko commented on #210
I'm working on the animatic, and the budget today.
I should have the animatic by this afternoon, and the budget will follow.
I would like to collaborate with Marc Ripper from Fort Ripper on this one (Karina's husband).
He would help me with Cinematgraphy, Assistant Direction, Editing, and Color.
I will Produce, Direct, Assistant Edit, and Animate.
Karina Ripper is unavailable for this one sadly.
M

[2016-03-14 17:37] darrenpasemko commented on #210
@OpenMatt @brettgaylor Can delivery be the 23rd of this month? Next Wednesday?

[2016-03-14 17:42] brettgaylor commented on #210
I think we need delivery EOD Monday in order to be able to package it for our campaigning.  There's also a pretty major event in the encryption news cycle that we will want to be able to hit.

[2016-03-14 17:59] OpenMatt commented on #205
@lovegushwa flagging w. "needs discussion" so that we can try to get those questions for you answered asap

[2016-03-14 18:04] OpenMatt commented on #208
@valianttry are you going to write this copy?

[2016-03-14 18:13] OpenMatt commented on #188
note: @alanmoo is on PTO as of Monday, Mar 21. So we need to ensure the work is well handed off and that we have dev support ready to step in in case we run into last-minute snags, etc.

cc @simonwex

[2016-03-14 18:18] darrenpasemko commented on #210
Okay, it's going to be tight, but we'll make it happen.

[2016-03-14 18:29] OpenMatt commented on #188
@alanmoo are there parts of this you can begin now, or are you blocked on design?

[2016-03-14 18:31] OpenMatt opened #213 "Final pre-launch check-list and QA for Beat 5"
Let's do as much QA as possible now on this: https://lit-mountain-52009.herokuapp.com/encrypt/
https://lit-mountain-52009.herokuapp.com/encrypt/hybrid/4

[2016-03-14 18:45] HPaulJohnson commented on #212
@OpenMatt cool

[2016-03-14 19:02] chelseanovak commented on #208
Hey @valianttry,
The character count for a mobile snippet is 100 (max character limit with spaces). Jessica is putting together some comparators for you and is checking into scheduling.

MJ also has this content already written in case you want to use it (as we thought there might be more content coming in April):

"Without encryption, the Internet becomes less safe and less private. Watch the enc

[2016-03-14 19:25] alanmoo commented on #188
I saw the proposed design on Friday, if the general behavior is approved, I can get started on that.

[2016-03-14 19:26] mmika commented on #209
@OpenMatt here's the link. I chose 5 headlines for the US, 5 for the UK and a few for France and India. As discussed w/ Sara, we are trying not to use headlines w/ 'US government' 'DOJ' 'Facebook' 'Apple' 'Backdoor' -- we're also not using Kazakhstan and Brazil.

https://docs.google.com/a/mozilla.com/document/d/1T_uXwAPiy0QP_GpbgRkGqeL3T-avO3mp54sKNT9C2WA/edit?usp=sharing

[2016-03-14 19:31] brettgaylor commented on #209
@mmika Can have 5 countries, though?

[2016-03-14 19:57] shaghdoosti opened #214 "Urgent: Copy change on the website"
The current copy on the site that describes the beat 4 video says:

Encryption doesn't just protect your privacy -- it also enables free expression. Encryption shields journalists and their sources, allowing individuals to tell powerful stories without placing themselves in imminent danger.

It needs to be urgently changed to:

Encryption doesn't just protect your privacy -- it also  (helps) enabl

[2016-03-14 19:58] mmika commented on #209
@brettgaylor Added Iran and South Africa to the doc -- though both those examples are particular cases. // In Iran there are 'claims' re banning encryption and very little reporting. -- the South African case is about encryption capabilities of TV boxes. Let's see if we can find a headline for Australia. Would love to keep it as diverse as possible. @shaghdoosti

[2016-03-14 19:59] alanmoo commented on #214
What's the "Clean version"?

[2016-03-14 20:00] brettgaylor commented on #209
The headline I have for Australia currently is pretty useful:
"

Even Learning About Encryption In Australia Will Soon Be Illegal -
Lifehacker
"

_Should we go with that one?_

On Mon, Mar 14, 2016 at 12:58 PM, mmika notifications@github.com wrote:

[2016-03-14 20:00] shaghdoosti commented on #214
The clean version is the text as it should be appear -- the one on top of that shows the words I've added and cut.

Just realized that github didn't display my original markings so updated that so that it shows.

[2016-03-14 20:03] KevZawacki commented on #156
We have posts from myself, Stephanie, and Andrea up on https://fundraising.mozilla.org/.

Strong start -- I'm going to close this ticket, but feel free to re-open if the need emerges.

[2016-03-14 20:03] #156 closed

[2016-03-14 20:05] shaghdoosti commented on #209
Yes -- love that headline from Australia. Let's make sure that we never describe the video as describing what's happening around the world though and maybe frame it as 'Here are some ways encryption is being undermined that you might not know about'

[2016-03-14 20:09] brettgaylor commented on #209
+1 - I think with the current creative frame, it should be thought of less as an exhaustive list of international threats to encryption, and rather as a “raising of the stakes”.

[2016-03-14 20:11] alanmoo commented on #214
https://advocacy-mozilla-org-staging.herokuapp.com/encrypt/social/3 that look good?

[2016-03-14 20:20] brettgaylor opened #215 "Bug in Chrome w/ unrendered HTML"
Hey Alan - I noticed today a weird thing where it looks like I'm seeing the template-free version of the page or something.  But it's only in Chrome.

It's on all the /encrypt URLs, as well as the Heroku page you put up for Sara's text changes.

I took a screencast - first is looking at stuff w/ Firefox, which is normal, then in Chrome
https://dl.dropboxusercontent.com/u/7968133/chrome%20bug.m4v

[2016-03-14 20:21] alanmoo commented on #215
Yeah, I've noticed that too and have been investigating. Seems to be related to the routing changes I made...will continue to investigate.

[2016-03-14 20:23] shaghdoosti commented on #214
Yes -- thank you!

[2016-03-14 20:23] alanmoo commented on #214
Ok, promoted to production. Should take about an hour to go around the world.

[2016-03-14 20:23] #214 closed

[2016-03-14 22:51] alanmoo commented on #188
Is this form being submitted to the same database as the rest of the signup forms?

[2016-03-14 23:38] shaghdoosti commented on #205
Hey --

a few things:

1) We're making the pledge have one key aspect: let us know what country you're in. After seeing how much copy the page would need I'm really glad that we did!
1. @stephaniemcv is looking at if for people who came from our list we could have an auto filled form so they could tell us which country their in but not have to give their other details again.
2. For social it shoul

[2016-03-15 00:24] alanmoo commented on #204
Closed by https://github.com/mozilla/advocacy.mozilla.org/pull/116

[2016-03-15 16:27] chelseanovak commented on #208
Update from Jessica:

We don't have any examples for pointing users to a video via Android snippet as it's not something we typically do.  We should definitely test this experience on a device to be sure it's mobile-friendly (both the site and the video).

As far as timeline, from an IPC perspective, a 24 hour turnaround should be do-able for approvals.  I'm have not worked with the Policy team in

[2016-03-15 17:07] #202 closed

[2016-03-15 17:07] #204 closed

[2016-03-15 17:08] adamlofting commented on #195
@HPaulJohnson the fix for this has just been merged.

@alanmoo can flag once this is deployed to production server.

[2016-03-15 17:08] alanmoo commented on #195
You beat me to it in the time I was looking for this issue. It's live on production, propagating across the CDN (within the hour).

[2016-03-15 17:11] alanmoo commented on #125
@valianttry Can this be closed?

[2016-03-15 17:11] #125 closed

[2016-03-15 17:17] adamlofting commented on #114
Target send date: around 28 March (~ 1 week after the last beat of the campaign goes live)

[2016-03-15 17:19] adamlofting commented on #114
@shaghdoosti @valianttry for the follow up survey, what do you think about adding additional questions to try and capture how the current media coverage of encryption has influenced their knowledge of the topic?

[2016-03-15 17:42] OpenMatt commented on #155
@shaghdoosti reviewed the latest version w. Policy + Legal. She's meeting with @Jochai1 to do another review on copy later today. Will update this ticket once that's done.

[2016-03-15 17:56] brettgaylor opened #216 "Host cyphologi on teach.mozilla.org"
To help ensure that this app is framed as an educational tool vs. a secure communications tool, we'd like to host this on teach.mozilla.org.

@simonwex what would this entail?

[2016-03-15 17:57] brettgaylor commented on #216
And could we add this to our next heartbeat?

[2016-03-15 18:12] davidascher commented on #216
My suggestion:

1) advocacy team is on the hook for understanding how to create a PR for
the teach website, including understanding the IA of the site (by talking
to teach team, design, etc.).
2) teach team owns the site, so is on the hook for review & merge / push to
prod

I'm all for collaboration and I see the point in comment #0, but want to
clarify that teach team is accountable for teach sit

[2016-03-15 18:19] brettgaylor commented on #216
Makes sense - and if we aren't able to find cycles or it doesn't make sense for other reasons it won't block us from shipping the tool.

[2016-03-15 18:27] brettgaylor commented on #209
@shaghdoosti @mmika Please place final headline choices in this document:
https://docs.google.com/spreadsheets/d/1t4kJN-TAMPRoiRJY2XmUPp_ve5PqcD3xFS0-ahyFjyg/edit#gid=0

[2016-03-15 18:49] mmika commented on #209
@brettgaylor @shaghdoosti done!

[2016-03-15 19:38] chelseanovak commented on #208
@valianttry @OpenMatt Three things about a snippet next week

1) We have been told by Marketing Operations that snippet service will be on hold (not usable from March Tue 22th March 00:00 UTC and Thu 24th March 23:59 UTC) while infrastructure updates are being made within the system. So if we were planning to have the video go live on Tuesday we either need to have it several hours before the serv

[2016-03-15 20:09] #215 closed

[2016-03-15 20:15] brettgaylor commented on #209
@mmika @shaghdoosti I'm concerned about the India headline: "Uproar over Indian encryption law forces government to retreat -- Reuters"  This seems to suggest that the government is re-considering a bad law, which doesn't help the narrative of this particular video.  Can we use another country example that mentions "encryption" in the headline?

[2016-03-15 23:31] darrenpasemko commented on #210
@brettgaylor Here's the storyboard panels...
https://docs.google.com/document/d/15fsa2SKTj0NhoNPccqmqHli-eNBStgeh0HR1_PA0_Hs/edit
I'll cut this into an animatic this evening. More to come.

[2016-03-15 23:46] HPaulJohnson commented on #212
@lovegushwa and I talked about the basic deliverables for social support of beat 5:
- Copy and embedded video version
- Copy + images of headlines/press clippings used in video
- Copy + short video clips or .gifs; 1 version of :15-:30 sec clip of primary video content + 1 version that is just the CTA around signing the pledge.

These will get us started in both organic and paid channels. We still

[2016-03-15 23:48] HPaulJohnson commented on #194
Basic messages tests now live; will report on results when statistical significance is achieved.

[2016-03-15 23:48] #194 closed

[2016-03-15 23:51] HPaulJohnson commented on #144
reviewed feedback with @sabrinang today and she will finish up 2 concepts this week and we'll use on an ongoing basis to continue promoting microsite/content (both concepts are fairly evergreen).

[2016-03-16 00:11] HPaulJohnson commented on #195
@adamlofting @alanmoo still not working for me - page is blocked in Optimizely editor.

Perhaps I'm setting up the experiment wrong? What URL should I be using as a basis for experiments?

[2016-03-16 02:34] darrenpasemko commented on #210
@brettgaylor @OpenMatt In terms of final delivery, are we thinking along the lines of Beat 2. Final Delivery: 1920X1080, H.264, 23.98 fps, 4:4:1. I'll also provide a Prores (HQ) version. Will you need still frames this time around too? Let me know. Thanks guys.

[2016-03-16 03:07] shaghdoosti opened #217 "Booking in our debrief"
Hey friends --

I think we should lock in dates for our debrief so that it's early enough that things are still fresh in our minds. (and to make sure it happens)

I suggest that we go with the 28th and 29th in SF since a fair few people will be in town for rights con anyway.

What do you all think?

[2016-03-16 03:51] brettgaylor commented on #217
I'm already booked on a flight to San Francisco on the evening of the 28th - that day is easter monday and a stat holiday in BC, not sure about everywhere else...

I think this would be great to do F2F, though devil's advocate: save the planet and use vidyo?

[2016-03-16 08:14] darrenpasemko commented on #210
@brettgaylor @brettgaylor
The animatic: https://vimeo.com/159176239
Password: mozilla

[2016-03-16 09:22] adamlofting commented on #195
I just tried a new experiment and it worked for me here:
<img width="1270" alt="screenshot 2016-03-16 09 20 14" src="https://cloud.githubusercontent.com/assets/1901816/13807318/881fea60-eb58-11e5-81d1-b47124c331be.png">

I tested with this URL: https://advocacy.mozilla.org/encrypt/hybrid/3
But any URL on the site should be OK.

Perhaps try setting it up as a brand new experiment.

[2016-03-16 16:56] stephaniemcv commented on #217
I am putting my house up for sale and moving on 4/2 to a new town. It's going to be a few weeks before I'm available for travel.

[2016-03-16 17:59] shaghdoosti commented on #217
Okay if those dates don't work how about the 18th and 19th of April? We could do portland!

[2016-03-17 05:06] lovegushwa commented on #205
Posting final UI in #188 Build ticket.

[2016-03-17 05:21] lovegushwa commented on #188
@alanmoo were waiting for final copy approval from @shaghdoosti but I don't think it will change.
I'll follow up with details in the morning but this should get your rolling.

v1  (priority)
![encryption-ui-022-01](https://cloud.githubusercontent.com/assets/12228435/13836914/93a265aa-ebc3-11e5-8ed1-c6abb178e03d.png)

v1  -  display social share modal after form is submitted
![encryption-ui-022-02]

[2016-03-17 05:28] alanmoo commented on #188
These look pretty straightforward. What will the URLs look like? (Direct/social?)

[2016-03-17 13:58] OpenMatt commented on #188
@alanmoo does this seem feasible to get done today / tomorrow before you go on PTO next week?

[2016-03-17 14:01] OpenMatt commented on #155
@shaghdoosti post an update here when you can

[2016-03-17 14:02] OpenMatt commented on #180
@stephaniemcv I'm going to close this as it seems done.

[2016-03-17 14:02] #180 closed

[2016-03-17 14:05] #141 closed

[2016-03-17 14:05] #130 closed

[2016-03-17 14:05] OpenMatt commented on #122
Shall we close?

[2016-03-17 14:06] OpenMatt commented on #93
Closing.

[2016-03-17 14:06] #93 closed

[2016-03-17 16:20] valianttry commented on #188
This looks good -- now that I see it in the UX, seems that somewhere on the pledge, near the form fields, we need to be clear that people are opting in to receive email. Right now it looks like you're just signing something and it's not transparent that means you're opting in for future communications. Even if most people who sign this are already opted in, we should still be clear. There is a sen

[2016-03-17 16:25] valianttry commented on #203
seems good to me :+1:

[2016-03-17 16:30] shaghdoosti commented on #155
We've drafted new copy -- Jochai has seen it and is happy with what we have. A few things that we need to do:
- We need to explain how their cipher works -- (ie: when you pick your emoji key what's the formula behind the pattern.)

-We need to make sure that at the end of the experience there is a way for people to find out more.

-Jordan and I also had a chat and thought that the best way to fram

[2016-03-17 16:45] OpenMatt commented on #203
@alanmoo ok for you? shall we close?

[2016-03-17 16:47] lovegushwa commented on #188
@alanmoo sorry for not clarifying:
v1 - email
v2 - social / organic

[2016-03-17 16:50] alanmoo commented on #203
Assigned to myself until I implement

[2016-03-17 17:13] shaghdoosti opened #218 "Post campaign survey"
Just had a great conversation with @adamlofting  about the post campaign surveys. Here's our proposed plans:

- We send the same pre campaign survey to the same segment. (We will need to change the email around it.)

-We create another survey for people who were involved in the campaign so we can see what resonated from the campaign. (If possible it would be great if we could segment new people to

[2016-03-17 19:10] lovegushwa commented on #188
@alanmoo strings of copy for landing page:

v1
LEFT
Pledge to stand up for Strong encryption

We’re seeing more and more governments attempt to undermine encryption. Will you help others understand what encryption is and stand up for strong encryption when it matters most? Sign on to be an encryption champion.

RIGHT
Become an Encryption champion

Let us know what country you’re in so if debates a

[2016-03-17 19:14] lovegushwa commented on #188
@alanmoo Updated UI, big changes to v2 modal

v1
![encryption-ui-023-01](https://cloud.githubusercontent.com/assets/12228435/13857950/82f190f2-ec39-11e5-993e-0630f74aa70d.png)

v1
![encryption-ui-023-02](https://cloud.githubusercontent.com/assets/12228435/13857954/88d9a680-ec39-11e5-97c5-b9bc75fbd379.png)

v2
![encryption-ui-023-03](https://cloud.githubusercontent.com/assets/12228435/13857960/8cb0

[2016-03-17 19:17] lovegushwa commented on #188
@alanmoo some details to help with the build:

![screen shot 2016-03-17 at 10 56 44 am](https://cloud.githubusercontent.com/assets/12228435/13858018/dfb62f1e-ec39-11e5-9ef6-fd7a5c9efc7e.png)

![screen shot 2016-03-17 at 12 16 46 pm](https://cloud.githubusercontent.com/assets/12228435/13858068/27385448-ec3a-11e5-9e96-7951364cdd09.png)

[2016-03-17 19:22] KevZawacki commented on #37
Beat 5 content (need approval):
- [x] [Beat 5 blog](https://docs.google.com/document/d/1kpNWLozgGLd-xraHQ38LVKBQ2Vtz9Mv-qoJFNA5wfew/edit)
- [x] [Beat 5 pitch](https://docs.google.com/document/d/1CHjkFFcuf30tzl1c64ClpPnXnCtn0sdsDwn8PpRWDjA/edit)
- [x] [Beat 5 social](https://docs.google.com/document/d/1q5FSi_aK3sWQhwRIcM5y3A8iP0bQpywLTE7FvUlkizY/edit)

@HPaulJohnson

[2016-03-17 19:55] OpenMatt opened #219 "Answer questions about how the crypto-loji algorhythm works"
@shaghdoosti has some questions that will inform some of the copywriting she's doing.

@shaghdoosti: can we start by having you list what those questions are here?
Then hopefully @michellenebiolo and @Giorgio-Olivero can answer.

[2016-03-17 19:57] HPaulJohnson opened #220 "Add subtitles to Video 3"
To support the next phase of testing in paid media channel we'd like to test video with subtitles vs. one without (what we've been doing up until now).

This will help us understand the value of adding subtitles to all future video content as we optimize for completed video views in this channel.

Ideally we could ship these next week.

cc:/ @brettgaylor @natalieworth @lovegushwa

[2016-03-17 21:16] shaghdoosti commented on #219
Sure -- the key question is how does the cypher work? ie: when someone picks the emoji key (like a smiley face) how does that determine if A turns into a winky emoji?

[2016-03-17 21:20] shaghdoosti commented on #188
Sorry I'm a little confused -- where are we using the model? my assumption was that we'd be sending everyone to the version with the form on the right (which looks amazing by the way!) The difference would be we'd try to per-populate data from people who are already on our list -- and it would blank for people who are new to the list.

This could have been a misunderstanding on my part -- but woul

[2016-03-17 21:53] #143 closed

[2016-03-17 21:55] HPaulJohnson commented on #195
still working out issues with changes being saved in optimizely; have been speaking with their support trying to resolve.

also, @alanmoo and i are trying to figure out how to use to split traffic to Share Progress share page vs. Share Progress buttons in a modal (this is a P2).

[2016-03-17 21:58] HPaulJohnson opened #221 "MarCom Checklist for Beat 5 Launch"
Launch checklist for Marketing and Comms activity supporting launch of beat 5 content on 3/23.

- [x] Update landing page with video 4 + pledge
- [x] Add video 4 and descriptions to evergreen page for use in social and other non-email channels
- [x] Mark's blog for blog.mozilla.org and Medium #37
- [x] Beat 5 media pitching #32
- [x] Finalize basic FB/Twitter posts for video 4 promotion #212
- [x]

[2016-03-17 22:00] HPaulJohnson commented on #193
Any open items rolling over to beat 5 checklist: #221

[2016-03-17 22:00] #193 closed

[2016-03-17 22:00] alanmoo commented on #195
Have we used Optimizely on other sites built in React before? I'm not sure what your issues are, but based on the way React works I can think of some potential problems.

[2016-03-17 22:02] HPaulJohnson commented on #212
@KevZawacki has basic copy for use in social promotion of beat 5

https://docs.google.com/document/d/1q5FSi_aK3sWQhwRIcM5y3A8iP0bQpywLTE7FvUlkizY/edit

This has been submitted for approval today.

[2016-03-17 22:23] HPaulJohnson commented on #195
@alanmoo, good question, not sure. the odd thing about the basic issue i'm working through with their support is that they are seeing things differently then we are. i'm trying to do some simple tests with variations on copy (changing "share this" text to "help us spread the word"); my changes don't stick after i save and on Optimizely's side they can see the changes (we've been sharing screen sho

[2016-03-17 22:52] HPaulJohnson commented on #144
this work will continue in #212 and beyond as we develop a plan for ongoing promotion of this content after campaign is over in various social channels.

[2016-03-17 22:52] #144 closed

[2016-03-17 22:53] HPaulJohnson commented on #65
@KevZawacki i think we can close at this point. feel free to re-open as needed.

[2016-03-17 22:53] #65 closed

[2016-03-17 22:55] HPaulJohnson commented on #55
I'm going to close this for now. I think once the entire body of content is complete and we have an evergreen version of the microsite, we can "package" this encryption education in a way that we can pitch to partners. This, along with social, can become part of an ongoing/sustained promotional plan for encryption over the next few quarters.

[2016-03-17 22:55] #55 closed

[2016-03-17 23:26] lovegushwa commented on #188
Hi @shaghdoosti v2 is a evergreen version. However we can't count folks coming in on paid, organic and partner as "active advocate" so is there a reason not to give those channels the complete campaign narrative arch?  (unless were counting total pledges and active advocates separate?)

[2016-03-17 23:47] alanmoo commented on #188
Questions:

1.) V1 Modal shows up only after clicking "Take the Pledge", right? Nothing happens after the video ends?
2.) V2 the modal above appears at the end of the video and when clicking the CTA? Does the share CTA appear in another modal after signing up?

[2016-03-18 00:04] shaghdoosti commented on #188
@lovegushwa  --a few things:
1. People who are coming in from paid promotions -- should go to the first video so they get the whole experience
2. People coming in from social from beat 5 -- should go to the page where the pledge is on the right hand side. (They'll be counted as pledge signers but not active advocates.)
3. In general -- on this beat I think we need to optimize for pledge signups --

[2016-03-18 00:15] lovegushwa commented on #188
@shaghdoosti @HPaulJohnson let me know if I'm getting this right?

V1 - email, organic, social
V2 - paid (load video 1 first).

**We will need a special URL for paid. Is this cool?**

[2016-03-18 00:20] lovegushwa commented on #188
@alanmoo

1.) V1 Modal shows up only after clicking "Take the Pledge", right? Nothing happens after the video ends?  ... **Nothing happens after the video plays**

2.) V2 the modal above appears at the end of the video and when clicking the CTA? Does the share CTA appear in another modal after signing up? ... **If it's not to weird to do back to back modals, yes.** @HPaulJohnson any feels about th

[2016-03-18 00:21] lovegushwa commented on #188
@alanmoo we should also display v2 modal when some one clicks on "Take the pledge" or "Sign Now" on the v2 page.

[2016-03-18 01:07] HPaulJohnson commented on #188
@lovegushwa that's basically right for paid. We want a version that includes all the videos (v2) so we can send new visitors through the whole journey. We still want the flexibility to feature any of the videos through @alanmoo's awesome URL structure (/social/1, /social/2, etc) as we are still testing which videos do best at engaging the most people in our campaign. I think v2 as scoped here supp

[2016-03-18 10:42] adamlofting commented on #195
Hmmm, yes it could be something to do with React.

donate.mozilla.org is written with React and works with Optimizely, but perhaps it compiles to static HTML? I can't remember.

https://www.webmaker.org landing page was also React, but again might be simpler than the /encrypt site. That did work with Optimizely.

@alanmoo I've added you to Optimizely as you might be able to spot something in the c

[2016-03-18 11:43] michellenebiolo commented on #219
Hi, I'll be happy to explain that later today (call at 6.45pm CET) :)

[2016-03-18 16:52] lovegushwa commented on #188
@shaghdoosti can you revise the "why do we ask for this information?" popup ?

![screen shot 2016-03-18 at 9 50 15 am](https://cloud.githubusercontent.com/assets/12228435/13885294/e372ace4-ecee-11e5-9715-d79b38515679.png)

We care about your privacy and helping you make informed choices. That’s why we link to our Privacy Notice so you can easily read it. To receive emails we require only your emai

[2016-03-18 17:09] shaghdoosti commented on #188
Actually -- @valianttry what do you think here? After reading the text we have I feel like we should leave the country field as optional. @lovegushwa @alanmoo I know that's different to what I said -- but if this is the message people are seeing consistently It would be bad to not practice it.

[2016-03-18 17:22] #150 closed

[2016-03-18 17:26] alanmoo opened #222 "Investigate Optimizely/React server integration"
Not sure if the bugs experienced in #195 are related to server side React

[2016-03-18 17:28] alanmoo opened #223 "Autofill form from URL query params"
From what I understand, visitors directed from email will have query params that we need to use to auto populate the pledge form. The component should be able to handle this

[2016-03-18 17:34] OpenMatt commented on #188
Blocked by https://github.com/MozillaFoundation/encryption_campaign/issues/222 and https://github.com/MozillaFoundation/encryption_campaign/issues/223

[2016-03-18 18:30] alanmoo commented on #195
I just talked to @alicoding and it doesn't seem likely that this is an issue with React, since this is built very similarly to donate.

If it does turn out to be something on our side, Ali will be the point person on this while I'm out early next week.

[2016-03-18 18:42] alanmoo opened #224 "Form submission behavior?"
From what I understand, the goal of this beat is to get people to sign up for this pledge. I'm a bit confused though as to how this differs from the existing signup form. From conversations I've had, I'm using the same form as the rest of the beats, simply swapping the "Country" field to the top. I'm unclear about the handling of the data though. Thoughts running around right now: How are we indic

[2016-03-18 20:25] HPaulJohnson commented on #195
@alanmoo @adamlofting just got off a call with Optimizely support. I was able to resolve the issue in Chrome by installing an extension called "ignore xframe headers" per their suggestion. I tried to install a similar add-on in Firefox but the issue doesn't resolve.

Ultimately, the changes are being made and this is simply a function of the display in the editor console within Optimizely. If you

[2016-03-18 20:25] #195 closed

[2016-03-18 21:37] michellenebiolo commented on #155
Hi @shaghdoosti, just to confirm after our call today that
– what TODO will work on for the final release is simply adding a link in the footer to a "Find out more" page that Mozilla will take on;
– we are happy to provide notes on how the "mathematics" of the tool work, probably by Tuesday 22nd, with everything I explained today;
– you will tweak the copy of the onboarding so it mentions a formul

[2016-03-18 22:58] alanmoo commented on #188
@mmmavis

[2016-03-18 23:03] alanmoo commented on #222
I believe this has been handled

[2016-03-18 23:03] #222 closed

[2016-03-19 20:49] lovegushwa commented on #188
@alanmoo @mmmavis are we in good shape for hand off? Also do you have anything on staging for QA?

[2016-03-19 21:57] alanmoo commented on #188
I've got a little more to do today/tomorrow but I explained everything to Mavis yesterday. Will post here when up on staging.

On Mar 19, 2016, 2:49 PM -0600, lovegushwanotifications@github.com, wrote:

[2016-03-21 15:17] alanmoo opened #225 "Test mobile functionality of sign up modal"
I've got `overflow: scroll` in there, but I'm not sure it works properly, haven't had a network setup that I can test on a real device.

STR:
1. Open `/encrypt/social` route
2. Tap `Sign now` below video.
3. Try to sign up.

[2016-03-21 15:18] alanmoo commented on #188
I believe I've taken care of all of this. It's up for testing at https://lit-mountain-52009.herokuapp.com/encrypt/hybrid/4 and https://lit-mountain-52009.herokuapp.com/encrypt/social/4.

Keep in mind the `/encrypt` route goes to the social page, so that's what http://mzl.la is still going to. I'm not sure what the desired out come of this all is.

I'm submitting a PR into the main repo for technic

[2016-03-21 15:18] #188 closed

[2016-03-21 15:21] alanmoo commented on #223
@mmmavis, check with @stephaniemcv on the params that are going to be used.

I noticed in the encrypt-signup.jsx component  `valueLink` is being used, I'm not sure if that's necessary or not, as this was a copy from this component being used slightly differently elsewhere.

[2016-03-21 15:51] stephaniemcv commented on #223
I believe parameters should be

%%COUNTRY_%%

%%emailaddr%%

[2016-03-21 16:10] stephaniemcv commented on #224
For the email audience, it's not truly a signup form, more of an update your information form because they are already on the list but the list might not necessarily have the correct data. My understanding is that's why we wanted to pre-fill the form with their country and email address data so they could update it. For new people who come to the page, it should be a true signup form to get them o

[2016-03-21 16:57] OpenMatt commented on #224
@mmmavis : should we assign this one to you to close, given that Alan is PTO?

[2016-03-21 16:58] OpenMatt commented on #224
@shaghdoosti confirms taht @stephaniemcv 's answer is correct, so hopefully that resolves Alan's questions.

[2016-03-21 17:03] alanmoo commented on #224
@stephaniemcv then we don't have to do anything special with the form other than the auto-population of it when applicable?

[2016-03-21 17:07] stephaniemcv commented on #224
I don't believe we have to do anything special with the form based on my chat with Pmac. However, I do want to make sure we QA this form extensively.

[2016-03-21 17:08] shaghdoosti commented on #224
+1 on extra QA

[2016-03-21 17:33] chelseanovak commented on #208
Update from snippet-land. The service will _not_ be going offline this week as we had originally been told. So whenever you have copy (and the video) ready, please let me know.

Thanks!
C

[2016-03-21 17:57] natalieworth commented on #184
Colour treatment for Beat 4 Video here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0em9JRlR5Y2NyNTg&usp=drive_web&ddrp=1#

[2016-03-21 17:57] #184 closed

[2016-03-21 17:59] natalieworth commented on #166
Final consolidated files for beat 4 video (premiere) here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0NTZidEFfTF9aVUU&usp=drive_web&ddrp=1#

[2016-03-21 17:59] #166 closed

[2016-03-21 17:59] natalieworth commented on #164
Final consolidated files for beat 4 video (premiere) here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0NTZidEFfTF9aVUU&usp=drive_web&ddrp=1#

[2016-03-21 17:59] #164 closed

[2016-03-21 18:06] natalieworth commented on #166
Facts and Quotes .ai file from @lovegushwa is here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B2qu3ExKWIlvWWd6M050TW9GNWs&usp=drive_web&pli=1&ddrp=1#

[2016-03-21 18:07] natalieworth commented on #165
See #166

[2016-03-21 18:27] shaghdoosti commented on #213
Sara to check:

All the copy on the page including landing page copy and video description to make sure they are correct and approved.

Steph/Kevin/Sara/Maryam to check:

If the form works ie:
-Are the required field actually required
-are the optional fields actually optional
-do the explainer buttons work
-When signing does the button work
-Is the thank you page the right page

If the emails lin

[2016-03-21 19:09] valianttry commented on #208
@chelseanovak this last video actually features a phone "dropping", so I suggest we focus primarily on promoting this particular video in the snippet. However, all the previous videos are easy to access on the landing page (microsite). It's all mobile-optimized as well.

I'll drop in a few 100-character options in this ticket once i have wifi on the :airplane:

[2016-03-21 19:31] HPaulJohnson commented on #220
@natalieworth reviewed the transcript and this should be final, word for word, what needs to be subtitled.

https://docs.google.com/document/d/1Udq82ffJ0FUKisC-b_KO3Hh9ovYbFXOhMmETo0qGXmY/edit

[2016-03-21 19:50] OpenMatt commented on #224
@alanmoo @mmmavis what are the next steps here?

[2016-03-21 19:55] alanmoo commented on #224
If there's nothing special to do other than testing, this can be closed and testing just needs to be done

[2016-03-21 19:57] alanmoo commented on #224
That is, testing after #223 is complete

[2016-03-21 20:10] OpenMatt commented on #213
Let's do as much QA as possible now on this: https://lit-mountain-52009.herokuapp.com/encrypt/
Primary page here: https://lit-mountain-52009.herokuapp.com/encrypt/hybrid/4

[2016-03-21 20:11] alanmoo opened #226 "Update assets for video 4"
Need thumbnails, poster, and video files. @lovegushwa, please post those here and assign this to @mmmavis for implementation when ready, cc @simonwex for upload of video as usual.

[2016-03-21 20:14] alanmoo commented on #213
For above QA, please file a new ticket with labels "beat 5" and "dev" (making sure it's not a duplicate before opening, there are a few open already)

[2016-03-21 20:34] stephaniemcv commented on #213
Just to clarify, this is the form for new people? We're not testing for if changed data passes back to Basket?

[2016-03-21 20:38] lovegushwa commented on #213
@alanmoo looking great!

Can you change the "--" to an em dash in the video 3 copy @mmmavis can also do.
<img width="1016" alt="screen shot 2016-03-21 at 1 33 23 pm" src="https://cloud.githubusercontent.com/assets/12228435/13933375/1e6b5fb2-ef6a-11e5-8f3e-47d1a12c926f.png">

---

[updates from Mavis] this has been fixed: https://lit-mountain-52009.herokuapp.com/encrypt/social/3

[2016-03-21 20:59] shaghdoosti commented on #213
I just signed up and it looks good -- the only flag is that on the 'why do we collect information button' the paragraph that appears has really odd spacing.

<img width="432" alt="screen shot 2016-03-21 at 1 58 02 pm" src="https://cloud.githubusercontent.com/assets/13626384/13933999/1956df62-ef6d-11e5-9d0c-698d2d5a92b1.png">

[2016-03-21 23:20] mmmavis commented on #226
note for myself:
this is the file to update: https://github.com/mozilla/advocacy.mozilla.org/blob/master/data/encryptVideos.js

[2016-03-21 23:48] mmmavis commented on #225
Signing up on https://lit-mountain-52009.herokuapp.com/encrypt/social on my iPhone 6s worked out fine!

[2016-03-21 23:57] mmmavis opened #227 "Change the "--" in the video 3 copy to an em dash"
per https://github.com/MozillaFoundation/encryption_campaign/issues/213#issuecomment-199468540

[2016-03-22 00:03] HPaulJohnson commented on #213
Paul to check the following on the landing page:
- Social share buttons working correctly on all landing page versions, including Share Progress versions being served correctly and default meta tags updated with current video sharing info (descriptions and image).
- Google Analytics properly capturing opt-in and share measurements in a way that can be used to capture Active Advocates. @adamlofting

[2016-03-22 00:07] mmmavis commented on #213
re [your comment](https://github.com/MozillaFoundation/encryption_campaign/issues/213#issuecomment-199482284) @shaghdoosti :grin:

Could you tell me which browser you were on? It looks fine on my FF v45
<img width="1140" alt="screen shot 2016-03-21 at 5 05 30 pm" src="https://cloud.githubusercontent.com/assets/2896608/13938065/4b544ed6-ef87-11e5-978d-faf12b554e04.png">

[2016-03-22 00:09] mmmavis commented on #203
https://github.com/mozilla/advocacy.mozilla.org/pull/123/commits/5323ef7a6d28760acf38b388ff71a536a66995b8 covers this. Closing this ticket now.

[2016-03-22 00:09] #203 closed

[2016-03-22 00:09] mmmavis commented on #227
https://github.com/mozilla/advocacy.mozilla.org/pull/123/commits/d3f08f5575c826608b97b4daef426105b6fc0bdb covers this. Closing this ticket now.

[2016-03-22 00:09] #227 closed

[2016-03-22 00:17] mmmavis commented on #223
@alanmoo @stephaniemcv can you remind me which page users will be directed to from email? It is `https://advocacy.mozilla.org/encrypt/signup` (or testing purposes: https://lit-mountain-52009.herokuapp.com/encrypt/signup)? And what fields will be auto populated? All of country, first name, and email?

[2016-03-22 00:41] alanmoo commented on #213
This server is using a demo basket URL. If you're not concerned about testing garbage ending up in the database, we can switch it to submit to the real database.

On Mar 21, 2016, 3:34 PM -0500, Stephanie McVickernotifications@github.com, wrote:

[2016-03-22 00:44] alanmoo commented on #223
The signup URL is something else. They'll be directed to /encrypt/social or /encrypt/hybrid. Since it's the same signup component across the board, I was planning on looking for props (or a single object) getting passed in to the component. If it's there, pre-populate whatever data fields it has. Then from hybrid.jsx and social.jsx, pass the signup component this.props.params (or only the appropri

[2016-03-22 00:53] mmmavis commented on #223
Cool that makes sense.
So the urls included in email will be something like

https://advocacy.mozilla.org/encrypt/social/?country=Canada&email=mavis@example.com

[2016-03-22 00:59] alanmoo commented on #223
Yup, or /social/4?country=....

Stephanie, can you share a sample URL so we know exactly what we'll be working with?

On Mar 21, 2016, 7:53 PM -0500, Mavis Ounotifications@github.com, wrote:

[2016-03-22 03:37] mmmavis commented on #223
@stephaniemcv

For the URL, is it possible if we can include the country info in [2-letter format](https://github.com/mozilla/advocacy.mozilla.org/blob/master/components/encrypt-signup.jsx#L82-L780)? e.g., CA for Canada and DE for Germany? That way it would be so much easier to autofill the country field.

[2016-03-22 05:17] mmmavis commented on #223
https://lit-mountain-52009.herokuapp.com/encrypt/social/4?country=ca&email=mavis@example.com
https://lit-mountain-52009.herokuapp.com/encrypt/hybrid/4?country=ca&email=mavis@example.com

[2016-03-22 10:27] adamlofting commented on #213
This site doesn't have staging GA, so you'll need to test on prod. Check that the events are showing up in the real-time report: https://analytics.google.com/analytics/web/#realtime/rt-event/a49796218w86119768p89349767/

For active advocates (or our proxy measure) we need to ensure we add the GA tracking parameters to our emails so we can identify which traffic is from existing supporters. This is

[2016-03-22 12:27] KevZawacki commented on #212
The beat 5 social @HPaulJohnson links above has been approved.

[2016-03-22 12:40] KevZawacki commented on #213
Just finished QA. One copy change: "Strong" in the hed should be lowercase (see screenshot below).

![screen shot 2016-03-22 at 8 35 36 am](https://cloud.githubusercontent.com/assets/11045250/13951757/473c96dc-f009-11e5-9b8b-efa6388381b1.png)

@mmmavis Not sure this warrants its own ticket, but happy to open one if needed.

Onto @shaghdoosti's list:

Are the required field actually required? **Yes

[2016-03-22 14:34] stephaniemcv commented on #223
This is the only example of a URL passing data that I've seen in ExactTarget
https://www.mozilla.org/newsletter/existing/%%TOKEN%%/

It looks like the field in Basket can accept up to 30 characters but I like the idea of keeping it to the 2 letter country code.

[2016-03-22 14:35] OpenMatt commented on #226
Blocked on https://github.com/MozillaFoundation/encryption_campaign/issues/211

[2016-03-22 14:37] OpenMatt commented on #225
@mmmavis what are the next steps to closing this one? Any further testing required?

cc @simonwex in case he has guidance to offer...

[2016-03-22 14:38] OpenMatt commented on #223
@mmmavis are the next steps clear on this one? need any help?

[2016-03-22 14:39] OpenMatt commented on #213
@mmmavis can you make that copy change @KevZawacki noted?

[2016-03-22 14:39] OpenMatt commented on #212
Cool. Anything further to do on this one, or can we close?

[2016-03-22 14:40] OpenMatt commented on #211
@darrenpasemko @brettgaylor status?

[2016-03-22 14:40] #210 closed

[2016-03-22 14:40] OpenMatt commented on #209
@mmika @shaghdoosti @brettgaylor I'm assuming we can close this one -- please re-open if that's wrong.

[2016-03-22 14:40] #209 closed

[2016-03-22 14:41] OpenMatt commented on #207
blocked on https://github.com/MozillaFoundation/encryption_campaign/issues/211

[2016-03-22 14:41] OpenMatt commented on #206
@stephaniemcv next steps / timelines on this one?

[2016-03-22 14:42] OpenMatt commented on #205
@lovegushwa I'm assuming we can close this now -- re-open if wrong.

[2016-03-22 14:42] #205 closed

[2016-03-22 14:42] OpenMatt commented on #201
@shaghdoosti status?

[2016-03-22 14:42] OpenMatt commented on #192
@lovegushwa status?

[2016-03-22 14:43] #190 closed

[2016-03-22 14:43] OpenMatt commented on #37
@KevZawacki status?

[2016-03-22 14:47] KevZawacki commented on #37
All set!

[2016-03-22 14:47] #37 closed

[2016-03-22 15:36] darrenpasemko commented on #211
@brettgaylor @OpenMatt I'm getting close, but I'm not as far as long as I'd hoped. It will take EOD today to finish up. But I will provide all the prep docs to Jordan so that he can prep all the design elements. I'm sorry it's late.

[2016-03-22 15:45] lovegushwa commented on #192
@HPaulJohnson this is something we can adjust the color on today to bring it a little closer to brand.
Sorry this is tight be let's make a tweak happen today.

[2016-03-22 15:48] stephaniemcv commented on #206
I need final url and image before I can route around for layout review

[2016-03-22 15:50] stephaniemcv commented on #201
We can close this. We didn't have to time to make this happen.

[2016-03-22 15:50] #201 closed

[2016-03-22 15:55] lovegushwa commented on #213
@KevZawacki @mmmavis actually for this version of the landing page the text should read as "Stand Up For Strong Encryption" to keep consistency with the other video titles.

[2016-03-22 16:07] mmmavis commented on #225
I'll ask someone who has an Android phone (or anything other than iPhone 6s) to test before I close this ticket.

[2016-03-22 16:11] mmmavis commented on #223
ummm I don't know how we can parse "TOKEN" into name and country. Is there a database or service we can look up for name and country **from** token?

@stephaniemcv do you know what a token is? is it like user account name sort of thing?

[2016-03-22 16:14] mmmavis commented on #223
ummm I don't know how we can parse "TOKEN" into name and country. Is there a database or service we can look up for name and country **from** token?

@stephaniemcv do you know what a token is? is it like user account name sort of thing?

[2016-03-22 16:14] mmmavis commented on #223
oops close by accident

[2016-03-22 16:14] stephaniemcv commented on #223
Oh sorry, that was an example of what I'd seen. We're not actually supposed to use TOKEN
It's a field pulled from Basket like the other parameters

[2016-03-22 16:15] mmmavis commented on #223
@stephaniemcv if %%COUNTRY_%% and %%emailaddr%% are available to us, would something like this work?

https://advocacy.mozilla.org/encrypt/social/?country=%%COUNTRY_%%&email=%%emailaddr%%
https://advocacy.mozilla.org/encrypt/hybrid/?country=%%COUNTRY_%%&email=%%emailaddr%%

[2016-03-22 16:17] stephaniemcv commented on #223
let me try it in the email

[2016-03-22 16:17] OpenMatt opened #228 "Update target for encyrption short-link"

[2016-03-22 16:24] stephaniemcv commented on #223
Well it takes me to the landing page. I also used https://advocacy.mozilla.org/encrypt/hybrid and it didn't populate any data.

[2016-03-22 16:40] mmmavis commented on #223
Ah sorry @stephaniemcv , changes haven't been pushed to production (advocacy.mozilla.org) yet. Could you please use any of
https://lit-mountain-52009.herokuapp.com/encrypt/social/?country=%%COUNTRY_%%&email=%%emailaddr%%
https://lit-mountain-52009.herokuapp.com/encrypt/hybrid/?country=%%COUNTRY_%%&email=%%emailaddr%%
just for testing purposes for now? Also let me know if I can help with testing!

[2016-03-22 17:04] KevZawacki opened #229 "Postpone beat 5 launch & campaign promotions"
We're postponing the beat 5 launch, and pausing campaign promotion, as a result of the attacks in Belgium.

If you're tagged below, can you please update this ticket and confirm promotions are paused in your channel(s)?

- [x] Pause social (@kevzawacki)
- [x] Pause blogs (@kevzawacki)
- [x] Pause pitching (@kevzawacki)
- [x] Pause paid promotion (@hpauljohnson)
- [x] Pause email (@stephaniemcv)
-

[2016-03-22 17:05] stephaniemcv commented on #223
Woo! It's looking good! First test pre-populated the email and then passed my name and new country data through!

[2016-03-22 17:18] KevZawacki commented on #213
@lovegushwa A-ha, thanks!

[2016-03-22 18:05] KevZawacki commented on #229
Thanks, all. I'll update this ticket when we have more clarify on when/how to resume.

[2016-03-22 18:08] lovegushwa commented on #212
@natalieworth we can also use this copy for the .gifs ... one with the phone drop and one with the phone returning to the hand: https://docs.google.com/spreadsheets/d/1t4kJN-TAMPRoiRJY2XmUPp_ve5PqcD3xFS0-ahyFjyg/edit#gid=0

[2016-03-22 18:10] lovegushwa commented on #212
@natalieworth

AI. for video cards, can be used for .gif (typography and copy)
https://drive.google.com/folderview?id=0B2qu3ExKWIlvOFZzd2V0Z0Rwd2c&usp=sharing

[2016-03-22 18:35] natalieworth opened #230 "Design/ Editorial Illustrations for Medium Article"
Create illustrations for @KevZawacki 's upcoming Medium article: https://docs.google.com/document/d/1lcZhH3HT8ut4EN-UX4q6jzFk3Azf3RoYgeY-FFIs9uQ/edit

[2016-03-22 21:31] KevZawacki commented on #230
@natalieworth, let me know how I can help

[2016-03-22 21:52] mmmavis commented on #213
@lovegushwa

![screen shot 2016-03-22 at 1 21 32 pm](https://cloud.githubusercontent.com/assets/2896608/13969038/7e057970-f03d-11e5-95b5-1d30972f6c01.png) Should we change letter casing for the header in red as well or it's good as is?

[2016-03-22 22:14] lovegushwa opened #231 "Update defult facebook and twitter cards on new landing pages"
@alicoding super simple update to the default facebook and twitter cards on the video 4 landing pages.
This should be updated right before we go live (March 28 is perfect.)

Please update these images:
cc @HPaulJohnson

Twitter:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvdnpzZ2Q5WHRtVzA/view?usp=sharing

Facebook:
https://drive.google.com/file/d/0B2qu3ExKWIlvaloyNHlxVi1pajA/view?us

[2016-03-22 22:15] lovegushwa commented on #231
@HPaulJohnson can you provide @alicoding any updated text?

[2016-03-22 22:32] lovegushwa commented on #192
@HPaulJohnson super simple update to the share progress template.

Mozilla logo (sized for this page):
https://drive.google.com/folderview?id=0B2qu3ExKWIlvbUpTV203azVVWnM&usp=sharing

Dark blue header color #1C325E
Light blue footer color #5381B9

<img width="1005" alt="screen shot 2016-03-22 at 3 31 19 pm" src="https://cloud.githubusercontent.com/assets/12228435/13969987/2fa980ea-f043-11e5-916f-4

[2016-03-22 22:45] lovegushwa commented on #212
@HPaulJohnson final static facebook and twitter social graphics:
Twitter
https://drive.google.com/folderview?id=0B2qu3ExKWIlvNHZPcTBqTEc1RjQ&usp=sharing

Facebook
https://drive.google.com/folderview?id=0B2qu3ExKWIlvWGppelBuUWVsUHc&usp=sharing

[2016-03-22 23:12] HPaulJohnson commented on #231
@alicoding here is the update default language:

twitter: Encryption needs you! Sign Mozilla's pledge to stand up for encryption & a more secure Web at mzl.la/encrypt

facebook: Encryption needs you! Sign Mozilla's pledge to stand up for encryption and a more secure Web at advocacy.mozilla.org/encrypt

[2016-03-22 23:34] natalieworth commented on #230
@KevZawacki thanks, I'll ping you tomorrow morning if that works. @lovegushwa was hoping we could try and experiment a bit with the illustration/ editorial opportunities for this medium post which would be awesome! Going to look at a couple of benchmarks tonight for them.

[2016-03-22 23:35] HPaulJohnson commented on #192
@lovegushwa I think I need some help translating that to the HTML that Share Progress needs modified. I've included the HTML for the page below that needs updating maybe but @mmmavis maybe we could discuss tomorrow how this might work?

`<!doctype html>
`<html lang="en">
`<head>
` <meta charset="utf-8">
`<title>PAGE_TITLE</title>
`<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
`<me

[2016-03-23 00:41] alicoding commented on #231
Currently we don't do share for text and image differently per video... They're all using the same share text and image. Is this suppose to be for all pages or specific to a URL?

[2016-03-23 01:17] lovegushwa commented on #231
@alicoding your right we do use the same share text and image for all videos. Sorry the title of this ticket is confusing ... anyhow that's why we want to update it next Monday before we launch.

[2016-03-23 01:22] alicoding commented on #231
https://github.com/mozilla/advocacy.mozilla.org/pull/124

[2016-03-23 11:42] michellenebiolo commented on #219
Hi @shaghdoosti, please find a quick explanation of how the cipher works on [this shared deck](https://docs.google.com/presentation/d/1VkxlMV580Qnkfws0NtPmQ6rQnh2wB8yvU3PoOsz2mcU/edit?usp=sharing).
Let me know if anything is not clear (you can comment directly on the document if you wish).

[2016-03-23 12:04] michellenebiolo commented on #155
Hello everyone,

while we wait for the final copy and name, there are a few more things that need your input:

– I just posted some notes on #219 about how the cipher works in our web tool.
@Giorgio-Olivero says we can design the "Find out more" page in the tool, so we just need the copy from you :)

– Copy for credits page (we would like to mention all the open libraries we used in development, a

[2016-03-23 17:21] natalieworth commented on #212
@lovegushwa @HPaulJohnson I'm just uploading gif versions here from my after effects file. I'll upload the facebook one's first and then export to Twitter based on feedback/ approval :) https://drive.google.com/a/mozillafoundation.org/folderview?id=0B2qu3ExKWIlvZXQ1ZFJ3SEc1S1U&usp=drive_web&ddrp=1#

[2016-03-23 17:56] lovegushwa commented on #212
@natalieworth I love "the power is in our hands" ... I would increase the scale of that type substantially (also a note that I sent to Darren).

Also it would be cool to do a combo version where we start with "will you stand up for strong encryption" ... phone animates to hand ... "the power is in our hands"

[2016-03-23 17:57] HPaulJohnson commented on #212
+1 to @lovegushwa's comments.

are we still planning on doing a version that flips through all the headlines too?

[2016-03-23 18:00] alanmoo commented on #192
I'm not quite sure what you're asking- you need the background color on the header/footer? You should be able to add `style="background-color: #1C325E"` to the header tag to make it have a background color. (`<div id="header" style="background-color: #1C325E">`)

[2016-03-23 18:02] lovegushwa commented on #212
@HPaulJohnson yeah I'm going to make that one today.

[2016-03-23 18:16] lovegushwa commented on #226
@mmmavis attached are the poster and thumbnail images for video 4:

Thumbnail:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvdWotUmlHME1Nb2s/view?usp=sharing

Video poster:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvZllBWVFBOTB2LTA/view?usp=sharing

[2016-03-23 21:08] lovegushwa commented on #226
@alanmoo ^

[2016-03-23 21:22] lovegushwa commented on #225
@mmmavis @alanmoo
https://lit-mountain-52009.herokuapp.com/encrypt/social signup form works on my nexus 5, this is NOT the page that's getting the bulk of our traffic.

https://lit-mountain-52009.herokuapp.com/encrypt/hybrid/4 is getting the bulk of the traffic, that form works.

[2016-03-23 22:25] lovegushwa opened #232 "UI bug in playlist component on mobile"
@alanmoo can we fix the playlist component? (screen shot from nexus 5):

https://lit-mountain-52009.herokuapp.com/encrypt/hybrid/4 Not breaking

![screenshot_2016-03-23-11-53-33](https://cloud.githubusercontent.com/assets/12228435/14001527/979e62e0-f103-11e5-9f4e-d4dff7387452.png)

[2016-03-23 22:29] HPaulJohnson opened #233 "Finalize wrapper and publish new share page"
@alanmoo per our conversation today, we need to clean up the Share Progress page wrapper called "Encryption Campaign." Final tweaks including:

- Adding Mozilla logo to header
- Adding link back to advocacy site in header
- Fixing display in footer

Once that's done, I can use the completed wrapper to generate the URL for the final share page.

[2016-03-23 22:30] HPaulJohnson commented on #192
Finishing the dev work part of this in #233

[2016-03-23 22:30] #192 closed

[2016-03-23 23:16] HPaulJohnson opened #234 "Update default email, facebook and twitter share buttons"
Now that we have kinks worked out on Share Progress buttons, let's start the next beat with a clean set of data/analytics.

Here's the new button code (to go live in conjunction with Beat 5 content on site):

div class='sp_163584 sp_em_small'

div class='sp_163585 sp_fb_small'

div class='sp_163586 sp_tw_small'

[2016-03-23 23:32] lovegushwa opened #235 "Copy changes for v1 landing page"
@alanmoo we need to make a slight update to the v1 landing page. Plan here is:
CC @shaghdoosti

- New CTA  is  "Stand up for strong encryption" ... Were changing from "Pledge to Stand Up For Strong Encryption" because it's problematic to say "Convert to my religion" and then ask some one to watch a video. Feels too much like overt sales and the video should do the selling.
- Remove the meta data,

[2016-03-23 23:38] lovegushwa commented on #235
@brettgaylor @HPaulJohnson  I suggest we add an additional card in place of the ENCRYPT logo at the end of the video as a super clear in video CTA. Could be "Take the Pledge"? We should give Darren direction for this asap.

https://vimeo.com/159846574  "mozilla"
(we will a 2nd versions, one with the ENCRYPT logo and URL for use on Social and Paid.)

[2016-03-23 23:40] lovegushwa commented on #235
@alanmoo ^ the comment addressed to Brett and Paul wont impact you, it's just about the in video CTA.

[2016-03-23 23:51] HPaulJohnson commented on #235
@lovegushwa - I agree, replace ENCRYPT as the video end card (it's redundant with persistent site header) and reinforce "Take the Pledge" CTA instead.

[2016-03-24 00:01] natalieworth commented on #220
EN Subtitle version is exported and can be found on the drive here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B2qu3ExKWIlvNzFCSDFRbmx5RlE&usp=drive_web&ddrp=1#

[2016-03-24 00:01] #220 closed

[2016-03-24 00:05] natalieworth commented on #160
'Encrypt' ident/ mozilla end cards can be found in the drive here: https://docs.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0WGNPM2YzeHkxams&usp=drive_web
<img width="1345" alt="screen shot 2016-03-23 at 5 05 57 pm" src="https://cloud.githubusercontent.com/assets/14876567/14004728/98962eb0-f119-11e5-8d3a-d23ec5bbe499.png">

[2016-03-24 00:05] #160 closed

[2016-03-24 00:08] natalieworth commented on #158
Beat 4 video benchmarking and inspiration/ alternative visual systems are now up on a Pinterest board: https://www.pinterest.com/nataliejworth/mozilla-encrypt-video-benchmarking/

[2016-03-24 00:08] #158 closed

[2016-03-24 17:47] chelseanovak commented on #208
Hey @valianttry, any update on timing and copy for this? It looks like they have moved the snippet service infra work to next week. Right now it looks like tues-thurs, but Jessica is trying to get them to do wed-fri.

I'm going to be off tomorrow and monday, so if you want to get the snippet landed on either of those days, please reach out to Michaela and Jessica Vondrak.

Cheers,
C

[2016-03-24 20:43] valianttry commented on #208
benchmark:
_Without encryption, the Internet becomes less safe and less private. Watch the encryption episodes to see what a world without online privacy looks like._

Variants for consideration (all 100 characters or less):

A. Help Mozilla stand for strong encryption. Watch our latest video and share it with friends.
B. Stand with Mozilla to protect strong encryption. Watch our latest video and

[2016-03-24 22:32] lovegushwa opened #236 "Link shortener for Codemoji"
@simonwex I was in a meeting today with TODO, @Giorgio-Olivero asked if you could give an update about using https://bitly.com/ as a link shortener. Can you follow up with Giorgio in this ticket?

Example of a super long link we currently use to share messages:
http://el.s.todo.to.it/cryptoloji/1033/?data=eyJtZXNzYWdlIjoi8J%2BRu%2FCfmKnwn42P8J%2BPgiDwn5CR8J%2BPgiDwn5iB8J%2BahPCfkqXwn5iT8J%2BTkiIsI

[2016-03-24 23:15] lovegushwa opened #237 "External links for Codemoji"
@Giorgio-Olivero @shaghdoosti @alanmoo CC @simonwex

Legal:  https://www.mozilla.org/en-US/about/legal/
Privacy notice:  https://www.mozilla.org/en-US/privacy/websites/
Learn more about encryption:  Let's pop up a new page, it's going to give us more flexibility.

@alanmoo our plan is to host the Codemojo app on Teach since we can link to additional teaching recourse around Encryption and it posit

[2016-03-24 23:46] lovegushwa opened #238 "Share links for Codemoji"
@Giorgio-Olivero hey I want to confirm the links / platforms were approved to use on the share screen:

- facebook
- twitter
- email
- SMS
- tumblr

**Not approved to use Whatsapp**

![screen shot 2016-03-24 at 4 44 51 pm](https://cloud.githubusercontent.com/assets/12228435/14034352/cc2fe100-f1df-11e5-9a14-39dbe6176e5f.png)

[2016-03-24 23:51] lovegushwa opened #239 "Revise Codemoji logo"
@Giorgio-Olivero I will get this to you by end of day tomorrow.

[2016-03-25 02:02] alanmoo commented on #237
I haven't worked with the teach site, and I'm not sure what you're looking for. Is Codemoji going to be hosted on TODO's servers? Once that's clear, @mmmavis or @cadecairos may be able to help here better than I can.

[2016-03-25 03:57] simonwex commented on #236
@lovegushwa, let's talk about domains off of GitHub, it's a precursor to this. Once we settle on that, I can make some api keys.

[2016-03-25 10:15] Giorgio-Olivero commented on #236
yeah, the link can be even longer, this would be the max length:

http://el.s.todo.to.it/cryptoloji/1033/?data=eyJtZXNzYWdlIjoi8J%2BRkuKMmvCfk6PimJ3ijJrimJ3ijJrijJrimJ0g4pid8J%2BPiPCfkJvwn5KP8J%2BQo%2BKYnfCfjbvwn5Cb8J%2BOhuKbtfCfjZ7wn5K9IPCfk6Mg8J%2BTo%2BKYnfCfkr3wn5Cb4oya4pu18J%2BPrfCfkJsg8J%2BOhuKMmuKYnSDwn5K98J%2BPrfCfjbvijJrim7Xwn46hIPCfkovimJ3wn46h8J%2BPreKMmuKbtfCfj4jimJ3wn5K98J%2BOofCfkJvwn

[2016-03-25 10:15] Giorgio-Olivero commented on #236
adding @abusedmedia @michellenebiolo

[2016-03-25 10:16] Giorgio-Olivero commented on #237
no.

adding @abusedmedia @michellenebiolo

[2016-03-25 10:16] Giorgio-Olivero commented on #239
adding @michellenebiolo @abusedmedia

[2016-03-25 10:17] Giorgio-Olivero commented on #238
adding  @michellenebiolo @abusedmedia

[2016-03-25 13:59] KevZawacki commented on #208
@valianttry My vote is D ("Watch Mozilla's latest video right now..."). Good sense of urgency.

Runner up is B.

Let me know if I can help further!

[2016-03-25 14:26] abusedmedia commented on #238
@lovegushwa, we are going also to remove tumblr sharing icon which is not very reliable across devices.
Giving support to the main social network (FB, TW) and the main personal comm tools (@, SMS) with the possibility to copy the link for whatever further sharing way, could be considered enough in the project scope. Ok?

[2016-03-25 15:18] alanmoo commented on #234
Will be closed with an upcoming PR

[2016-03-25 17:00] mmika opened #240 "Design: video thumbnails for the Encryption Campaign Survey"
@lovegushwa
Here's the survey draft for your reference:
https://docs.google.com/document/d/1nmugvF9qilXQi3pKiVAlIhMJM46T2WH7ZUyvoU8iP28/edit

[2016-03-25 17:03] shaghdoosti opened #241 "Use Encryption email"
@lovegushwa @alanmoo

To follow up our discussion our first encryption tip is for people to use FileVault and the PC version. Right now -- we want to send them to a landing page that has instructions for a PC and Mac as well as a button that says 'I did it'.

If people press the button they will then land on a share page. Ideally this email would go out a few days after the encryption email goes o

[2016-03-25 17:05] KevZawacki commented on #229
Plan is to resume campaign promotion on Monday, 3/28, and launch beat 5 on Wednesday, 3/30. Insight into this decision [here](https://docs.google.com/document/d/1L3u8snCOcsjajh0lBCLlxwvEBtq9WpTeXKORo9-fnWI/edit).

Closing this ticket, but will re-open if new developments emerge. Thanks!

[2016-03-25 17:05] #229 closed

[2016-03-25 17:24] stephaniemcv commented on #121
Closing as I've seen no more complaints in Desk.com

[2016-03-25 17:24] #121 closed

[2016-03-25 17:50] lovegushwa commented on #236
@Giorgio-Olivero @shaghdoosti  @HPaulJohnson @brettgaylor  CC @simonwex
I want to confirm everyone is cool with a https://bitly.com/ shorted link. So when some one shares that super long link @Giorgio-Olivero posted above, the short version will look like this: http://bit.ly/1pMgkGf
(users can see the bit.ly domain in the link.)

[2016-03-25 18:10] alanmoo commented on #235
@lovegushwa LMK how this looks: https://lit-mountain-52009.herokuapp.com/encrypt/hybrid/4

[2016-03-25 18:23] alanmoo commented on #226
Will be closed by https://github.com/mozilla/advocacy.mozilla.org/pull/121

[2016-03-25 18:26] alanmoo commented on #237
Then what is needed, somewhere to host the app?

[2016-03-25 19:29] alanmoo commented on #233
@HPaulJohnson  @lovegushwa  can you log in to share progress and check out the wrapper to make sure it's right?

[2016-03-25 20:20] lovegushwa commented on #235
@alanmoo this looks great. One minor tweak:

Can you push the signup fields down just a little so there is a little more space under "friends" ... Around the same amount of blue space between "select your country" and "first name."

An alternative to this is making the text are above a few pixels wider so "friends" is not all by it's lonesome.

![screen shot 2016-03-25 at 1 15 36 pm](https://cloud

[2016-03-25 20:25] lovegushwa commented on #235
@alanmoo while your at it one minor global change I have been wanting to make, it would be rad if the email icon was a little bit smaller in the circle (to optically march twitter and facebook). It wont take much.

Also can you change the "--" to an em dash in the video 3 description?

![screen shot 2016-03-25 at 1 21 12 pm](https://cloud.githubusercontent.com/assets/12228435/14053144/ac6240a4-f28

[2016-03-25 20:26] alanmoo commented on #235
Hmmm...I thought the `--` had been changed...wonder what happened there...

[2016-03-25 20:29] lovegushwa commented on #235
@alanmoo
Weird, just cleared my cache and tested in Safari (which I don't really use.) seeing the same --

[2016-03-25 20:34] alanmoo commented on #235
Are you looking at staging? That hasn't been deployed to prod yet, it's wrapped up in the same PR as all the rest of this.

[2016-03-25 20:35] alanmoo commented on #235
And by staging, I mean the dev server at https://lit-mountain-52009.herokuapp.com/encrypt/

(Which has these changes now too)

[2016-03-25 20:35] lovegushwa commented on #235
@alanmoo yeah that's the problem. cool

[2016-03-25 20:43] lovegushwa commented on #235
@alanmoo one last wish.
Was looking at the meta data and how the titles break in the playlist component. I think it would work / look better / be more constant if you move the meta data from below the video titles too above the titles. IE "episode 4" would sit above "Stand up for strong encryption"

![screen shot 2016-03-25 at 1 38 29 pm](https://cloud.githubusercontent.com/assets/12228435/1405355

[2016-03-25 20:49] alanmoo commented on #235
Done

[2016-03-25 22:02] lovegushwa commented on #235
@alanmoo this is a weird thing, were using the blue background color in the video behind the Mozilla logo and the ENCRYPT ident. We can't change the ENCRYPT ident, it was made by Agency at the start if the campaign and we don't have the aftereffets files so were locked into the blue color. Is it possible to place a tinny rule around the video player so when were using the brand blue, we don't get

[2016-03-26 04:01] lovegushwa commented on #239
Need a little more time for this, but coming very soon.

[2016-03-28 04:59] simonwex commented on #237
@Giorgio-Olivero could you post details on the server here? Is there a publicly-available repo? Have you done any load-testing?

[2016-03-28 13:34] alanmoo commented on #235
@lovegushwa  What color? White?

[2016-03-28 13:42] alanmoo commented on #235
<img width="1081" alt="screenshot 2016-03-28 09 41 03" src="https://cloud.githubusercontent.com/assets/1682681/14079113/3ffd4f64-f4c9-11e5-8d2b-344cd44f88e8.png">
This is a 25% opacity white, lmk if this is good.

[2016-03-28 16:01] HPaulJohnson commented on #233
@alanmoo looks good to me, thanks. I'll review with @lovegushwa this morning and close this upon his approval.

[2016-03-28 16:29] HPaulJohnson commented on #231
@alanmoo do you have the URL of where these images will be hosted. Need that to do some final testing on the Share Progress page/buttons.

[2016-03-28 16:32] alanmoo commented on #231
From Ali's PR linked above,

https://advocacy.mozilla.org/assets/img/share/Encryption-facebook-b5-06.png
https://advocacy.mozilla.org/assets/img/share/Encryption-twitter-b5-06.png

But they're not up at those URLs yet

[2016-03-28 17:20] natalieworth commented on #212
@lovegushwa @HPaulJohnson I have the gifs on the drive from last week:
Facebook(1200x630): https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0dXFhUzZlVzFaMW8&usp=drive_web&ddrp=1#
Twitter (1024x512): https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0c29BUW5UV01tclk&usp=drive_web&ddrp=1#
Let me know if any changes or additional gifs are needed and

[2016-03-28 17:45] lovegushwa commented on #238
@abusedmedia yes, please go ahead with your plan.

[2016-03-28 17:46] lovegushwa commented on #238
@abusedmedia yes!

[2016-03-28 17:55] lovegushwa commented on #237
@alanmoo @simonwex  This ticket is not about where we will host "Codemoji"

We basically just need to create a page when some one clicks on a little button in "Codemoji" that says "Learn more about encryption"... TODO needs a link like https://teach.mozilla.org/encryption ...
We develop content for this "Learn more about encryption"  page at a later date, but TODO needs a link now since were finis

[2016-03-28 17:57] lovegushwa commented on #235
@alanmoo ^ I'm cool with this! Just what we needed.

[2016-03-28 17:59] alanmoo commented on #237
Ah, got it. I don't see why using that URL (https://teach.mozilla.org/encryption) would be a problem, but maybe someone with more familiarity with that repo could confirm. @Pomax or @mmmavis maybe? Is that URL a reasonable one to set aside for the purpose @lovegushwa describes above?

[2016-03-28 18:07] lovegushwa commented on #240
@natalieworth can you take this on? ... Basically you will need screen shots of each video, we can probably grab the poster image for videos 1 and 2, but you will need to make new screenshots for videos 3 and 4. Just connect with @mmika to make sure she has everything.

@mmika do we have a launch date for this?

[2016-03-28 18:30] mmika commented on #240
Thank you @lovegushwa and @natalieworth -- no launch date yet.

PS -- not sure about the size for each still shot. -- @adamlofting thoughts?

[2016-03-28 19:02] mmmavis commented on #237
yea https://teach.mozilla.org/encryption should be fine (cc @hannahkane in case there's already a plan about reserving this url for other purposes)

@lovegushwa

Is there a deadline for developing the "Learn more about encryption" page on Teach site?

[2016-03-28 19:05] hannahkane commented on #237
I don't know of any plans to use teach.m.o/encryption for anything else.

[2016-03-28 20:48] #207 closed

[2016-03-28 20:51] lovegushwa commented on #233
@HPaulJohnson hey I'm cool with the design, it might be good to tweak the copy above the share image so folks know what they are seeing (the share graphic) is what we're asking them to share.

[2016-03-28 20:51] #233 closed

[2016-03-28 21:55] natalieworth commented on #230
hey @KevZawacki, when are you needing these illustrations by? Jordan and I have started a moodboard here: https://www.pinterest.com/nataliejworth/editorial-illustration/ and are working on them this afternoon, but wasn't sure if you were needing these asap?

[2016-03-28 22:00] brettgaylor commented on #237
Can we use teach.m.o/codemoji?

we’ve tried not to frame this as “encryption” for a few reasons - we don’t want users to think they can safely secure their messages with the app

[2016-03-28 22:52] mmmavis commented on #237
works for me!

[2016-03-28 23:01] natalieworth commented on #240
I can help out with this! I'll just need to know resolutions and can then assist :)

[2016-03-29 08:11] abusedmedia opened #242 "Analytics in Codemoji"
We are very interested in monitoring how people are going to use Codemoji.
We've already conducted focused user tests with the prototype but we'd like to extend them with more data.
For that reason we're asking whether is possible to add a gAnalytics tracker within the app, I know you've already used it on Advocacy website therefore, it shouldn't be an issue.
A great possibility would be to create

[2016-03-29 09:27] adamlofting commented on #240
There's not a precise size needed, but about 250px wide will work fine.

[2016-03-29 11:43] KevZawacki commented on #230
Hi @natalieworth, these illustrations definitely aren't a P1 -- Paul and I aren't anticipating publishing for another couple weeks, at least. We'll likely end up using the blog / illustrations alongside Codemoji.

Really dig the mood board, btw!

[2016-03-29 14:38] #231 closed

[2016-03-29 15:37] #226 closed

[2016-03-29 15:37] #234 closed

[2016-03-29 15:37] #235 closed

[2016-03-29 18:27] lovegushwa commented on #237
@mmmavis @brettgaylor just to clarify. We're not talking about where we host the product, this thread is about a deeper dive encryption page that we need a link for in the on boarding experience (see above.) I'll create a another icket for hosting the product on teach.

Let's go with https://teach.mozilla.org/encryption for this encryption information page.
(and we can host product on https://teac

[2016-03-29 18:42] valianttry commented on #236
perhaps a stupid Q, but why aren't we using mzl.la/?

[2016-03-29 18:53] lovegushwa commented on #236
@valianttry that's a good question! mzl.la is not set up to handle the volume of traffic we're going to hopefully have. CC @simonwex

[2016-03-29 19:31] HPaulJohnson commented on #236
@lovegushwa - assuming mzl.la doesn't work, bit.ly works for me as the sharable link url.

[2016-03-29 19:52] lovegushwa commented on #236
@simonwex we should be good to move ahead with bit.ly

[2016-03-29 21:45] HPaulJohnson opened #243 "New share buttons for post-pledge modal"
@alanmoo here's the code for the post-pledge modal for our SP test:

twitter:  sp_164042 sp_tw_small

facebook: sp_164043 sp_fb_small

email: sp_164044 sp_em_small

[2016-03-29 22:45] #232 closed

[2016-03-29 23:21] #243 closed

[2016-03-29 23:41] lovegushwa commented on #237
@Giorgio-Olivero @abusedmedia @michellenebiolo here are the external links you need:

Legal: https://www.mozilla.org/en-US/about/legal/
Privacy notice: https://www.mozilla.org/en-US/privacy/websites/
Learn more about encryption: https://teach.mozilla.org/encryption

[2016-03-30 03:09] HPaulJohnson commented on #212
@lovegushwa pasting the social assets you emailed this evening here so everything's in one place and closing this one out.

GIFS:
https://drive.google.com/folderview?id=0B2qu3ExKWIlvSTdKeGQzcGRxUTg&usp=sharing

Facebook:
https://drive.google.com/folderview?id=0B2qu3ExKWIlvWGppelBuUWVsUHc&usp=sharing

Twitter:
https://drive.google.com/folderview?id=0B2qu3ExKWIlvNHZPcTBqTEc1RjQ&usp=sharing

Video (c

[2016-03-30 03:09] #212 closed

[2016-03-30 03:11] HPaulJohnson commented on #233
Thanks to some great work by @alanmoo this is good to go. With Beat 5 we'll be A/B testing Share Progress buttons embedded in a modal post-pledge signing vs. Redirecting to a Share Progress share page.

[2016-03-30 14:25] Giorgio-Olivero commented on #237
thanks @lovegushwa

[2016-03-30 15:50] alanmoo commented on #225
Great, closing as this is on staging.

[2016-03-30 15:50] #225 closed

[2016-03-30 15:52] #224 closed

[2016-03-30 18:01] mmmavis commented on #237
@lovegushwa yea both https://teach.mozilla.org/encryption and https://teach.mozilla.org/codemoji work. Note that they'll be remain 404 until we put something there.

[2016-03-30 20:10] valianttry opened #244 "Minor text changes to pledge page: Needs to be clearer it's an email signup"
I have concerns the language on the pledge page doesn't make it abundantly clear that people are signing up to receive future email. (Channeling Marshal and compliance here.) I propose a few minor tweaks:

OLD TEXT:
_Let us know what country you’re in so if debates are happening in your country we can email you the most relevant updates. We’ll also send you useful tips about how to use encryption

[2016-03-30 20:29] alanmoo commented on #244
Check https://lit-mountain-52009.herokuapp.com/encrypt/hybrid/4 and https://lit-mountain-52009.herokuapp.com/encrypt/hybrid/4 those look right?

[2016-03-30 20:42] KevZawacki commented on #244
More clarity is definitely a good thing here. Changes look great, @valianttry.

[2016-03-30 20:43] alanmoo commented on #244
@KevZawacki so I can merge them in?

[2016-03-30 20:45] KevZawacki commented on #244
@alanmoo Yep, let's do it.

[2016-03-30 20:50] #244 closed

[2016-03-30 21:14] mmika commented on #240
@natalieworth upping this

[2016-03-30 21:16] natalieworth commented on #240
I posted the 4 video screenshots on the drive here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0THE5MmNPQ2RYckk&usp=drive_web&ddrp=1#
I have exported each at 250px x 150px and then also 500px x 300px (as the 250px seemed a bit low resolution on my retina display). Let me know if these work or if any additional sizes are needed :)
@lovegushwa @mmika @adamlofting

[2016-03-30 21:18] mmika opened #245 "Design+Email: update email templates based on Q1 learnings"
@valianttry @shaghdoosti @stephaniemcv @lovegushwa @natalieworth
Let's discuss!

[2016-03-30 21:19] mmika commented on #240
@natalieworth Thank you!:)

[2016-03-30 21:44] natalieworth commented on #245
I've been working on auditing the previous emails and templates that have been designed for Foundation emails. This document may help https://docs.google.com/presentation/d/1J5Ein_yp-6tCkScDqEERQ7ZmfVnSI6gNjVYGbCFHy6M/edit#slide=id.p It would be great to have a template for future fundraising too

[2016-03-30 22:11] brettgaylor opened #246 "We need a favicon"
The main advocacy site has the mozilla favicon, we should just use this
https://advocacy.mozilla.org/

Alan, though you might be best suited for this non critical thing :)

[2016-03-30 23:14] lovegushwa commented on #206
@stephaniemcv I did not see my name, but mail was pre-populated. Could be my name is not in the database? ... or perhaps the form auto fills with email?

![screen shot 2016-03-30 at 4 10 45 pm](https://cloud.githubusercontent.com/assets/12228435/14160637/5dc4dcae-f692-11e5-82f6-9a86e478ba7c.png)

Shows I added my name and "Qatar" before submitting.
![screen shot 2016-03-30 at 4 11 05 pm](https://c

[2016-03-30 23:33] natalieworth commented on #206
@stephaniemcv Mine email was also pre-populated like Jordan's. I also selected 'Canada' as my country.

[2016-03-30 23:38] stephaniemcv commented on #206
@lovegushwa @natalieworth  Country info passed through! Yay!
And name will not populate, just email address, we didn't want to look too creepy.

[2016-03-30 23:54] brettgaylor commented on #206
I signed up , Canada, brett@mozillafoundation.org

[2016-03-31 00:08] stephaniemcv commented on #206
@brettgaylor Country info success!

[2016-03-31 00:21] #221 closed

[2016-03-31 00:22] #228 closed

[2016-03-31 00:23] HPaulJohnson commented on #230
+1 to @KevZawacki - I think we will use this as part of our ongoing promotion, especially in parallel with code-moji. Not a p1 and I'm going to remove Beat 5 label.

[2016-03-31 01:10] alanmoo commented on #246
I don't see a favicon on advocacy...

[2016-03-31 01:21] brettgaylor commented on #246
![image](https://cloud.githubusercontent.com/assets/345974/14162796/20f98f7e-f6a4-11e5-8ff0-f8f473cc2b6d.png)

i see just the "M", do you?

[2016-03-31 02:50] valianttry commented on #206
@stephaniemcv I selected United States -- email of record is andrea@mozillafoundation.org and it auto-populated.

THIS IS SO HIGH TECH WE'RE AWESOME :tada:

[2016-03-31 02:53] valianttry commented on #206
@stephaniemcv just noticed that the URL text appears to be a smaller font than the rest of the email:

![_test_the_good_news_about_encryption_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/14164084/1975c5c6-f6b1-11e5-9bbb-113fc099e562.png)

[2016-03-31 11:55] KevZawacki commented on #206
Email looks great! Tiny tweak: We should capitalize "web" in the P.S.

I signed up: kevin@mozillafoundation.org, Zimbabwe.

[2016-03-31 12:46] #246 closed

[2016-03-31 14:31] stephaniemcv commented on #206
@valianttry Country info confirmed! I bumped up the url font size by a point.

@KevZawacki Country info confirmed and "web" is now "Web"

[2016-03-31 17:33] lovegushwa commented on #237
Thanks @mmmavis !

[2016-03-31 17:33] #237 closed

[2016-03-31 17:35] lovegushwa commented on #236
@simonwex looks like we can move ahead with bit.ly
CC @Giorgio-Olivero @abusedmedia @michellenebiolo

[2016-03-31 17:36] lovegushwa commented on #238
@Giorgio-Olivero @michellenebiolo @abusedmedia looks like this ticket is good to close.

[2016-03-31 17:36] #238 closed

[2016-03-31 22:05] natalieworth commented on #240
@mmika Closing this ticket but let me know if there is anything else that you need design-wise :+1:

[2016-03-31 22:05] #240 closed

[2016-04-01 14:21] KevZawacki commented on #32
Majority of beat 5 pitching took place Thursday, March 31. ([Here's one of the stories it garnered](http://www.trustedreviews.com/news/mozilla-wants-your-help-to-save-the-internet).)

We'll continue to pitch press around encryption for the next several months, but this marks the end of beat-specific pitching. :boom:

[2016-04-01 14:21] #32 closed

[2016-04-01 16:48] HPaulJohnson commented on #208
@valianttry - a question came up during today's standup on this. Did this happen and/or is there anything else that needs to happen while you are on PTO?

[2016-04-04 17:12] lovegushwa opened #247 "Advocacy Q1 Review - Design deep dive"
Work with @HPaulJohnson and @KevZawacki  to develop campaign creative narrative for Q1 review deck.

[2016-04-04 17:14] lovegushwa opened #248 "Copyright* poster - internal comms"
Let's get the really rad creative work we're doing in offices!
@natalieworth work with @KevZawacki to develop a headline and some lettering treatments for a poster.

[2016-04-04 18:28] natalieworth commented on #245
Going to assign myself to this just so I don't miss it while @lovegushwa is in Toronto. @mmika What's the timeline for this?

[2016-04-04 18:56] KevZawacki commented on #248
@natalieworth If you can share a rough idea of what the poster will look like / length of text required, I can start putting together some copy.

[2016-04-04 19:00] natalieworth commented on #248
@KevZawacki Sounds good, I'll put together some rough ideas and benchmark a few things and post here, thanks

[2016-04-04 22:03] lovegushwa commented on #245
@natalieworth @mmika so we went though this process in early January here:
https://github.com/MozillaFoundation/encryption_campaign/issues/39

I suggest we change the title of this ticket to something like
Design+Email: update email templates based on Q1 learnings

We should find out as much as we can from @stephaniemcv about any tests that were run, what templates are currently in use, and any ne

[2016-04-04 22:08] lovegushwa commented on #245
Also want I want to make sure this is something we need? @valianttry @shaghdoosti will have strong feelings about what's worked and what to try next.

I can see the need to design a update your software or install and use this product template for example.

[2016-04-04 23:34] shaghdoosti opened #249 "New Email Calendar"
Hey everyone --

Here is our revised email calendar:

Week of April 4: Kicker for Beat 5

Week of April 11: Survey

Week of April 18: Update Software email

Week of April 25: Fundraiser

Week of May 2: FileVault test email

@stephaniemcv

[2016-04-04 23:37] shaghdoosti commented on #245
Would love to jam on this and I do want to test different templates over a longer period to get a sense of what's working.

Just as an FYI here is our latest email calendar: https://github.com/MozillaFoundation/encryption_campaign/issues/249

[2016-04-04 23:50] lovegushwa commented on #239
@Giorgio-Olivero
Here is a proposed revision of the identity:

<img width="848" alt="screen shot 2016-04-04 at 3 57 02 pm" src="https://cloud.githubusercontent.com/assets/12228435/14267321/56e5027e-fa84-11e5-86eb-5d6f06467397.png">

<img width="1170" alt="screen shot 2016-04-04 at 3 57 42 pm" src="https://cloud.githubusercontent.com/assets/12228435/14267330/5bf81f9e-fa84-11e5-955c-d891fafbf988.png

[2016-04-04 23:56] lovegushwa commented on #239
@Giorgio-Olivero @michellenebiolo @abusedmedia
We could animate the logo by rotating through different face expression emoji, similar to the on boarding.
We could choose maybe 5 different expressions as possible final states of the animation.

<img width="904" alt="screen shot 2016-04-04 at 4 27 40 pm" src="https://cloud.githubusercontent.com/assets/12228435/14267521/f006989a-fa85-11e5-958f-afea7d

[2016-04-05 00:16] lovegushwa opened #250 "Finalize and hand off "Codemoji""
Let's get this Codemoji project wrapped up and ready for public use (yay!)

Mozilla people:
@simonwex figure out technical side of this hand-off
@HPaulJohnson confirm where exactly we want this to live, and when we need it by
@OpenMatt work with TODO on final contract things

TODO:
@Giorgio-Olivero @abusedmedia @michellenebiolo
- Make final copy changes
- Update the logo
- Confirm both string of e

[2016-04-05 00:38] shaghdoosti opened #251 "Debrief, evaluations and reviews"
Hey everyone --

I wanted to make a list of the things we're trying to ship by the end of the month. These are the projects and who I'm assuming is leading them -- if there's others to add or a mistake please flag.

Key outline of narrative for the advocacy program review -- @OpenMatt facilitating.

Update business plan -- Sara facilitating

Playbook -- Sara, @KevZawacki and Maryam facilitating.

[2016-04-05 14:43] #206 closed

[2016-04-05 14:52] stephaniemcv commented on #249
Updated the MOFO Email Calendar to these dates

[2016-04-05 15:55] shaghdoosti opened #252 "General Data Questions --"
Some questions I think people will ask during the review:

Which video had the most shares?
Which video had the most views?
Which subject line won?
Which email had the highest click through rate?
Did our open rates and CTR get higher with each email or did they fluctuate?
Did views of our videos get higher with each beat or did they fluctuate?
Did shares of our videos get higher with each beat or

[2016-04-05 16:57] brettgaylor commented on #252
I think the P1 in this list is "active advocates", ie our KPI for the campaign.  How many people took a repeated action?

[2016-04-05 17:39] shaghdoosti commented on #251
We also need to create a best practices guide -- I think that's a version of the playbook though.

[2016-04-05 18:31] natalieworth commented on #248
Hey @KevZawacki , I've got a couple rough ideas here that I'm hoping to try. I think in terms of content, 2 will be a bit shorter and then the 3rd a little longer (maybe 3-4 sentences). Here are the 3 concepts I've narrowed down to explore first (although I'm sure once I have approved content from you, I'll be able to try out a variety of options with the posters). I've posted a couple examples be

[2016-04-05 18:32] natalieworth commented on #248
@KevZawacki Sorry, the sketches are upside down, but if you click on them they flip around

[2016-04-05 19:39] KevZawacki commented on #248
@natalieworth Awesome sketches and benchmarks! Can't wait to see Crypty dotting the walls of Mozilla offices.

Some copy ideas, which correspond to your suggested content above:
1. Encryption (can't do much variation here :smile:)

2a. Encryption Power! Encryption makes the Web a safer place
2b. Encryption Power! Encryption is good for you (and the Internet)
2c. Encryption Power! Keeping your priv

[2016-04-05 20:24] natalieworth commented on #248
@KevZawacki Thanks! This is perfect!

[2016-04-05 21:09] stephaniemcv commented on #252
**Which subject line won?**
Highest Open Rate was Beat 3 - Can you read this message? at 46.51%. This higher rate is probably due to the fact that this was the first email after our deliverability issue and we had a very tight audience criteria of (All Active Advocates and General Foundation List subscribers from EN countries, who Opened Beat 1 or Kicker 1 or Beat 2)

**Which email had the highest

[2016-04-05 21:59] stephaniemcv commented on #245
The main test we did over the campaign was Beat 2 and one of the main takeaways of that was that people seemed to click buttons more.

https://fundraising.mozilla.org/encryption-campaign-testing-email-design/

I would love to do a similar test, older style template vs newer style. I'd like to see if the data replicates, if the new one gets more clicks, but the older one gets more action.

[2016-04-06 09:51] jgmac1106 opened #253 "Tags on the Encryption Medium Posts"
The tags on the medium for the encryption campaign are usually: security, privacy, and encryption. One of the three tags should be Mozilla. There are people who have been following the tag for sometime and they will not get the articles in their feed.

[2016-04-06 13:18] michellenebiolo commented on #250
Hi everyone, some feedback and updates on our task list.

**Make final copy changes:**
- We suggested a few edits on [your deck](https://docs.google.com/presentation/d/1gtyRuMikSPCh5o3zHFgjJvbPk07BHo616U8lcTpwl6g/edit#slide=id.g1271bc7a07_4_12) and received final feedback on one (for which we are implementing the final version as provided).
  Are the remaining edits accepted or rejected?
- The dec

[2016-04-06 15:44] abusedmedia commented on #250
About the shortner, we're awaiting feedback from @simonwex since we need the endpoint service that can be used client-side (making an ajax request). Once the endpoint has been set up, we'll able to complete the integration and testing in about a working day.

[2016-04-06 17:26] HPaulJohnson commented on #253
Thanks for the tip @jgmac1106. I've added "Mozilla" tags to these posts.

[2016-04-06 17:26] #253 closed

[2016-04-06 22:34] HPaulJohnson commented on #252
@shaghdoosti @brettgaylor @stephaniemcv @adamlofting Looking at our active advocates goal and where we are at based on these numbers, I'm wondering if there are optimizations needed between now and when we send the kicker email. Here's how the email funnel looks from what I can tell and where we might be able to optimize quickly:
- Emails delivered: 395K in beat 5, the lowest of any of the beats.

[2016-04-06 23:17] HPaulJohnson commented on #252
@shaghdoosti re: your other data questions:
- _Which video had the most shares?_

Video 1, with 18K views; video 2 was close behind with 14K; videos 3 & 4 have ~5K each. This is largely a function of overall reach and video views. Videos 1 & 2 benefited from the snippet and much larger email audiences. In terms of share rate (shares/video views), video 4 is far outperforming other beats.
- _Which

[2016-04-07 03:30] lovegushwa commented on #250
@HPaulJohnson can you review this Codemoji share copy?

From TODO
We are suggesting [this copy for the pre-defined texts when sharing](https://docs.google.com/document/d/1pihz1MtYkzeUjcRGa58w7GEeJZj8MFnc-nYobpbqenA/edit) Codemoji.
Please comment or provide final copy so we can implement it.

[2016-04-07 04:09] lovegushwa commented on #250
@shaghdoosti can you confirm this copy? (email list variant of the app)

From TODO
If you still plan on sending an email with a scrambled message etc., please check these too. **You need to check these on [the spreadsheet](https://docs.google.com/spreadsheets/d/1STrOHP3L2VmxmBqjIc3PPbJn0-tq5Qu2gOCgFTtXK_o/edit#gid=298121543), cells L67 and L82.**

[2016-04-07 04:24] lovegushwa commented on #250
@shaghdoosti can you do final sign off on the deck here? I confirmed the changes we made last week and added the mobile views that need one last look.

https://docs.google.com/presentation/d/1gtyRuMikSPCh5o3zHFgjJvbPk07BHo616U8lcTpwl6g/edit#slide=id.g1271bc7a07_0_34

[2016-04-07 04:32] lovegushwa commented on #250
@michellenebiolo

Regarding:
- We are waiting on copy from you for the “Learn more” page ( #219 ).

You should not need any content from us. We will build the "Learn more" page at a later date.
Just be sure to link to https://teach.mozilla.org/encryption and we can take care of the content.

[2016-04-07 04:38] lovegushwa commented on #250
@michellenebiolo

Regarding:
- We are suggesting [this copy for the pre-defined texts when sharing](https://docs.google.com/document/d/1pihz1MtYkzeUjcRGa58w7GEeJZj8MFnc-nYobpbqenA/edit) Codemoji.
  Please comment or provide final copy so we can implement it.

Credits content looks great. Let's go ahead with what TODO is proposing.

[2016-04-07 04:39] lovegushwa commented on #239
Traveling but will try and post final artwork tomorrow.

[2016-04-07 13:48] shaghdoosti commented on #250
@lovegushwa the copy in the deck looks good to me.

[2016-04-07 21:50] natalieworth commented on #247
@HPaulJohnson @lovegushwa I have the first 4 draft images for the beat 1-4 deep dive. I'm working right now in illustrator and then can update on the google drive when approved:
![q1_presentation_v1-01](https://cloud.githubusercontent.com/assets/14876567/14367750/ad98d6da-fcce-11e5-8081-799eff6f3c71.png)
![q1_presentation_v1-02](https://cloud.githubusercontent.com/assets/14876567/14367751/adaaf34c

[2016-04-07 22:24] natalieworth commented on #247
@HPaulJohnson @KevZawacki If we have any additional data to add too (I could create some infographics with it, e.g. Andrea's note on slide 18: https://docs.google.com/presentation/d/1To4q_1tKRGWRmWIqYbfGpBnV6nUtlqEgEwIl-xE2_-M/edit#slide=id.g128098145d_2_6

[2016-04-07 22:47] HPaulJohnson commented on #250
@lovegushwa added comments to the doc for social share language. Some small tweaks but largely good. Generally speaking, we really need to get the emoji-message into the post/tweet/email as that's the whole fun of the thing.

[2016-04-07 22:54] lovegushwa commented on #248
@natalieworth this is great benchmarking.
I think the image below is the right direction (more of a graphic poster and less of an explainer info-graphic.) ... I like the shorter more open ended headlines.

I do really like ... "Who uses encryption, anyway? Only journalists, whistleblowers, activists, and everyone who banks, shops, and communicates online." ... Also -- "I want YOU! to encrypt your

[2016-04-07 23:46] shaghdoosti commented on #250
@lovegushwa looked at the spreadsheet too -- all looks good to me.

[2016-04-08 11:07] michellenebiolo commented on #250
Hi! All good except sharing copy: I replied to @HPaulJohnson's [comment in the file](https://docs.google.com/document/d/1pihz1MtYkzeUjcRGa58w7GEeJZj8MFnc-nYobpbqenA/edit).
Unfortunately we need to work around some technical limitations as regards both posting generated content and copy length. Please let me know if you have further suggestions so we can solve this.

[2016-04-08 16:45] brettgaylor opened #254 "Create new design variants for landing page"

[2016-04-08 17:11] brettgaylor commented on #254
Redesign hybrid page with the following variants
1) Focus the campaign ask, simplify the language, play down the country field
2) "Take the pledge" button prominent, video present, ask users to fill in country field in a subsequent page
3) Remove video, focus only on "take the pledge" ask

[2016-04-09 00:35] HPaulJohnson commented on #254
Sorry to be replying late. To recap our discussion from earlier today on how to proceed:
- Given lack of dev resources (and time) we will simplify tweaks and shelve some of the more design/dev solutions above for testing in future campaign. Specifically, # 2 above is out of scope. # 3 will also be saved for a future as it's not something we are comfortable without testing into it.
- We'll focus on

[2016-04-11 19:32] lovegushwa commented on #254
@HPaulJohnson @brettgaylor @shaghdoosti

I set up a collaborative wire-framing doc here:
https://docs.google.com/a/mozilla.com/presentation/d/1CX7XeOyFhbBo0RLIOHvz4fwU0ZZQgqm0Pu6j7bpYHIk/edit?usp=sharing

A few notes:
- I think this is more of a UX problem than a copy problem. People may read email, but they scan pages.
- page 5 cuts down on the copy, placing the content on the left and video on t

[2016-04-12 07:18] michellenebiolo commented on #250
Hi @lovegushwa, do you have a deadline for us?
The only bits missing should be:
- final edit on the Facebook card pre-set text
- link shortner endpoint set up by @simonwex
  (+ logo that is being finalized in another thread)

[2016-04-12 08:41] lovegushwa commented on #239
@Giorgio-Olivero @michellenebiolo @abusedmedia

Sorry about the wait on this, Final logo artwork here:
https://drive.google.com/file/d/0B2qu3ExKWIlvRGRwMU1aTVhicGs/view?usp=sharing

[2016-04-12 08:44] lovegushwa commented on #250
@michellenebiolo I would like to hand off in the next day or two.
- I updated the logo ticket.
- @HPaulJohnson @simonwex can you look at @michellenebiolo last comment so we can close this project and hand off?

[2016-04-12 08:46] lovegushwa commented on #250
@michellenebiolo if not difficult, I would like to change the footer on the desktop version so it looks like this:

<img width="848" alt="56e5027e-fa84-11e5-86eb-5d6f06467397" src="https://cloud.githubusercontent.com/assets/12228435/14454606/46595d98-0050-11e6-8078-7dcc8d1bc255.png">

[2016-04-12 19:56] HPaulJohnson commented on #250
@michellenebiolo thanks for the feedback in the doc re: what's possible to post on a user's FB wall. Given that, I think the original text you suggested works fine.

[2016-04-13 15:54] lovegushwa commented on #254
@ScottDowne can we work together on updating the Advocacy hybrid landing page? We need to wrap it up by mid day tomorrow if possible.
https://advocacy.mozilla.org/encrypt/hybrid/4

Basically the form is not converting well, our hunch is folks might think they are opting into a new email list OR the same list again. So we're clarifying the CTA by updating copy, form should be pre-populated with Nam

[2016-04-13 20:45] cadecairos commented on #250
@HPaulJohnson I've got a bit.ly account set up, but I need to know exactly what method codemoji will use to generate short links, so I can get the right credentials to the right people (OAuth or API Key). Who can we ask about this?

[2016-04-13 20:57] lovegushwa commented on #250
@abusedmedia @michellenebiolo please see @cadecairos question above ^

[2016-04-13 22:31] stephaniemcv commented on #254
This comment is more for posterity than anything, but @shaghdoosti and I agreed that something that would have been good to test is the button copy. "Update my information" because that's the action we want them to take versus something like, "Yes, I want to be an Encryption Champion!"

[2016-04-14 09:04] abusedmedia commented on #250
Hi @cadecairos

Codemoji is a front-end app therefore it can only make an ajax request to some endpoint in order to get a short url (providing a longer one as param).

I don't think it's a good idea to put credentials or OAuth' secrets into the front-end app to call bit.ly endpoint directly (for security reasons).
It would be better to use some backend middleware that would act as a bridge (keepin

[2016-04-14 15:12] ScottDowne commented on #254
Copy changes are on staging. https://advocacy-mozilla-org-staging.herokuapp.com/encrypt/hybrid/4

We can push that to prod after it checks out.

There was a build issue last night so I couldn't get it up until this morning. It was a unique situation and shouldn't happen again.

Leaving this open because I knew there were some other things that could be done here.

[2016-04-14 17:06] stephaniemcv commented on #254
@ScottDowne
The information flyout box, it looks like there is spaces missing after the periods. Other than that, looks good.

[2016-04-14 19:25] ScottDowne commented on #254
@stephaniemcv what is an information flyout box?

[2016-04-20 19:42] ScottDowne commented on #236
@cadecairos @simonwex this should do it. https://github.com/ScottDowne/bitly-secret-service

Still needs to go up to Heroku and probably be moved to https://github.com/mozilla/bitly-secret-service

[2016-04-20 19:43] stephaniemcv opened #255 "Post Survey Emails in layout review"
One survey is for the random 100K group we surveyed at the beginning at the campaign.
One survey is for everyone else.

Please review the email copy, test the link and survey and note any feedback in this ticket.

[2016-04-20 19:44] ScottDowne commented on #236
Actually, I'm going to adds some docs in the readme for the envs.

[2016-04-20 19:45] cadecairos commented on #236
:tada: Thanks for the quick turn-around!

[2016-04-20 19:47] cadecairos commented on #236
Can you start the transfer to mozilla?

I'll set up a Heroku app.

[2016-04-20 19:53] cadecairos commented on #236
@lovegushwa Exactly what kind of traffic are we looking at here?

[2016-04-20 20:37] brettgaylor commented on #255
Got it!  When I responded I got an email from "askjoin".  seems legacy - possible to join?

[2016-04-20 20:58] stephaniemcv commented on #255
Totally legacy. I believe it was a mailing list at one point? I'm a little fuzzy on the history of it. It's on my list to get us setup on something less confusing, like join. Fundraising has "donate", we should have something clear too.

[2016-04-20 21:10] brettgaylor commented on #255
We used to call our mailing list efforts "Join Mozilla"

[2016-04-21 22:29] #255 closed

[2016-04-22 17:49] lovegushwa opened #256 "Text imput fails to load bug"
@Giorgio-Olivero @abusedmedia @michellenebiolo

We found a bug when hitting the "got it" button during the first on boarding screen animation.
@ScottDowne will add details here.

[2016-04-22 17:51] brettgaylor opened #257 "Chrome bug on landing page for decryption"
When I receive a message to decrypt, the button to proceed back into the tool is pushed too far down the page in chrome:
![image](https://cloud.githubusercontent.com/assets/345974/14750134/1353fe28-0878-11e6-9065-401ef714fdaa.png)

[2016-04-22 17:57] ScottDowne commented on #256
I can make this happen in firefox 45 on windows 10 and el capitan

Steps to reproduce:
1. Open http://el.s.todo.to.it/cryptoloji/1135 in a private tab
2. Click "Let's get going" as soon as you can
3. Click "Got it" as soon as you can

Expected: Three panels, and the left can accept input and says "Write your message here."
Actual: Left panel doesn't display "Write your message here." and visually

[2016-04-22 17:58] ScottDowne commented on #256
Here is a screen shot.

![screenshot from 2016-04-22 13-12-19](https://cloud.githubusercontent.com/assets/197334/14750333/43bb5ff6-0892-11e6-9d0f-ecfa49e8c00c.png)

[2016-04-22 18:02] abusedmedia commented on #256
Hi @ScottDowne
We are currently testing on the built version posted here:
http://todotoit.github.io/codemoji/

Can you confirm the same issue on that version?

many thanks

[2016-04-22 18:04] ScottDowne commented on #256
@abusedmedia Yup, I can confirm same issue happening with http://todotoit.github.io/codemoji/

[2016-04-23 18:38] lovegushwa opened #258 "UX decode confusion"
@Giorgio-Olivero @brettgaylor
We have been testing the UX flow with friends and colleagues.

A common misconception is users are supposed to choose a emoji from the scrambled message on the left, and after they try them all and it does not work they think the app is broken ...

We need to clarify that the emoji key could be any emoji in the center panel not just one of the emoji seen on the left u

[2016-04-26 20:31] abusedmedia commented on #257
Hi @brettgaylor
It should be fixed now (current link is [http://todotoit.github.io/codemoji](http://todotoit.github.io/codemoji) )

[2016-04-26 20:45] abusedmedia commented on #256
We've investigated a lot and we've ended up on a workaround (delaying the fade-in of the 'got it' button) since we cannot fix it in a proper way without making core changes on the app.

The reason of the issue, apparently, rely on the combination of a Firefox known bug with how the animation library we are using handles that bug. Here the reference of our finding:

https://bugzilla.mozilla.org/sho

[2016-04-27 15:29] ScottDowne commented on #236
Currently it's live here: https://bitly-secret-service.herokuapp.com/generate/

It'll also live here soon: https://bitly.mofoprod.net/generate/

Instructions to use it:

Example usage:

[code]

Should return a bitly link, example: http://bit.ly/1YTJo9D

[2016-04-27 15:34] ScottDowne commented on #250
Updated https://github.com/MozillaFoundation/encryption_campaign/issues/236 with details about using the link shortener.

[2016-04-27 15:57] ScottDowne opened #259 "Resizing codemoji window causes loading state and it doesn't seem to load"
@lovegushwa

Not sure how critical this is. Probably not super critical, because a refresh fixes it. Happening in firefox 46.

Steps to reproduce:

1. Open http://todotoit.github.io/codemoji/#/encrypt in firefox with a browser window that's more than 1023px wide. Full screen should be more than enough width.
2. Resize to less than 1024px. Or just resize the width until you see the loading image.

[2016-04-27 16:22] cadecairos commented on #236
https://bitly.mofoprod.net is live, and is the preferred endpoint, since it'll use Mofo SSL instead of Heroku.

The site will instruct browsers to only let `https://teach.mozilla.org` hit the endpoint (using CORS headers) and also limits requests to 20/minute/IP which mean's any given user should be able to use the shortener without any problems, assuming they aren't sending more than one request

[2016-04-27 17:25] ScottDowne commented on #256
Hey @abusedmedia

That helps a bit, but still kinda happening if I click "got it" during step two.

Based on the links above you provided, sounds like the issue is using tweenlite on an svg that's not in the DOM, correct? If so, i'm curious which svg? Possible to add it to the DOM and hide it while applying the animation? Thoughts?

[2016-04-28 08:44] abusedmedia commented on #256
I see, we need to figure out a better workaround.

About your question, all the DOM elements are present on app at loaded time.
There are not any DOM manipulations at run-time (in terms of adding/removing nodes) but only CSS props transformation through TweenLite.

Our suspect is that Firefox throw an error trying to calculate the getBBox of a svg element that exists in the DOM but is invisible (o

[2016-04-28 08:46] abusedmedia commented on #236
Hey @cadecairos can you white-list http://todotoit.github.io/codemoji/?  This way we can test quickly and allows other to use the app properly.
Thanks

[2016-04-28 11:01] ScottDowne commented on #256
Does height/width 0 overflow hidden do the trick and not trigger the bug?

[2016-04-28 16:34] #257 closed

[2016-04-28 16:57] cadecairos commented on #236
@abusedmedia `http://todotoit.github.io` is now the allowed origin for the endpoint, sorry for the delay!

[2016-04-28 17:32] ScottDowne commented on #259
@abusedmedia Thoughts?

[2016-04-28 17:33] cadecairos opened #260 "Typing into message input box as soon as page loads causes browser to lock (using Firefox with Multi-process enabled)"
I'm using Firefox 49 on Linux

STR:
1. load up http://todotoit.github.io/codemoji/#/encrypt
2. As soon as you can see it, click the message input area and type something in

The app should lock up for a while...

[2016-04-28 17:44] cadecairos commented on #260
Update: this only affects Firefox when it's using e10s (Multi-process)

[2016-04-28 17:51] abusedmedia commented on #259
we'll have a look..

[2016-04-28 20:56] brettgaylor commented on #250
Notes from Toronto meeting:
@lovegushwa @ScottDowne
MAKE HINT IDEA MORE PROMIMENT
-in all share messages - email, twitter, FB
-in the email itself
-add animation/call attention to hint

ADD USER FEEDBACK TO DESK

ADD GOOGLE ANALYTICS
-events - click “share”

[2016-04-28 21:32] ScottDowne opened #261 "analytics on codemoji"
We need to setup/ensure the metrics for http://todotoit.github.io/codemoji/#/encrypt are working.

Looks like GA exists on the page, but I doubt it has the proper id. Not sure what else could go wrong.

Also, we want to setup some events for various actions for the process.

@adamlofting

[2016-04-28 21:33] ScottDowne commented on #261
and cc @valianttry

[2016-04-29 07:24] abusedmedia commented on #261
Hi @ScottDowne
We've already implemented GA, asked before in #242.

Actually it records each major state change (landing, onboarding, encrypt, etc) as page-visit and each action (specific button clicked) as event as well as the user pick the right/wrong emoji on decrypt page.

Let me know if you're thinking something else.

[2016-04-29 07:28] abusedmedia commented on #236
Thanks, now it's using the shortener. We need to add a little loader to streamline the ux of that detail, though.

[2016-04-29 08:37] adamlofting commented on #261
We'll need to do this through a Mozilla GA account as part of our data practices.

I can request a new profile to track this, but first need to know what domain / subdomain is this going to be hosted on?

[2016-04-29 13:44] abusedmedia commented on #261
No problem to replace the GA id property with another provided by you.
Do you think we could have access to that property in order to monitor the user behaviour?

[2016-04-29 14:25] ScottDowne commented on #261
I'm going to close this as a dupe of #242 and we should move discussion there too.

[2016-04-29 14:25] #261 closed

[2016-04-29 14:28] ScottDowne commented on #242
@adamlofting So can we setup metrics in a way that gives both mozilla and todo access to the metrics in a way that fits with our privacy concerns?

cc @valianttry

[2016-04-29 14:31] ScottDowne commented on #260
I'm using multi process firefox (nightly), and it works fine for me, but could be my machine. I don't think it's `*just*` e10s though.

I'm also not super concerned with not default future version features causing issues. Good to have a heads up though. Closing this, we can reopen if we need to take an action.

[2016-04-29 14:31] #260 closed

[2016-04-29 14:48] adamlofting commented on #242
@ScottDowne Yes, it can be done. We have to add external people to our register of consultants with access.

[2016-04-29 19:30] brettgaylor commented on #250
Approved disclaimer languge:
Codemoji is a fun way for you and your friends to learn about ciphers.

You shouldn’t use it for secure communications, though.  Thankfully, modern encryption tools are way stronger than emojis ;)

Use Codemoji to learn about ciphers with your friends!

[I UNDERSTAND]

@lovegushwa

[2016-04-29 19:51] ScottDowne commented on #242
cc @brettgaylor (in case you're currently not following this issue)

[2016-05-01 15:33] abusedmedia commented on #256
Hi @ScottDowne
I should have fixed that bug cleaning up TweenLite instances explicitly on state changes.
Can you confirm?
Thanks

[2016-05-01 16:31] ScottDowne commented on #256
Solid!  :tada:

[2016-05-01 16:31] #256 closed

[2016-05-02 13:17] abusedmedia commented on #259
@ScottDowne, It should be fixed now.

[2016-05-02 18:31] KevZawacki commented on #251
Adding here two thoughful replies we've received for the playbook:

-- [Feedback from our EU PR agencies](https://docs.google.com/document/d/1ux1b1Y1ws15_QfrxBmtm6FnHgFe9gch8Srm7oM_HPwI/edit)
-- [Feedback from our in-house EU PR team](https://docs.google.com/document/d/1oae-8UR-Iw4e3ozVwSM0Q6l--1_VEDEjsD5kc5OgdME/edit)

[2016-05-02 19:51] ScottDowne commented on #259
:+1:

[2016-05-02 19:51] #259 closed

[2016-05-03 00:09] brettgaylor commented on #254
Done

[2016-05-03 00:09] #254 closed

[2016-05-03 09:04] adamlofting commented on #242
Just repeating my question from the other duplicate thread...

What domain/subdomain is this going to be hosted on? I need to know that to get the GA profile setup.

:+1:

[2016-05-03 09:18] ScottDowne commented on #242
Teach I believe

[2016-05-03 09:24] adamlofting commented on #242
More specifically :smile: ...
- Is it a page on teach? (in which case it uses the teach GA ID and is tracked as part of that)
- Or is it a microsite to track as a standalone thing (e.g. codemoji.teach.mozilla.org)?

[2016-05-03 09:37] ScottDowne commented on #242
Chris promises it'll be on teach.mozilla.org/something however it's not
part of teach codebase and is a separate app.

[2016-05-03 20:57] valianttry opened #262 "Design callout box for fundraising email + "donate" buttons to match"
for reference:
https://github.com/mozilla/donate.mozilla.org/issues/702

We will be sending a fundraising email to the list and callouts get most of the clicks in our FR emails.

Maybe the callout can feature Crypty?? However... the callout design shouldn't be too busy and distract from the text.

@stephaniemcv do we have a version of our updated templates that also allows for a callout box in the

[2016-05-04 19:03] lovegushwa commented on #262
@valianttry
Crypty is a good idea. We should also look at something evergreen. Could be a good test to run here?

@natalieworth can you drive this?

[2016-05-05 15:38] stephaniemcv commented on #262
I have an updated template with a callout in progress...let me see if I can get it finished by QA time.

I would love to test our older style template with the call out vs the new template with the 600x300 header and a button midway down on our largest proposed audience segment. Something big and bold like Crypty snuggling up with a donate button.

[2016-05-05 17:13] natalieworth commented on #262
Yes, I can work on this!

[2016-05-05 19:10] valianttry opened #263 "DRAFT fundraising email for post-encryption campaign"
Andrea is working on a draft here:
https://docs.google.com/document/d/1n7PkKT75hLcNzfwkb1ljaWESXSKI96Utn2vqgVOj-Ms/edit

I'll update this ticket when it's ready for review and approvals! 💰

#262

[2016-05-05 20:28] valianttry commented on #263
moved to the new Advocacy repo

[2016-05-05 20:28] #263 closed

[2016-05-05 20:31] valianttry commented on #262
@stephaniemcv I worry we have 2 very different designs in this channel if we continue to use the old template... can we at least update the background color / font / leading maybe? Need to train this audience.....

[2016-05-05 20:46] stephaniemcv commented on #262
Valid point. I'll work on getting the updated template to work with a callout.

[2016-05-05 21:39] natalieworth commented on #262
@stephaniemcv Just to confirm, are you only needing design for the call-out box, or do you need help with the email design-wise?

[2016-05-05 21:47] stephaniemcv commented on #262
Just the call out box design. Actually, @natalieworth for the design you come up with can I get a 300x300 and a 600x300 version? I want to see how it looks and it'll be a backup if I can't get the two columns for mobile rendering to play nicely.

[2016-05-05 21:48] natalieworth commented on #262
@stephaniemcv For sure, that works!

[2016-05-05 21:49] stephaniemcv commented on #262
:+1:

[2016-05-06 17:52] lovegushwa commented on #236
@abusedmedia can I close this issue or do you still need something from us?

[2016-05-06 17:53] #247 closed

[2016-05-06 18:25] abusedmedia commented on #236
The only concern would be, once the final domain name will be defined, that the backend needs to white-list that domain either in order to make the system to work properly.
Don't know if keeping open this or make a new specific issue, though.

[2016-05-06 18:41] cadecairos commented on #236
I've already white-listed the production domain we plan on using :+1:

[2016-05-09 16:44] natalieworth commented on #262
@stephaniemcv @valianttry Have some options featuring the crypty video illustrations up on redpen here: https://redpen.io/p/tfe204330c12fe5a73
I was using the simplified language/ content from the EOY fundraising call-outs, but would be great if you could post updated content and feedback and then I can insert into the design.

cc @lovegushwa for you review too please :)

Thanks! :)

[2016-05-09 22:24] stephaniemcv commented on #262
redpen and I are fighting, so here are my comments.

I personally think the simplified language from EOY works well here.

The only one's I'm not loving are Crypty callouts 03 and Crypty callouts 04 - because just text as an image in an email is not the best utilization of what little space we have.

Also I worry about Crypty callouts Artboard 6, because when the image happens to scale even smalle

[2016-05-10 16:20] #236 closed

[2016-05-10 16:25] natalieworth commented on #262
@stephaniemcv @valianttry Thanks for the feedback! I've inverted the donate button so it's more prominent over the image: https://redpen.io/p/tfe204330c12fe5a73
1: https://redpen.io/pn9f8d648c7e500c65
2: https://redpen.io/qr5acdedf1335a056f
3: https://redpen.io/fea8dc6daa7b864168
4: https://redpen.io/fp9e5b0106bd488622
5: https://redpen.io/xveb94844c8676cdc7

cc @lovegushwa

[2016-05-10 16:27] lovegushwa commented on #258
We may look at this after testing.

[2016-05-10 16:27] #258 closed

[2016-05-10 16:30] lovegushwa commented on #250
Moving to this ticket here:
https://github.com/MozillaFoundation/Advocacy/issues/7

[2016-05-10 16:30] #250 closed

[2016-05-10 17:57] natalieworth commented on #262
These are my 2 preferred options @stephaniemcv. I think the 3 characters are easier to understand as a standalone image vs. crypty. The 'donate buttons' also have more prominent treatments so they stand out more too: :)
1: ![crypty_callouts89_artboard 6 copy 3](https://cloud.githubusercontent.com/assets/14876567/15156846/b9e8db7c-169d-11e6-91ba-62cd5bb8ec49.png)
2: ![crypty_callouts89_artboard 6 c

[2016-05-10 18:20] valianttry commented on #262
Crazy thought: and if it's too late ignore: Possible to have their eyeballs pointed at the "donate now" button? I've seen a few tests where directing "gaze" toward the button matters (arrows, eyes; etc). If it's too late ignore this! These are beautiful.

[2016-05-10 19:03] natalieworth commented on #262
@valianttry Yes! That's a great idea. I was reading about red buttons too in optimization (vs. other colours) and they have a higher click rate compared to others. Would be great to use the red button option with the eyes pointed towards the 'donate now':
<img width="902" alt="screen shot 2016-05-10 at 11 59 52 am" src="https://cloud.githubusercontent.com/assets/14876567/15158976/292724a4-16a7-11e

[2016-05-10 21:15] natalieworth commented on #241
@shaghdoosti I'm assuming this is the ticket created in anticipation for the first email on how to encrypt? Not sure if it needs updating or let me know what design work you're needing for this. I'll discuss with @lovegushwa too.

[2016-05-10 22:34] natalieworth commented on #262
@stephaniemcv I have the final exported files here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0QmJIWnd6YnlKY1U&usp=drive_web&pli=1&ddrp=1#
I have exported one's at high and a lower quality (and used the previous settings and size that we used for the EOY campaign)—if there's any issue with them feel free to ping me and I can adjust asap :)

[2016-05-11 19:49] natalieworth commented on #241
Moving this content into the design ticket for the filevault/ bitlocker email here: https://github.com/MozillaFoundation/Advocacy/issues/13

[2016-05-11 19:49] #241 closed

[2016-05-12 00:02] natalieworth commented on #262
@stephaniemcv I'm going to close this design ticket, but feel free to reopen or ping me if anything is needed

[2016-05-12 00:02] #262 closed

[2016-05-12 22:26] lovegushwa commented on #239
@Giorgio-Olivero @michellenebiolo @abusedmedia

Here is the final, final updated logo with a revised letter "M"
https://drive.google.com/file/d/0B2qu3ExKWIlvdWxzTDVDbzRPY2M/view?usp=sharing

[2016-05-13 20:51] valianttry commented on #242
I heard in a meeting this will be in learn.mozilla.org? Maybe @lovegushwa can confirm.... want to make sure this analytics setup happens :)

[2016-05-16 23:10] natalieworth commented on #230
@KevZawacki @HPaulJohnson Just confirming that this will still be posted with the upcoming Codemoji release? I've started creating these illustrations for it so far. I still have to refine and create an additional one:
![isometric_v4_artboard 2](https://cloud.githubusercontent.com/assets/14876567/15306571/a06a06c0-1b80-11e6-8715-58e37ecd9a9e.png)
![isometric_v4-03](https://cloud.githubusercontent.

[2016-05-18 11:22] KevZawacki commented on #230
@natalieworth These are fantastic -- thank you!

We're still working with the Issues Durable Team to determine when/where the Codemoji + History of Encryption blog will publish.

But in the meantime, we can use these designs in our existing medium.com/encryption-matters stories. Can I pull the images directly from this ticket? Or is there a Drive folder?

[2016-05-18 15:45] natalieworth commented on #230
@KevZawacki Awesome! I've just got to finish off 2 with the texture and fix one of them. Did you need them asap?

[2016-05-18 18:14] KevZawacki commented on #230
@natalieworth No rush! Anytime before the end of May should work. Does that sound doable?

[2016-05-18 18:38] natalieworth commented on #230
@KevZawacki Yes! That works great!

[2016-05-23 16:46] #239 closed

[2016-05-30 18:47] natalieworth commented on #230
@KevZawacki I have the first 3 illustrations finished and they are on the drive here:
https://docs.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0bjJ3WFhJRVB2Tms&usp=drive_web
I can make additional one's as needed depending on the content, so feel free to leave any ideas or updates here :) The current 3 I based on 'Encryption Through the Ages' article: (1)iphone + FBI, (2) encryptio

[2016-05-31 11:34] KevZawacki commented on #230
@natalieworth These are awesome. Thanks again!

[2016-06-09 08:37] #114 closed

[2016-06-09 20:58] irowebbn commented on #236
Codemoji user here, looks like the link shortener is returning links with an extra "s" in them, making them invalid addresses. The issue has already been brought up on the codemoji repo [here](https://github.com/mozilla/codemoji/issues/199). Looks like the "s" isn't anywhere in codemoji's code, but coming directly from the mofoprod bitly generator (for which I am insufficiently credentialed to dia

[2016-06-21 16:44] #230 closed

[2016-07-06 22:53] stephaniemcv commented on #122
Closing as we have transferred from Basket to Salesforce as our CRM.

[2016-07-06 22:53] #122 closed

[2016-07-07 18:41] damiankay opened #264 "Share localized assets with Jochai"
Hi Brett,
As per our team meeting today, can you please share a list / paragraph describing the assets that have been localized. Alternatively, I wonder if it would make sense to create a matrix / Google sheet that can be easily updated as we work through your other open issues.

[2016-07-12 16:35] brettgaylor commented on #264
Shared by email

[2016-07-12 16:35] #264 closed

[2016-07-29 20:42] KevZawacki commented on #79
This = medium.com/mozilla-advocacy

🎆

[2016-07-29 20:42] #79 closed

[2016-08-02 22:25] natalieworth commented on #248
Could we roll this into a potential copyright poster once the campaign is underway? :D

[2016-09-09 21:26] stephaniemcv commented on #167
EN and DE confirmation emails were updated with new text. FR, ES and PL confirmation emails were also created.

[2016-09-09 21:26] #167 closed

[2016-10-20 20:03] #248 closed

[2017-09-05 17:05] #245 closed

[2018-09-24 19:36] #223 closed

[2018-09-24 19:36] #213 closed