[2016-01-05 18:33] OpenMatt opened #1 "Finalize contractor agreement w. ASC"
Bugzilla ticket is here: https://bugzilla.mozilla.org/show_bug.cgi?id=1237649

[2016-01-05 18:34] OpenMatt commented on #1
- [ ] issue payment for first invoice
- [ ] finalize contractor agreement

[2016-01-05 18:36] OpenMatt opened #2 "Process initial invoice from ASC"
in progress

[2016-01-05 18:36] OpenMatt opened #3 "Choose / finalize concept for video 1"
@brettgaylor @rohanporteous @HPaulJohnson

[2016-01-05 18:41] OpenMatt opened #4 "Finalize campaign KPIs"

[2016-01-05 18:44] OpenMatt opened #5 "Design new email template"

[2016-01-05 18:47] OpenMatt opened #6 "Write video script for beat 1"
cc @HPaulJohnson @rohanporteous

[2016-01-05 18:49] OpenMatt opened #7 "Design encryption campaign microsite"
For the video and CTA

[2016-01-05 18:53] OpenMatt commented on #7
This is probably blocked on: deciding what the CTA will be.
Who's responsible for that?

[2016-01-05 18:57] OpenMatt opened #8 "Design social media templates / ads"
@lovegushwa any blockers we need to clear for you on this one?

[2016-01-05 18:58] OpenMatt opened #9 "Email copy and production calendar for Beats 1 and 2"
Including testing plan

[2016-01-05 18:59] OpenMatt commented on #9
@shaghdoosti: not sure who to assign this to. please re-assign as needed.

[2016-01-05 19:00] OpenMatt opened #10 "Produce quiz / survey / CTA for beat 1"
@brettgaylor this will be a team effort, who's accountable?

[2016-01-07 16:42] OpenMatt opened #11 "Develop comms plan"
press, blogs, internal

[2016-01-07 17:37] OpenMatt opened #12 "Design owned media assets"
For:
- [ ] snippet
- [ ] tiles
- [ ] other?

@shaghdoosti has a meeting on Monday with MoCo engagement to confirm these

[2016-01-07 17:38] OpenMatt commented on #12
Next steps: @shaghdoosti can you confirm the deliverables needed here after your meeting?

[2016-01-07 17:42] OpenMatt commented on #3
@brettgaylor @rohanporteous can you guys log a quick status update + next steps here?

[2016-01-07 17:57] shaghdoosti commented on #12
yes - will do.

[2016-01-07 17:58] OpenMatt commented on #3
## Feedback and next steps on concept

(from @brettgaylor Jan 7 email)

### 1) Script / concept fit
- MoFo should probably deliver an exact script before we land on a concept
- vagueness on MoFo side re: script is probably making it harder to get to a crisp concept

### 2) Abstraction / complexity
- This most recent iteration of the perspective video adds too much abstraction.
- The video needs to

[2016-01-07 18:01] OpenMatt commented on #6
@brettgaylor this is currently the top priority ticket for the entire project. so let's train all guns on this one.

[2016-01-07 18:05] OpenMatt commented on #11
@HPaulJohnson as per your IM

[2016-01-07 18:07] OpenMatt commented on #5
@lovegushwa are you taking this one?

[2016-01-07 18:56] HPaulJohnson commented on #11
cc: @KevZawacki

[2016-01-07 18:59] KevZawacki commented on #11
[Encryption comms plan](https://docs.google.com/document/d/1NrwSASCP4W7t_unT7qHy3C1u_li3g5GrI7Lbc9z2FVM/edit) (not static, still developing)

[2016-01-08 08:09] rohanporteous commented on #3
## Script

That's fine on my end. I've pulled Tom off all outlines/scripting for the time being

## Abstraction/complexity

I think this could have been resolved when the script was coming together, as the idea itself didn't _have_ to be overly complex. But am also fine with simplifying!

## Treatment

Understand this point of view as well. That said, with the turnaround time I think we should als

[2016-01-08 16:10] jgmac1106 commented on #10
You know I am big on storytelling for CTAs I would develop a common hashtag we could scrape from different social media challenges and have a variety of activities people could do.

For Beat One ask people to be honest. Have them tell a story about when their security was breached,
- It might be a time when your password was stolen.
- your brother put up an embarrasing post on FB bc you do not log

[2016-01-10 05:22] brettgaylor commented on #6
## Script draft

### Is here: http://mzl.la/beat1_script

we’ll need to decide how to do the “reveals” of the secrets the main character discovers.  There are 3 possibilities here:

#### 1) Do a fairly simple “computer interface” approach, similar to these benchmarks:

https://www.youtube.com/watch?v=B6zVzWU95Sw
https://www.youtube.com/watch?v=uFfq2zblGXw

The secrets would be displayed on these i

[2016-01-10 05:22] brettgaylor commented on #3
Thanks, Rohan - we've come back with a new script here https://github.com/MozillaFoundation/encryption_campaign/issues/6

[2016-01-11 14:50] adamlofting commented on #4
The team are meeting today to discuss impact goals and KPIs.

[2016-01-11 16:06] OpenMatt commented on #10
@brettgaylor some interesting ideas here from jgmac

[2016-01-11 16:07] OpenMatt commented on #11
Nice! @KevZawacki @HPaulJohnson what's the next step here?

[2016-01-11 16:07] OpenMatt commented on #9
@shaghdoosti are you the right person to assign this to?

[2016-01-11 16:08] OpenMatt commented on #7
@lovegushwa what are the blockers for you on this one? Do you need to know more about what the CTA will be first?

[2016-01-11 16:09] OpenMatt commented on #6
@brettgaylor outstanding work. what's the next step here? Who needs to do what next?
cc @rohanporteous

[2016-01-11 16:10] OpenMatt commented on #5
@lovegushwa let me know timelines for when we might ship the new template?

[2016-01-11 16:11] OpenMatt commented on #4
@adamlofting will update here based on that meeting.
- @adamlofting: let's update and keep using this existing document: KPIs http://mzl.la/encryption_kpis

[2016-01-11 16:12] OpenMatt commented on #3
@rohanporteous let's work through all the issues you mentioned in the script ticket.

[2016-01-11 16:12] OpenMatt commented on #2
wire transfer will go out today / tmrw I believe

[2016-01-11 16:33] OpenMatt commented on #10
@brettgaylor this seems like another priority item to get done this week

[2016-01-11 16:46] lovegushwa commented on #5
@OpenMatt this is one of the tickets I hope to collaborate on with @natalieworth this week.

[2016-01-11 17:09] jgmac1106 commented on #10
@brettgaylor Hope you don't mind lurking (borderline trolling) I might do as the campaigns are developed.

If a framework (and an easily remixable instructional design) emerges from the first privacy campaign it will be a huge win.

Online gatherings will be the contribution engines that drive leadership and advocacy. They just need to get people interacting and communicating.

I have been running

[2016-01-11 17:45] adamlofting commented on #4
We discussed many possible points of impact during the call, and developed a strawman impact goal to be evolved and improved over the course of the workweek (this initial take hasn't been seen by all the team yet).

We've been working on the impact goals in [this document](https://docs.google.com/document/d/1UzvIUhi93yREAwwJ7JsizesCfRHnZOR2ah1CMjnsu-o/edit#heading=h.7x19v3h0771f) which I have also

[2016-01-11 17:57] OpenMatt commented on #6
Key questions for @rohanporteous
* your general thoughts on general direction we are taking based on script sara and i wrote
* can you shoot this in Sydney? does this feel doable for you?

[2016-01-11 18:08] OpenMatt opened #13 "File contractor agreement for TODO"
* Giorgio will provide wireframes, pitch, quote. As per meeting w. them Mon Jan 11.

[2016-01-11 19:09] OpenMatt commented on #10
Interesting example: https://securetheinternet.org/
folks are signing a pledge that when the legislation appears, they will take action

[2016-01-11 20:06] OpenMatt opened #14 "Write video script for Beat 2"
Draft in progress here: https://docs.google.com/document/d/1TD6QP6GJE2Y71M7nVRA17nkjC5vYqDLMieunr_0aepg/edit

[2016-01-11 20:49] cassiemc commented on #7
Curious about plans for this, and hopefully I have an update this afternoon, but wanted to know wrt the Open Web Fellows updates we're making on the Advocacy site. Could this double as a [new homepage for advocacy.org](https://github.com/MozillaFoundation/movement-building/issues/73), even if temporary? We would need to work together with @kristinashu on [styling the internal pages](https://github

[2016-01-11 20:54] cassiemc commented on #7
Here's a potential wireframe @kristinashu mocked up: https://redpen.io/dwc1eb0d59700704ba

[2016-01-11 21:07] OpenMatt commented on #6
## Main high-level notes on draft 0.2
- 1) **Needs a stronger ending.** This is the main creative challenge for this beat / video: the call to action. Come back with options for stronger candidate endings.
- 2) **Green light on the opening story.** Need to test and nail the examples, but so far so good on the general approach for act 1.
- 3) **Need to test / think about the semantics.** e.g., “sec

[2016-01-11 21:11] OpenMatt opened #15 "Get signed contractor agreement from Darren Pasemko"
* need signoff on Darren's creative brief to start contracting proposal
* pitch/treatment https://docs.google.com/document/d/1AJkQTko64o6Cz5g1HXDCaY-vuh5ComkSGKeaemqh7Cg/edit?ts=569349a7

[2016-01-11 21:13] OpenMatt commented on #15
## Next steps

Needed from Darren: a quote for beat 2.

[2016-01-11 21:38] OpenMatt opened #16 "Move ahead w. contractor agreement for TODO"
need quote + pitch.

[2016-01-12 13:28] OpenMatt commented on #3
@brettgaylor I think this ticket is now redundant -- the concept is baked into the script we're working on in #6. I'm going to close this -- re-open if you think there's still work left to be done here.

[2016-01-12 13:28] #3 closed

[2016-01-12 14:04] OpenMatt commented on #1
This is in progress -- paperwork should go out this week.

[2016-01-12 14:11] OpenMatt commented on #6
### Next steps from Agency

Rohan:
- [ ] 1) Rohan will take a look at the script
- [ ] 2) They will assess whether the script is feasible for shooting / delivering by deadline. Figure out answers to the feasibility questions between the Syd/NY offices.
- [ ] 3) Potentially get Tom to do a rewrite focusing on a stronger ending if he has time in his schedule.

[2016-01-12 14:12] OpenMatt commented on #6
#### re: testing language
- re: testing of language. We’ll probably want 2-3 different versions of the video that we segment based on language variations.

[2016-01-12 14:14] OpenMatt opened #17 "Build landing page for Beat 1"
* Natalie and @lovegushwa will create the wireframes this week, and UI next to ship by 22nd.
* Devs will likely build around Jan 25-29

[2016-01-12 14:14] OpenMatt commented on #17
@lovegushwa can you copy Natalie on this ticket?

[2016-01-12 14:16] #16 closed

[2016-01-12 14:21] cassiemc commented on #17
cc @natalieworth

[2016-01-12 14:29] OpenMatt commented on #15
Darren is working to get this back to us

[2016-01-12 14:30] OpenMatt commented on #14
@brettgaylor who's on the hook for this? Who's the main author / contractor?

[2016-01-12 14:38] OpenMatt commented on #17
- @lovegushwa says:
- @ScottDowne is re-building the web fellows / the advocacy home page by the beginning of Feb. It might make sense if he build the microsite as well. (cc @alicoding )

[2016-01-12 14:39] OpenMatt commented on #15
Most of Darren's work will focus on Beat 2 -- but we may incorporate some early versions in Beat 1 as well.

[2016-01-12 14:47] OpenMatt commented on #13
@lovegushwa will send them a sample pitch

[2016-01-12 14:48] OpenMatt commented on #12
@shaghdoosti any status updates from the meeting? @lovegushwa are the deliverables and next steps clear?

[2016-01-12 14:51] OpenMatt commented on #10
@brettgaylor @shaghdoosti who's the main driver for this?

[2016-01-12 16:24] OpenMatt commented on #4
* Ok thanks @adamlofting. Sounds like your work on this is done for the time being, and you're passing the baton back to the rest of the team to discuss and come back w. next steps in their work week.
* @valianttry can you be responsible for updating this ticket / following up?

[2016-01-12 16:34] cassiemc commented on #17
Not sure if that will all work out time-wise, there are several open web fellows pages to be built, so adding encryption in the same timeframe might be too much. I'll let @ScottDowne and @simonwex speak to that, though.

[2016-01-12 16:56] ScottDowne commented on #17
@OpenMatt @cassiemc I'll need to know more about it, but it's possible we can fit it in.

I'll need to know how many pages are involved, where it'll live, and if the styling and layout are similar to advocacy/open web fellows.

[2016-01-12 17:15] adamlofting commented on #4
Latest update:
- I took another pass at this document today including building a survey to use as part of the evaluation process
  - This is all strawman for the team to build upon
- The team at the workweek will continue to review this and get it to reflect their goals
- We have a check-in booked for Thursday AM (PST)
- Goal is to sign-off the Impact Goal and KPI targets by the end of the week

[2016-01-12 17:26] OpenMatt commented on #2
Paid. Done!

[2016-01-12 17:26] #2 closed

[2016-01-12 17:32] OpenMatt commented on #4
Great! Thanks Adam.

[2016-01-12 17:37] OpenMatt commented on #6
@brettgaylor note that @rohanporteous has made a bunch of comments in the google doc

[2016-01-12 18:26] OpenMatt commented on #17
- 1) how many pages are involved
  - one
- 2) where it'll live
  - @lovegushwa do you know?
- 3) is the styling and layout similar to advocacy/open web fellows?
  - @lovegushwa: what do you think?

[2016-01-12 18:27] rohanporteous commented on #2
Great, thanks! How's the next contract/payment going for the project in full?

[2016-01-12 18:28] OpenMatt commented on #1
Paperwork just got drafted. Will get sent out tmrw.

[2016-01-12 18:28] OpenMatt commented on #2
Mailing out the contract tmrw https://github.com/MozillaFoundation/encryption_campaign/issues/1

[2016-01-12 18:40] rohanporteous commented on #6
Hey guys, sorry for the slightly haphazard and lengthy notes below! Have a read through and let me know what you think. Could possibly jump on a call between 7/8 this evening if that works for you.

Thanks!
R

## Concept/project management

**Treatment**: one of the main reasons for the switch in concepts was a switch away from live action to motion graphics/something more flexible wasn’t it? Is t

[2016-01-12 18:58] OpenMatt commented on #6
thanks @rohanporteous. @brettgaylor, over to you to discuss w. team and post feedback here.

[2016-01-12 19:04] rohanporteous commented on #2
Perfect! Can you please CC both lara@ and katrina@ as well? (Head of Ops and Finance Manager, respectively).

[2016-01-12 20:07] lovegushwa commented on #17
@ScottDowne @openmatt
I think we can pull styling from Advocacy / Fellows. Will confirm.

Will be one page, this is what we need to build.
- graphic header.
- video player.
- CTA loads after video.
- room / plans for a carousel later in campaign (once we have 4 videos /
  one interactive piece.)

Wireframes this week, UI and hand off next week.
On Jan 12, 2016 10:26 AM, "OpenMatt" notifications@gi

[2016-01-12 20:23] ScottDowne commented on #17
@lovegushwa cool, doesn't sound hard.

[2016-01-12 21:21] brettgaylor commented on #6
My thinking there was that a) you had responded saying that motion graphics were more of a capacity drain for you guys, and b) We were more concerned with the "one take" nature of the other concept.  Feeling was that as the piece was coming together, there was more room to have flexibility in the edit suite with this approach.

Re: multiple locations/cast - I think you guys should look at the scri

[2016-01-13 15:47] rohanporteous commented on #6
Hey guys,

Tom worked through a script yesterday and some of my feedback last night, and we've now got this version to show you. We're trying to keep it focused around a smaller number of locations, and have a central character throughout like your initial draft.

While we normally hand over more complete drafts, I've left this one with my notes in it so you can see some of the current things we'r

[2016-01-13 15:56] jgmac1106 commented on #6
Make sure to run the script by a diverse audience before producing. It
didn't come off bad to me but the story begins with a women in bathroom,
followed by some NSFW sexting and then shopping for lingerie.

I am worried this could be perceived as focusing on very engendered
practice. Why is the privacy a women needs focused on they way she wants to
please her man?

Just a thought. As said I think

[2016-01-13 16:08] OpenMatt commented on #6
thanks @rohanporteous -- @brettgaylor will get back w. feedback asap

[2016-01-13 16:13] jgmac1106 commented on #6
In fact i would just switch to a more neutral topic like medicine. Instead
of starting in the bathroom start at the Dr's office. Instead of sexting
she shares "some news" with a friend. Maybe instead of shopping for
lingerie and "sheer lace playsuits" she searches for medical information.

The script would still work but you would lose the gender and sexuality
theme. We need privacy so we can "sex

[2016-01-13 17:07] OpenMatt opened #18 "Get feedback on video script 1"
* Test and gather feedback on the script once it's done

[2016-01-13 17:08] OpenMatt commented on #18
from @jgmac1106:

Make sure to run the script by a diverse audience before producing. It
didn't come off bad to me but the story begins with a women in bathroom,
followed by some NSFW sexting and then shopping for lingerie.

I am worried this could be perceived as focusing on very engendered
practice. Why is the privacy a women needs focused on they way she wants to
please her man?

Just a thought

[2016-01-13 17:09] OpenMatt commented on #18
also from @jgmac1106:

In fact i would just switch to a more neutral topic like medicine. Instead
of starting in the bathroom start at the Dr's office. Instead of sexting
she shares "some news" with a friend. Maybe instead of shopping for
lingerie and "sheer lace playsuits" she searches for medical information.

The script would still work but you would lose the gender and sexuality
theme. We need

[2016-01-13 17:10] OpenMatt commented on #6
@jgmac1106 thanks for the feedback! I've moved it to this ticket https://github.com/MozillaFoundation/encryption_campaign/issues/18 so that this one doesn't get too long / more complex than it already is.

[2016-01-13 19:03] OpenMatt commented on #9
@valianttry @shaghdoosti is that what this document is?
https://docs.google.com/document/d/18eaF4c0eFR-5kyMGNIAQXRhCTIzprDWooWuoXYfRQO0/edit#heading=h.ey0mzx3c8e87

[2016-01-13 20:33] valianttry opened #19 "Scope putting email sign-up field directly on snippet"
Hey @ScottDowne

We're brainstorming about the encryption campaign. I talked to Jean Collings about the possibility of putting an email field and submit button directly on the snippet for email optin to our Mozilla Foundation list. Here is what the snippet team has done (FF for Android) - below. What would it take to build this for the desktop? Assume this would be EN only, but possible also 1 oth

[2016-01-13 20:35] valianttry commented on #19
Here is the key content that needs to be embedded on the snippet:

![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/12307109/2af5ca5e-b9f2-11e5-92c7-55025900636c.png)

[2016-01-13 20:46] ScottDowne commented on #19
This is possible. Just make that button communicate with a server that communicates with exact target. This is all back end, the user doesn't visually go to anything, until it's all done and we can setup like a thank you/share page to send them.

Cannot do this directly from snippet -> exact target, I think.

Needs to be snippet -> petitions.mozilla.org(or something) -> exact target

[2016-01-13 20:50] ScottDowne commented on #19
Multiple locales shouldn't be hard, we just need to know the country, and pass that to exact target, and I think the snippet already knows that, so we might not even need to ask them country, maybe.

[2016-01-14 00:08] rohanporteous commented on #6
Totally agreed Greg! This was something I was discussing with Tom, would
love to remove that element entirely. (This script doesn't take all those
comments on board at the moment).

I think that the cute/silly sexting could possibly be ok if we test a few
different types of messages, but don't want to focus the rest of her goals
around that moment.

Good to see we're on the same page ;)

On Wednes

[2016-01-14 00:11] rohanporteous commented on #6
Ah. Didn't see your other note RE medicine etc. I think it doesn't have to
be 'sexting' by any means, but I think it's possibly powerful to cover the
privacy inherit in relationships in some ways. Is there something that our
conservative audiences would share as a couple that they wouldn't want out
in the public (that also works as something funny or compelling)?

On Wednesday, January 13, 2016, R

[2016-01-14 01:51] jgmac1106 commented on #6
If only ideas came as easy as critique....

Funny is hard. I did not mean the literal translations but the idioms and
double meanings never work well for people with English as a second
language.

I just meant the Dr. because the bathroom could be the office where someone
wants privacy. Keeping medical data private might motivate people
Maybe:
-surprise party
-engagement
-pregnancy

On Wed, Jan 13

[2016-01-14 04:13] valianttry opened #20 "Scope audience segmentation needs"
@adamlofting we are starting to develop a plan for email strategy and have Qs about our segmentation capabilities.

We anticipate that we will want to select audience segments based on the following attributes (we may think of others):
-- previous actions on campaigns such as Net Neutrality or German data retention in BSD (e.g. we may want to customize content for more committed action takers vs.

[2016-01-14 04:25] valianttry opened #21 "add Stephanie to this repo"
hello @OpenMatt !

Can you make certain Maryam, Natalie, and Stephanie are all able to work in this repo? I tried to tag Steph and her handle didn't come up. There will be others who are in MoCo for example who we should be able to tag easily. Which leads to this question: Is this repo open or closed? It helps if it's open, unless there's a compelling argument to keep it closed / secure.

[2016-01-14 05:50] valianttry commented on #19
@ScottDowne here are follow up Qs:
- How much time do you think this would take for you to code after we nail design?
- If the user does not ever need to see / be aware of the interim step using petitions.mozilla.org I think it's fine to just use it.

I will launch design and build tickets for this

[2016-01-14 05:59] valianttry opened #22 "Design snippet for video + email optin"
We have permission from the snippets team to test an embedded email optin directly on the desktop snippet. This has big implications for our ability to recruit encryption campaign participants with the least friction possible. An embedded email optin removes some usual friction from a typical optin sequence.

Usual sequence:
1.  clicking a text link in snippet >> 2. landing on a web page to fill o

[2016-01-14 06:23] #18 closed

[2016-01-14 06:23] #14 closed

[2016-01-14 06:24] #6 closed

[2016-01-14 06:26] valianttry opened #23 "Build snippet with embedded email opt in fields"
see #22

Opt ins should land in Exact Target

two versions:
1) with video replacing the Firefox logo; and 2) one with video placed below the logo and search bar.

rough mockup for above search bar video placement:
![snippet_encryption_campaign_-_google_slides](https://cloud.githubusercontent.com/assets/9830371/12317279/8f25b636-ba44-11e5-9d93-aa8f5866c216.png)

Below search bar:

![snippet_encrypt

[2016-01-14 06:31] valianttry commented on #23
We should probably build a version with no embedded video as well. Just in case. :8ball:

[2016-01-14 06:35] valianttry commented on #23
Also we should be able to test removing some of the fields, such as name.

[2016-01-14 07:17] valianttry opened #24 "Do vendor review for shareprogress.org"
Evaluate shareprogress.org to use as "Optimizely for social"

@HPaulJohnson has had a conversation with CEO Jim Pugh to launch discussions.

Outstanding questions:
* Does this tool provide additional functionality that existing tools do not provide (e.g. Sprinklr)?
* How would this tool help us reach our KPIs / goals?
* How does SP use cookies or other tracking?
* If we move forward, does this too

[2016-01-14 07:21] valianttry commented on #9
@OpenMatt nope, that's the document for EOY fundraising email.

We do not yet have a detailed email production schedule, Stephanie will be lead on this -- but I can't seem to tag her in this repo.
We will draft email schedule and production this week, but need Stephanie to help refine / fill in important details early next week, esp for Beats 1 and 2

[2016-01-14 07:24] valianttry commented on #9
FYI we should create separate tickets for each email step. Typically we would use the following 3 tickets (example - Steph continues to perfect and refine our processes for email production):
1. write copy for emails Beat 1 (including tests, segment copy)
2. setup and production emails Beat 1
3. Q&A emails Beat 1

[2016-01-14 09:35] adamlofting commented on #24
Looks pretty cool. :+1:

I don't know Sprinklr well, but believe it's focused on the content that appears directly on social properties (e.g. the content of mozilla account tweets). Share Progress seems to be about optimizing the share ask as it appears on our web pages, and in turn the messaging that supporters tweet (for example) on our behalf.

Need to agree the goals first :wink: but if we hav

[2016-01-14 10:00] adamlofting commented on #20
These two are part of Exact Targets standard tracking

We have the same donor history data that we used during EOY - is donor / is monthly donor / HPC / etc

Out of scope for now. We haven't linked our donation history to campaigns in the past. This is a future goal for Salesforce CRM.

This is part of the Salesforce CRM plan. This data isn't currently in Exact Target. If MoCo / DEG can support li

[2016-01-14 14:57] OpenMatt commented on #21
The repo is fully open / public. New collaborators that aren't already automatically showing up can be added at the bottom of the page here:
https://github.com/MozillaFoundation/encryption_campaign/settings/collaboration

GitHub can't search it's entire user list every time you mention someone, so it asks that you point it at a given team or set of collaborators. Everyone on this Team MoFo will sh

[2016-01-14 15:02] OpenMatt commented on #21
- I added Natalie here: https://github.com/MozillaFoundation/encryption_campaign/settings/collaboration
- @valianttry : I can't find GitHub usernames for Maryam or Stephanie. Can you add them?

[2016-01-14 15:05] OpenMatt commented on #23
@ScottDowne does this all make sense to you?

[2016-01-14 15:09] OpenMatt commented on #17
- Ok. Sounds like we're ok here in terms of having the dev resources booked that we'll need.
- @simonwex: ok by you?

[2016-01-14 15:10] OpenMatt commented on #15
We now have Darren's proposal -- this is now blocked on @brettgaylor to approve the general scope / ballpark quote. Once I get greenlight from Brett I will file paperwork for Contractor Agreement.

[2016-01-14 15:11] OpenMatt commented on #13
- This one is blocked on Jordan + Giorgio meeting to discuss pitch format.

[2016-01-14 15:20] OpenMatt commented on #10
Is this still in scope for Beat 1? Or are we just going with a pared down "watch the video and sign-up" approach?

[2016-01-14 15:23] OpenMatt opened #25 "Write email copy for Beat 1"
including tests, segment copy

[2016-01-14 15:25] OpenMatt opened #26 "Setup and production for Beat 1 emails"

[2016-01-14 15:26] OpenMatt opened #27 "QA emails for Beat 1"

[2016-01-14 15:28] OpenMatt commented on #9
ok done. Going to mark this one as closed and we can push ahead with those other tickets.

[2016-01-14 15:28] #9 closed

[2016-01-14 15:45] OpenMatt commented on #14
@brettgaylor why is this closed?

[2016-01-14 15:53] ScottDowne commented on #23
Yup sounds good.

[2016-01-14 15:56] OpenMatt commented on #13
Question from Giorgio:
"During one of the previous calls Matt mentioned that the launch of beat3 could be shifted from the 25th to the 11th. For us that would be too critical. We'd rather keep the original launch deadline. Any update on the scheduling?"

[2016-01-14 16:03] simonwex commented on #17
@OpenMatt yup, Scott's on boar.

[2016-01-14 17:28] OpenMatt opened #28 "Send pre-campaign survey"
As per @adamlofting KPI proposal: https://docs.google.com/document/d/1UzvIUhi93yREAwwJ7JsizesCfRHnZOR2ah1CMjnsu-o/edit#

Need to finalize copy for survey and send

@shaghdoosti said she has edits, so assigning this to her to follow up w. Adam.

[2016-01-14 17:29] OpenMatt commented on #28
cc @valianttry

[2016-01-14 17:52] adamlofting opened #29 "Get data on # of actions per typical campaign email"
I.e. if we mail our list, how many people do we think will take an action.

Then, set a target for growth.

We'll use this to inform our Feb and Mar goals for number of active advocates.

Assigned to @valianttry in case there is some time to start on this today. Also Steph is looking at some of this data this week.

[2016-01-14 18:11] HPaulJohnson commented on #24
Sprnklr is used primarily for social monitoring/listening. It does some have some extended functionality around buying paid social media placements but that's different from what we are discussing here (share optimization).

Pricing is at the bottom of this page http://www.shareprogress.org/tools/. Sliding scale based on numbers of shares(ex. $500 mo for 20K shares, first month free as part of a t

[2016-01-14 20:21] OpenMatt commented on #10
Sounds like this is just a survey that won't require any additional production work -- so I'm going to close this. It's baked into the landing page stuff.

[2016-01-14 20:21] #10 closed

[2016-01-14 21:23] stephaniemcv commented on #21
Hello!

[2016-01-14 21:34] OpenMatt commented on #21
I think it's just Maryam who still needs to be added as a collaborator now
https://github.com/MozillaFoundation/encryption_campaign/settings/collaboration

[2016-01-15 16:17] OpenMatt commented on #13
Jordan wrote back:

The interactive decryption campaign will launch the week of February 29th.
Also we're very interested in a possible collaboration with Arduino. Can you tell us more about what might be possible during the pitch meeting next week?

Giorgio: yes.

[2016-01-15 16:30] KevZawacki commented on #11
@OpenMatt Next step is opening tickets for individual comms deliverables (blog posts, media pitches, etc.) I'll get started now.

[2016-01-15 16:51] KevZawacki opened #30 "Write / pitch / place op-ed by Mark"
- [x] Build op-ed media list

- [x] Identify top-tier targets ([here](https://docs.google.com/document/d/1NrwSASCP4W7t_unT7qHy3C1u_li3g5GrI7Lbc9z2FVM/edit#), page 3 -- needs OK from @HPaulJohnson)

- [x] Craft pitch ([here](https://docs.google.com/document/d/1NrwSASCP4W7t_unT7qHy3C1u_li3g5GrI7Lbc9z2FVM/edit#bookmark=id.qkctwmnoq7p6), pitch no. 3 -- needs OK from @HPaulJohnson)

- [x] Gauge MoCo/ag

[2016-01-15 16:57] KevZawacki opened #31 "News embargo pitch to top-tier media"
- [x] Build encryption media list

- [x] Identify top-tier targets ([here](https://docs.google.com/document/d/1NrwSASCP4W7t_unT7qHy3C1u_li3g5GrI7Lbc9z2FVM/edit#), page 2)

- [ ] Craft embargo pitch ([here](https://docs.google.com/document/d/1NrwSASCP4W7t_unT7qHy3C1u_li3g5GrI7Lbc9z2FVM/edit#bookmark=id.qkctwmnoq7p6) -- needs OK from @HPaulJohnson)

- [ ] Pitch, beginning Feb. 17

@HPaulJohnson What

[2016-01-15 17:04] KevZawacki opened #32 "General pitch to media"
- [x] Build encryption media list

- [x] Identify targets (50+ publications in North America, Australia and UK)

- [x] Craft pitches ([here](https://docs.google.com/document/d/1NrwSASCP4W7t_unT7qHy3C1u_li3g5GrI7Lbc9z2FVM/edit#bookmark=id.w8rynobwm60k))

- [x] Pitch, beginning Feb. 16

@HPaulJohnson

[2016-01-15 17:22] KevZawacki opened #33 "Develop blog content for beat 1"
Needs further discussion.

Ideas: Guest blog on why privacy matters, even if we have “nothing to hide.” Possible authors include Laura Poitras or EFF leadership.

@HPaulJohnson

[2016-01-15 17:28] KevZawacki opened #34 "Develop blog content for beat 2"
Needs further discussion.

Ideas:

- Inaugural blog post by Mark on why Mozilla is championing encryption and what’s to come. Should also live on blog.mozilla.org and function as a quotable press release for media
- Profiles of six diverse people who use encryption; interview a student, teacher, online shopper/banker, retiree, gamer, developer — everyday people

@HPaulJohnson

[2016-01-15 17:30] KevZawacki opened #35 "Develop blog content for beat 3"
Needs further discussion.

Ideas:

- Top 10 encryption facts
- Pull anecdotes and photos from beat 3 maker activity that are shared on social media
- Encryption FAQ in plain language, complete with analogies and goofy illustrations

@HPaulJohnson

[2016-01-15 17:33] KevZawacki opened #36 "Develop blog content for beat 4"
Needs further discussion.

Ideas:

- Blog by ACLU / Amnesty individuals about encryption saving / protecting lives

@HPaulJohnson

[2016-01-15 17:35] KevZawacki opened #37 "Develop blog content for beat 5"
Needs further discussion.

Ideas:

- Guest blog by Mozilla ally on the dangers of backdoors / what a dark future would look like

@HPaulJohnson

[2016-01-15 18:43] natalieworth opened #38 "Campaign creative direction deck"
Documenting the design benchmarks, websites, video bumpers, and idents of existing television, video, or online channels for the encryption campaign:

[2016-01-15 18:46] natalieworth commented on #38
@lovegushwa Links are here to the existing art direction you started and the current Pinterest board:
Initial art direction from Jordan:
https://docs.google.com/presentation/d/11HrepQP5rXFRsPh2CA-2P2U_DyUj8wjIVSMeSgPJ4qQ/edit#slide=id.gf4b30d392_9_27
https://docs.google.com/presentation/d/1CR7mrJss1CR5Ojns96Oq4vaSxfMzd5FN0dZiE2HFqqY/edit#slide=id.gf49c66da1_0_133

Pinterest benchmarking:
https://w

[2016-01-15 18:56] natalieworth opened #39 "Build email templates"
Initial drafts and refined wireframes for the campaign's email templates (taking inspiration from Kristina's work on the Advocacy site):
Advocacy wireframes:
https://mail.google.com/_/scs/mail-static/_/js/k=gmail.main.en.6YeM-53K40k.O/m=m_i,t/am=PiPeQMCcjPuDuMY4gGbpCxT23nt-dpHiJwc8qD9hAIjULQD-b_b_AP4P2ou2UA/rt=h/d=1/t=zcms/rs=AHGWq9A3sBaB6Z1U026wF9Nqhgnzh0lBrw

There will be 3 templates for Beat 1

[2016-01-15 19:01] natalieworth commented on #39
Beat 1 initial email:
![img_3372-1](https://cloud.githubusercontent.com/assets/14876567/12362167/c2c5bcf6-bb76-11e5-89b3-daf45af413e3.JPG)

General email template wireframes:
![img_3371](https://cloud.githubusercontent.com/assets/14876567/12362193/dc6f4492-bb76-11e5-9c60-9f4f17f50460.JPG)

[2016-01-15 19:06] natalieworth opened #40 "Build landing page / microsite"
Area to document wireframes for the encryption landing page/ microsite (potentially using elements from Kristina's existing wireframes for the Advocacy site):
https://drive.google.com/a/mozillafoundation.org/folderview?id=0B2irLVDJivhLZEhObmFseGxOeEU&usp=sharing#

[2016-01-15 19:10] natalieworth commented on #40
Final sketched wireframe:
![img_3368](https://cloud.githubusercontent.com/assets/14876567/12362550/c43404ec-bb78-11e5-9d23-2ad695a8e883.JPG)

Benchmarks for the landing page in issue #38

[2016-01-15 19:16] natalieworth commented on #40
Elements to include:
- Can have multiple CTA buttons- Email Opt in's/ Social Share
- UX that can accommodate adding upcoming videos
- area to house video content

cc @lovegushwa

[2016-01-15 21:37] KevZawacki opened #41 "Create Medium publication to house beat blogs"
Needs further discussion. Initial email sent to Gabe at Medium seeking guidance and insight.

@HPaulJohnson

[2016-01-16 00:02] jgmac1106 commented on #41
Would also suggest creating a beat specific tag or just using the mozilla
tag for authors who are sharing but are not efitors or writers for the
publication.

On Fri, Jan 15, 2016, 4:37 PM Kevin Zawacki notifications@github.com
wrote:

[2016-01-17 03:29] ScottDowne commented on #23
Just a heads up, we've previously operated under the limitation that exact target cannot store names, just email, lang, and country.

Regular mailing list signups go to exact target, without storing a name, and petitions have been going to BSD where we can and need to get a name.

So, we're currently left we just email and country for signups.

[2016-01-17 03:39] valianttry commented on #23
@adamlofting there's no way to add name?

[2016-01-17 03:45] ScottDowne commented on #23
@valianttry Do you think we need a privacy checkbox on this?

[2016-01-17 04:15] valianttry commented on #23
I'm going to assume there is no need for an opt-in checkbox, because there is only 1 task we're asking the user to perform. We will also be sending them an instant auto-email to confirm their subscription.

We do need to include disclaimer language:
"By clicking "Submit" you will be subscribed to email updates and are okay with Mozilla handling your data as explained in **this Privacy Policy**."

[2016-01-17 20:27] ScottDowne commented on #23
I was poking around the firefox for mobile snippet code, and looks like it was able to handle signups via SMS?

Might be something we look into, or maybe look into for the future?

Also looks like we can do this directly from the snippet to exact target (basket) which is good new!

[2016-01-17 21:37] ScottDowne commented on #23
I really like how the privacy policy is displayed here: ![2016-01-13_1206_-_jcollings_s_library](https://cloud.githubusercontent.com/assets/9830371/12306941/497c9a4e-b9f1-11e5-81a7-5fd97dc5a55c.png)

However, that only works if the policy is really short.

[2016-01-17 21:38] brettgaylor commented on #23
I don't think text is describing the privacy policy - its describing the
CTA, which we can def keep short!
On 17 Jan 2016 1:37 p.m., "ScottDowne" notifications@github.com wrote:

[2016-01-17 21:41] ScottDowne commented on #23
Sounds logical to me.

I'm making the text easily configurable, but, I'm making the location and style based on the hope that the text is on the short side.

[2016-01-18 10:16] adamlofting commented on #4
Marking this as closed unless anything else comes up while this is being reviewed this week.

https://docs.google.com/document/d/1UzvIUhi93yREAwwJ7JsizesCfRHnZOR2ah1CMjnsu-o/edit#

[2016-01-18 10:16] #4 closed

[2016-01-18 10:19] adamlofting commented on #20
I think the options available are noted above, so assigning this ticket to @valianttry to choose what segmentation we want to implement. Then we should file tickets to follow up on those decisions.

[2016-01-18 15:46] OpenMatt commented on #1
Sent. Marking closed.

[2016-01-18 15:46] #1 closed

[2016-01-18 15:49] OpenMatt commented on #29
- @stephaniemcv @valianttry any updates from work week to include here?

[2016-01-18 15:51] OpenMatt commented on #24
- @HPaulJohnson are you still the right assignee / driver for this ticket?
- what's the next step here? Anything we need to get done on it this week specifically?

[2016-01-18 15:54] #21 closed

[2016-01-18 15:55] OpenMatt commented on #20
@valianttry let us know next steps / when those tickets have been filed so we can close this one.

[2016-01-18 15:56] OpenMatt commented on #19
@ScottDowne can you answer those questions today?

[2016-01-18 15:56] OpenMatt commented on #15
@brettgaylor let me know when we have green light to issue Contractor Agreement

[2016-01-18 15:58] OpenMatt commented on #11
@KevZawacki nice! now that those tickets are filed, are we ok to close this one? cc @HPaulJohnson

[2016-01-18 15:59] OpenMatt commented on #41
@KevZawacki who do you need to discuss with?

[2016-01-18 16:00] OpenMatt commented on #37
@KevZawacki we can add these to the weekly kick-off meeting agenda and discuss Wed Jan 20, if that works for you

[2016-01-18 16:01] OpenMatt commented on #32
@KevZawacki what's the next step here? Is this over to @HPaulJohnson to review?

[2016-01-18 16:04] OpenMatt commented on #38
@natalieworth nice work! what's the next step here? Is this on @lovegushwa to review?

[2016-01-18 16:05] OpenMatt commented on #39
@natalieworth @lovegushwa what are the next steps here?

[2016-01-18 16:06] OpenMatt commented on #5
See wireframe https://github.com/MozillaFoundation/encryption_campaign/issues/39

[2016-01-18 16:08] ScottDowne commented on #19
It'll take a day or two for dev. Turns out sending the sign up directly
from snippet to exact Target is possible. No need to put something like
petitions.mozilla.org in the middle. It'll be seamless to the user. We can
even display thank you/errors in the snippet. They'll never navigate away
if we don't want them to.

[2016-01-18 16:09] OpenMatt commented on #19
@ScottDowne given that work is pressing ahead here https://github.com/MozillaFoundation/encryption_campaign/issues/23, can we close this one?

[2016-01-18 16:31] ScottDowne commented on #19
Yup, totally :)

[2016-01-18 16:31] #19 closed

[2016-01-18 16:33] OpenMatt commented on #28
@shaghdoosti are you the right assignee for this? what are the next steps?

[2016-01-18 16:53] adamlofting commented on #28
I sent out a meeting invite for Friday this week. But we can work on this asynchronously between now and then too.

[2016-01-18 19:20] OpenMatt opened #42 "Approve video 1 casting"

[2016-01-18 19:21] OpenMatt opened #43 "Approve video 1 art direction"

[2016-01-18 19:23] OpenMatt opened #44 "Policy approval for video script 1"

[2016-01-18 19:23] OpenMatt opened #45 "Ship rough cut for video 1"

[2016-01-18 19:24] OpenMatt opened #46 "Approve rough cut for video 1"

[2016-01-18 19:26] rohanporteous commented on #45
Hey @OpenMatt, they guys in Syd currently have the video scheduled for a Jan 23 shoot which means the rough cut would come later of course. Is this OK or did you have a different understanding?

[2016-01-18 19:26] OpenMatt opened #47 "Lock script for video 2"

[2016-01-18 19:27] OpenMatt opened #48 "Get script policy approval for video 2"

[2016-01-18 19:27] OpenMatt opened #49 "Get storyboard approval for video 2"

[2016-01-18 19:29] OpenMatt opened #50 "Approve TODO interactive pitch for beat 3"

[2016-01-18 19:39] OpenMatt commented on #15
Brett says go ahead

[2016-01-18 19:41] OpenMatt commented on #45
Sorry @rohanporteous -- I just filed it wrong. Our understanding is that this will ship Jan 29.

[2016-01-18 19:48] brettgaylor commented on #45
Approval:
- [ ] Brett

[2016-01-18 19:51] brettgaylor commented on #46
Im closing this in favour of approval in comments of https://github.com/MozillaFoundation/encryption_campaign/issues/45

[2016-01-18 19:51] #46 closed

[2016-01-18 19:54] brettgaylor commented on #42
@rohanporteous can we approve this Wednesday or Thursday?

[2016-01-18 20:34] ScottDowne commented on #23
For dev purpose I have been using a page that looks like this:

![snapshot1](https://cloud.githubusercontent.com/assets/197334/12402106/dccbfa64-bdf8-11e5-9d67-43f970b778f2.png)

I basically just stole things we have already used, and got a few tips from Ricardo. It's not final.

Test drop down is actually country...

[2016-01-18 21:01] rohanporteous commented on #42
@brettgaylor will check audition timelines with the team!

[2016-01-18 21:32] brettgaylor commented on #50
This should be done after initial pitch January 19th.
- [ ] @brettgaylor
- [ ] @valianttry
- [ ] @lovegushwa

[2016-01-18 21:37] brettgaylor commented on #49
Darren will provide initial storyboards Thursday for approval January 22nd.

[2016-01-18 23:04] natalieworth commented on #39
@OpenMatt We'll need to further refine the wireframes in Illustrator, then begin the UI for dev build. I'm sure @lovegushwa can advise too when he's back from the MLKJ holiday.

[2016-01-18 23:13] natalieworth commented on #38
Thanks @OpenMatt, yes, I'm hoping @lovegushwa can review and we can begin to develop a more solidified design direction based off of these benchmarks for the campaign. I think we can leave this open until we have a good direction

[2016-01-18 23:27] brettgaylor opened #51 "Create art direction for revealing information within videos"
@rohanporteous , we'll want to see what this looks like and sign off

Are you guys imagining this work this week or next?

[2016-01-19 00:52] HPaulJohnson commented on #24
@OpenMatt you can keep me as driver for this ticket.

Finding a time for @valiantry and @shaghdoosti to meet with Jim Pugh from Shared Progress this week to make a decision about implementing for this campaign.

[2016-01-19 00:56] HPaulJohnson opened #52 "Design social media assets to accompany beat 1"
Develop and copy and design for Facebook and Twitter to accompany beats 1-5 of campaign. Assets will be used for organic Mozilla social profiles and paid advertising tests.

To accommodate testing and to allow for consistent promotion across each two week beat interval we'll need ~10 ideas per beat. This will probably be frontloaded to allow for most testing in first few beats which will be optimi

[2016-01-19 00:57] HPaulJohnson opened #53 "Develop copy for Adwords"
Develop ~10 copy variations for use in Google Adwords campaign/tests for duration of Encryption campaign.

cc/ @KevZawacki

[2016-01-19 00:59] HPaulJohnson opened #54 "Identify possible Podcasts for campaign promotions"
As an experimental/test channel for this campaign we'd like to identify possible podcasts that would reach target audience for either organic (media) or paid placement.

Next step: Compile list of potential podcasts (due 1/21). If anyone has ideas, please add them here.

cc/ @brettgaylor @KevZawacki

[2016-01-19 01:00] HPaulJohnson opened #55 "Identify possible content partners for campaign promotion"
Identify a list of potential content partners for either organic or paid promotion. Example: Upworthy, AJ+

This work is likely in parallel or in support of some of the partner outreach @brettgaylor brainstormed last week in Victoria.

[2016-01-19 01:01] brettgaylor commented on #54
Gimlet Media:
ReplyAll
Mystery Show
Startup

Also:
Canadaland (I have contact)

[2016-01-19 01:02] HPaulJohnson opened #56 "Test Instagram as paid channel for encryption video promotion"
You can now target Instagram users from Facebook's ad platform which will using to do some paid promotional testing. As a result, we'd like to test using snippets of our videos in Instagram to reach new users.

cc/ @lovegushwa @KevZawacki

[2016-01-19 01:11] HPaulJohnson opened #57 "Design promotional tile for mozilla.org homepage"
Design a tile to promote Encryption campaign for mozilla.org homepage that will go live around campaign launch and stay up for duration of campaign to drive traffic to campaign landing page.

cc/ @lovegushwa

[2016-01-19 01:18] jgmac1106 commented on #54
Rocket (RelayFM)
Overtired (RelayFM)
Anything on Twit network (though CPM is really high) maybe FOSS,
Screensavers, or TWIG would be best fit

On Mon, Jan 18, 2016 at 8:01 PM Brett Gaylor notifications@github.com
wrote:

[2016-01-19 13:29] KevZawacki commented on #32
@OpenMatt: @HPaulJohnson has reviewed. Once we have a couple pieces of encryption content published, we're ready to begin pitching. Milestone added.

[2016-01-19 13:37] KevZawacki commented on #41
@OpenMatt Further discussion needed with Paul and our contacts at Medium. It'll be happening this week.

[2016-01-19 13:40] KevZawacki commented on #37
@OpenMatt That'd be great, thanks!

[2016-01-19 13:40] KevZawacki commented on #11
@OpenMatt OK by me

[2016-01-19 15:51] KevZawacki commented on #52
Additional brainstorming: https://docs.google.com/document/d/1-qQnKBZZUExY9dLl1CGdbrUFLkuwL1DPkEegLxlIROI/edit

[2016-01-19 18:27] lovegushwa commented on #13
@OpenMatt @valianttry
Reviewed deck of pitch ideas today with TODO.

We decided on a direction, TODO will respond with a quote in a day or two.

[2016-01-19 18:46] OpenMatt commented on #57
@HPaulJohnson do you think you could add
a) a label to all your new tickets. (e.g., design, comms, etc.) and
b) a milestone to indicate what _week_ the work needs to get done?

[2016-01-19 18:53] OpenMatt commented on #33
@KevZawacki are you the assignee for all these blog tickets? If so can you assign them to yourself?

[2016-01-19 18:56] lovegushwa commented on #7
@OpenMatt @natalieworth is starting on wire frames today #40. We will review together tomorrow morning.

[2016-01-19 18:59] OpenMatt commented on #25
- Who should we assign this to? Who's producing the first draft / next step?
- @stephaniemcv @shaghdoosti ?

[2016-01-19 19:20] OpenMatt commented on #25
@shaghdoosti is going to take this one. To be completed: Wed, Jan 27

[2016-01-19 19:21] OpenMatt commented on #28
Sara and Adam will meet Wed, Jan 20

[2016-01-19 19:27] lovegushwa opened #58 "Decide on Encryption campaign name"
Decide a name for the encryption campaign and beats 1-5

[2016-01-19 19:30] OpenMatt opened #59 "Draft script for video 4"

[2016-01-19 19:31] lovegushwa opened #60 "Design encryption campaign identity"
Design a identity for the encryption campaign. Will be used for:

- email headers
- social media assets
- micro-site header
- paid media

[2016-01-19 19:32] brettgaylor commented on #59
This video will be more documentary style, so rather than a line by script, we will have an outline.  We will probably follow AJ+ conventions and have on screen text, so we will be able move that text through our standard approval process.

[2016-01-19 19:58] lovegushwa opened #61 "Design a User journey - Beat 1"
Redraw / refine the encryption campaign user journey based on this collaborative sketch and share out:

![img_20160113_121141](https://cloud.githubusercontent.com/assets/12228435/12430305/d60eaaae-bea3-11e5-9204-d319700c356e.jpg)

[2016-01-19 20:04] OpenMatt commented on #7
duplicate

[2016-01-19 20:04] #7 closed

[2016-01-19 20:04] OpenMatt commented on #5
duplicate

[2016-01-19 20:04] #5 closed

[2016-01-19 20:05] OpenMatt commented on #58
Especially beat 1

[2016-01-19 20:06] OpenMatt commented on #58
Let's aim to get this nailed down in Wed meeting. @lovegushwa says @KevZawacki has ideas to add here.

[2016-01-19 20:09] OpenMatt commented on #22
@lovegushwa see #23 for dev / build ticket w. @ScottDowne. Good screen grabs there.

[2016-01-19 20:10] OpenMatt commented on #38
assigning to @lovegushwa as he has the next step here.

[2016-01-19 20:20] ScottDowne commented on #22
@lovegushwa if we want to vidyo some time, and just give me feedback on what I got now, and I make some or a lot of changes ;) Might be enough?

[2016-01-19 20:34] valianttry commented on #22
@ScottDowne as soon as you have a solid view for screengrab, we probably want to run it by legal (hopefully it will be a quickish review). I'll also talk to Jean as they've obviously used optin on mobile snippet and likely had legal review that.

[2016-01-19 20:35] lovegushwa commented on #58
recap of original brain storm ideas:
1. You be You
   Having privacy via encryption gives you freedom you need to be yourself. You can buy the things you want, your medical records are private, you can choose if people know you have money or don't. With out encryption your private information is public. You can't be yourself.
2. ❤encryption
   Mozilla brand approach. (Lot's of hearts in other Mozi

[2016-01-19 20:46] lovegushwa commented on #58
Really great thoughts from @KevZawacki
https://docs.google.com/a/mozilla.com/document/d/1-qQnKBZZUExY9dLl1CGdbrUFLkuwL1DPkEegLxlIROI/edit?usp=sharing

@HPaulJohnson any thoughts about which direction?
Depending on how TODO idea B shakes out, leveraging the heart and other emoji in the name could would work really well.

[2016-01-19 21:00] lovegushwa commented on #12
@valianttry @HPaulJohnson @OpenMatt
Shroud we kill issue for beat 1 and focus on #22
Or will we have access to tiles?

[2016-01-19 21:14] lovegushwa commented on #38
Thanks for pulling this ticket together @natalieworth
For Beat 1 let's focus these benchmarks around developing a general campaign aesthetic to be used in:
- identity
- email and landing page UI
- social share
- contractor art direction (beat 2 and beat 3)

Let's use the art direction deck to consolidate (it's now open for MOFO's to edit)
https://docs.google.com/a/mozilla.com/presentation/d/11Hrep

[2016-01-19 21:17] lovegushwa commented on #60
Depending on how #58 works out tomorrow Jan 20, we can get rolling right away on a campaign name visual direction.

[2016-01-19 23:02] HPaulJohnson commented on #58
I'm leaning towards:

Mozilla ❤ Encryption
or
3847593 > 3N6RYPT > ENCRYPT

Maybe even a hybrid, inspired by some of the ideas from TODO.

I set up a meeting to discuss social specifically on Thursday. @lovegushwa if we need to meet before then on naming specifically, let me know.

[2016-01-19 23:05] HPaulJohnson commented on #12
I think we should focus on #22 and #57 (this should be really simple) for beat 1. We should skip other tiles (as in directory) for now.

[2016-01-19 23:10] HPaulJohnson commented on #52
Kickoff/brainstorm scheduled for Thursday with @lovegushwa, @KevZawacki and @natalieworth

Kevin and I will also be discussing with MoCo social team and their new agency on Thursday and they seem willing/motivated to chip in with content ideas and testing strategies.

[2016-01-19 23:28] HPaulJohnson commented on #56
Talking to MoCo social team about feasibility of this and should have a no/go by end of week whether this is an option for this campaign.

[2016-01-19 23:29] HPaulJohnson commented on #53
Copy due: 1/29
Campaign setup/live: 2/4

[2016-01-20 00:49] brettgaylor commented on #50
Pitch went well, we agreed next steps are better definition of scope and a budget before we can make final call.  We anticipate budget by EOD January 20th

[2016-01-20 00:50] brettgaylor commented on #44
Approved January 19th

[2016-01-20 00:50] #44 closed

[2016-01-20 00:50] brettgaylor commented on #43
Expected Thursday January 21

[2016-01-20 00:51] brettgaylor commented on #42
Approved

[2016-01-20 00:51] #42 closed

[2016-01-20 01:03] brettgaylor commented on #48
Expecting January 20th from policy team. Will update Thursday Jan 21st

[2016-01-20 01:05] brettgaylor opened #62 "Deliver Video 1 rough cut"
Tuesday January 26th

[2016-01-20 01:06] brettgaylor opened #63 "Approve Video 1 Final Cut"

[2016-01-20 01:07] brettgaylor opened #64 "Deliver video 1 final cut"
February 1st

[2016-01-20 01:08] lovegushwa commented on #39
Let's talk about the fire fox and you email

First Ben Niolet provided the FF&You HTML:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvQi1DSlZ4aHI5V2M/view?usp=sharing
Lot's of reasons to use it including not needing to write new code and it's proven/tested and built for exact target. (@mmmavis @stephaniemcv )

Second check out this breakdown on what we can modify / re-purpose:

ESSENT

[2016-01-20 01:09] brettgaylor commented on #62
Approval
- [ ] Brett

[2016-01-20 01:09] #63 closed

[2016-01-20 01:09] brettgaylor commented on #64
Approval
- [x] Brett

[2016-01-20 01:13] brettgaylor commented on #62
Ooops didn't realize we already had https://github.com/MozillaFoundation/encryption_campaign/issues/45

[2016-01-20 01:13] #62 closed

[2016-01-20 01:13] brettgaylor commented on #45
Current delivery scheduled for Tuesday January 26th

[2016-01-20 03:10] KevZawacki opened #65 "Select bloggers for each beat"
We need to identify (and then woo) guest bloggers for each beat.

Initial suggestions listed [in this spreadsheet](https://docs.google.com/spreadsheets/d/1GAWDMPArKvsprOeO9zagLLhyK0eAdY7HPnS1dcNOf4A/edit#gid=0Journalist). Seeking input and guidance from @HPaulJohnson and @brettgaylor.

[2016-01-20 03:18] KevZawacki commented on #58
My vote is for "Mozilla ❤ Encryption," too

[2016-01-20 03:23] valianttry commented on #65
For the purposes of building a robust list, I would suggest @shaghdoosti and @jochai would also offer good suggestions as well.

[2016-01-20 03:24] valianttry commented on #65
@OpenMatt is Jochai in this repo? Can you add him if not? For some reason Github isn't recognizing my tags so I don't have his handle right in my last comment.

[2016-01-20 03:26] ScottDowne commented on #23
WIP: http://scottdowne.github.io/eoy-snippets/signup-snippet/

Has working signup, all bits of text is configurable, you're just seeing my placeholder text.

UI is not final.

I forgot to add a video, so I'll look into that tomorrow.

I also forgot the waiting spinner.

Thoughts?

[2016-01-20 14:41] OpenMatt commented on #65
@valianttry add him here: https://github.com/MozillaFoundation/encryption_campaign/settings/collaboration

I can't find his GitHub handle

[2016-01-20 14:42] OpenMatt commented on #65
- @KevZawacki can people just add suggestions to your spreadsheet / in this ticket?
- or do you need to schedule a meeting?

[2016-01-20 14:43] OpenMatt commented on #58
Stand up for Encryption

[2016-01-20 14:44] OpenMatt commented on #41
Ok I'm going to remove the "needs discussion" flag and just leave with @KevZawacki to follow up and push ahead.

[2016-01-20 14:44] OpenMatt commented on #38
sounds good guys. @lovegushwa is this ticket still something the wider group needs to discuss? Seems like no, so I'll remove the needs discussion label. Add it back if that's wrong.

[2016-01-20 14:45] OpenMatt commented on #30
@HPaulJohnson

[2016-01-20 14:46] OpenMatt commented on #13
ok sounds good.

[2016-01-20 14:48] OpenMatt commented on #23
@valianttry @lovegushwa thoughts on above?

[2016-01-20 14:52] OpenMatt commented on #47
@brettgaylor status of this one?

[2016-01-20 14:53] OpenMatt commented on #50
great. will look for that and then push ahead w. contractor agreement for them.

[2016-01-20 14:54] OpenMatt commented on #12
ok. so @lovegushwa please close this ticket if the real work is happening in those others now.

[2016-01-20 14:56] OpenMatt commented on #61
@lovegushwa is this something you'll do some work on this week? Otherwise, feel free to milestone for next week instead.

[2016-01-20 14:57] #11 closed

[2016-01-20 15:19] KevZawacki commented on #34
First draft ready for review [here](https://docs.google.com/a/mozilla.com/document/d/1vBuXl7K1yQiU6wca1n68IHjxz_E1ab9c5Yb3ctdvCSo/edit?usp=sharing).

@HPaulJohnson @brettgaylor

This will also be the gist of Mark's op-ed (#30). It's important that we secure / publish the op-ed _before_ we publish the blog. Otherwise, Mark's already sounded off in a public space, and publications will be less inter

[2016-01-20 15:19] KevZawacki commented on #30
Content of the op-ed will be similar to beat 2 blog by Mark (#34)

[2016-01-20 15:29] KevZawacki commented on #65
@OpenMatt Suggestions most welcome; no meeting necessary.

[2016-01-20 17:26] natalieworth commented on #40
Initial wireframes for the microsite (based off of Kristina's wireframes for the Advocacy site here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B2irLVDJivhLZEhObmFseGxOeEU&usp=sharing#
Redpen for microsite wireframes: https://redpen.io/p/rv00aaeaa82563cde2
cc @lovegushwa

[2016-01-20 17:44] shaghdoosti opened #66 "Decide whether we're doing a contest as part of Beat 3"
We talked about a few options around this at the work week. Our options are:

--Working with an agency for beat 3
--Launching a competition around content creation.

[2016-01-20 18:13] valianttry commented on #23
This is the point where we need to:
-- check in with the snippet team (I already sent an email to Jean) to get reaction and feedback; and
-- check with legal to confirm this configuration.

I'll nudge Jean today.

andrea

[2016-01-20 19:03] OpenMatt commented on #12
I'm going to close this. @lovegushwa tell me if that's wrong.

[2016-01-20 19:03] #12 closed

[2016-01-20 19:06] OpenMatt commented on #28
@shaghdoosti can you update here w. next steps coming out of your meeting?

[2016-01-20 19:07] OpenMatt commented on #54
@KevZawacki got any suggestions to add?

[2016-01-20 19:26] KevZawacki commented on #54
@OpenMatt I'll be researching additions and adding them to our encryption media list tomorrow afternoon.

[2016-01-20 19:27] OpenMatt commented on #23
Flagging w. needs discussion just to ensure we're on track in today's meeting

[2016-01-20 19:27] adamlofting commented on #28
I'm going to make some changes to the survey tomorrow AM, and @shaghdoosti is going to work on the copy for the corresponding email.

[2016-01-20 19:36] valianttry opened #67 "Develop internal communications and messaging document (narrative)"
This document will serve as a central repository of 'how we talk about this campaign':
https://docs.google.com/document/d/1yEPe6HNttNnJRfmda8XFJZNxLXziUDkRhtowni7A4qw/edit

@shaghdoosti and @brettgaylor have reviewed

[2016-01-20 19:37] OpenMatt commented on #20
@valianttry will co-ordinate with @shaghdoosti on next steps for this one

[2016-01-20 19:39] OpenMatt opened #68 "Write copy for landing page"
cc @HPaulJohnson @lovegushwa

[2016-01-20 19:42] OpenMatt commented on #39
Note that the first use of this template will occur: Feb 8 w. launch

[2016-01-20 19:43] valianttry commented on #23
Just got feedback from Jean that we may  need to add email preference (text / HTML) and an optin checkbox. We are checking in with Marshall Erwin on specifics.

[2016-01-20 19:45] valianttry commented on #67
@HPaulJohnson and @KevZawacki can you look?

Next steps: Turn into a deck (that hopefully Jordan can make pretty?) for Mark, Jascha; etc

[2016-01-20 19:47] OpenMatt opened #69 "Write & submit copy for Firefox and You"
assigning Kevin -- please re-assign as needed

[2016-01-20 19:47] OpenMatt commented on #69
cc @valianttry @shaghdoosti

[2016-01-20 19:52] OpenMatt commented on #47
* shared with @Jochai1 yesterday
* will need to take an additional pass to incorporate those notes
* a bit unclear on next steps
* @brettgaylor can you update status?

[2016-01-20 19:54] OpenMatt commented on #66
- next step: blocked on getting quote from contractor
- will wait to make contest decision til we get that

[2016-01-20 19:56] OpenMatt commented on #58
Decision-makers:
- Jordan
- Paul
- Andrea
- Kevin
  to be made by end of week

[2016-01-20 20:05] ScottDowne commented on #23
@valianttry Question, is there a video somewhere yet?

[2016-01-20 20:08] valianttry commented on #23
Nope, you can just use a standin from youtube or somewhere i suppose? Video shoot is happening this weekend.

[2016-01-20 20:10] ScottDowne commented on #23
@valianttry hm, this might be a quesrtion for Jean.

I'll need to know what kind of restrictions snippets have on videos. I suspect youtube is a no go.

[2016-01-20 20:26] OpenMatt commented on #47
From Brett's email:
- Brett is working with our policy team to lock the script for your video.
- generally they are on board but for this one but it's important to get the language right
- Brett has asked them to close their comments by Jan 20
- Brett will approve those first thing Wednesday
- Should not effect Darren's ability to deliver the animatic Friday

[2016-01-20 20:27] OpenMatt commented on #47
Darren says:
- has been reaching out to subcontractors
- hoping start date for animation is Monday the 25th.
- By then I'd like the animatic approved, and hopefully I have a good amount of layout and modeling done.
- I'm still planning on getting you some sort of animation test soon too. I'm just doing a little technical research right now.

[2016-01-20 20:32] ScottDowne commented on #23
@valianttry ok cool, heard back from Jean.

Video needs to be a .webm and needs to be 480x270.

For now I'll use something like that for the standin!

[2016-01-20 20:57] valianttry commented on #20
@stephaniemcv

[2016-01-20 21:52] lovegushwa opened #70 "Decide hosting / platform for campaign videos"
We need to decide where/how to host the encryption campaign videos.

Youtube / Vimeo

Pros:
- Youtube gives us more reach (we can leverage that platform).
- People can / will also share the videos via Youtube. (could this also be a con?)

Cons:
- We don't have access to our Youtube account!  https://github.com/MozillaFoundation/plan/issues/470
- Might need cookies or some other nasty bits to get C

[2016-01-20 21:55] lovegushwa commented on #70
Hey friends, please make a decision about where we are going to host our videos, some notes for discussion above: @thecount @simonwex @HPaulJohnson @valianttry @natalieworth @shaghdoosti

[2016-01-20 22:49] valianttry commented on #67
@shaghdoosti and I met with Mark and @davidascher and got good notes and feedback on internal marketing planning. I will incorporate those.

Next step: Build a deck.

[2016-01-20 22:58] ScottDowne commented on #23
I added the ability to load a video, it's optional.

Please ignore the fact that it's a random video...

http://scottdowne.github.io/eoy-snippets/signup-snippet/

[2016-01-21 00:26] lovegushwa commented on #51
@lovegushwa

[2016-01-21 00:56] shaghdoosti commented on #47
Quick update. From myself and @valianttry

I sat down with Jochai and went through the script to solve some of the challenges he had highlighted from the policy team perspective.

I've tracked the changes in the document. Jochai will want to see the final script as well if we tinker with it again but I think the only think standing in the way of this script being locked is fact checking. @HPaulJoh

[2016-01-21 00:59] HPaulJohnson commented on #47
yes, @shaghdoosti, I can help fact check tomorrow. going to also enlist @KevZawacki to help to expedite if this is the blocker.

[2016-01-21 01:01] shaghdoosti commented on #28
A few more details:

We're sending the survey to a sample of 100,000 people. (our estimate is that we get 1000 responses)

I'm drafting the content that has a hook around (we want to create awesome content for you) but doesn't mention encryption. Adam is going to tweek the questions.

This survey will be sent to the same segment at the end of the campaign.

[2016-01-21 12:02] jgmac1106 commented on #28
The same 100000 people or just to the respondents who completed the
pre-survey so you can match results?

On Wed, Jan 20, 2016 at 8:01 PM shaghdoosti notifications@github.com
wrote:

[2016-01-21 12:31] adamlofting commented on #28
This will be the same 100,000 people. We're looking for general trends in the population, and not wanting to link answers to individuals records.

@jgmac1106 do I recall you know a thing or two about surveys? I'll post the latest version here soon, and another pair of eyes on the questions would be very welcome.

[2016-01-21 14:35] adamlofting commented on #28
I've updated the survey ready for feedback.

Things to note:
- For people who answer `Yes` or `Somewhat` to questions 1 and 2 we now offer a free text box to capture their definition (definition is 'soft required')
  - We will then review these answers manually to see if we think the attempted definition is correct (admin questions are setup in survey gizmo to store these analysis)
  - The other g

[2016-01-21 14:50] KevZawacki commented on #54
Thanks for the start, @brettgaylor and jgmac1106.

Adding to this list:

[Analogue](https://www.relay.fm/analogue)
[Internet History Podcast](http://www.internethistorypodcast.com/)
[FLOSS Weekly](https://twit.tv/shows/floss-weekly)
[Let's Talk About Tech](http://www.bbc.co.uk/programmes/p02nrxgq)
[Media Berkman](https://blogs.harvard.edu/mediaberkman/) -- @brettgaylor, have a relationship here?
[

[2016-01-21 15:36] rohanporteous opened #71 "Final check in before production"
Hey guys, just compiling everything here so it's easy for Brett to have a quick look at while he's away. Let me know any thoughts!

# VO Auditions

We got a bunch of auditions, and have narrowed them down to these five for you to have a listen to: https://drive.google.com/folderview?id=0B3UIshL1Uom0YzZidjJ4V2dPakE&usp=sharing We think that while Ross sounds amazing, he's a little old and serious,

[2016-01-21 15:56] jgmac1106 commented on #28
The survey looks good. Get some nice charts pre and post. While matching
users by IP address could allow for some more statistical testing I think
pretty charts are all that really matter. They will move people more than
effect size.

Still even with non-matched pairs a large effect size with your normal
ANOVA will still indicate a "difference" regardless of the lower power
caused by non-matched p

[2016-01-21 17:49] HPaulJohnson commented on #24
@valianttry, @shaghdoosti and I had a good meeting with Share Progress team yesterday. They gave us a demo and answered all our initial questions. We agree that it would be a good fit for this campaign so next step is moving forward with a vendor review, which I've asked @davidascher for help with.

[2016-01-21 19:43] HPaulJohnson commented on #47
@KevZawacki has fact checked historical examples used in the script (Da Vinci, Queen Elizabeth and Founding Fathers) and everything checks out. We are good to go.

[2016-01-21 19:50] KevZawacki commented on #69
I've reached out to MJ Kelly at MoCo, who oversees Firefox + You. Awaiting her guidance on copy.

[2016-01-21 19:57] OpenMatt commented on #47
- @darrenpasemko : Darren, let's work in this thread instead of email where possible, to keep everyone in the loop who needs to be

[2016-01-21 19:57] #47 closed

[2016-01-21 19:58] OpenMatt commented on #47
@darrenpasemko asks:

@brettgaylor: Any news on the script? Has the VO been approved? Schedule wise things are getting tight.

[2016-01-21 20:08] brettgaylor commented on #71
@HPaulJohnson can you answer questions: re: social/ad usage?

@rohanporteous yes we want worldwide/perpetuity, but the active promotion will only be in Q1 of this year.

[2016-01-21 20:12] HPaulJohnson commented on #71
@rohanporteous re: social/ad usage: we will be doing testing across a number of paid platforms including Facebook, Twitter and others (like YouTube). It will also be featured prominently in our email program and organic social media presences.

[2016-01-21 20:15] HPaulJohnson commented on #54
@KevZawacki - I think there are two approaches here once we have a final list. One is to get spokespeople on the appropriate programs. I think Brett or Andrea and, in some cases depending on reach, Mark would be our best bets here. The other angle is paid advertisements on these programs, either by contacting podcaster directly or through various podcast ad networks.

So there's a media component

[2016-01-21 20:18] brettgaylor commented on #71
@rohanporteous Storyboards look great!  Detail on performance would be ideal, yes - only questions i have are around exterminator.  I liked the "squeee!" biting knuckles we brainstormed on call w/ Tom, and his reaction when receptionist notices could be as you say to just go back to tough guy and GTFO.

I like the graphical treatments, though the ones that are just text (as opposed to clearly bein

[2016-01-21 20:21] brettgaylor commented on #71
Re: devices - if we can make these seem general device, rather than specific, that's ideal.  With macs, try to avoid the apple logo on everything if possible.

[2016-01-21 20:26] brettgaylor commented on #58
I have concerns about "Mozilla <3 Encryption". I think it opens us up to critique on how much globally, as an institution, we have done to support encryption.  I think we ought to focus on the values rather than Mozilla's specific stand or record.

[2016-01-21 20:35] brettgaylor commented on #47
Worked out a final few points with Jochai, he is going to take a final pass before EOD today.

[2016-01-21 20:40] brettgaylor commented on #71
Re: voiceover, agree on Gwenith - though I think some coaching might be necessary. I didn't love any of them to be honest but agree she was the best.  I liked Ross the best - he didn't sound too old to me!

[2016-01-21 20:41] brettgaylor commented on #43
Works for me

@lovegushwa want to take a look?
https://drive.google.com/a/mozillafoundation.org/file/d/0B3UIshL1Uom0OEF5a3pGcG5OaFE/view

[2016-01-21 20:55] rohanporteous commented on #71
@brettgaylor a little follow up:

**Usage:** that's probably enough for us to go with! If you plan any more than that you'll just have to contact their talent manager. We can pass those details on.

**VO:** we're not entirely against Ross by any means :) he's perhaps just a little too serious for me. Would be great to get a bit of fun in there. Do you have any preference on female/male given the c

[2016-01-21 21:25] lovegushwa commented on #58
ENCRYPTION
(graphic treatment OR animated .gif like this 3847593 > 3N6RYPT > ENCRYPT)

“the code that protects you"
(subhead changes with each beat, we also test alternate subheads on social.)

[2016-01-21 22:14] HPaulJohnson commented on #58
@lovegushwa, based on our discussion just now, let's move forward with this direction. It's simple, visual and gives us a bunch of flexibility to use and test it in different ways.

[2016-01-21 22:22] darrenpasemko commented on #47
Thanks Brett.

On Thu, Jan 21, 2016 at 12:35 PM, Brett Gaylor notifications@github.com
wrote:

##

Darren Pasemko
Director
4644 S.E. 51st Ave
Portland, Oregon, U.S.A.
97206
(646) 406-1320
www.pasemko.com

[2016-01-21 22:43] rohanporteous commented on #71
@brettgaylor @lovegushwa some very rough animation examples: https://drive.google.com/file/d/0B3UIshL1Uom0N2hkQ1ZscW5KN0k/view?usp=sharing

Timing is of course way off, with everything too quick overall, and the search box cursor shouldn't have motion blur. This will all be refined later, but should give you a basic sense of things. Trying to keep it as simple as possible, because there will be ex

[2016-01-21 22:54] stephaniemcv commented on #39
I agree with everything @lovegushwa noted about the FF&Y template. I think modifying this will best suit the campaign since the first deadlines are pretty tight.

Some other notes to add to @natalieworth Limitations list above based on the rough wire frames
- Embedded video code is not supported by the majority of email clients. It can be done but it's very code heavy. Best practice is a linked im

[2016-01-21 22:55] shaghdoosti commented on #47
Jochai is on a plane for most of today -- Brett if you can look at the comments you can see our concerns around that section.

[2016-01-22 00:03] lovegushwa commented on #71
@rohanporteous I like the feel of the icons and UI.
- It would be nice to round the edges of the search box so it feels a bit more consistent with the other UI elements, also the orange and the yellow used for the shopping cart are similar. I would make them the same, or make one color very different.
  <img width="1338" alt="screen shot 2016-01-21 at 3 45 34 pm" src="https://cloud.githubuserconte

[2016-01-22 00:55] rohanporteous commented on #71
@lovegushwa all totally fine of course! No polish has been applied to any of them and it's easy enough to add little flourishes to the other icons to match. Wanted to have examples of both.

@brettgaylor @valianttry the guys are unfortunately really struggling to find a black actor for the boss, after the guy we were planning on casting couldn't do the gig. We'll look for other POC who are availab

[2016-01-22 01:59] lovegushwa commented on #39
R?
@valianttry @stephaniemcv @shaghdoosti @HPaulJohnson @cassiemc @mmmavis @kristinashu

Hey folks please review the first round of email templates, again were using the FireFox + You template because it's already optimized, set up for exact target and we have the code!

##### Advocacy specific email templates

Test 1: We were going to test an embedded video @stephaniemcv recommends against it (th

[2016-01-22 03:06] #58 closed

[2016-01-22 03:27] brettgaylor commented on #71
Any chance of a black woman?

We all liked what you had so far - but I think one more white male would be problematic.  Do what you can!

[2016-01-22 03:31] brettgaylor commented on #47
We sorted it out and found something that works.

One nagging issue with fact checking of Da Vinci.

[2016-01-22 03:33] rohanporteous commented on #71
@brettgaylor yep, definitely don't think we'll have to go for a white guy, or white woman for that matter. Hoping to find another POC whether South East Asian, Indian, Middle Eastern :)

[2016-01-22 03:33] brettgaylor commented on #47
@KevZawacki I looked into the Da Vinci references after Jochai raised some concerns about the veracity of claims that he used mirror writing, and also whether this is technically encrpytion - I found a few websites where scholars disputed this.  Given that, I wonder if you could help find one non-western/northern example of encryption?  Any asian/arabic references we might be able to use?

After t

[2016-01-22 03:34] brettgaylor commented on #71
:+1:

[2016-01-22 03:36] brettgaylor commented on #23
This is rad.

[code]

[2016-01-22 03:49] brettgaylor commented on #48
Jochai sent final approval

[2016-01-22 03:49] #48 closed

[2016-01-22 03:50] brettgaylor commented on #47
Actually, I just found some good examples here:
http://www.theatlantic.com/technology/archive/2016/01/the-long-and-winding-history-of-encryption/423726/

And closed the script :)

[2016-01-22 06:58] darrenpasemko commented on #47
Let me know when the narration is confirmed locked. After that I'll get cracking on revising the animation script. I hope to do so tomorrow morning. Maybe we can get that approved by the end of day tomorrow (Friday the 22nd). I'll start the animatic over the weekend, and I'll have it ready by Monday. An animation test is in the works too. Thanks!

[2016-01-22 08:14] valianttry commented on #39
I left comments in the redpens. Nice job!

[2016-01-22 08:29] valianttry commented on #71
Re: A black woman for boss, doesn't that negate the script re: "mansplaining"? I think a male boss is needed.

I listened to all the voices and strongly prefer Gweneth, though Ross is a close 2nd. I think Gweneth is more engaging, Ross is more "comforting."

Q about the choice of Exterminator over delivery man -- it's an office so an exterminator seems weird (usually exterminators serve homes or r

[2016-01-22 10:05] adamlofting commented on #28
Thanks @jgmac1106

As the campaign is to educate people ahead of possible encryption-specific advocacy actions, I think we want the word encryption in that statement. Reflecting on this now, I think we can be even more direct about that.
- "I will oppose any government attempts to undermine encryption"

@shaghdoosti how do you feel about that? ^

Yeah... I was cautious too. But now that we're aski

[2016-01-22 10:40] jgmac1106 commented on #28
+1

On Fri, Jan 22, 2016 at 5:05 AM Adam Lofting notifications@github.com
wrote:

[2016-01-22 14:26] brettgaylor commented on #47
Narration is locked
On 22 Jan 2016 12:58 a.m., "Darren Pasemko" notifications@github.com
wrote:

[2016-01-22 14:34] brettgaylor commented on #71
Truth! Mainsplaining wouldn't work :) sounds like these guys have good
options for some male characters.

Re: exterminator, it works for me as a fun character, even more "tough"
than delivery,  and we're locked at this point so can't change that
character.
On 22 Jan 2016 2:29 a.m., "Andrea Wood" notifications@github.com wrote:

[2016-01-22 14:47] OpenMatt commented on #71
@rohanporteous @brettgaylor see Andrea's question above

[2016-01-22 14:50] OpenMatt commented on #39
Nice!

### Final steps to consider this design approved and close out this ticket:
- [ ] 1) address @valianttry 's RedPen comments
- [x] 2) get design review from @cassiemc
- [ ] 3) gather optional feedback from @stephaniemcv @shaghdoosti @HPaulJohnson @cassiemc @mmmavis @kristinashu in this ticket by end of day today (Jan 22) (Note: this is feedback only. Final approvers are @cassiemc and @valian

[2016-01-22 14:51] OpenMatt commented on #39
Flagging as needs discussion so that we do a quick check-in in today's retrospective call

[2016-01-22 14:53] OpenMatt commented on #71
@valianttry ^ make sense?
@brettgaylor @rohanporteous what are the final steps needed to close out this ticket and consider ourselves greenlight for production?

[2016-01-22 14:53] OpenMatt commented on #47
Awesome! So: @darrenpasemko please push ahead.

[2016-01-22 14:55] OpenMatt commented on #23
nice work guys!
@valianttry what are the next steps here?

[2016-01-22 14:57] OpenMatt commented on #43
@lovegushwa once you approve please update here and close this ticket.

[2016-01-22 14:58] OpenMatt commented on #24
ok great. re-titled ticket to focus on vendor review. rolling milestone over to next week.

[2016-01-22 14:59] OpenMatt commented on #51
@rohanporteous please update here?

[2016-01-22 15:10] cassiemc commented on #39
Design review is done, R+, they are all great options. Left some considerations in the redpen.

[2016-01-22 15:57] rohanporteous commented on #51
@OpenMatt updated on the other thread to keep things streamlined while brett was checking in remotely, but should have some more by COB today, and will now post those updates here.

Depending on how the blizzard/power situation goes I'm planning to do a bit of extra work tomorrow to have them mostly done before next week.

[2016-01-22 16:04] cassiemc commented on #67
@valianttry Design is more than pretty! Just sayin'. :)

[2016-01-22 16:07] brettgaylor commented on #47
Not sure if some of my communications aren't coming through, but this is
locked and final. Feel free to close!
On 22 Jan 2016 8:54 a.m., "OpenMatt" notifications@github.com wrote:

[2016-01-22 16:07] brettgaylor commented on #71
We are greenlit!
On 22 Jan 2016 8:53 a.m., "OpenMatt" notifications@github.com wrote:

[2016-01-22 16:07] rohanporteous commented on #71
@valianttry @brettgaylor the great thing about mansplaining is that everyone can do it! (Imagined as a tongue-in-cheek informercial voice over).

For that sad reality (and while it's not the ideal casting choice), I don't think it's absolutely necessary that the boss be a man, as I'm guessing that the workplace could have a strong male or misogynist culture throughout, and the receptionist could c

[2016-01-22 17:33] valianttry commented on #23
We are paused on build until I get answers from Marshall Erwin / privacy / legal.

[2016-01-22 17:46] lovegushwa commented on #43
@OpenMatt @brettgaylor left comments in the ticket R+ with a few small tweaks.

[2016-01-22 17:46] #43 closed

[2016-01-22 17:47] valianttry commented on #23
Word from Marshall is we may need to add an optin checkbox, but he is checking with legal. Don't add it yet, this is just a heads up.

[2016-01-22 18:07] OpenMatt commented on #51
great thanks!

[2016-01-22 18:08] OpenMatt commented on #70
@brettgaylor do you have an opinion here?

[2016-01-22 18:09] OpenMatt commented on #20
@valianttry any updates on this one?

[2016-01-22 18:10] OpenMatt commented on #71
cool! closing.

[2016-01-22 18:10] #71 closed

[2016-01-22 18:16] OpenMatt commented on #66
- we have the quote from TODO and are pushing ahead. So that part's cleared.
- @shaghdoosti did we make a decision about contest vs. no contest? Assigning to you to hold us accountable there.

[2016-01-22 18:22] OpenMatt commented on #68
@lovegushwa when will you need this copy by?

[2016-01-22 18:23] darrenpasemko commented on #47
Sorry Brett, I thought there was still one detail hanging. We're locked! Awesome. Thanks everyone. Pushing forward today.

[2016-01-22 18:23] OpenMatt commented on #57
@lovegushwa not sure if you or @natalieworth is taking this one.

[2016-01-22 18:25] OpenMatt commented on #53
is @KevZawacki writing these?

[2016-01-22 18:39] HPaulJohnson commented on #53
I will take a first crack at drafting and coming up with some test variations. @KevZawacki can come in after that and tighten everything up.

[2016-01-22 18:40] OpenMatt commented on #15
bugzilla ticket filed, pending review from Pamela https://bugzilla.mozilla.org/show_bug.cgi?id=1240920

[2016-01-22 18:49] OpenMatt commented on #13
this is done! processing paperwork.

[2016-01-22 18:50] KevZawacki commented on #68
@OpenMatt To clarify: is this ticket for the encryption microsite?

[2016-01-22 18:53] OpenMatt commented on #49
@darrenpasemko status of this one? I know it kinda overlaps w. some of what we discussed in #47

[2016-01-22 18:54] #50 closed

[2016-01-22 19:18] darrenpasemko commented on #49
Hi Matt. The completion of the voice over script was pushed in the schedule. So the storyboard and animatic phase is also pushed. Today I am revising the animation script to match the new voice over script, and then I'm starting the storyboard/animatic. These items will be ready Monday the 22nd for review.

[2016-01-22 19:29] OpenMatt commented on #52
@HPaulJohnson any updates or next steps coming out of those meetings?

[2016-01-22 19:35] shaghdoosti commented on #66
We decided we'd make that decision after we heard back from Todo - so I'll make sure it's on the agenda for us to revisit next week.

[2016-01-22 19:44] valianttry commented on #20
We have an email strategy meeting scheduled for next week. (Wed)

[2016-01-22 20:04] HPaulJohnson commented on #52
Some ideas brewing here:

https://docs.google.com/document/d/17Sb-x0K5bDfn7ATg8uP5Z02x5WuSBII-KE2vz-0ZPA0/edit

We are meeting again this afternoon with Razorfish for a second round of brainstorming. Next week we will start to build out a few of these ideas around beats 1 & 2.

[2016-01-22 20:35] natalieworth commented on #40
Most recent wireframes up on Redpen: https://redpen.io/p/rv00aaeaa82563cde2
For now (due to time constraints), it would be best to focus on finalizing the wireframes and upcoming UI for Beat 1 and then focus on Beat 2-5. I will add the additional wireframes for Beat 1 (with the variations included for email and social media opt-in)

[2016-01-22 20:42] OpenMatt commented on #28
@shaghdoosti will answer Monday

[2016-01-22 20:43] OpenMatt commented on #22
@valianttry is wrapping up conversations w. legal today or Monday -- then will update here.

[2016-01-22 22:43] lovegushwa commented on #40
R?
@valianttry @shaghdoosti @HPaulJohnson @cassiemc @ScottDowne  @kristinashu

Please review these wireframes today if you get a chance. (See link above.)

[2016-01-22 22:47] cassiemc commented on #40
R+ on beat 1, looks good.

[2016-01-22 22:48] natalieworth commented on #40
I have the wireframes updated for Beat 1. If everyone is able to review them, then @lovegushwa  and I can tweak, and begin UI for Monday.
Couple of issues that will have to be resolved for Monday/ Tuesday build:
- How video will be hosted/ or alternative, if it is self-hosted, what the UI platform will be for play, pause, full-screen, etc.
- which platforms we are encouraging for social share
- An

[2016-01-22 22:58] kristinashu commented on #40
Looks good, can't wait to see the design!

[2016-01-22 23:17] rohanporteous commented on #51
@lovegushwa @brettgaylor slightly updated graphics: https://drive.google.com/file/d/0B3UIshL1Uom0RXdpTmw1VmhvaWs/view?usp=sharing exploring something for the boss that isn't just another search after the receptionist's.

The last transitions out are just exploring what they could all do when they disappear at the end. As I'm writing this, I just realized I was subconsciously referencing the old TV

[2016-01-23 00:18] KevZawacki commented on #32
This will occur once we have two videos + the interactive activity published. Adjusting milestone accordingly.

[2016-01-23 00:20] KevZawacki commented on #30
Will begin pitching on Monday, Jan. 25

[2016-01-23 00:37] HPaulJohnson commented on #40
Looks good, @natalieworth. Left some comments in the Redpen's.

@KevZawacki and I have it on our list to draft copy for this and we'll work on that early next week based on these wireframes.

I want to confirm that we will be plugging in Optimizely on this page? I think many of the comments/feedbacks can actually be things we test and will want to optimize for. Sharing and email collection seem li

[2016-01-23 00:38] natalieworth commented on #40
@HPaulJohnson Sounds great, thanks!

[2016-01-23 00:48] HPaulJohnson commented on #70
@simonwex told me he has reached out (again) to his contact at google to try and resolve. Given how slow that process was previously I wouldn't bank on it.

I think we should consider just hosting ourselves and cross-posting on Youtube if/when we figure that out (I still think this is a very important thing to resolve and will be a critical channel as we do more video work going forward).

Also, d

[2016-01-23 00:53] HPaulJohnson commented on #68
@KevZawacki this is for microsite.

With wireframes to a solid place, we will plan on having draft of copy by 1/26.

[2016-01-23 00:55] HPaulJohnson commented on #56
We really don't have a presence on Instagram at the moment so there's not a ton of opportunity to reach our audience at the moment.

I'm going to close this for now and will revisit when I go to setup a FB ad campaign to better understand what might be possible using that tool to reach Instagram audience.

[2016-01-23 00:55] #56 closed

[2016-01-23 00:57] HPaulJohnson commented on #54
Initial list compiled. Next week we will prioritize and start reaching out to understand which are viable as press/media opps vs. paid advertising opps.

Moving milestone to next week to reflect this next phase.

[2016-01-23 00:59] HPaulJohnson commented on #52
Initial brainstorming complete. Meeting set for next week to build out copy & visuals for a few of the initial ideas with the goal of having 3+ concepts ready by end of next week.

Updating milestone to reflect this next phase.

[2016-01-23 01:01] HPaulJohnson commented on #24
Discussed with @davidascher and per his suggestion emailed Abigail to initiate process.

Also, meeting with @lovegushwa and @natalieworth on Monday to demo tool so they can better understand how it integrates into landing page.

[2016-01-23 01:02] HPaulJohnson commented on #8
Is this a duplicate of #52?

[2016-01-23 02:06] lovegushwa commented on #51
@rohanporteous
Looking great! The splash on the bottle is a really nice touch. The only bit I think needs a little more polish is how the magnifying glass animates on the search. Seems like it's slightly fast, or it should bounce back a little. I'm totally splitting hairs. I love how it fades out.

[2016-01-23 02:19] OpenMatt commented on #68
Yep
On Jan 22, 2016 1:50 PM, "Kevin Zawacki" <notifications@github.com> wrote:

[2016-01-23 02:35] rohanporteous commented on #51
Great :)

[2016-01-23 03:02] darrenpasemko commented on #47
Here's an animation test for Video 2.
https://vimeo.com/152782114
Password: Mozilla
More to come over the weekend.

[2016-01-23 06:56] valianttry commented on #47
@darrenpasemko that is SO delightful! It's really awesome to see her "come alive" :ok_woman:

[2016-01-23 18:20] darrenpasemko commented on #47
Thanks so much Andrea!

[2016-01-24 03:05] lovegushwa commented on #47
@darrenpasemko yeah this is looking good!

[2016-01-24 03:12] brettgaylor commented on #47
Agreed. Like the frame rate and how she appears. Can't wait to see what a
transform looks like!
On 23 Jan 2016 9:05 p.m., "lovegushwa" notifications@github.com wrote:

[2016-01-24 03:17] lovegushwa commented on #47
Hey folks, is this the final locked script?
https://docs.google.com/document/d/1AJkQTko64o6Cz5g1HXDCaY-vuh5ComkSGKeaemqh7Cg/edit

If not can you drop in a link? Thank you!

[2016-01-25 14:16] adamlofting commented on #28
I'm currently leaning towards dropping question 3 'I use encryption'.

I think what we wanted to learn from that question will be covered in the definitions in question 1 and 2.

[2016-01-25 15:18] OpenMatt commented on #67
@valianttry I'd like to get an update to the Executive Team by Tues Jan 26 on the overall campaign status. Showing off all our good work to date, and summarizing our overall total campaign budget, KPIs and beats. Doesn't have to be a deck -- a simple one-pager or even email is fine.

Possible to turn this into that by Tues, you think?

cc @brettgaylor

[2016-01-25 15:51] KevZawacki commented on #33
We determined that the beat 1 blog will be an in-house supplement to the video / introduction to the campaign's themes.

First draft [here](https://docs.google.com/document/d/1JbgkVzQjT7TQaZDsXPnh3ew_6z0bmA_Fij-qdRrUFN8/edit), ready for review by @HPaulJohnson.

[2016-01-25 16:58] OpenMatt commented on #70
ok. @HPaulJohnson can you just be the decider here? I'm going to remove "needs discussion" and treat Paul and Jordan as the deciders on this one. @HPaulJohnson please just close this if you know consider this a decision made.

(@brettgaylor should chime in here if he has opinions)

[2016-01-25 16:59] OpenMatt commented on #70
Also: given that we're going w. self-hosting, let's let @ScottDowne know. (Hi, Scott.)

[2016-01-25 17:01] OpenMatt commented on #66
k thanks @shaghdoosti -- we can discuss in today's kick-off

[2016-01-25 17:03] brettgaylor commented on #70
Just make sure in self hosting we have mechanism to see plays of video as
well as how much has been seen. Libraries should exist for this.

Re: YouTube, if we can't solve soon let's just start a new account. Shame
but there were not a lot of followers there.
On 25 Jan 2016 10:59 a.m., "OpenMatt" notifications@github.com wrote:

[2016-01-25 17:04] OpenMatt commented on #51
@brettgaylor do you want to review as well, or are you ok leaving this w. @lovegushwa to approve?

[2016-01-25 17:05] OpenMatt commented on #49
@darrenpasemko great! I assume you mean Monday the 25th right? Will look for those today.

[2016-01-25 17:06] OpenMatt commented on #45
@rohanporteous still on track for rough cut by Jan 26?

[2016-01-25 17:07] OpenMatt commented on #40
Nice work team. What are the final steps to closing this ticket?

@valianttry: can you provide final design approval?

[2016-01-25 17:08] OpenMatt commented on #39
@valianttry want to provide final design approval? Then @lovegushwa I assume we can close this one?

[2016-01-25 17:10] OpenMatt commented on #29
@valianttry not sure what's needed this week to close this ticket.

[2016-01-25 17:11] OpenMatt commented on #28
@shaghdoosti next steps?

[2016-01-25 17:12] OpenMatt commented on #24
ok thanks @HPaulJohnson -- please let me know if you run into any blockers re: getting vendor review finalized. Will leave with you to push this one to close.

[2016-01-25 17:15] OpenMatt commented on #23
- Want to make sure @ScottDowne 's next steps are clear on this this week.
- Do folks think a kick-off meeting would be helpful to ensure we're clear on next steps for this build?
  @valianttry @ScottDowne @lovegushwa

[2016-01-25 17:16] OpenMatt commented on #17
@lovegushwa can you signal here when we're ready to hand off from design to build?

[2016-01-25 17:17] OpenMatt commented on #8
yes let's close

[2016-01-25 17:17] #8 closed

[2016-01-25 17:18] valianttry commented on #29
@OpenMatt I just reassigned this to @stephaniemcv -- would you mind double checking she has her Github set up to get alerts when she's tagged? (I want to make sure she's not missing stuff)

[2016-01-25 17:25] OpenMatt commented on #70
@ScottDowne ^ see re: play count, etc.

[2016-01-25 17:34] valianttry commented on #23
We can't move forward until I get definitive word on required fields from legal. This is stuck for the moment at that step. No kickoff is needed ATM.

[2016-01-25 17:37] valianttry commented on #28
Just reviewed this, love the simplicity. I worry that people will select "somewhat" for the first survey, then also select "somewhat" at the second even if they are a little more knowledgeable. In other words, I worry the scale is too simple. Can we use numeric 1 - 5 (5 being very knowledgeable)?

[2016-01-25 17:39] stephaniemcv commented on #29
I got an email notification. ^_^ I have a bug submitted for view access on GA for different Advocacy campaigns. Once that is finished I'll be able to report back on numbers.

[2016-01-25 17:43] darrenpasemko commented on #49
I'm still in the thick of it. The storyboard is in the works. I hope to have finished late this afternoon.

[2016-01-25 17:49] lovegushwa commented on #17
yep @OpenMatt I'm going to meet with @natalieworth about UI. We're trying to wrap this up today, I think tomorrow it will be ready for @ScottDowne if everything goes well.

[2016-01-25 17:55] lovegushwa commented on #39
@OpenMatt @valianttry revising based on redpen feedback, will post and close in the next hour.

[2016-01-25 18:05] shaghdoosti opened #72 "Update from volunteers from Singapore"
Hey -

After coming back from Singapore I have some great feedback from the community:

Topline: There is general excitement about the campaign as well as a few well thought out comments.

Key Concerns:

- **Make GIFs?** Many of our volunteers live in areas where internet speed is low and therefore video is hard -- the suggestion was if we could make gifs as well.

- **Don't lose momentum for loca

[2016-01-25 18:10] adamlofting commented on #28
We have a plan for that :smile:

If they pick 'somewhat' we ask them to attempt a written definition, new textbox appears. And then we'll review/grade those answers. We can use a more detailed scale in that situation.

[2016-01-25 18:12] shaghdoosti commented on #40
@valianttry would love to know if you agree with this -- my instincts are that the signup should be next to the video.  I worry that if the actions are below the video we'll see a lot less conversions.

[2016-01-25 18:40] ScottDowne commented on #40
@shaghdoosti I would probably ask design that question.

My 2 cents are to go with just the signup, and put the video in the post signup/thank you.

[2016-01-25 18:41] ScottDowne commented on #40
It's worth testing a video, and in various places.

[2016-01-25 18:52] lovegushwa commented on #39
@mmmavis @stephaniemcv @simonwex @OpenMatt
We can convert this to a build ticket, who's going to be working on this?

These email variants are ready to build using the FF+You HTML here:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvQi1DSlZ4aHI5V2M/view?usp=sharing

![teach-email-06-jordan-03](https://cloud.githubusercontent.com/assets/12228435/12560748/48388c9c-c351-11e5-961c-f05b54b5

[2016-01-25 19:38] OpenMatt commented on #47
@brettgaylor is that the correct version?

[2016-01-25 19:42] OpenMatt commented on #28
cool! @shaghdoosti are you going to do a final review, then we can go ahead and send?

[2016-01-25 19:43] OpenMatt commented on #39
@ScottDowne can you work on the build for this? Or should we assign to someone else? (cc @simonwex )

[2016-01-25 19:44] darrenpasemko commented on #47
That is! That's the correct and final locked script.

[2016-01-25 19:44] shaghdoosti opened #73 "Time Line for the campaign:"
Campaign Timeline + Deliverables

Chapter 1: January 28 - Feb 11 -- Video launch Feb 11.
Theme: Privacy is essential to live an authentic life; and to be who you are.
Content Deliverables
Live-action video “We all need privacy”

Promotional channels for content
Mozilla Foundation email list (1.8 million)
Firefox desktop snippet
Firefox + You (tentative)
@Mozilla Facebook + Twitter

Communications

[2016-01-25 19:45] shaghdoosti commented on #28
Yes -- it's on my list for today.

[2016-01-25 19:48] shaghdoosti commented on #73
This is slightly different from what we have here:

https://docs.google.com/spreadsheets/d/1J3LasxurHzzSfT4VjaWLmBSrZqPcnAfKJ80TLbKXLDQ/edit#gid=0

I want to make sure we're all on the same page, then I can update our calendar and turn this into a blog post. (There's just a lot of questions around timeline)

[2016-01-25 19:51] valianttry commented on #28
Sounds good @adamlofting !

[2016-01-25 19:53] ScottDowne commented on #39
Does dev start or begin on Jan 29th?

Either way, I was thinking of taking some time off in Feb, so it might not be me that takes this.

[2016-01-25 19:57] OpenMatt commented on #72
@shaghdoosti good to know. anything that we should do differently over the next two weeks, based on this?

[2016-01-25 19:59] valianttry commented on #23
Meeting now scheduled with snippet team and legal team for this Thurs 1/28

[2016-01-25 20:07] OpenMatt commented on #73
add detail from TODO for Beat 3

[2016-01-25 20:12] OpenMatt commented on #73
- potential issues w. this timeline:
- launching videos / content each week may become more difficult after beat 2, as the production requirements / complexity increase
- next step: @lovegushwa + @openmatt review the timeline above to spot production bottlenecks

[2016-01-25 20:13] OpenMatt commented on #73
- go back and look at TODO delivery date

[2016-01-25 20:16] OpenMatt commented on #23
Just to underline: this means we will be blocked on all snippet-related production work until Thursday minimum

[2016-01-25 20:20] OpenMatt commented on #40
- we agreed to try testing an on-the-side variant in today's call. (removing above and below) @lovegushwa @natalieworth are you guys clear on next steps here?

[2016-01-25 20:23] OpenMatt opened #74 "Turn our video content into a few choice GIFs"
As per #72. Seems like a good idea for localization, and also just cool in general.

[2016-01-25 20:23] OpenMatt opened #75 "Start localizing video 1 and 2 scripts"

[2016-01-25 20:40] valianttry commented on #75
I sent a note to Francesco Lodo to ask for his advice on how to initiate a localization request to l10n for video scripts

cc @shaghdoosti

[2016-01-25 20:46] OpenMatt commented on #40
https://redpen.io/p/rv00aaeaa82563cde2

[2016-01-25 20:47] rohanporteous commented on #45
@OpenMatt @brettgaylor @valianttry yes indeed! Came in this morning for the first look after the guys wrapped on the weekend and it looks like it will all come together pretty well! As it often happens with the edit, I'm finding it might change from the storyboards/exact way it was shot just to keep things a bit tighter throughout, but looking forward to you seeing it.

I already have most of it i

[2016-01-25 20:53] OpenMatt opened #76 "Figure out domain name for encryption campaign landing page"
cc @lovegushwa @ScottDowne @cadecairos

[2016-01-25 21:23] shaghdoosti commented on #28
@stephaniemcv

[2016-01-25 21:47] shaghdoosti commented on #73
Hey everyone - I updated what the beats and video deadlines are from the document we created together in Victoria. I've also added the basics to our encryption calendar. Let me know if there are flags.

[2016-01-25 21:48] shaghdoosti commented on #73
@Jochai1 As I mentioned the dates are moving around a little -- but this will be the best place to see it up to date.

[2016-01-25 21:55] shaghdoosti commented on #73
Also @valianttry

[2016-01-25 22:52] darrenpasemko commented on #49
Update: I'm pushing through the storyboard, but it's going to take me until the evening to finish up. Some of the panels require detail in order to really communicate the actions. Sorry for the delay.

[2016-01-25 22:56] HPaulJohnson commented on #24
Questionnaire sent to Share Progress. Also looped @simonwex for help on vendor review.

Previewed tool for @lovegushwa and @natalieworth who will now explore customization options in a sandbox account that has been setup and compile a list of outstanding to ask Share Progress team.

[2016-01-25 22:59] lovegushwa commented on #76
@HPaulJohnson suggested using advocacy + the campaign name so ...
 https://advocacy.mozilla.org/encrypt

@shaghdoosti @valianttry @OpenMatt @brettgaylor we can close this if no one has any issues.

[2016-01-25 23:04] valianttry commented on #76
As long as we can use shorteners; etc i have no issues.

[2016-01-25 23:05] HPaulJohnson commented on #76
We can/should also use mzl.la/ shortlinks in various places (social, etc) to do something punchier and without the advocacy.

[2016-01-25 23:45] lovegushwa commented on #73
Yay March 24 and 25 in Portland :+1:

[2016-01-26 01:06] natalieworth commented on #40
I've updated the Beat 1 landing page based upon today's meeting and the comments from redpen.  We were able to finalize:
- social share: include email, facebook, and twitter options (can add more in future beats to test other icons for sharing)
- opt-in will include a pop-up with input for name, email, and country ( @valianttry confirm if these options are good, or if just email is preferred)
- po

[2016-01-26 01:17] ScottDowne commented on #76
Cool, so sounds like for now we're going to try for hosting it on advocacy.mozilla.org, and use shorteners where needed. This is a good plan.

@alicoding ^^

This should all be static too and we shouldn't need a server for any of it.

[2016-01-26 01:23] ScottDowne commented on #40
I may have gotten this mixed up with the snippet issue. @shaghdoosti was your question about the video beside in regards to the snippet or the landing page?

For what it's worth, putting it beside is quite a large change from previous snippets and might be something we want to run by the snippet team.

[2016-01-26 01:29] natalieworth commented on #40
![encryption-wireframes-11_artboard 79](https://cloud.githubusercontent.com/assets/14876567/12570008/04fcb88a-c389-11e5-8e38-dca322104218.png)

@ScottDowne I think @shaghdoosti was referring to the design layout above for the landing page. I've removed the content of the video for this version as the responsiveness of this would then interfere with the carousel and create an awkward stacking order

[2016-01-26 05:01] valianttry commented on #75
Great email from Flod:

Hi Andrea,
I need a bit of clarifications: when you say "localization", you mean that you actually want to localize the video (i.e. content displayed, voice over) or add subtitles?

I assume it's the second, and this post has a bit of background on localizing subtitles
https://www.yetanothertechblog.com/2015/01/15/video-subtitles-and-localization/

TL;DR.
Having the text in

[2016-01-26 05:02] valianttry commented on #23
Some helpful info from Jean Collings:

"
-- If the main goal of this campaign is opt-ins, I prefer we push the video and the opt-in form together. Since videos are a big change on about:home, we prefer to keep this type of content to 3 days (to avoid user fatigue). More than happy to talk/think this one through with you.

-- If we are doing videos above the opt-in form, then Scott will need to cre

[2016-01-26 14:56] brettgaylor commented on #49
No worries.  I will check in tomorrow for approval and comments.

[code]

[2016-01-26 16:53] cassiemc commented on #67
@OpenMatt This is peripheral, but all the Advocacy home page and Open Web Fellows designs to date are here: https://redpen.io/p/wt1d64bfb93fa6a6b8

[2016-01-26 17:48] stephaniemcv commented on #39
I can take this. It should only take slight modification of current code in ET.

[2016-01-26 18:33] OpenMatt commented on #67
@valianttry I left notes in your doc

[2016-01-26 18:42] shaghdoosti commented on #28
Hey everyone -

Seems like we're all good to go on the survey questions. I've done a new draft of the email. @adamlofting let me know if this is neutral enough. @valianttry what's the approval process for surveys? My assumption is --policy and Mark?

Here's the link: https://docs.google.com/document/d/1PkPdOAKifeg9IqXbD2QNCvD4Z4zha72_88zs7IdGGnY/edit

[2016-01-26 19:49] lovegushwa commented on #40
@alicoding @natalieworth @shaghdoosti @HPaulJohnson @valianttry
Final, final Beat 1 wire-frame variants.

![encryption-wireframes-12-01](https://cloud.githubusercontent.com/assets/12228435/12592753/99a59440-c422-11e5-9bf0-6b0239da3819.png)
![encryption-wireframes-12-02](https://cloud.githubusercontent.com/assets/12228435/12592765/a90e98e6-c422-11e5-97d5-f46fa189e8ca.png)
![encryption-wireframes-12

[2016-01-26 20:32] KevZawacki commented on #40
@HPaulJohnson Microsite copy tightened up and ready for your review [here](https://goo.gl/7HcEBM).

[2016-01-26 20:36] KevZawacki commented on #68
@HPaulJohnson Microsite copy (see issue #40) tightened up and ready for your review [here](https://docs.google.com/document/d/1rZnC_4uIv7fVlps_RwTIcDR4ohHgIxN6vt_eLMEWcwo/edit?ts=56a67edc).

[2016-01-26 20:38] HPaulJohnson commented on #40
thanks, @KevZawacki.

@shaghdoosti and @valianttry if you could take a look at draft copy for landing page and provide any edits/feedback that would be great.

[2016-01-26 20:47] shaghdoosti opened #77 "Encryption Campaign teaching kits"
There's been a lot of conversations around how we can create more opportunities for in depth engagement around the encryption campaign. Today @amirad @chadsansing and @mozstacy and I met to discuss if there's a possibility to create teaching kits/resources to compliment the campaign.

Here's where we got to:

Stacy will put together list of who is interested and what already exists
Chad will take

[2016-01-26 20:49] shaghdoosti commented on #72
Only that we should make sure we create gifs and/or other resources from the videos.

[2016-01-26 20:54] KevZawacki commented on #69
@valianttry, I've responded to MJ's questions. She should now have a solid background of the campaign.

Re: Firefox + You, MJ notes:

"Thanks for the ping. I had originally thought this would fit in the February issue, but we've got a story on Smart On Surveillance running.

Something for March could work, provided this product-oriented audience can relate to it. Given that you know a lot more abo

[2016-01-26 21:04] KevZawacki commented on #65
Moving milestone, since @brettgaylor is needed to make decisions here.

[2016-01-26 21:08] darrenpasemko commented on #49
The first pass storyboard panels are done. I'll throw them into a Google Doc after lunch. The next step would be to record temp narration and edit an animatic. I'll have both of these finished today. Getting there.

[2016-01-26 21:31] valianttry commented on #67
Sent and completed.

[2016-01-26 21:31] #67 closed

[2016-01-26 21:33] valianttry opened #78 "Create internal marketing deck for campaign"
(Using the story arc and narrative from #67)
This ticket will be to create a deck for sharing across multiple internal moco and mofo stakeholders.

[2016-01-26 21:33] rohanporteous commented on #45
@OpenMatt @brettgaylor @lovegushwa @valianttry

Hey all!

You can find the initial rough cut here: https://drive.google.com/a/agency.sc/file/d/0B3UIshL1Uom0SFNueXdwRVJXaU0/view As a rough there are of course many things still left to do. The notes below should hopefully make everything as clear as possible!

As always, the best feedback is that which is really focused, and taking into account the

[2016-01-26 21:40] valianttry opened #79 "Launch a "movement building open" blog similar to fundraising.mozilla.org"
Mark has nudged me on this. Let's scope and do it. :smile:

[2016-01-26 21:41] rohanporteous commented on #45
@OpenMatt permissions fixed ;)

[2016-01-26 21:41] valianttry commented on #45
cc @shaghdoosti

[2016-01-26 21:58] OpenMatt commented on #45
Document for gathering feedback: https://docs.google.com/document/d/1y_tLAXPdIV_x1KGp0zjJv0V3M_rgbaJ5sJoiUNTNzUw/edit

[2016-01-27 00:23] shaghdoosti opened #80 "Email journey timeline"
Survey email:

Launch Date: Monday, Feb 1
Audience: 100k sample from EN speaking Mozilla Foundation list (advocacy/fundraising list)
list size: (100k)
Link: https://www.surveygizmo.com/s3/2534675/Mozilla-Encryption-Survey
From: The Mozilla team

Beat 1:

February 10: Video 1 launch email:

Audience: All english Mozilla advocacy list

Segment 1: Non Committed (Definition: xxx)
list size: xxx
From:

[2016-01-27 00:25] shaghdoosti commented on #80
@valianttry @stephaniemcv Let me know what you think. I haven't done the other beats yet -- because we are testing messages and I'm assuming our plans would shift based on what we learn.

[2016-01-27 00:26] shaghdoosti commented on #80
Also draft emails for the launch are here: https://docs.google.com/document/d/1CEXBJC1jN2wRefRbHzJMSTyUDrC1lMDwbn5od449Hdc/edit

[2016-01-27 04:43] darrenpasemko commented on #49
The storyboard is up: https://goo.gl/RG1jwm
I need some feedback. I'm going to take a step away from it. I'd love to chat about it tomorrow. I also got my wife to record a temp track for the audio, to get a sense of how the script is reading (she has a great voice). I'll edit that tonight, and start piecing together a rough animatic to see how these visuals are really playing out.

[2016-01-27 07:32] valianttry commented on #79
cc @OpenMatt

@alicoding do you know how difficult it would be to set up a simple wordpress blog at a URL such as advocacy.mozilla.org/open or something like that? Right now we do not need fancy charts or any of the complicated stuff that's on F.M.O. Just blog posts by various authors.

[2016-01-27 09:50] adamlofting commented on #28
This works for me :+1:

[2016-01-27 10:48] alicoding commented on #79
Does it needs to be WordPress?  The reason I ask because WordPress is not easy to setup without having to get help from @jbuck to setup the database and all, but if we go with other modern CMS option here which does pretty much what you want then I might be able to do it easily

[2016-01-27 14:20] OpenMatt commented on #79
@simonwex @cassiemc we'd like to volunteer this to be the first / a first implementation of your "better / faster" CMS approach. Would that work? Or should we just go with WordPress?

[2016-01-27 14:24] cassiemc commented on #79
@OpenMatt This sounds great to me if the tech exploration is far enough along. When do you need it by?

[2016-01-27 14:29] chadsansing commented on #77
@shaghdoosti, @MozStacy, @amirad - here is the [braindump](https://docs.google.com/a/mozilla.com/document/d/1nq_CBYs0lVnMDZFTB68nk4vLMEerOSm0R1-dujOQ8Kg/edit?usp=sharing).

[2016-01-27 14:30] OpenMatt commented on #79
as soon as possible. Ideally: week of Feb 1.

[2016-01-27 15:01] KevZawacki opened #81 "Create avatar image for Medium publication"
The skeleton for our encryption Medium publication is here: [medium.com/encryption-matters](https://medium.com/encryption-matters)

We need an avatar image — the small square graphic that sits above the homepage publication title.

We currently have a placeholder:

![screen shot 2016-01-27 at 9 48 43 am](https://cloud.githubusercontent.com/assets/11045250/12616885/31fbc9ae-c4db-11e5-8861-1529098d6

[2016-01-27 15:06] KevZawacki commented on #41
[Publication created](https://medium.com/encryption-matters). Working with @HPaulJohnson, @natalieworth and @lovegushwa on images and copy.

[2016-01-27 15:46] stephaniemcv commented on #80
Just a head's up - 2/15 is President's Day, and retail tends to send a lot of emails around this time. We might want to consider changing this one, I don't want our message to get lost in the deluge.

Also, MOCO is sending their monthly newsletter 2/23. I have made a note to myself to find the number of crossover between our lists but we might want to be wary of back to back emails.

[2016-01-27 16:36] rohanporteous commented on #45
FYI my notes during the call with @brettgaylor (for context, he saw an additional rough edit):

We’re getting there. Like’s the first cut better. Needs an overall tightening. What does it look like to lose one of the interactions—can we get it to the 45 second mark? But let’s only discuss that if other tightening doesn’t work.

Exterminator and the Dad. Can’t see that the exterminator sees the CC

[2016-01-27 16:38] cassiemc commented on #81
If something like this could also work at a large scale as well, we could use it for the advocacy homepage placeholder for the campaign (see top image here: https://redpen.io/yb6b08a51928a755ea)

[2016-01-27 16:45] jgmac1106 commented on #81
What about the floating eye that was used during the privacy campaign.
Something like that or playing with an icon of a lock or key?

On Wed, Jan 27, 2016 at 11:38 AM Cassie McDaniel notifications@github.com
wrote:

[2016-01-27 16:55] brettgaylor commented on #49
Hey, @darrenpasemko !  Honestly, these are fantastic.  Awesome work.

Folks are going to leave some comments in the google doc, and I'll make sure to connect with you tomorrow morning to close the final feedback.

Can't wait to see this in animated form!

[2016-01-27 17:16] darrenpasemko commented on #49
Thanks Brett. Talk more today! I've hired on a Producer. Karina Ripper. She rips it up! I'm sitting down with her from 1:30-3:00.

[2016-01-27 18:09] valianttry opened #82 "Decide if YouTube Donation Card is an option for testing in a video"
Reference:
http://blog.see3.com/youtube-launches-a-breakthrough-in-nonprofit-fundraising/

Given our investment in video content and our goal to integrate fundraising into our advocacy campaigning, this seems like a good option to explore.

Thoughts / Questions:
* Network for Good is the payment processor. This likely means Network for Good would have to go through security review (if it hasn't al

[2016-01-27 18:09] rohanporteous opened #83 "Urgent: finalization of voice over/message text"
Hey @brettgaylor @OpenMatt @HPaulJohnson @valianttry @shaghdoosti and team,

Now that we've got something solid to reference in the rough draft it's time to finalize all the voice over & messaging! This has to happen ASAP as we need to book/record the VO before *and* add in all the final graphics before the end of the week.

I've created this doc to provide context around all the individual elemen

[2016-01-27 18:18] rohanporteous commented on #40
Hey @lovegushwa, I believe @brettgaylor was going to open a new issue following my call with him but just in case I thought I'd follow up here:

Do you have any designs for this? The final moments of the video could obviously benefit from considered stylistic integration with the site, so would love to have access to whatever you've got or get some points on direction in the meantime. Let me know.

[2016-01-27 18:35] amirad commented on #77
So many ideas @chadsansing this is great.

Also tagging @ldecoursy here to follow along!

[2016-01-27 19:26] rohanporteous commented on #83
FYI Gwenith has now officially been hired for the VO gig. Just waiting on confirmation of her schedule to know whether we need the final VO script by tomorrow midday or Friday morning.

[2016-01-27 19:32] HPaulJohnson commented on #68
This copy is good to go.

Closing.

[2016-01-27 19:32] #68 closed

[2016-01-27 19:35] HPaulJohnson commented on #40
@lovegushwa @natalieworth - copy has been reviewed and updated (see issue #68).  It is ready go into the designs.

[2016-01-27 19:47] adamlofting commented on #82
That sounds interesting.

A search for existing vendor reviews would be great - I've not seen one before, but we might have it somewhere.

From the screenshots it looks like they're using this as a way to sign-up new google payment accounts (I think this is 'wallet'). That has a similar level of review as we do with PayPal. I.e. the user makes the agreement with the provider not us, but we make su

[2016-01-27 19:56] valianttry commented on #20
I have done some analysis of our past advocacy campaigns, my scratch sheet is here:
https://docs.google.com/spreadsheets/d/1_QfHfOTBmGJFyo5USxCpK-2o2D-Jc4LVkSpnShDfLNI/edit#gid=2140398734

I'm going to add a summary here in a bit.

[2016-01-27 20:08] lovegushwa commented on #70
@alicoding ^ see re: play count, etc.
Closing this issue.

[2016-01-27 20:08] #70 closed

[2016-01-27 20:10] lovegushwa commented on #38
Converting this ticket to a campaign creative direction deck.

[2016-01-27 20:19] stephaniemcv opened #84 "Make Basket accept names"
Is it possible to fix this before Encryption Campaign launch?

From a long email thread -

Jon Petto: One major point brought to my attention yesterday is that basket doesn’t accept a name (or first name/last name). This means those fields on our form (privacy day) are superfluous, and is likely one reason why /data-retention/ sent information to sendto as well as basket. Thoughts on what we shoul

[2016-01-27 21:18] lovegushwa commented on #22
@valianttry @OpenMatt any updates via legal?

[2016-01-27 21:20] valianttry commented on #22
Sorry i only updated the build ticket: There is a meeting with legal tomorrow morning at 1030PST. I will have certainty after that.

[2016-01-27 21:25] lovegushwa commented on #57
@OpenMatt @valianttry For EOY we just gave them a color, some copy and a icon and they built the tile.
Can you confirm what's needed for this and who the MOCO contact is? (maybe there is a bugzilla ticket.)

[2016-01-27 21:29] lovegushwa commented on #22
no problem! thanks.

[2016-01-27 21:30] lovegushwa commented on #39
@stephaniemcv yay!
I'm going to convert this to a build ticket.

[2016-01-27 21:34] lovegushwa commented on #60
Lots of progress here this week. Will post an update here soon.

[2016-01-27 21:55] HPaulJohnson commented on #57
@lovegushwa I can help with this one, as I've already given Jen Bertsch the heads up (either her or Mike Alexis are best points of contact). I also just created the bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1243534

I'll work on some copy ideas based on landing page. If you could think about visual component would be great to get the MoCo team this stuff by end of week so they have time to

[2016-01-27 23:11] HPaulJohnson commented on #33
Nice work, @KevZawacki! Left comments in doc. Let's discuss when you've had a chance to review.

[2016-01-27 23:33] HPaulJohnson commented on #34
@KevZawacki added comments in doc. Needs some work to get there but it's a good start and think this can be a nice initial post that lays the groundwork for the rest of the campaign.

[2016-01-28 07:03] rohanporteous commented on #45
Hey @brettgaylor @valianttry @OpenMatt @shaghdoosti, I've been working on a new rough draft following my conversation with Brett this morning and just wrapped up. I think it's working a lot better!

### You can find the two options (with/without leaving baby behind) [here](https://drive.google.com/file/d/0B3UIshL1Uom0WXJhWThpamFBQ28/view?usp=sharing) and [here](https://drive.google.com/file/d/0B3U

[2016-01-28 09:56] adamlofting commented on #84
Drive by notes from me:
- Let's invest any time/money/energy in Basket and ET, not BSD
- We can't ship this for campaign launch, but the campaign runs for many weeks with several CTAs. Starting now is valuable, even if we only get the benefit in the 2nd half of the campaign
- The timeline was mostly nudging/chasing/project management and not many hours of dev - Can we (Mofo) help with that?:

Addi

[2016-01-28 10:04] adamlofting commented on #20
Given the time, I think we should restrict the possible scope of this request as it will require manual data wrangling and coordination with DEG.

We have a database table similar to our donation records which is a record of all the constituent groups people are in. We can use this to build a list of people who have taken specific previous actions. E.g. flag all people who Signed NN petition, or s

[2016-01-28 16:34] brettgaylor opened #85 "Create graphics for end cards"
We need to create the end titles using the same treatment as rest of campaign.

Jordan can you create and send to @rohanporteous based on the end screens in this document?

https://docs.google.com/document/d/1a_j7azyrkOHlSNHlpa2Ij4ciHuPjQoW8Lvc7Q6zNr2U/edit#

[2016-01-28 16:43] KevZawacki commented on #33
Thank you, @HPaulJohnson. I've worked in preliminary edits [here](https://docs.google.com/document/d/1JbgkVzQjT7TQaZDsXPnh3ew_6z0bmA_Fij-qdRrUFN8/edit). I've also better aligned with the beat 2 blog, since it sounds like we'll be publishing them simultaneously.

[2016-01-28 16:43] KevZawacki commented on #34
@HPaulJohnson Thanks for the edits. I've updated with your recommendations, and better aligned with blog 1.

[2016-01-28 19:43] brettgaylor commented on #45
Thanks, @rohanporteous !

I think I agree rough3b edit - the forgetting stroller moment is good, but pacing is better without it.  I also think that the pause with the exterminator/dad is still too long - we seem to be waiting for the music to hit a beat, but I don't think the payoff is worth it in this case.  I think

Can you try the slide ins in all of the transitions?  I find the cuts at :15 an

[2016-01-28 20:12] rohanporteous commented on #83
@brettgaylor @valianttry @HPaulJohnson I've now tried the boss with his new text. I think it might work timing wise! Let me know.

[The clip showing the message appearing](https://drive.google.com/file/d/0B3UIshL1Uom0a28tamp1ZjB0c2s/view?usp=sharing).
[His reaction](https://drive.google.com/file/d/0B3UIshL1Uom0V1ZmM3h0SzFxSDA/view?usp=sharing) after seeing the rest of the office. (Still a little s

[2016-01-28 20:20] rohanporteous commented on #45
Thanks @brettgaylor! Quickly on your points:

**Dad/exterminator**: I think this will be made better with SFX announcing the awkwardness of the CC reveal, but perhaps it just needs a little fill from the narrator? 'Ummmmm…' or 'Ahhhhhh…' to highlight the awkwardness and make it deliberate, rather than have the moment feel slow.

**Slide/wip**: will try! But also don't want it to become overkill/to

[2016-01-28 20:53] adamlofting commented on #28
Last discussion point to resolve...

Does this work for you @shaghdoosti
- "I will not support attempts to undermine encryption"

A tougher (somewhat sneakier) test would be to also ask the opposite, and see if people notice.
- "I will support a court-ordered process for obtaining encrypted data"

[2016-01-28 21:35] valianttry commented on #84
The ability to address people by first name in messaging usually has an impact on conversion. First, I'm going to ask MoCo if they are open to let us help make this functionality possible in basket, per @adamlofting 's work estimate.
cc @simonwex @OpenMatt

[2016-01-28 21:53] rohanporteous commented on #83
@brettgaylor @valianttry @HPaulJohnson @shaghdoosti final line to decide on before getting re-record from voice talent: the lead into the boss.

Now that we've changed his text, the medical line no longer works. I've added a new section for input at the top of the narrator page in the doc up top. If people can leave ideas/comments in there asap that would be great!

[2016-01-28 21:55] valianttry opened #86 "Create new constituent groups for ExactTarget"
Reference: #20

We would like to send custom messaging to our current Active Advocates (supporters on our list who have signed at least one of our major petitions). We also want to be able to see their responsiveness relative to new optins or other sub-segments.

That means we need to create two new constituent groups in the database for current list subscribers who signed either of these two peti

[2016-01-28 21:56] valianttry commented on #20
I think we can learn a lot by segmenting people who participated in at least one campaign in 2015. I've opened a new ticket to create 2 new constituent groups: #86

[2016-01-28 21:59] valianttry commented on #86
Note: This upload only has to happen 1x (not daily like EOY donor data).

[2016-01-28 22:27] HPaulJohnson commented on #83
@rohanporteous: just talked to @valianttry and @lovegushwa about this. There is still some strong feeling that the idea of keeping medical data private is still critical to the campaign message overall, so trying to figure out a way to maintain this and have it match the emotion of the character.

To unblock forward progress, would it be possible to record two versions of the voice over? One, usin

[2016-01-28 22:35] darrenpasemko commented on #49
Here's the animatic!
https://vimeo.com/153425970
Password: Mozilla

Notes...
The Animation test has been quickly inserted to the animatic at the start. The morphs are non-existent right now, as that will happen in the animation phase, but are suggested in the edit. The camera cuts to different shots of the "cypher-text" bits falling to the ground at start. The particle systems will be dynamic and

[2016-01-28 22:40] KarinaRipper commented on #15
Hi Matt - Nice to meet you :) I'm producing for Darren on Beat 2 and wanted to check in on the status of the contract agreement. Any news on when it will be ready? Thanks! @OpenMatt

[2016-01-28 23:00] KarinaRipper opened #87 "Voice Over Record"
Hi @OpenMatt @brettgaylor diving in for Beat 2, woot woot :)

Wanted to check in on the VO record for Beat 2. I saw that the VO artist is Gwenith and she has been hired but would like to know when we can get her VO recorder. Would be great to get this rolling soon (possibly by Monday?) so we can begin animating to her VO track rather than the scratch. Let us know the status.

Thank you!

[2016-01-28 23:33] valianttry commented on #28
I worry a little about the double negative in the first option. Here are a couple others for your consideration:
- "I will speak out to support encryption if asked."
- "I will support laws or policies that strengthen encryption"
- "I will take action in the future to support encryption"

[2016-01-29 01:32] HPaulJohnson commented on #83
@rohanporteous @brettgaylor @valianttry @shaghdoosti

I added some alt voice-over thoughts for boss scene. It does lack the power of the medical secrets however. One idea I had about a possible fix that would allow us to keep all the original themes (family, financial, personal, job, medical) would be:
- Turns the dad w/ strollers moment into "blue poo" message and medical secrets voice/over. His

[2016-01-29 02:48] rohanporteous commented on #83
@HPaulJohnson don't think it's necessarily a bad idea by any means, but it is probably a little too much to tweak at this stage given that the edits are pretty dependent on the specific messages and their timings. Will take a look through all your other ideas! Thanks for writing them up :)

[2016-01-29 02:51] brettgaylor commented on #83
That could work - switching the dad and boss lines.

Rohan, this would likely push us a day, which from our end would still be ok.

I think you’d need to cut away from the dad/exterminator almost right away.

Could be a good solve.

[2016-01-29 02:55] rohanporteous commented on #83
In this instance I was more concerned about the delays on my end rather than yours, as it's just getting to the final stages of production and cutting into the animating/polishing. Will give it a quick go in the edit to see if it works.

[2016-01-29 04:30] rohanporteous commented on #52
Hey @HPaulJohnson @lovegushwa @OpenMatt, has this had any movement so far? Might be able to get our senior designer onto these early next week if we set up goals/needs tomorrow.

[2016-01-29 04:35] HPaulJohnson commented on #52
@rohanporteous: we've come up with some initial ideas to explore which I'll review with @lovegushwa tomorrow a.m. and then send over your way. We also have progress on the landing page which will help us with overall visual identity we can incorporate into social. More to come tomorrow.

[2016-01-29 04:50] rohanporteous commented on #52
@HPaulJohnson great, thanks! Sally (our SD mentioned above) is just reviewing the still photos too, and will be able to use some of them on the website/in social as required as well.

[2016-01-29 05:00] lovegushwa commented on #85
@brettgaylor @rohanporteous

Regarding the end cards. We will have different landing pages. One for our email list, with a UX social share CTA after the video plays. And one for organic/social with a UX Opt-in email CTA. Both these videos just need the campaign branding. Something like this: https://drive.google.com/file/d/0B2qu3ExKWIlvaDN2WEpOS3NIaHc/view?usp=sharing

We will also have video dire

[2016-01-29 05:04] rohanporteous commented on #45
@brettgaylor @HPaulJohnson: have tried two new things here.
1. [Switching the CC/poop text](https://drive.google.com/file/d/0B3UIshL1Uom0R0ZOQ04tMEthNjg/view?usp=sharing). Had to change the way it worked with the dad as the emphasis wasn't on the CC# reveal during their stare off anymore, so it's shorter overall. The boss' lines would have to be simpler. Remove the diaper line to just have somethi

[2016-01-29 05:06] rohanporteous commented on #85
@lovegushwa ooooh that looks cool. Will you have original Photoshop/Illustrator files for me? Would be good to do some subtle animations on the letters.

Would be great to know exactly what narration differences are required for each as well.

[2016-01-29 06:02] simonwex commented on #84
Looks like Paul made some fast moves here. Hopefully this will get merged tomorrow.

[2016-01-29 06:57] rohanporteous commented on #83
@brettgaylor @HPaulJohnson ok I'm going to leave the office now! I think if we have the edit decisions resolved tomorrow morning that should give us enough time to incorporate all the changes :) (have confusingly been mixing threads. the new edits on the 'rough edit' issue.

[2016-01-29 14:03] OpenMatt commented on #87
@brettgaylor are you able to respond?

[2016-01-29 14:06] OpenMatt commented on #15
Hi @KarinaRipper -- here's the contractor agreement signed on our side. can you have Darren sign, then post the signed version here?

[2016-01-29 14:31] OpenMatt commented on #84
thanks @pmclanahan !

@simonwex I'm going to assign to you just to follow up here and make sure this doesn't fall through the cracks, if that's ok.

[2016-01-29 14:36] OpenMatt commented on #28
Let's ensure we're clear on final steps to close this ticket.
1) @shaghdoosti can you address / make whatever edits are required to the document to address @valianttry 's point above?
2) @valianttry Do you want to answer @shaghdoosti 's question re: approval process? Do we need @msurman + Policy to sign off before sending?

[2016-01-29 14:37] OpenMatt commented on #49
Thanks @darrenpasemko !

@brettgaylor : I assume next step here is for you to give notes

[2016-01-29 14:39] OpenMatt commented on #86
cc @simonwex

[2016-01-29 14:40] OpenMatt commented on #20
Thanks guys. @valianttry now that you've filed #86, do we still need this ticket?

[2016-01-29 14:41] OpenMatt commented on #57
@lovegushwa any status updates on this one?

[2016-01-29 14:42] OpenMatt commented on #39
@stephaniemcv how's it going? need any help?

[2016-01-29 14:43] pmclanahan commented on #84
It is merged, and I just pushed the backported version to our `legacy` branch (we have 2 different deployments at the moment, _sigh_). So the changes are already on our [new infra staging instance](https://basket-stage.us-west.moz.works) ([auto deploy](https://travis-ci.org/mozilla/basket/builds/105682713)) and we can test there. I've also [filed the bug](https://bugzilla.mozilla.org/show_bug.cgi?

[2016-01-29 14:45] OpenMatt commented on #82
@simonwex do you know answer to Andrea's question above re: vendor review search?

[2016-01-29 14:48] OpenMatt commented on #77
nice! @shaghdoosti is there discussion needed her? or are you guys all good to push ahead w. next steps?

[2016-01-29 14:50] OpenMatt commented on #41
@KevZawacki great! can we close? if so please go ahead.

[2016-01-29 14:51] OpenMatt commented on #79
Another option, if we don't think this will be ready, would be to just use Medium. Since we're creating a Medium publication for the campaign anyway. @KevZawacki @HPaulJohnson good idea? bad idea?

[2016-01-29 14:52] OpenMatt commented on #69
nudging @valianttry and @shaghdoosti

[2016-01-29 14:53] OpenMatt commented on #72
ok. I'm going to close this then, and we'll just make sure we do #74

[2016-01-29 14:53] #72 closed

[2016-01-29 14:58] OpenMatt commented on #23
- @valianttry @ScottDowne @lovegushwa what are the next steps here?
- @ScottDowne are you working on this? Or still waiting for direction?
- @lovegushwa does this feedback from Jean influence design?

[2016-01-29 15:01] OpenMatt commented on #75
yes indeed! done. anyone can add new collaborators here:
https://github.com/MozillaFoundation/encryption_campaign/settings/collaboration

[2016-01-29 15:01] OpenMatt commented on #75
cc-ing @brettgaylor here to take this up once he's back from vacation

[2016-01-29 15:02] OpenMatt commented on #76
This feels like a decision made, so I'm going to close this.

[2016-01-29 15:02] #76 closed

[2016-01-29 15:04] OpenMatt commented on #73
@shaghdoosti is this now complete and up to date? I think we can mark as closed, and move that timeline to the wiki if so.

[2016-01-29 15:06] OpenMatt commented on #17
@lovegushwa do we still need this ticket? Or is the build happening elsewhere?

[2016-01-29 15:08] OpenMatt commented on #29
@stephaniemcv cool. rolling this over to next week.

[2016-01-29 15:09] OpenMatt commented on #29
@stephaniemcv rolling this over to next week.

[2016-01-29 15:11] OpenMatt commented on #51
@brettgaylor do you want to sign off? Anything more we need to do here?

[2016-01-29 15:11] OpenMatt commented on #30
@KevZawacki how'd it go?

[2016-01-29 15:12] OpenMatt commented on #66
@shaghdoosti I'm going to assume we're not doing a contest, and close this issue. Re-open if that's wrong.

[2016-01-29 15:12] #66 closed

[2016-01-29 15:14] OpenMatt opened #88 "Document next steps with TODO"
Let's make sure we're all clear on what TODO will be working on / delivering / need from Mozilla team for week of Feb 1 - 5.  We can use this ticket to list deliverables, questions or decisions needed. Then file them as separate tickets for following up.

### Next steps
- [x] add TODO team to GitHub collaborators
- [ ] ticket work that Mozilla needs to do in house for Beat 3. (Not in scope for TOD

[2016-01-29 15:16] jessilyndavis commented on #84
Nice work @pmclanahan! Thank you!

@adamlofting , @stephaniemcv  - please make sure that the new functionality is fully tested to ensure:

1) The first & last names go through to ExactTarget using _new_ email addresses that have never been in ET before.
- You'll need to look for these individuals in the "Double_Opt_In" data extension. (They won't be added to "Master_Subscribers" until the subscrib

[2016-01-29 15:17] #41 closed

[2016-01-29 15:19] KevZawacki commented on #30
Still pitching; no bites yet. About halfway through our list of tier-one targets. Pitching and follow up will continue into next week.

[2016-01-29 15:23] pmclanahan commented on #84
Well! This is great if a little embarrassing given my dire time predictions above: IT'S DONE! Ops was able to hop on it very quickly, I got it tested in stage, and it's now in Prod and confirmed passing through first and last names :fireworks: So, along with your normal basket subscription calls you can now send `first_name` and `last_name` as fields and they'll be stored in ExactTarget.

Cheers!

[2016-01-29 15:29] jessilyndavis commented on #84
Well hot damn! Nice work @pmclanahan !  I just tested prod real quick to make sure that the Firefox + You newsletter form works - and it does!

Foundation team - it's up to you to do the testing of your forms to make sure the right info is being passed through to ET.

[2016-01-29 15:57] ScottDowne commented on #23
The video bits are implemented and optional. I'll be adding the checkbox
today when I get a chance.

[2016-01-29 16:06] lovegushwa commented on #23
It shouldn't take much. I'll connect with @ScottDowne today.
On Jan 29, 2016 7:57 AM, "ScottDowne" notifications@github.com wrote:

[2016-01-29 16:08] rohanporteous commented on #45
@brettgaylor @HPaulJohnson any thoughts on these? Would love final direction chosen ASAP as the voice artist can record as soon as we're ready, and I'd love to get that done early so it doesn't fall to after the weekend.

[2016-01-29 16:33] msurman commented on #28
Do we want a simple opening question that is non-encryption oriented?

"I am concerned / worried about my privacy online?'

Maybe a rating scale on this topic.

I like keep thing survey simple, but I think you want something to tie knowledge to the broader issue space.

I like the wording I see in the current survey that says:

"I will oppose any government attempts to undermine encryption *"

Not

[2016-01-29 17:05] brettgaylor commented on #45
@rohanporteous just consolidating, will get back to you within hour

[2016-01-29 17:10] rohanporteous commented on #45
@brettgaylor great. Feel free to bring me into any calls if useful.

[2016-01-29 17:12] stephaniemcv commented on #84
@adamlofting Do we have a list of all our signup form urls?

[2016-01-29 17:18] ScottDowne commented on #23
When do we plan to launch this snippet?

@OpenMatt @valianttry ^^

[2016-01-29 17:31] jbuck commented on #86
@valianttry I put together all of the email addresses from those two pages, uploaded it to goggle drive, and shared it with you. I don't know how to create constituent groups in ET, but all of the email addresses are there.

[2016-01-29 17:36] brettgaylor commented on #45
@rohanporteous ok, so we like these new edits. Feel they are working well - go with both. Nice work, we may have saved the boss!

Notes:
-Please change "poo" to "poop". :hankey:

-Instinct is good to change the angle of the dad's search, but if you could cheat it a bit more - for me it's just a bit weird on the current angle, almost looks like a mistake.

-I do think a wipe would help the transiti

[2016-01-29 17:39] valianttry commented on #28
We do not need @msurman to sign off -- i already spoke to David. Mark isn't the email signor and we have a lot of reviewers / experts eyeballs on both the email and the survey (including policy).

also we're really at critical hour to send this -- @msurman Chris Riley had feedback on this text yesterday we're feverishly trying to address, but are your recommendations ^ critical at this point? Sara

[2016-01-29 17:40] stephaniemcv commented on #39
Thanks to a last minute assist from @lovegushwa, the first three templates have been created in Exact Target.

[2016-01-29 17:43] brettgaylor commented on #45
@rohanporteous I also feel like we can still tighten this edit a bit in fine cutting, and add some sound effects to make it a bit punchier.  Here's some fine cut notes and audio ideas.

-head of :13 - cut on her leaving, right on his big obvious blink
-right on that cue, a subtle baby crying
-:25 - sound of a huge crowd
-:31, right when she sighs, see if you can record a little "mmmmkay??" sound f

[2016-01-29 17:54] valianttry commented on #22
Confirmed from legal we do need a checkbox next to this text:
- I’m okay with Mozilla handling my info as explained in this Privacy Notice. (The words "this Privacy Notice" should be linked to: https://www.mozilla.org/en-US/privacy/websites/.)
- Also confirmed we can now accept name in Basket!

So the snippet should have these elements:

[video]
[search bar]
"Mozilla stands up for online privacy.

[2016-01-29 17:55] brettgaylor commented on #49
Hey @darrenpasemko + @KarinaRipper!

This is looking great.  I only have 3 flags at the moment:

1) I may have missed in the script that we were using a "key" morph.  I'd like to move away from this as keys are a metaphor that is often used to describe encryption, and we're actually trying to run an experiment where we never use this phrase at all :)  Can we try a heart instead?  I will update the

[2016-01-29 17:56] valianttry commented on #22
@ScottDowne is it possible that after someone clicks "submit" we can show a short message that says:

"Great! Look for a confirmation email in your inbox to complete your subscription."

@stephaniemcv how does this text sound to you?

[2016-01-29 17:57] brettgaylor commented on #87
@KarinaRipper hola!

Thanks for flagging this. The narrator we currently have for beat 1 we hadn't actually considered for this beat, and in fact, we don't have a plan here!  The only plan of record is that we wanted somewhat of a gentle old man voice.

I think that @rohanporteous used an online service to find a voice actor.  Do you think you might be able to wrangle this on your end Karina?

I c

[2016-01-29 18:00] stephaniemcv commented on #22
I recommend we be extremely redundant and explicit in what the subscription is.

"Great! Look for a confirmation email in your inbox to complete your subscription to our email list."

Not sure what we officially call it, email list, news list, communication list...

[2016-01-29 18:01] valianttry commented on #23
@ScottDowne ideally it will be ready to go live on Feb 10 when our first video launches.

[2016-01-29 18:01] valianttry commented on #22
+1 seems good!

[2016-01-29 18:02] ScottDowne commented on #22
Yup I have placeholder text in there. It's configured in the snippet
service to whatever we want. I'll update my demo though to keep it in sync.

[2016-01-29 18:02] valianttry commented on #23
Confirmed from legal we do need a checkbox next to this text:
- I’m okay with Mozilla handling my info as explained in this Privacy Notice.
  (NOTE: The words "this Privacy Notice" should be linked to: https://www.mozilla.org/en-US/privacy/websites/.)
- Also confirmed we can now accept name in Basket!

So the snippet should have these elements:

[video]
[search bar]
"Mozilla stands up for online p

[2016-01-29 18:09] michellenebiolo commented on #88
As our deliverable for Week 1, we plan on sharing with you the wireframe for the website on Thursday, Feb. 4th by 10 am PT (7 pm CET).
Hopefully the time difference will work to our advantage and we can get feedback/approval from you by the end of Thursday (we count on receiving it by Friday 10 am CET, which is 1 am PT but I hope none of you are still working at that hour!).

[2016-01-29 18:12] valianttry commented on #88
One critical thing we need to know is exactly what we need to build in-house and ticket that. There are a few items listed as "out of scope" in TODO's outline that we should get in our dev queue.

[2016-01-29 18:13] valianttry commented on #23
cc @kellymj @jessilyndavis

[2016-01-29 18:21] rohanporteous commented on #87
@KarinaRipper could definitely used Gwenith for any/all beats if we wanted some kind of continuity but it's @brettgaylor's call really—I think the plan is to treat each beat separately. I used Voices.com. Not as good as a broader, more traditional talent search but good in a squeeze. (You can get a lot of slightly flat/dull performances, but there are normally a number that shine through).

I sent

[2016-01-29 18:23] OpenMatt opened #89 "Wireframe for Beat 3 website"
Due Thursday, Feb. 4th by 10 am PT (7 pm CET)

Hoping for feedback/approval by  end of Thursday

[2016-01-29 18:23] OpenMatt commented on #88
filed #89

[2016-01-29 18:38] rohanporteous commented on #45
Hey @brettgaylor, thanks for these. I think they're all pretty doable. Sound effects are still to come of course so it will be punchier throughout the entire video, but they're good notes/ideas to pass on! A few comments/questions:
- Cut just before the blink (just worked a bit better), and shortened some of the dad edit to match.
- Over the shoulder: you mean the secretary right? (Not the girl in

[2016-01-29 18:41] rohanporteous commented on #83
@HPaulJohnson I think we're there on the script/what we need to record—what do you think! If so, I'll send off immediately.

[2016-01-29 18:43] HPaulJohnson commented on #83
@rohanporteous good to go! let's do it.

[2016-01-29 19:31] rohanporteous commented on #83
Sent!

[2016-01-29 19:32] KarinaRipper commented on #49
Hi @brettgaylor!
Thanks so much for the quick feedback and approval, woohoo!
Darren and I are taking a look now at the notes and will make revisions to the animatic and repost.

For the script changes (note 2), this one is more pressing, any chance that your team can make this happen today? The animation is timed to the script so it will be affected, so it's super important to have this locked dow

[2016-01-29 19:48] lovegushwa commented on #60
Campaign identity:
https://drive.google.com/file/d/0B2qu3ExKWIlvekc5S09uSFhGRkE/view?usp=sharing

![screen shot 2016-01-29 at 11 44 39 am](https://cloud.githubusercontent.com/assets/12228435/12686306/ce24a294-c67d-11e5-90ff-f8836b153d7e.png)

[2016-01-29 19:48] #60 closed

[2016-01-29 20:01] KarinaRipper commented on #15
Thanks @OpenMatt Darren and I have it and are reviewing now :)

[2016-01-29 20:03] msurman commented on #28
Let me be more clear about what I'm hoping we can know from the survey:

Is there a correlation between caring about privacy and knowledge about encryption?
Bonus: would this be different if you asked people about privacy vs. security?

This comes out of a conversation w/ Mitchell about the campaign. If we can know that by adding one question and don't think it's going to reduce response rates, it

[2016-01-29 20:45] KarinaRipper commented on #87
@rohanporteous Thank you for the tips! Totally will check out Voices.com

@brettgaylor @OpenMatt sent you both a side email about this in regards to contract. Let me know your thoughts and how you would like to collaborate on VO casting.

Thank you!

[2016-01-29 20:48] valianttry commented on #87
@brettgaylor we had a "runner up" male voice we all liked -- was his name Ross? Maybe a fit?

[2016-01-29 20:58] rohanporteous commented on #87
@valianttry @KarinaRipper yeah Ross was pretty great. So silky smooth. Could be good if that's what you're after.

I just uploaded all our male auditions here if you need something super quickly. Otherwise they'll be able to find what you want in no time as well. https://drive.google.com/folderview?id=0B3UIshL1Uom0aVhzdWJlcGl4WXc&usp=sharing

[2016-01-29 21:08] KarinaRipper commented on #87
Sweet! Thank you so much @rohanporteous @valianttry I'll take a listen to these gents!

[2016-01-29 21:15] lovegushwa commented on #40
R? @cassiemc @kristinashu @valianttry
CC @shaghdoosti @HPaulJohnson @OpenMatt @brettgaylor

Final Encrypt campaign UI for beat 1, please check the redpen and review. I'm pushing to close this be end of day. https://redpen.io/p/yk6b656ce94eb032d4

[2016-01-29 22:34] ScottDowne commented on #23
@valianttry about 19 hours ago a patch landed in basket to allow first name and last name.

[2016-01-29 22:53] shaghdoosti commented on #77
No discussion needed for the broader team yet!

@chadsansing @amirad @mozstacy ideas around how we move this forward? I think the next step is to have a meeting early next week between us.

[2016-01-29 22:56] HPaulJohnson commented on #85
@lovegushwa - let's use mzl.la/encrypt where we need to show a URL as part of a CTA.

[2016-01-29 22:58] HPaulJohnson commented on #73
@OpenMatt we confirmed at today retrospective that this is complete and up to date so you can close/mirgrate to wiki.

[2016-01-29 23:00] HPaulJohnson commented on #57
Moving to next week's milestone as work continues.

[2016-01-29 23:03] HPaulJohnson commented on #53
This got pushed down on the list. Will be tackled next week.

[2016-01-29 23:04] HPaulJohnson commented on #54
This got pushed down the priority pile. Will tackle next week.

[2016-01-29 23:07] HPaulJohnson commented on #52
Wrapping up brief for creative/design phase and plan is to sprint on initial concepts for Beat 1 next week.

Also, had a good planning session with MoCo colleagues to shape paid media portion of this plan and will share out mid-week next week. On the paid media front it looks like we will be able to enlist their help in the setup and deployment of the tests (once we deliver creative and targeting)

[2016-01-29 23:10] HPaulJohnson commented on #39
As discussed on today's retrospective, seems like this is good to go. Nice work! Closing.

[2016-01-29 23:10] #39 closed

[2016-01-29 23:12] rohanporteous commented on #52
@HPaulJohnson great! If you could include [Sally](http://agency.sc/team/sally-woellner/) (sally@agency.sc) and [Lara](http://agency.sc/team/lara-ihnatowicz/) (lara@agency.sc) on any updates early next week they might be able to have things well underway before I land Wednesday morning. (FYI @OpenMatt RE PM).

[2016-01-29 23:12] cassiemc commented on #40
Overall is good @lovegushwa. The color combo of purple and pink feels a little dangerously gendered to me though, esp. with some of the other design elements (soft rounded corners, abundance of copy / social links – can't put my finger on a like example but it's reminiscent of other women's issue microsites). So might consider another color option.

[2016-01-29 23:17] shaghdoosti commented on #28
Hey everyone -

A few things -- we're aiming to get this out on Tuesday now.

1) Re the privacy question -- I do worry that if we put it upfront it'll bias the encryption questions. That said there's a important point here though about what we're trying to measure. My suggestion would be that we put a rating box at the end of the survey. ie: How much do you care about the following issues from 1 -

[2016-01-29 23:17] HPaulJohnson commented on #24
Bug filed and waiting for feedback. Moving to next milestone.

https://bugzilla.mozilla.org/show_bug.cgi?id=1243023

[2016-01-29 23:21] KarinaRipper commented on #49
@brettgaylor checking in, will the Mozilla team be able to make progress on the changes to the script today? Hoping we can lock down the script and timing of the scratch VO in the animatic today. Muchas thanks!

[2016-01-29 23:23] HPaulJohnson opened #90 "Make sure optimizely is installed on campaign landing page"
Just wanted to make sure that we include Optimizely on new landing page to enable testing throughout the campaign.

cc/ @alicoding @lovegushwa

[2016-01-29 23:24] rohanporteous commented on #40
While this is completely not for me (sometimes I just can't help myself, huh)… generally looking great @lovegushwa. I agree with Cassie, and would possibly play with mixing up bold colors for different pages/beats etc to feel a bit broader.

Main reason for writing though is to just add one small point: with so many bold colors happening it's a little hard to tell exactly what the UX should be—wha

[2016-01-29 23:25] HPaulJohnson opened #91 "Make sure GA is installed on campaign landing page"
Just wanted to ensure that the proper analytics are installed on new landing page so we can optimize experience as we go.

cc/ @alicoding @lovegushwa

[2016-01-29 23:27] lovegushwa commented on #40
@rohanporteous are you ok with waiting until early next week to resolve the graphic end cards?
https://github.com/MozillaFoundation/encryption_campaign/issues/85

I need some time to sort out the color pallet.

[2016-01-29 23:28] HPaulJohnson commented on #83
@rohanporteous - This seems done so I'm going to close for now. Please reopen if there are any new (or outstanding) issues here.

[2016-01-29 23:28] #83 closed

[2016-01-29 23:32] rohanporteous commented on #85
@lovegushwa should be ok to wait till next week. Earlier the better.

[2016-01-29 23:36] HPaulJohnson commented on #79
What we are building on Medium is an encryption specific conversation/publication whereas - I think - the content of this type of blog is more general/about movement building more broadly. So, I don't think I'd add these to that publication. But generally Medium is not a bad place to be publishing this type of stuff in the mean time.

@KevZawacki - Gabe at Medium told us about a new publication ar

[2016-01-29 23:41] HPaulJohnson commented on #74
I think this will be covered in the work on #52.

@lovegushwa - feel free to close this if you agree.

[2016-01-29 23:49] HPaulJohnson commented on #33
I'm going to need a few more days to review and get this to final. Moving milestone to next week which is still on schedule for campaign launch.

[2016-01-29 23:50] darrenpasemko commented on #49
I'll make Encryption a heart rather than a key! You got it. (Sorry about that, just experimenting)

In terms of: "The words "cyphertext" and "plaintext" I think get a little lost in what I imagine that animation will look like ..."  I was attempting to let the abstract animation breath a little here...

The camera is over head, pieces are plummeting downward to the surface. The pieces are breaking

[2016-01-30 00:12] lovegushwa commented on #51
@brettgaylor @OpenMatt @rohanporteous Should we be final providing feedback on motion again now? Or do we need to review this once we're close to a final cut?

[2016-01-30 00:52] brettgaylor commented on #49
Hey guys - no won't be able to have #2 done today, but can get to it tomorrow morning.  I really do think its a word here/there and won't effect timing.

Re: cyphertet/plaintext, I agree that the animation should breath, I wasn't imagining that any of the pieces of encryption would re-assemble into those words, just that they would be super-imposed over the top of the animation.  This also isn't u

[2016-01-30 00:52] brettgaylor commented on #51
i think if @lovegushwa is satisfied you can close.

[code]

[2016-01-30 00:56] rohanporteous commented on #51
@lovegushwa I think feedback for motion might be getting a little late as examples of motion elements were sent through a while ago, and they've been rolled out to most clips now. trying to finalize everything really soon/tonight so early next week will mostly focus on SFX/final frames.

That said, minor tweaks are OK if there are problems of course.

[2016-01-30 01:28] darrenpasemko commented on #49
Thanks for addressing the VO script tomorrow. Good timing, as the animators are ideally going to start on Monday.

Sorry B, I thought you were saying you wanted the pieces to form the words "cyphertext" and "plaintext." Gotcha now! Just super-impositions.

I would recommend not doing super-impositions of text, unless you're doing it elsewhere in the series, or want to do elsewhere within BEAT 2.

[2016-01-30 01:40] darrenpasemko commented on #49
I just added the super-imposed text to the animatic. This will work! I'd be down to add more too! It gives it more of a campy instructional feel. Let me know if there's anywhere else you want it.

[2016-01-30 02:09] darrenpasemko commented on #49
In the next animatic, I'm going to play with some more superimposed text for fun. I'll propose something; just to see. It'll be easy to take it off if it doesn't work. It gives the piece an extra bit of playfulness. I'm already seeing some good results.

[2016-01-30 03:30] rohanporteous commented on #45
Hey @brettgaylor @HPaulJohnson @valianttry @lovegushwa, I've worked through a bunch of the clips and have something for you to preview over the weekend if you want.

A lot of the graphics have been added, and the color of the shots has been adjusted to be a lot richer. SFX are still yet to be done in any way, and the composer should be able to tighten up the score as well.

I only did a few graphi

[2016-01-30 03:32] rohanporteous commented on #45
Oh, for reference: https://www.dropbox.com/s/rsgbfk1w9y36b6j/Screenshot%202016-01-29%2022.32.13.png?dl=0

[2016-01-30 04:02] stephaniemcv commented on #80
I suggest moving the Video 1 Kicker from 2/15 to 2/16, to avoid the holiday.
Video 2 launch from 2/17 to 2/19 so they have a bit of space.
and then Video 2 Kicker from 2/22 to 2/25 to have some space from MoCo's newsletter

[2016-01-30 07:04] darrenpasemko commented on #49
New Animatic...
https://vimeo.com/153425970
Password: Mozilla

Brett, the heart transformation wasn't working so well. So I tried another route. I tried to expand upon the device of superimposed text, which you had suggested using on "Cyphertext" and "Plaintext." I really liked those results.  I also thought the animation could "freeze frame" when the text comes on to the screen, that could be sil

[2016-01-30 15:34] msurman commented on #28
Subject to Adam's 'does this make the survey too complex' analysis, I like this. Even if something much simpler, the suggestion of putting something on privacy or security at the end will help.

Also, if we do a list of issues (as opposed to say a single issue) at the end, good to include one or more that use the work security or secure. E.g. I'm concerned about the security of my personal data. M

[2016-01-30 16:56] brettgaylor commented on #49
Great, I agree, there's promise in those text overlays.

Some notes there:

-I like "encryption" on screen, but can we get away with not hiding her eyes?  Same with closing shot

-I feel like it isn't working as well for the historical spots (monks, intrigues, fathers).  I think we should just skip it for these

-Try "credit card" vs "swipes"

-Add elipses to "today".  So  “today…”

-"Your chats"

[2016-01-30 17:04] brettgaylor commented on #45
Thanks!

So some of my fine cutting suggests helped, but most didn't. :hankey:

-It was better when music started with narrators "imagine a world" vs right at start
-In "moz.edit.graphics.1.short.mp4" the later start to the shot works, but try cutting _after_ he blinks
-The secretary worked better how you had it in the previous edit - I miss the dad at the window
-Why does her mainsplaining search

[2016-01-30 18:53] darrenpasemko commented on #49
I'll make these revisions.
"Important Stories" looked a little clunky over that shot, but I'll give it another whirl. You got it.

[2016-01-30 19:28] valianttry commented on #49
- 1 the text is distracting from the delightful animation, and doesn't add a lot.

[2016-01-30 19:37] darrenpasemko commented on #49
If the copy of the text is fun (a little off-key), and plays off the narration, by reiterating the VO in a new way (akin to a hype-man), I think it's great. It's definitely my sense of humor. But, if the word choice is more literal and straight forward, I suppose we could lose the girth of the text overlays, and just use it where it is absolutely crucial. In at least 3 spots, to follow the rule of

[2016-01-30 19:50] darrenpasemko commented on #49
Plus, I just tried playing with text for fun. At the end of the day we can squash the text overlays all together. Let me cut together a tamer, version, and we'll see how that works, and go from there?

[2016-01-31 02:33] darrenpasemko commented on #49
Hiyo! Here's a new version: https://vimeo.com/153425970
Password: Mozilla

New "Encryption" title at the beginning. I think "cyphertext" and "plaintext" work well. I love the Mozilla logo at the end. The remaining text elements I think are more up for debate, just two other moments. "Encryption Power," in SCN11 and "Protecting Human Rights" in SCN16. I'll discuss fonts with Jordan tomorrow. All te

[2016-01-31 02:40] lovegushwa commented on #51
@rohanporteous  overall the motion is looking good, a few straightforward changes I would like to make:

<img width="1350" alt="screen shot 2016-01-30 at 5 42 09 pm" src="https://cloud.githubusercontent.com/assets/12228435/12699750/4f0bc348-c77c-11e5-801b-9714d80ecea7.png">
1. Let's make the motion elements sit a bit lower in the frame so we can see more (it's ok if it's cropped, it's currently a

[2016-01-31 15:38] brettgaylor commented on #49
Connection troubles - will review new animatic tonight.

Script is only two words - will update tonight.
On 30 Jan 2016 7:33 p.m., "Darren Pasemko" notifications@github.com wrote:

[2016-01-31 20:50] rohanporteous commented on #51
@lovegushwa @brettgaylor sounds good. On each:
1. Can do. Main reasoning for crop was to be clear that people didn't really need to read it in this shot, as it's always going to be difficult. But can show more, of course.
2. Yep. Will change back to square.
3. Yep.
4. Yep… hence the test. Will keep it simple!

[2016-01-31 21:08] rohanporteous commented on #45
@brettgaylor
1. Yes, I agree.
2. Yep.
3. Assuming you mean boss at the window… can keep as it was.
4. The rationale behind losing the background was that she was typing into a a search bar, but it's only after she clicks 'search' that anything would be tracked, not when she's writing. The the animation is trying to hint at the results page rather than the search bar itself which wouldn't be a priv

[2016-02-01 04:28] rohanporteous commented on #45
Hey @brettgaylor @lovegushwa, I worked on a couple of those this afternoon and have uploaded a new version (accidentally video only) [here](https://drive.google.com/file/d/0B3UIshL1Uom0RFBSeUlBSi0tMWM/view?usp=sharing). It covers:
1. Music starting in the right spot.
2. Cutting after he blinks/
3. Kept boss at window.
4. Square search bar (Jordan's request—haven't yet dealt with new background, le

[2016-02-01 05:15] lovegushwa commented on #45
@rohanporteous this is looking really good!
I'm digging the updates, your original rectangle search box is way better.

I few final suggested tweaks:
- I'd like to knock the saturation down on the bright green interface elements just a hint.
- I was looking at how sandwich uses transparency at times to make the interface elements feel a bit more integrated into the environment, I think we could us

[2016-02-01 13:36] KevZawacki commented on #79
@HPaulJohnson Publication is called [The Development Set](https://medium.com/the-development-set). Might be a good place to pitch an International Women's Day piece. In terms of day-to-day Mozilla blogging, we'd want to start our own publication.

[2016-02-01 14:05] adamlofting commented on #28
Thanks all. I think this line of discussion is making the survey stronger.

I've shipped an updated version capturing the current feedback, so if this is OK it can be sent tomorrow while I'm offline. https://www.surveygizmo.com/s3/2534675/Mozilla-Encryption-Survey

Summary:

I replaced the `I will oppose government attempts...` question with...

[code]

Rating option for all is:
`Strongly disagree

[2016-02-01 14:18] msurman commented on #28
Love it

On 2016-02-01 9:05 AM, Adam Lofting wrote:

[2016-02-01 14:52] brettgaylor commented on #49
I update the script here:
https://docs.google.com/document/d/1AJkQTko64o6Cz5g1HXDCaY-vuh5ComkSGKeaemqh7Cg/edit

And in the storyboard.  Just removed 2 redundant words.

[2016-02-01 14:54] brettgaylor commented on #45
Hey @rohanporteous yes looks good, but as you say video only :)  Update with sound and I can check in again.

What do you think, cc @lovegushwa, about showing a picture of an actual boss of the year mug in the boss' purchase?

[2016-02-01 14:58] brettgaylor commented on #49
Love the updates, especially how encyrption moves a little bit and looks at the words in opening and closing.

I like the other texts as well - I was wondering if these could have perhaps the same rainbow treatment as transitions in or out as the opening "encryption" does?  could be too much, maybe only use in "encryption power!".

One thing - these words are areas where we may have external appro

[2016-02-01 15:48] rohanporteous commented on #52
@OpenMatt @HPaulJohnson @lovegushwa FYI I just received [the photos from the photographer](http://danielmcmahonphotography.shootproof.com/gallery/2375660/home). (Should be able to use your own email addresses). There's a tonne of behind the scenes shots in there which we were necessarily after, but I believe it was just him making the most of his time in between his opportunities to grab separate

[2016-02-01 16:53] darrenpasemko commented on #49
Nice! Thanks for revising the script.

I planned on doing the same rainbow treatment with transitions (in some
variety) on all the text elements. We'll tone the effect down on the text
elements that lay in the body of the video. I'll hold off on the animation
of these words until we have approval. It won't be a problem.

Thanks B!

On Mon, Feb 1, 2016 at 6:58 AM, Brett Gaylor notifications@github.

[2016-02-01 17:01] OpenMatt commented on #28
Now that content is done, what's the next step to send? @shaghdoosti are you taking point on that?

[2016-02-01 17:11] OpenMatt commented on #41
@KevZawacki do you think it would be appropriate for us to also post our "working open on the campaign" style posts here as well? Progress reports / updates on what we're learning ourselves as campaigners, etc? Or do you see this as a different audience / goal?

[2016-02-01 17:16] OpenMatt commented on #84
@pmclanahan and @jessilyndavis thank you so much! Amazing news.
@stephaniemcv I assume you are taking point on testing for MoFo, so assigning to you.

[2016-02-01 17:17] OpenMatt commented on #86
Thanks @jbuck
@valianttry anything further needed? can we close?

[2016-02-01 17:18] OpenMatt commented on #22
@lovegushwa is any further design work needed here, or should we now close this and just push ahead in the build ticket?

[2016-02-01 17:20] OpenMatt commented on #88
Next steps for closing this ticket:
- ticket Mozilla-lead work in Beat 3 (Matt will do)
- ensure all TODO deliverables are ticketed. @michellenebiolo: can you take that on? what else beyond: #89

[2016-02-01 17:20] KevZawacki commented on #41
@OpenMatt Different audience, I think. The existing Medium publication will be for a very broad audience. Progress reports would likely confuse / distract.

[2016-02-01 17:21] OpenMatt commented on #89
@michellenebiolo let us know if there's anything you need from us on this in order to hit that date.

[2016-02-01 17:21] jgmac1106 commented on #41
@openmatt I would make that a separate publication but controlled by the
same account. You can spin up as many pubs as you want. What will be just
as important is encouraging people who are not in the pubs to use a
community based tag or an @mention to track others writing about the topic.

My guess is you may end up with different editors and writers of the
publications.

Hopefully "working open"

[2016-02-01 17:26] OpenMatt commented on #52
- thanks for these @rohanporteous
- Design work on all the other assets, including works in progress, etc, should be available here: https://github.com/MozillaFoundation/encryption_campaign/labels/design
- Let us know if there's something specific you're looking for that you don't see there?

[2016-02-01 17:30] OpenMatt commented on #41
thanks @jgmac1106 -- @KevZawacki what do you think about creating a separate publication? We just need an interim solution (like, through Feb and maybe March) before we get on our own new and imrpved proper blog / CMS solution, which @simonwex says won't be ready short-term. Ultimately we'll want something like http://fundraising.mozilla.org/ for all our Advocacy work. But could use something quic

[2016-02-01 17:54] shaghdoosti commented on #28
Yep -- Already sent the new questions back to policy. Once we have the go I'll let Steph know and she's already setup and ready to push it out.

[2016-02-01 17:57] michellenebiolo opened #92 "Prototype Iteration 1 (of 3) for Beat 3 Website"
Due Thursday, Feb. 11th by 10 am PT (7 pm CET)
Hoping for feedback/approval by end of Thursday

@OpenMatt I'm not sure whether this needs to be associated with the existing Feb.12th milestone or not

Adding @Giorgio-Olivero and @abusedmedia to make sure they are in the loop.

[2016-02-01 17:58] rohanporteous commented on #52
Thanks @OpenMatt, I can see there's a lot going on across many different areas! There's just not much clarity on what you require from us exactly, whether it be a gif, character headshots for the website etc. I guess it'd be great to get a really specific brief from @lovegushwa outlining the format (square fb image, 200px square character headshots, animation/static etc), any included messages/gra

[2016-02-01 18:00] michellenebiolo opened #93 "Prototype Iteration 2 (of 3) for Cryptoloji"
Due Thursday, Feb. 18th by 10 am PT (7 pm CET)
Hoping for feedback/approval by end of Thursday

Adding @Giorgio-Olivero and @abusedmedia to make sure they are in the loop.

[2016-02-01 18:01] michellenebiolo opened #94 "Prototype Iteration 3 (of 3) for Beat 3 Website"
Due Thursday, Feb. 25th by 10 am PT (7 pm CET)
Hoping for feedback/approval by end of Thursday - final deadline is right around the corner on the 26th!

Adding @Giorgio-Olivero and @abusedmedia to make sure they are in the loop.

[2016-02-01 18:03] HPaulJohnson commented on #52
@rohanporteous here's is a brief-brief to get you started on Beat 1 social concepts. I'm meeting with @lovegushwa and @natalieworth in a bit to discuss specifics and will annotate this doc with channel specific specs and requirements.

https://docs.google.com/document/d/1AuT4zbTNYWjq0zAIjVN2FyttlQfyhxdaF63MDufudTE/edit

Additional creative ideas are welcome based on your experience of what works o

[2016-02-01 18:03] michellenebiolo opened #95 "Final version delivery for Beat 3 Website"
Due on Friday, February 26th by 7 pm CET / 10 am PT.

Adding @Giorgio-Olivero and @abusedmedia to make sure they are in the loop.

[2016-02-01 18:06] michellenebiolo commented on #88
I filed #92, #93, #94 and #95.
@OpenMatt please edit labels and milestones as necessary of course.

[2016-02-01 18:06] lovegushwa commented on #45
@brettgaylor regarding the boss of the year mug. If we can make it work ... it reads and does not feel too disconnected from the other UI elements ... I think it could add a funny kick.

http://www.cafepress.com/+boss+mugs?page=7
![screen shot 2016-02-01 at 10 01 21 am](https://cloud.githubusercontent.com/assets/12228435/12726198/3258e8fc-c8cb-11e5-8473-a54d7ce31f3e.png)

[2016-02-01 18:24] KevZawacki commented on #41
@OpenMatt Sounds good to me. Let me know if/how I can help get it off the ground.

[2016-02-01 18:32] OpenMatt commented on #41
@KevZawacki awesome! Can you a) create it for us, and b) get @valianttry whatever credentials she'll need to post to it? I assume @valianttry will probably be our first poster, though the entire team will need the ability to post to the publication.

[2016-02-01 18:33] OpenMatt commented on #41
also, let's stop using this ticket (since its closed) and use this one going forward instead: https://github.com/MozillaFoundation/encryption_campaign/issues/79#issuecomment-177018418

[2016-02-01 18:34] OpenMatt commented on #79
@KevZawacki is going to start a separate publication on Medium for us to post campaign updates, etc. As an interim way to start blogging quickly / easily about the campaign, without us cluttering up the main publication.

[2016-02-01 18:35] OpenMatt commented on #80
@shaghdoosti do you agree? can you update?

[2016-02-01 18:35] #80 closed

[2016-02-01 19:02] KarinaRipper commented on #87
Voices.com is so so great!! Thanks for the tips, should have options for the team to review tomorrow (Tues 02/02). @brettgaylor

[2016-02-01 19:06] rohanporteous commented on #87
@KarinaRipper great—glad you found it useful!

[2016-02-01 19:44] shaghdoosti commented on #28
Policy just signed off. @stephaniemcv we're good to move this production with goal to send today (if possible) if not -- tomorrow morning.

[2016-02-01 20:03] valianttry commented on #23
@ScottDowne any update on build progress?

[2016-02-01 20:14] rohanporteous commented on #45
Hey @brettgaylor @lovegushwa, I've done the following [in this new version](https://drive.google.com/file/d/0B3UIshL1Uom0bkVVTVRIdV9uWEk/view?usp=sharing):

1) knocked down saturation of green
2) made all 90% opaque
3) changed to static graphics at the end
4) made all edit requests
5) changed to WBB mug (removed shopping cart as there was just too much information, and changed text so it didn't re

[2016-02-01 20:36] ScottDowne commented on #23
@valianttry no, I pushed it back to this week when I found out it was Feb 5th and not Jan 29th in priority of other things launching on Jan 29th as well.

However, I started back on this today, and should have updates end of day.

Things I need to do still:
- [ ] Waiting spinner state.
- [ ] Checkbox
- [ ] Update copy in staging
- [ ] Implement any design changes/feedback.

I see this as a day or

[2016-02-01 20:44] ScottDowne commented on #23
@valianttry question, the Fed 5th milestone, is that dev is done and we're ready to ship, or is that when we actually turn on the snippet?

[2016-02-01 20:54] valianttry commented on #23
@ScottDowne the snippet won't go live until Feb 10. So, the former.

[2016-02-01 21:17] OpenMatt commented on #64
@brettgaylor @rohanporteous what is the updated delivery date for final cut?

[2016-02-01 21:22] OpenMatt commented on #25
@shaghdoosti status update?

[2016-02-01 21:39] OpenMatt commented on #85
@lovegushwa says: still need to figure out motion in final card. He'll follow up here.

[2016-02-01 21:42] OpenMatt commented on #84
@jbuck can you help test this for us?

[2016-02-01 21:44] OpenMatt commented on #24
@simonwex can you help us expedite this at all?

[2016-02-01 21:46] OpenMatt commented on #25
@shaghdoosti has completed first draft. Working on second drafts now.

[2016-02-01 21:46] OpenMatt commented on #25
Final copy for beat 1 will be completed by Thurs / Fri.

[2016-02-01 21:52] OpenMatt commented on #79
another option to consider: could use fundraising.mozilla.org...

[2016-02-01 21:55] OpenMatt commented on #73
having a single combined schedule would be helpful. @shaghdoosti might be able to help w. that

[2016-02-01 21:56] OpenMatt commented on #78
@valianttry will finish and share in prep for campaign launch

[2016-02-01 21:58] OpenMatt commented on #75
blocked on @brettgaylor 's return

[2016-02-01 22:00] OpenMatt opened #96 "Document our localization plan"
Locales, timelines, etc.
(prioritizing Portugese)

[2016-02-01 22:01] KevZawacki commented on #79
@OpenMatt Happy to -- I can get it set up in a few minutes.

Firstly, is there a specific publication name / URL we'd like? Something like, "Encryption: Working Open"?

Contributors will need Medium accounts. @OpenMatt, @valianttry, can you share your handles?

[2016-02-01 22:02] rohanporteous commented on #85
@OpenMatt great, thanks.

[2016-02-01 22:04] rohanporteous commented on #64
@OpenMatt @brettgaylor I'm going to aim for the day I get back, Wednesday the 3rd. That's of course Aus time, so will be finished by your start of day. Could possibly do small changes the next day, but schedules clash with other projects so it's tight.

[2016-02-01 22:11] rohanporteous commented on #45
Just about to board but thought I'd give you the sound designer's reply for a bit of additional context for your feedback:

_After listening with fresh ears this morning I tend to agree. What I'll do is strip them back and create a distinctive electronic chime sound reminiscent of the various messenger apps - it'll have to be original but I'll aim for less tech and more chime. If we use the one so

[2016-02-01 22:25] valianttry commented on #45
This is really looking good. may have been answered in the epic back-and-forth -- but the very first popup bleeds off screen, and looks like a mistake:

![moz_edit_graphics_3_mp4_-_google_drive](https://cloud.githubusercontent.com/assets/9830371/12733370/3df40560-c8ef-11e5-9f20-f9b4c29f10b5.png)

The first time you're able to read it, the dad's reaction is happening. You can miss his reaction.

[2016-02-01 23:07] jbuck commented on #84
@stephaniemcv I signed up to production with the email `jon+testing1001@mozillafoundation.org`, the first_name `Jon Testing 1001`, and the last_name `Buckley` to the Foundation mailing address. Could you confirm that I have my first name and last name somewhere in ET?

[2016-02-01 23:44] lovegushwa commented on #45
@rohanporteous @brettgaylor @valianttry

I think the popup is working better now than it was in previous versions when less was showing, we could also remove it all together? (You see it for the first time when you also see the dad.) **@brettgaylor @rohanporteous what's your thoughts on this?**

Also **@brettgaylor whats your take on the mug?** Keep it?

[2016-02-02 00:25] stephaniemcv commented on #28
if the link didn't change from what I used in the test email, then everything is built. It'll be sent out tomorrow around 8am-ish.

[2016-02-02 00:50] stephaniemcv commented on #84
I confirm that I see jon+testing1001@mozillafoundation.org

[2016-02-02 01:04] HPaulJohnson commented on #52
@rohanporteous - met on our side this afternoon re: social. At the bottom of the doc above you'll see a list of deliverables we came up with based on our current ideas and test plan. There are a few that we would love your help with: creating ~4 .gifs from the video that we could use on both Facebook and Twitter and some shorter cut of video for use on Instagram (max length for Ad is 30 secs, thou

[2016-02-02 01:05] HPaulJohnson commented on #69
Sounds like this is moving to March. @KevZawacki can you let us know when the copy deadline is for March edition of FF&You?

In the mean time, moving out of this milestone.

[2016-02-02 01:15] kellymj commented on #69
I can answer that!

Outline due: Friday Feb. 5 -- I've already included the encryption campaign as a feature.
Draft copy due: Tuesday, Feb. 9
Final copy due: Thursday, Feb. 11

[2016-02-02 01:17] HPaulJohnson commented on #69
awesome - thanks, @kellymj. we'll work on copy for next week!

[2016-02-02 04:50] rohanporteous commented on #52
Hey Paul,

Just landed at LAX for a stopover and CC'ing Lara and Sally as mentioned as
they might be able to take a look at it before I get to Sydney.

Sal, the doc Paul's referring to is the one I sent through on Slack! Will
give you a call shortly to discuss options :)

R

On Monday, February 1, 2016, Paul Johnson notifications@github.com wrote:

##

Rohan Porteous
Creative Director

http://agen

[2016-02-02 04:53] rohanporteous commented on #45
Hey Andrea, the issue was the framing in the first shot… it works timing
wise to bring it up earlier when the narrator introduces the premise, but
if you have it small enough to be readable on that screen it's far too
small on the wide, and if you show too much the viewer will think they're
meant to be reading it and struggle. This was an attempt to show something
appearing, but make the viewer fe

[2016-02-02 04:56] rohanporteous commented on #45
@brettgaylor @lovegushwa any feedback on SFX/music? Will be able to get
changed/alterations overnight if you can get it to me now to forward
on… will be more difficult once I'm back/closer to deadline.

(If you can't get it in the next hour or so send it through to Ben our
production manager at benjamin@agency.sc and he'll be able to pass it on).

On Monday, February 1, 2016, lovegushwa notificati

[2016-02-02 05:45] lovegushwa commented on #45
@rohanporteous I'm ok with the music. I agree that the SFX is overly glitchy/techy.
CC @brettgaylor
- In the first scene, I think the buzz noise is enough.
- I would really really tone down artificial computer magic sounds (the sound 0:15 for example.)
- I'm on the fence about the baby cry. It could be more subtle.
- I think sticking to natural sounds like keyboard typing in the office is a better

[2016-02-02 05:46] lovegushwa commented on #45
@rohanporteous again I think Sandwhich is a good benchmark. The UI in the environment is silent.

[2016-02-02 05:58] valianttry commented on #45
Sure, I get the problems you're trying to solve for, but because it is in the very first shot of a popup it's not clear that it's not supposed to be read. (Which is why viewers might struggle and think it's a mistake.) I don't think you lose anything if it instead first appears as the shot changes to include the dad. Her reaction alone could work before it is readable. Sorry to keep asking about t

[2016-02-02 06:18] lovegushwa commented on #40
@alicoding here is the final UI (what's Alans handle? can you CC him?)
I need to follow up with a few additional elements like the sign-up popup, video CTA's and any images you need tomorrow.
CC @ScottDowne

**V1 (direct from email)**
<img width="1800" alt="encryption-ui-annotation-011-02" src="https://cloud.githubusercontent.com/assets/12228435/12741443/381d0424-c931-11e5-8b61-02fe6b30c3c3.png">

[2016-02-02 06:33] lovegushwa commented on #22
@OpenMatt let's move all work over to the build ticket

[2016-02-02 06:33] #22 closed

[2016-02-02 06:37] lovegushwa commented on #23
@ScottDowne we should build something like this:
<img width="1274" alt="screen shot 2016-02-01 at 10 28 10 pm" src="https://cloud.githubusercontent.com/assets/12228435/12741731/f61076ee-c933-11e5-8038-ba16900d9add.png">
(This option looks better)

or this:
<img width="1276" alt="screen shot 2016-02-01 at 10 28 34 pm" src="https://cloud.githubusercontent.com/assets/12228435/12741743/0e768fca-c934-1

[2016-02-02 07:04] valianttry commented on #23
This looks great -- @lovegushwa if it helps the design, I think we could drop the highlighting on the "Sign up..." sentence. It's a really short call to action (unlike the fundraising snippets) so I don't think it will impact conversion much to lose it, but might help the design. We should specify "First Name" in the field label. That's because the purpose is so that we can address people by first

[2016-02-02 14:26] alicoding commented on #40
cc @alanmoo

[2016-02-02 15:22] brettgaylor commented on #64
This is fine from my POV. I haven’t been tracking the issues around social with a fine level of detail, so just check with @HPaulJohnson https://github.com/MozillaFoundation/encryption_campaign/issues?q=is%3Aissue+is%3Aopen+author%3AHPaulJohnson

[code]

[2016-02-02 15:24] brettgaylor commented on #23
Can I just check that whatever we use for embedding the video can record number of plays # of users who played entire video?  Ideally we’d also get # of users who watched 1/2 of video.

[code]

[2016-02-02 15:36] brettgaylor commented on #45
@valianttry @rohanporteous let's leave the opening - Andrea we're introducing a bit of curiosity before the narrator finishes "imagine a world". It works for me.

The music is indeed working better!  Like it.

I think your instincts on the SFX are correct - it's a bit too much at the moment, and to generically "tech" vs more believable modern phone UI.  The UI should be silent.

The non-diegetic s

[2016-02-02 15:49] OpenMatt commented on #96
Right now, this is unassigned. Needs an owner / driver to take this on.

[2016-02-02 15:58] alicoding commented on #96
I could help guide or work on this.

CC @simonwex

[2016-02-02 16:00] jessilyndavis commented on #23
Heyo - my quick 2 cents: I know having a name is important for ongoing fostering of relationships with these new email subscribers, but I'm curious how that extra field impacts conversion. Would it be worth it to a/b test a form with the name field in tact - and one with just email address?

Reason I ask:
If name is a good practice, but doesn't significantly impact ongoing engagement with the indi

[2016-02-02 16:04] jbuck commented on #84
@stephaniemcv but do you see the first name and last name?

[2016-02-02 16:13] ScottDowne commented on #23
@jessilyndavis I can make the name field optional for us, and we can configure it as we want, or spin up two and configure them differently to a/b test.

@brettgaylor There is some moco level analytics in the snippet I think I can tap into, I'll add that to list of things I need to look into.

@valianttry The highlight is already optional, so yes, we can easily turn it off and on as we want. I agr

[2016-02-02 16:13] jbuck commented on #84
@pmclanahan was able to confirm that my first name and last name was entered correctly, so we're good here!

[2016-02-02 16:13] #84 closed

[2016-02-02 17:04] OpenMatt commented on #79
thanks Kevin. @valianttry is meeting with @HPaulJohnson and @simonwex about other potential options -- stay tuned.

[2016-02-02 17:47] michellenebiolo commented on #89
Hi @OpenMatt, one thing we need is the list of people/emails we should share our Thursday presentation with.

Can we also arrange a brief video-call to go over the presentation together on the 4th, ideally 9.30 am PT / 6.30 pm CET?

[2016-02-02 18:10] KarinaRipper commented on #87
Hi @brettgaylor and @OpenMatt
Happy VO audition day! I've got some gems for you to take a listen to for Beat 2.

VO auditions here:
https://drive.google.com/open?id=0B0X9tL5cdPcYc2hZUkVoaVhGVFE

One note - Ross Huguet's audition has a watermark, hence the sound warble at 5sec.
Darren and I are both digging Ross and Jim Ripley.

Would be great to have your thoughts soon, possibly **before 2pm**. So

[2016-02-02 18:23] brettgaylor commented on #87
Hi, Kristina! Will give a listen and provide notes around 2pm.
On 2 Feb 2016 11:11 a.m., "Karina Ripper" notifications@github.com wrote:

[2016-02-02 18:26] KarinaRipper commented on #87
Sounds good, thanks Brett!

[2016-02-02 18:28] michellenebiolo commented on #89
@OpenMatt I wonder if at this time you have any details you can share about the newsletter that will be sent out to launch the Beat 3 website.

In particular, we are assuming the newsletter will contain a short emoji message to be decrypted on the website (and a more or less “hidden” key). We think “Try to decrypt this” would provide a stronger call to action than a generic invitation to visit the

[2016-02-02 18:39] KevZawacki commented on #69
@kellymj, welcome to GitHub!

Draft encryption copy for March's Firefox + You can be found [here](https://docs.google.com/document/d/1dU7pjgMDnrxsDQzoxGwf_StQkg-Cp3JSk8xyOOJJFPg/edit) (I've also pasted below). Let me know how/if I can tweak.

Static images from the videos are in the works, and should work well as email images. @HPaulJohnson and I will let you know as they emerge.

---

[Header]
sc

[2016-02-02 18:53] natalieworth commented on #57
@valianttry can you review before we get copy from @HPaulJohnson for the promo tile. @lovegushwa helped to narrow these down and I've posted them to redpen: https://redpen.io/dj66752b112945e5fd
The lock icon was intended to relate to the lock in an encrypted page. There are 3 options that include static and rollover states. I tried to maintain the existing branding of the current mozilla.org page

[2016-02-02 18:53] natalieworth commented on #57
![tiles-mozilla-final-07](https://cloud.githubusercontent.com/assets/14876567/12760427/3bc30744-c99b-11e5-8f14-43f33f0bd929.png)

[2016-02-02 18:54] natalieworth commented on #57
<img width="137" alt="screen shot 2016-02-02 at 10 41 29 am" src="https://cloud.githubusercontent.com/assets/14876567/12760445/465ec990-c99b-11e5-97fd-e1a7eb92a15d.png">

[2016-02-02 19:01] ScottDowne commented on #23
@lovegushwa Here is the screenshot from out experiments:
![snippets](https://cloud.githubusercontent.com/assets/197334/12760657/64dea326-c9b5-11e5-8959-98152c9a995f.png)

[2016-02-02 19:15] lovegushwa commented on #85
@brettgaylor  @shaghdoosti  @valianttry @HPaulJohnson

Hey everyone, worked with Paul this morning to knock out some end card variants.
Please note, the UX column we control so don't sweat that copy.

Please post your feedback asap so I can pull this together before @rohanporteous get's back in the office. https://redpen.io/p/vn95d03649423099f0

[2016-02-02 19:29] OpenMatt commented on #89
@shaghdoosti @valianttry @HPaulJohnson  are you able to answer?

[2016-02-02 19:53] lovegushwa commented on #40
@alicoding  @alanmoo

Redpen (these do not display at %100, I checked): https://redpen.io/p/ab619073e3fbcf32e1

72.dpi .pngs: https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvbTJqV01nRVUzSTA&usp=sharing

Final Ai file:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvTFVReXl6TmxhaDQ/view?usp=sharing

[2016-02-02 20:44] valianttry commented on #57
all look great -- what about removing the keyhole so it is an even closer match to the https icon? That's my only (not very important) suggestion. Love the color!

[2016-02-02 20:45] HPaulJohnson commented on #57
What about this copy (from end card):

"Privacy depends on encryption and is worth protecting." [learn more]

Too long?

[2016-02-02 20:49] valianttry commented on #23
@jessilyndavis we discussed this tradeoff .... @ScottDowne is building it so we could test... Here's some of our thinking:
- Since the video is only on the snippet for 2-3 days and we're racing the clock, I opted to simplify things with less optimization testing on the snippet itself. But we could test name field variants during the course of the campaign if we want.
- More importantly, our primar

[2016-02-02 20:51] natalieworth commented on #57
![tiles-mozilla-final2-07](https://cloud.githubusercontent.com/assets/14876567/12763858/9ebeda20-c9ab-11e5-8058-45a3cf2681c1.png)

[2016-02-02 20:51] lovegushwa commented on #23
@ScottDowne here are the final options.
CC @valianttry

<img width="1274" alt="screen shot 2016-02-02 at 12 48 21 pm" src="https://cloud.githubusercontent.com/assets/12228435/12763836/7a2f2df4-c9ab-11e5-8ee0-ecdab18774a9.png">

<img width="1273" alt="screen shot 2016-02-02 at 12 48 37 pm" src="https://cloud.githubusercontent.com/assets/12228435/12763839/8012372a-c9ab-11e5-9974-5e047a390dd6.png">

[2016-02-02 20:52] HPaulJohnson commented on #57
Feels pretty wordy. @KevZawacki - can you take a quick look and suggest edits to tighten this up?

[2016-02-02 20:53] natalieworth commented on #57
@valianttry @lovegushwa Removed the keyhole, I'm okay with either option
@HPaulJohnson Should the "privacy depends..." text be on the rollover? Are you good with the "Learn how encryption affects your privacy"? I was just using it as place holder, but not sure if we could do something better
cc @KevZawacki

[2016-02-02 20:57] ScottDowne commented on #23
@lovegushwa One thought, can I put the spinner in the button itself? Example:
![spin](https://cloud.githubusercontent.com/assets/197334/12763934/21db94f2-c9c5-11e5-89a7-d3a188ed5faa.png)

At the time of displaying the spinner, we don't know if it'll pass or fail yet. If it passes, we hide the UI and display success message. If it fails, we don't.

[2016-02-02 20:57] HPaulJohnson commented on #57
To be consistent with language @shaghdoosti suggested for video end cards, let's try

"Encryption helps protect your privacy" [learn more]

[2016-02-02 20:59] valianttry commented on #23
@ScottDowne we didn't really talk about what would be required. I wonder if @jessilyndavis has any thoughts? My instinct says that only email + privacy checkbox should be required, country and name should not be (to honor user choice). Does that throw a wrench in the works?

[2016-02-02 21:02] jessilyndavis commented on #23
+1
email + privacy checkbox should be required
country and name should not be required

would be worth asking Brian/Marshall just to make sure there's not a legal reason. (I dont think so, it's more a nice to have as far as I know)

[2016-02-02 21:03] brettgaylor commented on #87
Hot damn!  That was fun :) Lots of good voices in there.  I think many of them actually had a similar tone, good shortlist.

The standout for me is Jim Ripley - has the nice old man / drifter from Big Lebowsky quality we were after.

Let's go with him!

Do I need to create an account there?  How will that work?

[2016-02-02 21:07] brettgaylor commented on #79
Hey folks - I think the best option here is to use the netpolicy blog that already exists, but to use smart tagging of this blog and link to the appropriate categories.  I think it's all pretty niche content.

We've started to tag the fellows blog posts with "open web fellows", so that we can link to that category/tag without including all of the policy blogs for instance. So like this:

https://b

[2016-02-02 21:08] brettgaylor commented on #57
is this the right use of “affects”?

[2016-02-02 21:11] valianttry commented on #23
@jessilyndavis Brian commented in his email that our existing optin configurations were good on the site, and they only require email + checkbox so I think we're OK. I'd definitely want to check with them if we were thinking about requiring new PII to optin, but we're not.

[2016-02-02 21:15] natalieworth commented on #57
![tiles-mozilla-final3-07](https://cloud.githubusercontent.com/assets/14876567/12764458/b68fc06c-c9ae-11e5-8dc5-e5ace3c12bd7.png)

@HPaulJohnson @KevZawacki Updated content, let me know if I should alter/ change the "Learn how encryption affects (effects?) your privacy"

[2016-02-02 21:15] ScottDowne commented on #23
OK cool, so name and privacy required, rest is optional.

[2016-02-02 21:17] lovegushwa commented on #23
spinner in the button is cool.

On Tue, Feb 2, 2016 at 1:15 PM, ScottDowne notifications@github.com wrote:

[2016-02-02 21:17] ScottDowne commented on #23
@valianttry Any legal concerns regarding the error message for when the privacy checkbox is not selected when they submit?

[2016-02-02 21:20] valianttry commented on #23
@ScottDowne let's use what is currently on the homepage signup:

"Please check this box if you want to proceed."

![screen_shot_2016-02-02_at_1_19_26_pm](https://cloud.githubusercontent.com/assets/9830371/12764615/afbe3aa6-c9af-11e5-9693-06f6a9348f4f.png)

[2016-02-02 21:22] KarinaRipper commented on #87
Rad! So glad you liked them. I'll line things up with the talented Jim Ripley. As well as look into the account details and will have these for you shortly ;)

Will you want to be included in the VO record session tomorrow or is it cool for Darren to direct the session? Let me know so I can schedule accordingly. Thank you!

[2016-02-02 21:34] natalieworth commented on #57
@HPaulJohnson @valianttry Once copy is confirmed for these, I'll upload on bugzilla ticket for the tiles team to create. Hopefully as soon as possible

[2016-02-02 21:55] valianttry commented on #57
Options:
-- "Help protect it"
-- "Get the facts about encryption"

[2016-02-02 22:11] KevZawacki commented on #57
For possible post-rollover copy:

-- Learn why it's worth defending
-- Learn why it's essential online
-- Learn more about encryption's importance

I really like @valianttry's suggestion, too: "Get the facts about encryption"

[2016-02-02 22:12] lovegushwa commented on #85
@brettgaylor @rohanporteous
Here are the end card variants, a few notes:
- Rohan don't worry about the UX column.
- Email Direct and Partner are the same.
- Native is the same as Social/Organic with the addition of a 3rd card.

![encryption-endcard-flow-02-01](https://cloud.githubusercontent.com/assets/12228435/12766029/4c750ebe-c9b6-11e5-9ddb-b97069bd784d.jpg)

[2016-02-02 22:13] lovegushwa commented on #85
@rohanporteous working on graphics for you now, will post asap.

[2016-02-02 22:22] HPaulJohnson commented on #57
I like "Get the facts..." too though worry we don't really pay that off until the second video. Probably okay for a week during launch. Let's go with that.

Also, sorted through the multiple bug confusion, let's use this bug for updates:

https://bugzilla.mozilla.org/show_bug.cgi?id=1244346

(I closed the one referred to up top that I had originally filed last week)

[2016-02-02 22:32] brettgaylor commented on #87
Great. I may need to call you re: account details for financial info. Will
email off list.

Fine for Darren to direct. Tomorrow I'm flying home from vacation and will
be unreachable.
On 2 Feb 2016 3:23 p.m., "Karina Ripper" notifications@github.com wrote:

[2016-02-02 22:40] KarinaRipper commented on #87
@brettgaylor cool sounds good! Saw your email, looking forward to talking with you this evening. Thanks!

[2016-02-02 23:02] natalieworth commented on #57
Provided source files for this on bugzilla for mozilla.org tiles team: https://bugzilla.mozilla.org/show_bug.cgi?id=1244346
Final file on drive: https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0dDRFRElzVlVDMTQ/view

[2016-02-02 23:28] HPaulJohnson commented on #79
@valianttry and @simonwex and I discussed this morning. There's a larger plan afoot to build a CMS that supports program specific blog and, longer-term, a foundation wide presence where stories from these program-level blogs can be leveled up.

The program specific version is fairly easy (and quick) and I am submitting a /plan ticket now. It will live at advocacy.mozilla.org/movement and we can po

[2016-02-02 23:33] HPaulJohnson commented on #52
@rohanporteous let me know if/when you and team might have some availability in the next few days to jump on a call and discuss. @lovegushwa and @natalieworth should have some initial design concepts to share in the next couple of days as well.

[2016-02-02 23:37] lovegushwa commented on #57
Thanks! @natalieworth
This is ready to close.

[2016-02-03 00:45] HPaulJohnson commented on #79
Plan ticket filed for advocacy.mozilla.org/movement blog:

https://github.com/MozillaFoundation/plan/issues/719#issuecomment-178902884

[2016-02-03 00:47] #74 closed

[2016-02-03 00:57] HPaulJohnson opened #97 "Copy for campaign promotion in MLN monthly newsletter"
Per our conversation with @KGorr today, there's a space in the March MLN community newsletter for a encryption campaign promotion. Copy due: 2/17

cc/ @KevZawacki

[2016-02-03 00:58] HPaulJohnson commented on #57
Nice work! Closing!!