[2016-02-03 01:00] HPaulJohnson commented on #53
Copy being developed here: https://docs.google.com/a/mozilla.com/document/d/1cdR24bMckLePN8XKVxo_QOgQIOUVt2rvfhQEgFvaXaE/edit?usp=sharing

Will finalize this week and setup in Adwords for launch.

[2016-02-03 01:03] HPaulJohnson commented on #45
@brettgaylor on-screen CTA's being worked on here: #85

[2016-02-03 01:05] HPaulJohnson commented on #32
@KevZawacki can you update this based on latest input from MoCo Comms team?

[2016-02-03 01:12] rohanporteous commented on #52
@HPaulJohnson @lovegushwa we have all day booked out for one of our designers tomorrow, which is from your 2pm. You able to meet to chat through things then?

[2016-02-03 01:13] rohanporteous commented on #45
@brettgaylor @HPaulJohnson @lovegushwa I've just got into the Sydney office and will be looking to make near-final changes over the next few hours. You available for a call to chat through any final elements?

[2016-02-03 01:15] rohanporteous commented on #85
@lovegushwa great, thanks!

[2016-02-03 01:16] HPaulJohnson commented on #33
@KevZawacki - added comments to doc. Back to you. Let's discuss tomorrow.

[2016-02-03 01:18] HPaulJohnson commented on #52
@rohanporteous - yes, works for us. I've put it in @lovegushwa and my calendars for 2 pm PST.

[2016-02-03 01:21] HPaulJohnson commented on #45
@rohanporteous - @lovegushwa and I are available now to jump in vidyo if you'd like (not sure of @brettgaylor's status).

[2016-02-03 01:43] lovegushwa commented on #85
@rohanporteous here is a link to the identity files:
https://drive.google.com/file/d/0B2qu3ExKWIlvSTNaSmdYblBMTDA/view?usp=sharing

This is an example of how we might animate the text:
https://d157rqmxrxj6ey.cloudfront.net/natalieworth/28603/

[2016-02-03 01:55] brettgaylor commented on #45
Can't do call but can respond to issues here tonight.
On 2 Feb 2016 7:21 p.m., "Paul Johnson" notifications@github.com wrote:

[2016-02-03 02:38] valianttry commented on #33
@KevZawacki this OpEd is really really good! @shaghdoosti and I are also working on email copy and you've got some great phrases in here that we should steal.

Seriously, impressed.

[2016-02-03 02:47] lovegushwa commented on #85
@rohanporteous
https://drive.google.com/folderview?id=0B2qu3ExKWIlvdlhoRV9jbUxiX0k&usp=sharing

Feel free to tweak and revise this direction. The type is in the folder.

Native could use 2 extra cards (rather than squeezing the Encrypt and URL on one screen.)
<img width="1331" alt="screen shot 2016-02-02 at 6 42 03 pm" src="https://cloud.githubusercontent.com/assets/12228435/12771290/1cf57d78-c9dd

[2016-02-03 08:02] rohanporteous commented on #64
Hey @brettgaylor @lovegushwa @HPaulJohnson @OpenMatt, an updated (very near) final version is available for preview [here](https://drive.google.com/file/d/0B3UIshL1Uom0Zl9kZTVjQzJ2djA/view?usp=sharing), the changes revolving around the SFX mix and the final title elements.

With the SFX, I tried to:
- Reduce many of the digital clicking SFX for subtle swooshes etc, while keeping the text message n

[2016-02-03 08:10] rohanporteous commented on #64
As a complete aside, check [this video from FB about their jump into Slack's territory](https://work.fb.com/).

[2016-02-03 14:40] OpenMatt commented on #64
Thanks @rohanporteous!

### Next steps:
- [ ] @brettgaylor will review it Wed morning. Hopefully its a final approval.
- [ ] If there are still any changes that need to be made, Brett will review them EOD pacific time Wed (Wednesday) for a final output Thursday

@brettgaylor: over to you.

[2016-02-03 14:52] KevZawacki commented on #32
@HPaulJohnson I'll be speaking with Alex S. at MoCo this week to figure out the details, and will update this ticket accordingly. But, it's looking like A&P will work with our media list and pitches to conduct outreach.

[2016-02-03 14:57] KevZawacki commented on #33
@valianttry Thank you!

Also happy to lend a hand with emails, if you need an extra set of eyes.

[2016-02-03 15:12] OpenMatt commented on #45
Given that we are now working to finalize final cut, let's close this issue and manage final approvals here:  https://github.com/MozillaFoundation/encryption_campaign/issues/64

[2016-02-03 15:12] #45 closed

[2016-02-03 15:15] OpenMatt commented on #79
great plan. love it. thanks for the great update and next steps on this @HPaulJohnson

[2016-02-03 15:19] OpenMatt commented on #23
@ScottDowne you all good to proceed on this one? Got what you need?

[2016-02-03 15:25] OpenMatt commented on #40
@alicoding @alanmoo @ScottDowne are we all set to push ahead with the build, now that design is done? Just want to make sure the hand-off is all good from your side.

[2016-02-03 15:28] OpenMatt commented on #64
- Note: final delivery of the video will likely occur tomorrow (Feb 4) instead of today.
- @brettgaylor and I don't think that poses a problem for anyone.
- @valianttry @lovegushwa @ScottDowne let us know if that's wrong?

[2016-02-03 15:29] brettgaylor opened #98 "Deliver compressed video files"
@rohanporteous we are going to be hosting this video in a variety of locations, including, awesomely, firefox.  It will play in the about:home portion of the browser, which has some specific technical requirements.  That page needs to be as light as possible, so we may need you to deliver videos in a specific way.

@ScottDowne what are the formats needed for the snippet?  And is there a file size

[2016-02-03 15:31] KevZawacki commented on #33
@HPaulJohnson Blog updated -- I think this one is pretty much done.

Left a comment re: what sort of content by Mark will accompany this post.

[2016-02-03 15:36] OpenMatt commented on #84
thanks @jbuck !

[2016-02-03 15:38] OpenMatt commented on #96
Thanks @alicoding ! We'll take you up on that. Mostly what this needs right now is: a content plan / strategy / roadmap. Someone from the campaign side to work out a strategy. Then we can take you up on your offer to help implement, once we have a better sense of what we actually want to do.

[2016-02-03 15:39] OpenMatt commented on #28
@stephaniemcv nice! got a status update?

[2016-02-03 15:50] brettgaylor commented on #64
Slow clap @rohanporteous !  This is great.

I have two things:

1) I don't think the sound effect for the dad at :13 works.  Just cut it
2) The mug at the end.  You may want to kill me, but right now the credit card details do not seem like the thing we are focusing the audience's attention on.  Could we try making these bold, perhaps in black, or, im serious here, blinking?  On this particular is

[2016-02-03 15:51] ScottDowne commented on #98
Videos in the snippet are new to me. I have looked at existing snippets and
I found that it used webm and video elements.

I am aware that there is magic involved in the hosting but don't know the
exact details.

I think the essentials are that it'll be a video element, and how to use
the source passed into the snippet via snippit config, though, right?

[2016-02-03 15:55] brettgaylor commented on #98
@ScottDowne maybe the thing to figure out is just how heavy the page can be, and then we can pass that info on to our video team.  Could you also find out where to host the video assets?  Is it videos.mozilla.org, or an amazon bucket, etc?

[2016-02-03 15:55] ScottDowne commented on #98
And I don't know any details on size requirements. I can figure that out
for you if you like.

[2016-02-03 15:55] brettgaylor commented on #98
Yes please re: size!

[2016-02-03 15:56] OpenMatt commented on #89
@michellenebiolo re: Thursday meetings. I just added you to the calendar invite for our weekly meetings with the group. I suspect the time zone won't work for your team, though -- can you suggest a time that would be better for you guys?

[2016-02-03 15:57] OpenMatt opened #99 "Provide back-end infrastructure for Beat 3 website"
* Design and front-end development will be provided by our contractor friends at TODO (design ticket is here: https://github.com/MozillaFoundation/encryption_campaign/issues/89)

### Timelines:
* Feb 4: UX design + wireframe complete
* Feb 18: design +  front-end development complete
* Feb 25: testing, QA, debugging complete
* Feb 26: final delivery to production

[2016-02-03 16:03] stephaniemcv commented on #28
Email was sent evening of 2/2. Unofficially, OpenRate (13.4%)and ClickRate(3.2%) are looking good. I'll have official numbers at the 24 hour mark.

[2016-02-03 16:04] brettgaylor commented on #75
We can make a plan on my return, but what we'd discussed is actually localizing these some cycles after we launch, so we can localize the variants that we look and the aspects that convert.

[2016-02-03 16:15] alicoding commented on #40
@alanmoo and I started working on the build now, so we're all good :+1:

[2016-02-03 16:18] OpenMatt commented on #99
* @michellenebiolo can you confirm that the timelines above are correct?
* can you also let me know what specifically you will need from our developers this week (if anything) and especially: next week.

[2016-02-03 16:18] OpenMatt commented on #99
Here's my understanding of what TODO needs from Mozilla.
- TODO will provide all the front-end development work, and deliver all production files (HTML, CSS, JS, images, web fonts) to Mozilla in a “ready-for-deploy” file structure.
- But our devs will need to provide:

### 1) Backend

Development of a custom RESTful API backend with the capability to store messages containing emoji
characters iden

[2016-02-03 16:20] OpenMatt commented on #99
@simonwex , we'll need your help with this. Can you review?

[2016-02-03 16:24] ScottDowne commented on #98
No answer on file size yet, but I can confirm it needs to be 480x270 and webm.

Me or anyone else can then send the source file to the snippet team, and they upload it, and they put the source into the snippet template.

[2016-02-03 16:32] ScottDowne commented on #23
@OpenMatt Yup, so far so good. Should be done today.

@lovegushwa for the placement of the play triangle in the button, I'm finding some places center it literally and some center it visually. Which of these would you consider "centered":
![center](https://cloud.githubusercontent.com/assets/197334/12788839/455baf8a-ca69-11e5-88aa-e1c97f777d90.png)
![center1](https://cloud.githubusercontent.com/ass

[2016-02-03 16:53] lovegushwa commented on #23
@ScottDowne visually centered! (top button)

[2016-02-03 16:54] ScottDowne commented on #23
@lovegushwa thanks! I would agree!

[2016-02-03 17:13] adamlofting commented on #28
We've had 2,200 completed surveys so far which beats our goal of 1,000.

[2016-02-03 17:50] ScottDowne commented on #98
I didn't get back a conclusive answer. The longest video ever used had a 6 minute duration.

In general they try to keep videos under 1 min and under 300kb. Right now there is a 33 second 2MB video snippet running.

Looks like it's flexible. What kind of sizes are we talking about for our video?

The question has been pushed to someone in GMT+2 so we can expect a another answer back tomorrow.

[2016-02-03 19:29] simonwex commented on #99
Hey @OpenMatt, anonymous publishing is a problem for us as it could allow people to take advantage of the API for all kinds of nefarious tasks. I'd like to further understand the use of the API, when is the stand for this work?

[2016-02-03 19:31] simonwex commented on #99
We won't be providing SSH access, as this isn't how we host web content. There are other ways we enable deployment through github. I'll articulate this need as well as other requirements in an email to the contractors. (Source code availability, source code license, after-hours support, etc.)

[2016-02-03 19:47] OpenMatt commented on #99
Cool thanks @simonwex -- trying to schedule a stand-up for Thurs or Fri. But in this case: I think it would be helpful to just schedule a meeting to unpack these technical requirements specifically. And being proactive about how we will meet Mozilla's security / privacy review requirements, in particular.

@michellenebiolo can you:
1) identify the technical leads from your team who should attend
2

[2016-02-03 19:49] OpenMatt commented on #99
@simonwex here's the full statement of work, for context:
[16.01.20_Beat3_TODO_SOW.pdf](https://github.com/MozillaFoundation/encryption_campaign/files/116278/16.01.20_Beat3_TODO_SOW.pdf)

[2016-02-03 19:59] OpenMatt commented on #99
I'm marking this one as P1, because the need for being proactive around Mozilla's privacy and security review process on this one -- given the nature of the campaign and the novelty of the CTA -- is high.

[2016-02-03 20:26] michellenebiolo commented on #99
Hi, the timeline stated in the beginning is correct.

We are writing a document with backend specifications to share with you soon, hopefully tomorrow.
Fabio Franchino (@abusedmedia) is in charge of our development team and can get into any necessary details about it with you.
Please email him any requirements at f.franchino@todo.to.it
I need to confirm his availability but I think we can also arr

[2016-02-03 20:40] lovegushwa commented on #64
@brettgaylor @rohanporteous
I think the mug is always going to overpower the credit cards because it's an image that's moving and your eye is going to track it in that short moment it's on screen.

I showed the most recent cut to Cassie today, she called out the mug as being an inconsistent use of UI. (this has also been eating at me.) It's a funny moment, but we lose consistency and a focus on a

[2016-02-03 21:05] KevZawacki commented on #34
@HPaulJohnson, update:

I've reworked so a) there's limited overlap with #33, and b) it's not too similar to our op-ed, in the event that we haven't yet placed it by then. Same gist as the op-ed, but different words and fewer hooks.

https://docs.google.com/document/d/1vBuXl7K1yQiU6wca1n68IHjxz_E1ab9c5Yb3ctdvCSo/edit

[2016-02-03 21:35] chelseanovak commented on #23
@valianttry I was just chatting with the Snippets team and they had two questions:

1) Is "Mozilla stands up for online privacy. Will you join us? Sign up to get important email updates and opportunities to stand with us." the final snippet copy? If not, we need the final copy by the end of this week.

2) Is the snippet copy built into the the embedded form or does the copy go into the usual snipp

[2016-02-03 21:42] shaghdoosti commented on #77
Had a great meeting with @chadsansing @amirad and @mozstacy about this today.

A few thing -- we agreed the structure was:

Decision: Sara
Accountable: Stacy + Community + team
Responsible: Chad
Consulted: Amira
Informed: Andrea, Chris, Paul

The ideas we're going to [develop are here.](https://docs.google.com/document/d/1nq_CBYs0lVnMDZFTB68nk4vLMEerOSm0R1-dujOQ8Kg/edit#) The aim is to get one tea

[2016-02-03 21:53] ScottDowne commented on #23
@chelseanovak It goes into the usual snippet service :)

I'm making it as flexible and configurable as I can.

[2016-02-03 22:16] KarinaRipper opened #100 "Delivery Schedule for Beat 2"
Hi team @brettgaylor @OpenMatt !

Wanted to touch base on the delivery schedule for Beat 2.

Delivery of Final Cut - EOD Wednesday, February 10
- Rough music

Delivery of Masters/Deliverables - EOD Monday, February 15
- Quicktime Movies - H264, 1920x1080, 23.98
- Screengrabs

Let me know if those dates sound good to you.

Thank you!

[2016-02-03 22:40] amirad commented on #77
cc: @ldecoursy as an fyi

[2016-02-03 23:04] shaghdoosti commented on #77
We have everything to move forward @OpenMatt. Exciting and more soon.

[2016-02-03 23:44] ScottDowne commented on #23
OK, this is what I have done up to this point.

http://scottdowne.github.io/eoy-snippets/signup-snippet/

It's done from what feedback and requests I was able to catch. If I missed something, let me know.

@brettgaylor I setup metrics for video play, finish, half way, and replay. It was easy, so I figured why not track replay clicks too! It's also tracking signups.

[2016-02-03 23:49] shaghdoosti commented on #25
Hey Friends --

Here is the email copy for beat 1. <[https://docs.google.com/document/d/1CEXBJC1jN2wRefRbHzJMSTyUDrC1lMDwbn5od449Hdc/edit](url) @KevZawacki if you could look over that would be great. @stephaniemcv would love to work together around the feedback piece and the header design too!

Feel free to have a look -- this copy hasn't been through approval yet. Will go through that process onc

[2016-02-04 00:18] lovegushwa commented on #85
@rohanporteous when your ready, can you drop a link to the final ident aftereffects in this ticket?

[2016-02-04 00:29] HPaulJohnson commented on #52
@lovegushwa @rohanporteous @natalieworth - I cleaned up the document based on our discussion today and hopefully it's more clear what next steps and deliverables are. Take a look, and let me know if there are questions.

https://docs.google.com/document/d/1AuT4zbTNYWjq0zAIjVN2FyttlQfyhxdaF63MDufudTE/edit

[2016-02-04 01:02] lovegushwa commented on #40
Checklist of items still needed:
- [x] Static video image
- [x] Placeholder for header animation
- [ ] Animated header (.gif or .svg even better)
- [x] Medium icon
- [x] Error state for form text
- [x] Button states
- [x] UI after video plays
- [x] Video variants

[2016-02-04 01:11] kellymj commented on #69
Hey @KevZawacki , thanks for the copy. I'd love to see the tone be more fun and edgy since we're going to entice users with a screen shot of the video, which is on the edgier side, last I saw. Are you up for revising it with that in mind?

Email cannot play a video, so we'll be looking for a still shot and a play button superimposed. The specs for the graphic are 660x160 px, PNG format. Users woul

[2016-02-04 01:32] natalieworth commented on #40
Static video image: https://drive.google.com/file/d/0B20-0lpP23c0d2s1cFR1ZzI5UkE/view?usp=sharing
Button states: Mock-up example for this here: https://d157rqmxrxj6ey.cloudfront.net/natalieworth/30204/ _(sorry dev friends if my code hurts/ is janky)_ We are hoping to just have it invert in colour with a slight animation on hover on/off.

Will post placeholder image early tomorrow morning. Thanks

[2016-02-04 01:49] rohanporteous commented on #64
@brettgaylor yep, fine to cut the SFX at 00:13! As I spoke about with the others, I'd mentioned the mug issue when it was happening it the rough cut notes ('_Changed to WBB mug (removed shopping cart as there was just too much information, and changed text so it didn't repeat the joke and so it made what was happening clearer. It's definitely more about the mug joke now than the issue of CC privac

[2016-02-04 01:54] rohanporteous commented on #64
@lovegushwa [here's the first scene](https://www.dropbox.com/s/9wrakgtzbfyvmfh/Screenshot%202016-02-04%2012.50.38.png?dl=0) with the shortened text to make it clearer that it's her text thread. Haven't gone with your option of having both pointing right as I thought it was just a step too far—something that never happens in any text app. (Seemed more like the difference between a normal text and a

[2016-02-04 02:03] rohanporteous commented on #85
@lovegushwa you should find everything you need [here](https://drive.google.com/file/d/0B3UIshL1Uom0QzlibUg1YXBYNDg/view?usp=sharing). It includes Illustrator files and a new glitch video to add another effect to the final logo.

[2016-02-04 04:30] lovegushwa commented on #85
@rohanporteous thank you!

[2016-02-04 04:30] #85 closed

[2016-02-04 04:38] valianttry commented on #23
That is the final snippet copy @chelseanovak

[2016-02-04 04:41] valianttry commented on #23
@ScottDowne the checkbox error message says:

![about_home_snippet_preview](https://cloud.githubusercontent.com/assets/9830371/12805963/4c6f1170-cab6-11e5-97f6-3de2c7cdfcae.png)

But the example text from the original form at mozilla.org says:
"Please check this box if you want to proceed."

Did you or @lovegushwa make this change? Is it because the box doesn't "glow" if left unchecked like on the

[2016-02-04 04:57] lovegushwa commented on #64
@rohanporteous that's looking better. You could also do something like this:
<img width="879" alt="screen shot 2016-02-03 at 8 44 24 pm" src="https://cloud.githubusercontent.com/assets/12228435/12806035/32e1f10e-cab7-11e5-9639-ecc4869a9b36.png">

You can make the call on this. The version I'm proposing is a little further from the guy and the visual alignment of the boxes feels a little better. Ho

[2016-02-04 04:58] ScottDowne commented on #23
@valianttry Right, missed that. Meant to go back to this.

The issue is I couldn't get the dialog with the arrow to pop up, after about an hour or so fiddling with it, and at the time didn't feel worth it when I still had other pressing things to do. Now that everything else is done, I can go back to it.

Interestingly, that error dialog is a default browser dialog, and the text "Please check this

[2016-02-04 05:00] lovegushwa commented on #52
@HPaulJohnson I just took over this ticket. (so we can track the design.) But you can take it back and I can start a new one for beat 1 if that's better.

[2016-02-04 05:02] valianttry commented on #23
@ScottDowne only if you have time -- i wouldn't sweat it too much.

[2016-02-04 05:04] lovegushwa commented on #17
see #40

[2016-02-04 05:04] #17 closed

[2016-02-04 05:10] rohanporteous commented on #64
@lovegushwa yeah, had considered doing that but was just too jarring between the two screens, as it'd either cover her face or jump strangely from left to right.

[2016-02-04 05:18] rohanporteous commented on #64
Oh, one thing that is very very small but I meant to bring up and forgot about @brettgaylor @HPaulJohnson @valianttry: the final notifications in the office scene. With the 'hot date' text I thought it could add a funny element if there was actually someone sending the text and another receiving it—the awkward public previewing of an in-office romance—and gave the messages to two of the women.

Th

[2016-02-04 05:33] HPaulJohnson commented on #52
@lovegushwa - it's all you!

[2016-02-04 05:45] ScottDowne commented on #23
@valianttry Here it is with the native validation: http://scottdowne.github.io/eoy-snippets/signup-snippet/

It's quite a bit less code. I kinda like it this way :)

[2016-02-04 05:47] ScottDowne commented on #23
One interesting note here is it only shows you one error message at a time, top most input first.

[2016-02-04 06:08] valianttry commented on #78
I have created a deck here:
https://docs.google.com/presentation/d/11h5S2DQYn8RYkLqNzfXAkUrM0EkXOcIhRaCnDJ5CyE4/edit#slide=id.ga39cad493_0_10

It is a master document that can be shortened or re-arranged for different audiences. The opening slides are a "zoomed out" view for those who are less familiar with grassroots advocacy.
- Mark reviewed this deck. I incorporated his feedback.
- @shaghdoosti

[2016-02-04 06:29] rohanporteous commented on #64
Hey guys, [here](https://drive.google.com/folderview?id=0B3UIshL1Uom0WnoybHJROXpSTlU&usp=sharing) are some different versions to match [the video wireframes](https://cloud.githubusercontent.com/assets/12228435/12766029/4c750ebe-c9b6-11e5-9ddb-b97069bd784d.jpg). Very quickly:
- 1a/1b native: the wireframes call for 'join the movement' but we didn't actually record that as a standalone. I've therefo

[2016-02-04 06:29] HPaulJohnson commented on #24
Update: answered initial set of questions from Marshall; he has a few follow up questions and he, Jim (from Share Progress) and I have a meeting Friday morning to review.

[2016-02-04 06:47] brettgaylor commented on #64
@rohanporteous sure like that idea re: the inter-office messages!

@lovegushwa and the Mozilla Foundation design team do a set of design critiques, and jordan brought the video in for review.  They had a few good comments which I thought I'd paste here:

I think this is somewhat covered in the above conversation you two have been having - I think it's good feedback and I agree.

Jordan sent this m

[2016-02-04 07:05] brettgaylor commented on #78
Bit of a driveby, sorry!

I think this works for the campaign.  Provides a good level of detail on our experiments as well as the nuance of the "committed" audience goals and KPIs.

I think an area where it doesn't necessarily paint a full picture is how this campaign is giving people ways to talk about and understand these issues that the market currently lacks.  This is touched on a bit in the d

[2016-02-04 07:12] lovegushwa commented on #64
@rohanporteous let's go with 1b "join the moment for privacy" ... I agree important is a little off but I think it's ok. @valianttry @shaghdoosti feelings about version 2a or 2b above?

[2016-02-04 07:14] lovegushwa commented on #64
@rohanporteous if you don't hear back I would go with 2b.

[2016-02-04 09:03] brettgaylor commented on #64
Agree - go with 2b.

Audio edits work for me, so only outstanding issues are Jordan's graphic suggestions and text change for beginning, and reverting the end shot of boss back to the shopping cart/deleting mug.

[2016-02-04 11:02] rohanporteous commented on #64
@brettgaylor already made the changes for the text message conversation at the start—included in the latest version, with rationale as to why we couldn't do it like in the screenshots above. Can lock in the audio choice and revert to the original mug treatment.

[2016-02-04 11:39] rohanporteous commented on #64
Updated files are now available in [the same folder as above](https://drive.google.com/folderview?id=0B3UIshL1Uom0WnoybHJROXpSTlU&usp=sharing). (With email/partner UX sharing the one video as per the wireframes).

[2016-02-04 13:34] KevZawacki commented on #25
@shaghdoosti Looking good! Just dropped suggestions into the doc.

[2016-02-04 13:40] rohanporteous commented on #52
@lovegushwa @HPaulJohnson [here](https://drive.google.com/folderview?id=0B3UIshL1Uom0VmpXdzZHaTduaGs&usp=sharing) are some examples of what we talked about earlier. We didn't roll them out on all concepts as we thought it was better for you to get a sense of things. Mostly:
- Limitations of 20% text on ads. Difficult for UI scenes, but possibly OK with message and stylized background.
- Different

[2016-02-04 14:00] KevZawacki commented on #69
@kellymj Definitely! Here we go:

[Header]
video stillshot + play button

[Hed]
Encryption Keeps Your Private Life Private

[Body]
Here’s a scary thought: What if your most embarrassing Internet searches appeared on nearby billboards? Or, what if your Mom could read all your emails?

Online privacy matters. It allows us to be curious and authentic with the Internet. Without privacy, the Internet b

[2016-02-04 14:28] KevZawacki commented on #78
@valianttry Left only a few minor comments. Really clear and smart! :+1:

[2016-02-04 14:30] rohanporteous commented on #52
Forgot to mention: the GIF timing is obviously not adjusted yet, but the
extra seconds needed on each frame won't actually add any size to the file.

On Thursday, February 4, 2016, Paul Johnson notifications@github.com
wrote:

##

Rohan Porteous
Creative Director

http://agency.sc
The creative studio for social change · Sydney · New York
office +1 (646) 583-1538 · cell +1 (646) 932-7169
address  6

[2016-02-04 15:33] ScottDowne commented on #98
No technical hard limit.

[2016-02-04 17:34] OpenMatt opened #101 "Write copy for Beat 3 website"
cc @michellenebiolo

@HPaulJohnson @KevZawacki can you assign this?

[2016-02-04 17:38] OpenMatt commented on #99
@michellenebiolo let's see if that's necessary coming out of today's meeting.

[2016-02-04 17:39] OpenMatt commented on #99
@simonwex Here's a new and more detailed tech specs document: http://mzl.la/beat3_tech_specs

Can you review and flag w. questions?

[2016-02-04 19:29] valianttry commented on #78
@brettgaylor good points --
- I agree we should mention that we're solving a very pervasive problem in the market not only for us, but for many partners in this movement (availability of quality helpful content about complicated Internet issues). Will add.
-  it might be worth it to spend a slide talking about our philosophy behind "share" as a core CTA for the "market / culture shift" piece. I'll

[2016-02-04 19:31] brettgaylor commented on #78
Yes I think digging into this piece is both important for the deck, and a really great piece of work moving forward and one where we have allies. (:+1:)

[2016-02-04 19:35] chelseanovak commented on #23
@valianttry Excellent. Two questions from the IPC team:

1) Has this been run past brand or legal? We ask because in November we were specifically directed to state that we stand for choice vs for privacy itself. It may be because of all the additional caution we were taking with Privacy Browsing with Tracking Protection and, hopefully, doesn't apply here. We'd rather the copy remain unchanged, bu

[2016-02-04 19:46] valianttry commented on #23
@chelseanovak you can see the actual snippet in staging here:
http://scottdowne.github.io/eoy-snippets/signup-snippet/

I am meeting with legal today to go over the campaign.

Andrea

[2016-02-04 20:12] brettgaylor commented on #64
@rohanporteous From the exchange above, I think that you could address both your concerns and jordan's by making the "talk bubble" point to the right instead of the left, ensuring no one gets confused that it's the dad's message.

Other than that, I think we're approved!

[2016-02-04 20:14] valianttry opened #102 "Test snippet optin - ensure data enters ExactTarget correctly"
The snippet build is nearly completed: #23

We need to test to make certain data entered into the snippet form fields land in ExactTarget properly, with correct tokens as well.

@stephaniemcv can you work with @ScottDowne (and whomever else you may need to pull in, like @bniolet) to double check data is stored properly in ET?

NOTE: the country field data, when filled out, is needed in ExactTarget

[2016-02-04 20:28] KevZawacki commented on #32
Developing... pitching will begin Feb. 10, alongside video 1 launch.

Kevin will pitch friendlies / privacy reports; A&P to pitch consumer tech press. More details by end of the week.

[2016-02-04 20:47] OpenMatt commented on #99
we agreed a tech stakeholders meeting is important. @simonwex and @abusedmedia will try to meet Friday (Feb 5)

[2016-02-04 22:53] rohanporteous commented on #64
@brettgaylor what do you think of the issue I raised above about there being no messaging app that exists where both the sender and the receiving appear on the same side? I think it'll appear as very strange, as if she's having a conversation with herself, as it's very much outside our known understanding of all UI. (The color differentiation making it seem more like the difference between a norma

[2016-02-04 22:55] rohanporteous commented on #52
@lovegushwa any thoughts here for additional work today?

[2016-02-04 22:55] alanmoo commented on #40
We also still need guidance on what happens when the user clicks either "Sign Up" button in V2

[2016-02-04 23:27] lovegushwa commented on #40
@alanmoo this was what we originally planned. Pro's and Cons? (not really time to design a different solution, do you have something else in mind? If not can we stick with the popup)
![eb71fc3e-c385-11e5-9ce6-3ee0c779709d](https://cloud.githubusercontent.com/assets/12228435/12833154/9e62a562-cb53-11e5-94ef-3b7bfa5a79ff.png)

[2016-02-04 23:49] brettgaylor commented on #64
Ah, I'm so torn by text bubble gate!

On my android device, the bubbles line up, but the text justification indicates who is talking.
So if you had something like this:
![image](https://cloud.githubusercontent.com/assets/345974/12833627/a80d904c-cb56-11e5-8f8e-0842dfd0782d.png)

But with the "no baby yet?" justified right, I think that would work!

I'm not too concerned about the jump from left to

[2016-02-04 23:57] #20 closed

[2016-02-05 00:04] rohanporteous commented on #98
FYI [here's](https://drive.google.com/file/d/0B3UIshL1Uom0VEQ4blczUndZLUk/view?usp=sharing) a webm video, coming in at 5.7mg for 480x270.

[2016-02-05 00:13] valianttry commented on #102
@ScottDowne I chatted with @stephaniemcv apparently this was already tested successfully with the help of @jbuck . I'm closing!

[2016-02-05 00:13] #102 closed

[2016-02-05 00:24] ScottDowne commented on #102
Woo hoo go team. Can I go on vacation now :D

[2016-02-05 00:41] valianttry commented on #102
:wave:

[2016-02-05 00:49] rohanporteous commented on #64
Baby gate is over. All videos have been updated [here](https://drive.google.com/folderview?id=0B3UIshL1Uom0WnoybHJROXpSTlU&usp=sharing) with new alignment & points on the right side so should work on all fronts!

[2016-02-05 01:16] rohanporteous commented on #64
@brettgaylor @OpenMatt @lovegushwa @HPaulJohnson hey guys, just wondering if you have any more feedback on finals here? We'd scheduled to be wrapped with everything mid-week and I'm out of office next week, so anything for me will have to come through today. Social image updates for next week can go through to lara@agency.sc and sally@agency.sc.

[2016-02-05 01:24] valianttry commented on #64
@rohanporteous I have nothing more. Really nice product!

[2016-02-05 04:08] brettgaylor commented on #64
Approved and closed!  Will move on to other delivery details.

[2016-02-05 04:11] brettgaylor commented on #98
@rohanporteous I think that's too big - what are you using for compression? Can we try and limit to 3mb?

[2016-02-05 04:14] brettgaylor commented on #98
Or perhaps 5mb?

[2016-02-05 04:20] brettgaylor commented on #64
Crud. @rohanporteous I just noticed that the social + emailpartner videos end on black frames. Can we make sure that they end on the CTA screens?

[2016-02-05 04:24] brettgaylor opened #103 "Create poster frame for videos"
We need to create a poster frame with a play button for the snippet, and for social sharing.  You can see what the snippet looks like with a poster frame here:

![image](https://cloud.githubusercontent.com/assets/345974/12838005/1ec67b92-cb7d-11e5-9cc3-80f7be3d0ffe.png)

And with Facebook and YouTube you can upload this yourself manually. You don't want their auto poster frames as they are always

[2016-02-05 04:43] HPaulJohnson commented on #64
@brettgaylor - i think this is by design. see ticket #85

Both social and email end up on the landing page and therefore it's already well branded with ENCRYPT and URL is not necessary (you are already on the site). The CTA's (either join the list or share) will be handled by UX on the site when the video has finished playing.

@lovegushwa can also confirm.

[2016-02-05 04:47] rohanporteous commented on #64
@brettgaylor they've been updated to end on the text. Assuming can cut to the UX once it's finished playing so you should be good either way now.

[2016-02-05 04:56] rohanporteous commented on #98
@brettgaylor OK… I finally found a convertor that would get us to where we need to be, and exported 4 versions of the main video for comparison, all under (or just at) 5mg. Take a look [here](https://drive.google.com/folderview?id=0B3UIshL1Uom0R0VyTXBYRC02V0U&usp=sharing) and let me know which one you want to go with, and I'll export the other two with the same settings.

[2016-02-05 05:12] rohanporteous commented on #98
@brettgaylor just ended exporting/uploading other versions anyways.

[2016-02-05 14:28] OpenMatt commented on #15
@KarinaRipper can you email me back a signed copy?

[2016-02-05 17:00] natalieworth commented on #40
Here's a temporary placeholder svg for the 'encrypt' wordmark:  while I work on exporting an svg animated version https://drive.google.com/open?id=0B20-0lpP23c0WGV1OHUzd0RKeEk

Also Medium's newest logo icon: http://fortawesome.github.io/Font-Awesome/icon/medium/

[2016-02-05 17:08] KevZawacki commented on #32
See A+P Playbook for agency role: https://goo.gl/38VRh7

[2016-02-05 17:13] KevZawacki commented on #31
Closing this ticket, as plans have changed. All pitching begins Feb. 10 -- follow progress in #32

[2016-02-05 17:13] #31 closed

[2016-02-05 17:17] KevZawacki commented on #33
Beat 1 content confirmed (but awaiting final approval):

Introductory post (for Medium) -- https://goo.gl/lPVM3p
Mark's piece (for Medium and blog.mozilla.org) -- https://goo.gl/8dJrm4

[2016-02-05 17:18] KevZawacki commented on #34
Updating -- Mark's blog (talked about above) is now beat 1 content.

Beat 2 content tbd.

[2016-02-05 17:19] michellenebiolo opened #104 "Choose an emoji set for Beat 3 website"
From @Giorgio-Olivero, regarding the emoji sets to be used/displayed in Cryptoloji:

We are exploring how different emoji sets work, in terms of visual outcome, on the "Magritte" onboarding and will keep you posted.

@OpenMatt We are hoping to discuss this and reach a decision about this fairly early next week – does that sound feasible?

[2016-02-05 17:25] OpenMatt opened #105 "Create risk-assessment document"
Tech specs from TODO: http://mzl.la/beat3_tech_specs
Concept wireframes: http://mzl.la/beat3_wireframes
Due: eod Feb 5

Next step: @simonwex will produce a risk-assessment document. To share w. TODO, etc.

[2016-02-05 17:25] OpenMatt commented on #105
cc @michellenebiolo

[2016-02-05 17:27] OpenMatt opened #106 "Give TODO access to staging"
Goal: ensure TODO has pathway to back-end infrastructure for staging, Heroku, etc.

Documentation: http://12factor.net/ This will enable an application to be hosted on Heroku

[2016-02-05 17:28] OpenMatt commented on #106
@abusedmedia: we can use this ticket to track next steps. Can you also post the repo you're using here?
And let us know if you're cool w. Heroku, etc.
cc @michellenebiolo

[2016-02-05 17:31] OpenMatt opened #107 "Pass security review for Beat 3 interactive"
Timelines:

    Feb 4: UX design + wireframe complete
    Feb 18: design + front-end development complete
    Feb 25: testing, QA, debugging complete
    Feb 26: final delivery to production

[2016-02-05 17:32] OpenMatt commented on #107
@simonwex want to file this now so that we can be proactive / give an early heads-up in advance.
Plus potentially work w. @davidascher if there's stuff we need to expedite / elevate.

[2016-02-05 17:34] OpenMatt commented on #89
Wireframes are here: http://mzl.la/beat3_wireframes

[2016-02-05 17:34] lovegushwa commented on #40
@alanmoo UX popups for after video plays!
@shaghdoosti @valianttry are these good to go?

![encryption-ui-012-01](https://cloud.githubusercontent.com/assets/12228435/12853908/84f40f92-cbeb-11e5-9122-c69f32404aed.png)

![encryption-ui-012-02](https://cloud.githubusercontent.com/assets/12228435/12853914/89e9a9bc-cbeb-11e5-8489-cda0d4f13fb6.png)

[2016-02-05 17:40] ScottDowne commented on #98
@brettgaylor @rohanporteous we should probably make a poster image for the video too.

Same dimensions at 480x270.

And also keep in mind there is going to be a big blue play button in the middle, so if we're making this we should consider that we don't want to put someone's face or something under that button.

The button's look and location is this: http://scottdowne.github.io/eoy-snippets/signu

[2016-02-05 17:44] abusedmedia commented on #106
@OpenMatt actually we are using a private repository. Is it fine for you making it public?

[2016-02-05 17:46] brettgaylor commented on #98
Scott that work is in #103

[2016-02-05 18:03] KarinaRipper opened #108 "Updated VO in animatic for Beat 2"
Hi @brettgaylor and @OpenMatt, happy Friday!

Wanted to send you the animatic with the updated voice over by the talented Mister Jim Ripley.
Here is the link: [https://vimeo.com/153425970]
Password: Mozilla

Mister Ripley's read was slower than the scratch VO, so we've slightly extended some spots. The total run time is now 95 seconds and we've adjusted our budget accordingly.

As you know, animat

[2016-02-05 18:03] ScottDowne commented on #98
@brettgaylor ah awesome! carry on!

[2016-02-05 18:40] natalieworth commented on #40
+1

[2016-02-05 19:06] shaghdoosti commented on #40
Look good to me.

[2016-02-05 19:07] valianttry commented on #40
:+1:

[2016-02-05 20:18] KevZawacki commented on #81
Hey @natalieworth @lovegushwa, checking in. Can we expect to have the Medium avatar image ready before the Wednesday, 2/10 campaign launch?

Also, do we need a new publication logo, or is the one above OK?

[2016-02-05 20:37] lovegushwa commented on #40
@alanmoo ok final UI and assets for after video:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvaldhV3hpZUV6aVk&usp=sharing

![encryption-ui-012-01](https://cloud.githubusercontent.com/assets/12228435/12858428/04d8d6e8-cc05-11e5-857e-2da034f1d76a.png)
![encryption-ui-012-02](https://cloud.githubusercontent.com/assets/12228435/12858432/0a89dde4-cc05-11e5-983f-08cb53df6810.png)

[2016-02-05 21:11] KevZawacki commented on #97
Hey @kgorr, I can put together this copy. Can you provide guidance on length and tone? Thanks!

[2016-02-05 21:46] KGorr commented on #97
Thanks, @KevZawacki! The Encryption campaign blurb will go in the announcements section (let me know if you need to see Jan's edition for reference). I'd keep it to 2-3 sentences with a brief intro and CTA. Does that help?

[2016-02-05 21:50] OpenMatt commented on #99
tech stakeholder meeting completed. I'm going to close this and push ahead w. new individual tickets.

[2016-02-05 21:50] #99 closed

[2016-02-05 21:52] OpenMatt commented on #92
@lovegushwa can you paste the Redpen here for how the experience will be embedded into / fit with the rest of the web site?

[2016-02-05 21:56] lovegushwa commented on #64
@brettgaylor @HPaulJohnson @rohanporteous
Yes we can close.

[2016-02-05 21:56] #64 closed

[2016-02-05 21:58] brettgaylor commented on #64
But we can't lose.

Clear eyes, full hearts.

[2016-02-05 22:01] lovegushwa commented on #64
@brettgaylor @alanmoo @HPaulJohnson @OpenMatt @alicoding
I move a copy of the final video files to the design drive here:
https://drive.google.com/folderview?id=0B2qu3ExKWIlvTzRGM1FZazI5Rm8&usp=sharing

[2016-02-05 22:02] lovegushwa commented on #40
@alanmoo final video files are here:
https://drive.google.com/folderview?id=0B2qu3ExKWIlvTzRGM1FZazI5Rm8&usp=sharing

[2016-02-05 22:20] lovegushwa commented on #81
@KevZawacki yes we will get it done. We need to make the avatar and the publication logo.
@natalieworth can you take this on?

[2016-02-05 22:57] lovegushwa commented on #40
@alanmoo poster images are here:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvc3V0TTktNURSbE0&usp=sharing

[2016-02-05 23:00] lovegushwa commented on #103
@brettgaylor how are these?
![poster-1920x1080](https://cloud.githubusercontent.com/assets/12228435/12861783/c5c6873c-cc1a-11e5-864b-7dddeca1bb2c.jpg)

**For landing page, text over image.**

![poster-dark-1920x1080](https://cloud.githubusercontent.com/assets/12228435/12861799/d5ead7d0-cc1a-11e5-9c14-827cae601b47.jpg)

![poster-1920x1080-play](https://cloud.githubusercontent.com/assets/12228435/12

[2016-02-05 23:13] brettgaylor commented on #103
I think they need a play button.

[2016-02-05 23:43] HPaulJohnson commented on #24
Update: Met with Marshall Erwin, Jonathan Cladius and Jim Pugh this morning. Most questions answered but Jonathan has requested Share Progress complete an updated, more comprehensive security review questionnaire and review results of that with Simon and I on Tuesday. New questionnaire sent to Jim and meeting set for Tuesday but...

For microsite launch we should just use our standard share button

[2016-02-05 23:57] lovegushwa commented on #103
Final poster images:

https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvc3V0TTktNURSbE0&usp=sharing

[2016-02-05 23:57] #103 closed

[2016-02-06 01:03] brettgaylor commented on #98
Great, thanks @rohanporteous
@alanmoo the file we will want to use for the snippet is:
moz.final.1.native.480x270.default.normal.webm

Which is available here
https://drive.google.com/folderview?id=0B3UIshL1Uom0R0VyTXBYRC02V0U&usp=sharing

[2016-02-06 01:08] lovegushwa commented on #52
@rohanporteous thank you, were good to go for now!

[2016-02-06 01:34] lovegushwa commented on #91
@alicoding @alanmoo just checking if this is hooked up.
CC @HPaulJohnson

[2016-02-06 01:34] lovegushwa commented on #90
@alicoding @alanmoo just checking if this is hooked up.
CC @HPaulJohnson

[2016-02-06 01:36] alanmoo commented on #90
@alicoding I'm going to leave this one to you, I'm not sure what I'd be referencing and you've got the page structure understanding

[2016-02-06 01:36] alanmoo commented on #91
@alicoding I'm going to leave this one to you, I'm not sure what I'd be referencing and you've got the page structure understanding

[2016-02-06 03:19] KevZawacki commented on #97
@KGorr Thanks! I'll get to work. One last question: when is the exact date the newsletter is going out?

[2016-02-06 21:12] KGorr commented on #97
March 4, but copy needs to be to me by 2/17

[2016-02-08 06:27] alanmoo commented on #40
Am I correct in assuming that the Medium icon should be inside a circle like the rest of the icons?

[2016-02-08 06:31] lovegushwa commented on #40
@alanmoo yes, please treat the Medium icon like the others.

[2016-02-08 06:49] alanmoo commented on #40
In that case, it's probably best just to use an SVG like the others. (Playing with CSS to center icons on a circle can be a surprising time sink.) Would a designer be able to generate that?

[2016-02-08 14:41] adamlofting commented on #91
@alicoding in reply to IRC ping:
- where will this be hosted? (ie what domain or subdomain)
- is there any existing GA property? (ie is this part of the advocacy site in terms of tracking?)
- how is the site/page built - is it static html or is state managed via react-router or simialr?

[2016-02-08 14:45] adamlofting commented on #91
It looks like advocacy.mozilla.org used to have GA tracking on it until recently, and now it doesn't:

<img width="1421" alt="screenshot 2016-02-08 14 43 55" src="https://cloud.githubusercontent.com/assets/1901816/12888490/58d3c464-ce72-11e5-8bf0-36df4c4530b3.png">

But this profile exists with Tracking ID: `UA-49796218-9`

We can use that ID, and the same approach to tracking page views as we did

[2016-02-08 14:45] alicoding commented on #91
1. The page will be hosted on https://advocacy.mozilla.org/encrypt/
2. There is no GA script on any page at the moment
3. This site (/encrypt) is React app with similar setup to donate.mozilla.org where we serve static built file and using React-router.

[2016-02-08 15:14] alicoding commented on #91
@HPaulJohnson @adamlofting do we want to track any click on the element of the page at all? or just pageview here?

[2016-02-08 16:24] alicoding commented on #64
@jbuck can you help with the hosting here? Thanks!

[2016-02-08 16:30] alicoding commented on #90
@adamlofting I did something similar to donate.mozilla.org here, but not sure where to get optimizely ID here?

[2016-02-08 17:06] valianttry commented on #23
@OpenMatt is @alanmoo or @alicoding going to take this over the finish line? We're so close! :checkered_flag:

[2016-02-08 17:07] valianttry commented on #79
@alicoding we built a version of the fundraising.mozilla.org design that was "post-campaign" so didn't include the totalizer and was simpler... how hard would it be to switch to that template? Possible to do that today / tomorrow?

[2016-02-08 17:15] valianttry commented on #79
@alicoding here is the ticket for reference: https://github.com/MozillaFoundation/encryption_campaign/issues/79

[2016-02-08 17:17] KarinaRipper commented on #49
Good morning @brettgaylor !

Also wanted to check in on the text elements/final word choices within the piece. Could the legal team review today so we can lock these words into animation? These are going to be customized and will have a fun motion graphic treatment, so we would like to get approval on the words soon. Let us know.

Thank you!

Karina

[2016-02-08 17:37] adamlofting commented on #91
I'm not close to this project so am not sure what the specific goals of the page are, but I would encourage tracking on any elements linked to the goal of the page. Share buttons, or sign-up forms etc.

[2016-02-08 17:39] ScottDowne commented on #23
@valianttry template landed this morning, I think next step is to loop in with Jessica to get the variables the way we want them on staging.

[2016-02-08 17:42] adamlofting commented on #90
We use the same Optimizely ID for all sites, so this can be the same as for donate.m.o

Noting we need to use the same subdomain setup to limit the cookies to advocacy.m.o

[2016-02-08 19:15] jbuck commented on #64
@alicoding yerp!

[2016-02-08 19:29] darrenpasemko commented on #47
Just a reminder, we need approval on the text overlays to make sure those words are confirmed. "ENCRYPTION" in SCN01. "Cyphertext" in SCN02. "Plaintext" in SCN03. "ENCRYPTION POWER!" in SCN11. "Protecting Human Rights!" in SCN16. SCN16 was the only sticky point I believe. Thanks!

[2016-02-08 21:03] michellenebiolo commented on #104
We have worked on analyzing and comparing the effectiveness of the three emoji sets we shortlisted for Cryptoloji last week.
You can find [a short recap of our findings at this link](https://drive.google.com/a/todo.to.it/file/d/0B1kZKM2Rzgy_dHVHN01oZngtMkU/view?usp=sharing).

All in all, **we recommend using the Twitter set**, because:
- it has a wider range of emojis (including letters, which mig

[2016-02-08 21:04] jbuck commented on #64
- https://d24kjznqej0s8a.cloudfront.net/2016/encryption_campaign/moz.final.1.native.mp4
- https://d24kjznqej0s8a.cloudfront.net/2016/encryption_campaign/moz.final.2.social.mp4
- https://d24kjznqej0s8a.cloudfront.net/2016/encryption_campaign/moz.final.3.emailpartner.mp4

[2016-02-08 21:18] alicoding commented on #64
thanks @jbuck ! <3

[2016-02-08 21:34] alanmoo commented on #64
These seem to be huge files, what are our options regarding compression? Does the CDN handle this and just need some time to propagate this?

[2016-02-08 21:52] jbuck commented on #64
@alanmoo no, we'll need to compress them ourselves

[2016-02-08 21:53] brettgaylor commented on #64
Hey @alanmoo @alicoding

I shouldn't have closed this ticket:
https://github.com/MozillaFoundation/encryption_campaign/issues/98

For snippet, the WebM file. For the microsite, @jbuck's right we haven't encoded these yet.

[2016-02-08 21:53] jbuck commented on #98
- https://d24kjznqej0s8a.cloudfront.net/2016/encryption_campaign/moz.final.1.native.480x270.480kbps.low.webm
- https://d24kjznqej0s8a.cloudfront.net/2016/encryption_campaign/moz.final.1.native.480x270.480kbps.normal.webm
- https://d24kjznqej0s8a.cloudfront.net/2016/encryption_campaign/moz.final.1.native.480x270.default.low.webm
- https://d24kjznqej0s8a.cloudfront.net/2016/encryption_campaign/moz.f

[2016-02-08 21:58] brettgaylor commented on #98
@rohanporteous realized we haven't compressed these for our microsite.  Would you be able to deliver the "native" video in mp4 and webm?  This one doesn't need to be as highlight compressed - @lovegushwa what are the pixel dimensions on the microsite?

[2016-02-08 22:09] lovegushwa commented on #98
5mb mobile, 10mb standard. iOS and edge do not support webm
We could also double 960x540 for retina. So three versions.

@alanmoo  is double checking this. @rohanporteous might know as well.

[2016-02-08 23:37] alanmoo commented on #40
Scratch that last request, I found something else in the project I could adapt to generate the icon-on-circle style.

[2016-02-09 04:48] brettgaylor opened #109 "Add logo to closing bumper"
Hi, @rohanporteous and @lovegushwa

We got a non-negotiable piece of feedback that we need Mozilla's logo on the closing bumper for this video.  I'm sorry to ask but we need to output this tomorrow as an augment to final delivery - and we can do it at same time as #98, where we need a final video compressed for our microsite.

[2016-02-09 07:29] simonwex commented on #106
@abusedmedia it's fine making the repo public. Could you please attach the MPLV2 license to it?

https://www.mozilla.org/en-US/MPL/2.0/

[2016-02-09 11:04] endorama commented on #106
@simonwex repository is public now. You can find it here: https://github.com/todotoit/cryptoloji

I should have applied the license properly, please let me know if I missed something.

[2016-02-09 13:57] alicoding opened #110 "Links for Share this now section"
![ofrsggu1](https://cloud.githubusercontent.com/assets/4368149/12918364/ca62a100-cf0c-11e5-990d-3c39f8ac97ad.png)

The 3 icons on "Share this now" section what should the link be? and "Join the conversation" (Medium) what is the link for that?

CC @lovegushwa @HPaulJohnson ?

[2016-02-09 14:08] michellenebiolo commented on #92
Quick update on this deliverable: we are focusing on solving all the major functionality issues before moving on to the desktop version of the website, so please expect a mobile version prototype on Thursday.

Meanwhile, are there any updates you can share with us on how Cryptoloji will fit in the campaign website, in terms of both experience and look&feel?
(As regards the latter, we have seen moc

[2016-02-09 14:47] adamlofting commented on #28
For those following along, here's an early look at the survey results:
https://docs.google.com/document/d/1YfjD0c7sfMPhHmEU2UOAaMvOrFr-zoEQzeTU_arUdrE/edit#heading=h.7qz0sjmzcqpy

We should dig into this data more in time, but I'm sharing this early in case it helps with planning for the latter part of the campaign.

[2016-02-09 17:38] HPaulJohnson commented on #110
the Medium URL is: medium.com/encryption-matters

for the sharing buttons those should be standard links for sharing/posting to FB/Twitter/Email. I believe this is the standard format for those links but you should confirm by looking other sites/places where we have used sharing buttons:

FB: https://www.facebook.com/sharer/sharer.php?u=[URL]
Twitter: https://twitter.com/intent/tweet?url=[URL]&tex

[2016-02-09 17:47] valianttry opened #111 "Testing Plan for Video 1 Launch"
We are going to do a small test initially launching the morning of February 10. The test channels will include 5% of EN snippet promotion with the embedded optin; as well as a test launch to 10% of our email list (~180,000 recipients). What questions are we trying to answer:

* Target: Video be shared at an average target rate of 5% of views on the microsite;
* Email optin rate of 0.1% from the sn

[2016-02-09 17:50] alicoding commented on #110
Thanks @HPaulJohnson I will make an update to Medium, twitter and facebook. What is the email suppose to be sent to again?

[2016-02-09 17:51] HPaulJohnson commented on #110
RE: Email should just pop-up your email applications with a prepopulated subject line and email body (we'll leave the to: field blank).

[2016-02-09 17:56] alicoding commented on #110
@HPaulJohnson so no email address that we want to send to?

[2016-02-09 17:58] HPaulJohnson commented on #110
@alicoding - no specific email. the idea is it opens your email app and the sharer can add recipients directly from their contacts, depending on who they want to share it with.

[2016-02-09 18:03] alicoding commented on #110
ah! got it. Thank you @HPaulJohnson

[2016-02-09 18:24] HPaulJohnson commented on #110
@alicoding - language and links for each of the share buttons is in the attached:

https://docs.google.com/document/d/1fTHv-bSDMhNOvUITU9Se3yGP-EjjfkiuWl-EobGDdjU/edit

For Facebook, my assumption is that the appropriate tags/metadata will be used to populate preview image on share?

[2016-02-09 18:49] alicoding commented on #110
@HPaulJohnson that's a good question about the image. Can we just use the poster/thumbnail for the video for social share here?

[2016-02-09 19:23] natalieworth commented on #110
I think the metadata can be optimized/ used for populating the image: https://developers.facebook.com/docs/sharing/webmasters/optimizing Although I'm not sure what we did with the EOY shares

[2016-02-09 19:48] alicoding commented on #110
@natalieworth right, but I'm wondering if I can just use the same image we use for the video with Facebook and Twitter here?

[2016-02-09 19:52] natalieworth commented on #110
Ohh sorry @alicoding, I'll talk to @lovegushwa. I'm assuming we could do something design-wise for the sharable image. Possibly with the encryption branding or a better image. Will update this afternoon

[2016-02-09 21:28] OpenMatt commented on #108
sorry for slow reply -- @brettgaylor are you able to update?

[2016-02-09 21:29] OpenMatt commented on #104
@lovegushwa I think you're probably the decider here. can you update?

[2016-02-09 21:29] OpenMatt commented on #100
@brettgaylor can you update?

[2016-02-09 21:30] OpenMatt commented on #92
cc @brettgaylor

[2016-02-09 21:54] alanmoo opened #112 "Microsite QA"

[2016-02-09 22:06] alicoding commented on #91
This is now done

[2016-02-09 22:06] #91 closed

[2016-02-09 22:15] #28 closed

[2016-02-09 23:25] mmmavis commented on #112
Video doesn't play on my FF 43.0.4 on OS X El Capitan 10.11.2  It stays like this after I clicked on the play button.
![fireshot capture 36 - mozilla advocacy - https___lit-mountain-52009 herokuapp com_encrypt_](https://cloud.githubusercontent.com/assets/2896608/12934093/ff7cbe50-cf40-11e5-9b0b-4c2615751952.png)
This can also be reproduced on the v2, v3 site.

[2016-02-09 23:30] cadecairos commented on #112
On Firefox for Android, the after video modal for the first link appears on the top of the screen, leaving plenty of space below. Might be worth centering it.

Alan note: I've adjusted behavior for modals on mobile/desktop.

[2016-02-09 23:32] mmmavis commented on #112
<img width="1440" alt="screen shot 2016-02-09 at 3 28 06 pm" src="https://cloud.githubusercontent.com/assets/2896608/12934211/c60739e2-cf41-11e5-91da-916293ebf048.png">

Dialog bubble got cut off on Chrome v48.0.2564.103 on OS X El Capitan 10.11.2.

[2016-02-09 23:39] mmmavis commented on #112
Chrome v48.0.2564.103 on OS X El Capitan 10.11.2.
(Not sure if it's the same on FF as I can't get the video to play on FF)

https://lit-mountain-52009.herokuapp.com/encrypt/

the 3 social share buttons are not hyperlinked :sweat_smile:

<img width="1440" alt="screen shot 2016-02-09 at 3 36 20 pm" src="https://cloud.githubusercontent.com/assets/2896608/12934371/e7aa7f72-cf42-11e5-9451-ea45a25358ae.

[2016-02-09 23:41] mmmavis commented on #112
same issue as above: the 3 social share buttons are not hyperlinked

<img width="1004" alt="screen shot 2016-02-09 at 3 40 20 pm" src="https://cloud.githubusercontent.com/assets/2896608/12934450/7aa9df7a-cf43-11e5-971e-b28c34721b8b.png">

[2016-02-09 23:48] alanmoo commented on #112
Oops, forgot to mention that social buttons are still in progress, @mmmavis 😬

[2016-02-09 23:52] lovegushwa commented on #112
@alanmoo just posted QA in redpen.
https://redpen.io/uj0aafc47202304b06

Alan note: done

[2016-02-09 23:53] alanmoo commented on #112
I can't reproduce the Firefox not playing video issue, @mmmavis. Anyone else getting that?

[2016-02-10 00:03] kellymj commented on #69
@KevZawacki Thanks for the revision. I've edited and shortened it [here](https://docs.google.com/a/mozilla.com/document/d/1dU7pjgMDnrxsDQzoxGwf_StQkg-Cp3JSk8xyOOJJFPg/edit?usp=sharing). Please give it a read to make sure it's all still accurate.

[2016-02-10 00:07] alicoding commented on #110
This is done.

[2016-02-10 00:07] #110 closed

[2016-02-10 00:07] alicoding commented on #90
This is done

[2016-02-10 00:07] #90 closed

[2016-02-10 00:11] mmmavis commented on #112
@alanmoo
Maybe I forgot to update a plugin or something :grimacing: Private Mode doesn't seem to solve the problem either so it shouldn't be related to any FF addons that I've installed on my machine

[2016-02-10 00:13] #25 closed

[2016-02-10 00:13] alanmoo commented on #40
@lovegushwa @HPaulJohnson Does the share modal appear after the user clicks submit in the sign up modal in v2?

[2016-02-10 00:18] mmmavis commented on #112
@alanmoo oops sorry for the false alarm!!!!  It's my Adblock Plus!!!  It was still running on Private Mode. Disabling it and restarting FF seem to solve the problem. :smile:

[2016-02-10 00:36] lovegushwa commented on #40
@alanmoo if this is simple to implement let's do it. If you need more time we can do this later in the week.

[2016-02-10 00:37] simonwex opened #113 "End-of-video modal interrupts while filling out form"
If you're actively filling out the "Join Mozilla" form while the video ends, the modal interrupts what you're doing.

Solutions could be:

- Not showing modal if changes have been made to the form
- Populating modal elements with values from other form when showing

[2016-02-10 00:37] simonwex commented on #112
https://github.com/MozillaFoundation/encryption_campaign/issues/113

[2016-02-10 00:38] simonwex commented on #113
( https://lit-mountain-52009.herokuapp.com/encrypt/v3 )

[2016-02-10 00:45] stephaniemcv commented on #111
Numbers calculated from 2015 Advocacy emails.
Average OR: 21.69% Median OR: 14.33%
Average CR: 4.61% Median CR: 2.58%

[2016-02-10 01:27] stephaniemcv commented on #112
PRIORITY 2
Browser: Firefox
Windows 8
Landing Page version 2 -
If you signup using the form at the top, there's no confirmation unless you scroll down to the blue Join box and it says Thank you

Alan note: I've changed the behavior of submissions so the text changes on the button and then the modal fades away. In addition, the bottom "sign up" button still becomes "thank you" as described here

[2016-02-10 01:33] stephaniemcv commented on #112
Mozilla logos (top left and bottom center) are not linked

Alan note: not addressed. They go to mozilla.org?

[2016-02-10 01:33] valianttry commented on #112
PRIORITY 1
iOS
~~You should be able to click outside the Theater mode field and share. The video should pause. Right now you can click outside theater mode but nothing happens.~~

[2016-02-10 01:37] alanmoo commented on #113
There's no modal in v3 anymore.

[2016-02-10 01:37] #113 closed

[2016-02-10 01:41] shaghdoosti commented on #112
![screen shot 2016-02-09 at 5 42 30 pm](https://cloud.githubusercontent.com/assets/13626384/12936518/4080c3ca-cf54-11e5-9036-6f220ab2676b.png)

Is this the right default text? @KevZawacki

[2016-02-10 01:43] shaghdoosti commented on #112
Headline: Check out this awesome video
Description: Join the movement for online privacy

[2016-02-10 01:44] shaghdoosti commented on #112
![screen shot 2016-02-09 at 5 46 07 pm](https://cloud.githubusercontent.com/assets/13626384/12936575/b09f1670-cf54-11e5-8ef6-1978bd89f7ee.png)

Can we add -- @mozilla to the end of the twitter share plz?

[2016-02-10 02:38] alanmoo commented on #112
@stephaniemcv where should those link to, mozilla.org?

[2016-02-10 03:05] HPaulJohnson commented on #112
+1 to @shaghdoosti suggested edits for Facebook share. It looks like the Facebook pop-up still shows the old text but what actually gets posted to my wall has been updated with new copy?

Also, the email capture modal after the video plays doesn't do anything when I click "sign up." Happens in both FF and Chrome.

[2016-02-10 03:21] alanmoo commented on #112
Fixes for the theater mode ( @valianttry ) and sign up confirmation ( @HPaulJohnson and @stephaniemcv ) are pending a review from Ali either tonight or first thing in the morning, and then they'll go live. Hat tip to @simonwex for uploading the correct videos to the CDN, and those are being referenced now in production.

I'm going home now, but first things for me to fix tomorrow
- [x] The encrypt

[2016-02-10 03:26] HPaulJohnson commented on #112
Screen shots for social share issue that I'm still seeing.

Clicking Facebook share brings up this page with old text: https://www.evernote.com/shard/s46/sh/bdb4f18f-5086-42ba-8e1e-3b74cb9dff6e/394ef3324e89d5d3a1aa50a9a01b0633

Once posted to Facebook the actual shared content has the correct, updated copy: https://www.evernote.com/shard/s46/sh/bc6380d8-82bf-4404-8480-a1362ba52abb/1ef2882816157509

[2016-02-10 03:34] lovegushwa commented on #112
@alanmoo when playing a video, you should be able to click out of the theater mode view or CTA modal. In both cases let's reload page so it looks like this:

(Page should like like you just landed on the site  for v1 and v2)
<img width="1645" alt="screen shot 2016-02-09 at 7 30 43 pm" src="https://cloud.githubusercontent.com/assets/12228435/12938032/a0b06048-cf63-11e5-9641-2aa52edee774.png">

Alan

[2016-02-10 04:48] stephaniemcv commented on #112
@alanmoo
Yes, the signup on mozilla.org, at the bottom of the page, is configured correctly. And info passed through there is triggered a confirmation email. The signup on the landing page is not passing the info to Basket to trigger the email.

Alan note: I believe this is addressed now

[2016-02-10 14:10] adamlofting opened #114 "Setup & send post campaign-survey"
Filing this as the follow up task to #28

notes:

- [ ] Needs slightly adjusted language in the email but still as neutral as possible
- [ ] Needs a duplicate of the survey in survey gizmo to split the pre/post data sets (@adamlofting)

[2016-02-10 17:09] KevZawacki commented on #69
@kellymj Looks great! I'm going to share with policy and ensure we have their blessing -- then, OK to lock in.

[2016-02-10 17:34] abusedmedia commented on #106
@simonwex we should also to consider that a saved 'message' needs a permalink back (short-url or something like) from the backend in order to let the user share with ease.

[2016-02-10 19:23] natalieworth commented on #81
@lovegushwa @KevZawacki Drafts for this here and redpen if you want to leave comments: https://redpen.io/pu93e851c2a9b66866
![medium-encrypt-v1-06](https://cloud.githubusercontent.com/assets/14876567/12958884/aa58d1f4-cfe8-11e5-8a92-3a31fb18f6a9.png)

Thinking we could reuse the lock image for the avatar and maintain the 'encrypt' workmark for the possible publication logo background.

[2016-02-10 20:19] KevZawacki commented on #81
@natalieworth Thanks, these look great! Using the lock as the avatar works for me.

[2016-02-10 20:52] valianttry opened #115 "Twitter card image is missing"
![_mozilla_-_twitter_search](https://cloud.githubusercontent.com/assets/9830371/12961324/b588f7c8-cff4-11e5-85ee-a40e06b55725.png)

Also, here is what a twitter card should look like:

![_youbeyou_-_twitter_search](https://cloud.githubusercontent.com/assets/9830371/12961379/0a25761c-cff5-11e5-8a91-2e5950fee851.png)

cc @alanmoo @natalieworth @lovegushwa

[2016-02-10 20:55] natalieworth commented on #115
@lovegushwa I can take this on today if that works

[2016-02-10 20:57] jbuck commented on #115
Hrm, it looks like it's working on https://cards-dev.twitter.com/validator

[2016-02-10 21:00] valianttry opened #116 "Privacy Policy MUST be linked in the video modal"
![mozilla_advocacy](https://cloud.githubusercontent.com/assets/9830371/12961529/d5f10612-cff5-11e5-83d7-e9e26216ca55.png)

Again, it should directly mirror the snippet copy, and UX of the optin checkbox embedded in the snippet.

[2016-02-10 21:02] brettgaylor commented on #115
@jbuck could this be because the URL within the tweet is coming from a URL shortener?

[2016-02-10 21:04] jbuck commented on #115
@brettgaylor looks okay to me! https://www.dropbox.com/s/75rqdb3qt3c9vi5/Screenshot%202016-02-10%2016.04.23.png?dl=0

[2016-02-10 21:07] alicoding commented on #115
I added the image this morning using Facebook's share image https://twitter.com/hashtag/youbeyou?f=tweets&vertical=default&src=hash this is what I see right now ![](https://dl.dropboxusercontent.com/spa/n5v3bx9nnjkdpzf/7mp4l3wr.png)

[2016-02-10 21:08] valianttry commented on #116
For reference, here is the staging snippet with precise text and punctuation/capitalization:
http://scottdowne.github.io/eoy-snippets/signup-snippet/

also -- please use the URL linked in the snippet for the URL. NOTE the words "this Privacy Notice" is hotlinked and should also be hotlinked in the modal: https://www.mozilla.org/en-US/privacy/websites/

[2016-02-10 21:10] alanmoo commented on #116
Ah, ok. Committed a change to staging already but I'll update to reflect this.

[2016-02-10 21:12] alicoding commented on #115
Even with URL shortener ![](https://dl.dropboxusercontent.com/spa/n5v3bx9nnjkdpzf/4gcjxsau.png)

[2016-02-10 21:12] valianttry commented on #116
:clap:

[2016-02-10 21:13] natalieworth commented on #115
The 'Summary Card with Large Image' appears to be working but I think it seems to be an issue just on the small card preview with the square thumbnail not loading. I can't load a preview on mobile with the small card preview @alicoding

[2016-02-10 21:14] alanmoo commented on #116
Done.

[2016-02-10 21:14] #116 closed

[2016-02-10 21:31] alanmoo commented on #115
I think this was a propagation issue- the original link Andrea sent to me in IRC (https://twitter.com/iainmacl/status/697498205358006274?lang=en) now shows the card working...are there any instances of this still not working?

[2016-02-10 21:32] alicoding commented on #115
I can't get the twitter card to appear with the small summary card preview at all. I've been testing with my mobile phone (Nexus), desktop and using Browserstacks with different screen sizes and still getting the large image.

I have come to a conclusion that this is not an issue with the code we have here, but rather a design issue as to what image we want this to be display. We have either the s

[2016-02-10 21:33] alicoding commented on #115
I've reassigned this ticket to @natalieworth to discuss with the team there and let me know if we want to change the image and I will be more than happy to change that.

[2016-02-10 21:49] lovegushwa commented on #115
@alicoding @valianttry let's go with the large twitter card.

[2016-02-10 21:49] #115 closed

[2016-02-10 22:04] natalieworth commented on #115
Thanks @alicoding @lovegushwa

[2016-02-11 00:39] stephaniemcv commented on #29
Numbers based on 2015 Advocacy Email data

Average Open Rate: 21.69%
Median Open Rate: 14.33%

Average Click Rate: 4.61%
Median Click Rate: 2.58%

Average Action Rate: 2.06%
Median Action Rate: 1%

[2016-02-11 02:05] KarinaRipper opened #117 "Final Cut for Beat 2 - Posting and Review"
@darrenpasemko New ticket for posting for posting link to Final Cut of Beat 2. Posting will happen later this tonight. Thank you!

[2016-02-11 08:57] adamlofting commented on #29
Another slice of this data that I looked at for the board meeting prep was an 'Action Rate per campaign' (rather than per email).

For the two biggest actions, Net Neutrality and Section 215 we saw ~3.5% of the existing list taking action via email. This was the combined result of sending several asks to the same list. The individual emails had a lower action rate, but repetition reached a greater

[2016-02-11 08:57] #29 closed

[2016-02-11 15:22] adamlofting commented on #111
Some early data from GA

<img width="1175" alt="screenshot 2016-02-11 15 18 53" src="https://cloud.githubusercontent.com/assets/1901816/12980146/189fa8e6-d0d3-11e5-94f1-de722f35787c.png">
<img width="895" alt="screenshot 2016-02-11 15 19 21" src="https://cloud.githubusercontent.com/assets/1901816/12980147/18a31030-d0d3-11e5-9e77-e923b021d0a1.png">
<img width="1184" alt="screenshot 2016-02-11 15 19

[2016-02-11 15:24] adamlofting opened #118 "Check/add GA event tracking for social share buttons"
Follow up from #111

I see data for video and sign-up, but not for share.

Can we check if we're tracking these, and if not, add this in please.

<img width="1188" alt="screenshot 2016-02-11 15 20 18" src="https://cloud.githubusercontent.com/assets/1901816/12980251/85d1d9de-d0d3-11e5-9ed4-0d4318f8bdef.png">

[2016-02-11 15:28] adamlofting commented on #111
In the meantime, I count 42 tweets sharing the video here: https://twitter.com/search?f=tweets&q=mzl.la%2Fencrypt&src=typd

[2016-02-11 16:08] darrenpasemko commented on #117
Update: Sorry, there has been a delay on my end. but it will be ready by mid day. I need some more time to update all the new work. It's on its way!

[2016-02-11 17:00] valianttry opened #119 "Escalating encryption campaign launch: New timeline and show flow"
## **2-11-2016 Launch Tasks (proposed):**
**Email:**
-- Launch as originally planned to balance of the list (~1.75 million) - 12noon PST

**Comms:**
-- launch blogs and organic social (post to our own page) by 12noon PST

**Snippet**
-- Increase volume from 8% to 50% of EN traffic (asap)

## Tuesday 2-15 -- 10am PST Tasks:
**Comms:**
-- Begin spinning up paid social
-- Spin up media pitching

**Sn

[2016-02-11 17:27] OpenMatt commented on #105
@simonwex has completed this here: http://mzl.la/beat3_tech_specs

[2016-02-11 17:27] OpenMatt commented on #105
Main question from @simonwex is: who is building the API? We assume TODO? @abusedmedia @michellenebiolo is that correct?

[2016-02-11 17:47] KevZawacki commented on #111
Social data pulled from Sprinklr (9:40 a.m. PT on 2/11):

-- 85 conversations across Twitter, Facebook and Instagram

-- 100% of conversations are positive/neutral. Most are automated share language generated from the microsite:

![screen shot 2016-02-11 at 9 41 13 am](https://cloud.githubusercontent.com/assets/11045250/12984782/385bc4b4-d0a4-11e5-821e-4c0120980d41.png)

A handful are more persona

[2016-02-11 17:54] michellenebiolo commented on #92
Here is the link to the prototype Giorgio is presenting:
http://el.s.todo.to.it/cryptoloji/0164/#/welcome
(please note it's the mobile version, so perhaps viewing it on your phones or with a very narrow window would be best)

@OpenMatt @HPaulJohnson @valianttry @lovegushwa
(please add anyone else that needs to see this).

[2016-02-11 18:04] michellenebiolo commented on #92
As Giorgio was saying, you can also "watch us work" at any time by accessing the last available folder at the bottom of http://el.s.todo.to.it/cryptoloji

[2016-02-11 18:29] alicoding commented on #118
fixed :)

[2016-02-11 18:39] stephaniemcv commented on #111
Current Foundation List Size: 1,849,735
https://docs.google.com/a/mozilla.com/spreadsheets/d/19AmYYBfmqlCfk8J7_Cur9m9AuB3hnPrs2-42emFNXg4/edit?usp=sharing
![2016-ec-list-growth](https://cloud.githubusercontent.com/assets/11812272/12986349/a95a5e6c-d0ab-11e5-8c05-aa5742321aa4.jpg)

[2016-02-11 18:44] michellenebiolo commented on #105
Nope, sorry, we need you to provide us with the API to access server-side functionality (as mentioned in our statement of work).

[2016-02-11 18:45] stephaniemcv commented on #111
Email Performance Active Advocates at approx 24 hours:
Open Rate: 31.18%
Click Rate: 5.41%

Email Performance NOT Active Advocates at approx 24 hours:
Open Rate: 15.33%
Click Rate: 2.5%

![2016-ec-beat1-test-email-perforance](https://cloud.githubusercontent.com/assets/11812272/12986513/88666ca4-d0ac-11e5-9423-38c04e78d957.jpg)

Report Location: https://docs.google.com/a/mozilla.com/spreadsheets/d/

[2016-02-11 18:46] michellenebiolo commented on #104
The Tweemoji set was approved during today's video call, thanks!

[2016-02-11 19:01] lovegushwa commented on #104
@michellenebiolo @Giorgio-Olivero please forgive the slow response. We looked closely at the three emoji sets. EmojiOne is probably closest visually to the iconic apple emoji, but also the least visually consistent of the three. Mozilla emoji is interesting but lacking diversity and CDN.

Let's use Twemoji. It looked quite good in the demo today.

[2016-02-11 19:01] #104 closed

[2016-02-11 19:03] michellenebiolo commented on #92
Here are also a few links to some prototypes that focus on individual micro-interactions we are testing.
Please let us know if you have any feedback.

https://dl.dropboxusercontent.com/u/15645292/mozilla/moz041/index.html
Swipe the emoji slider and at the end the “+” sign is revealed. Once revealed it is sticky (even if you swipe back). We are focusing on the slider’s behavior in terms of inertia

[2016-02-11 19:10] jgmac1106 commented on #111
I find the bounce rate very interesting. Under 70% I wonder what they are
visiting next after the encryption video.

On Thu, Feb 11, 2016 at 1:39 PM Stephanie McVicker notifications@github.com
wrote:

[2016-02-11 20:31] alicoding commented on #40
What's left for this ticket to be closed?

@lovegushwa @valianttry ?

[2016-02-11 20:41] kellymj commented on #69
Hey @kevzawacki, the copy has been slightly tweaked in the final version, and now lives in the actual [March newsletter copy doc](https://docs.google.com/document/d/1jPjQ8k_8fIyMii4fs8DD9WoKbtaEOeGjr69lkWyI1HQ/edit?usp=sharing). We'd like to get it locked down. Who, if anyone else, needs to see/review/approve it?

Also, we'll need a header graphic for the newsletter. Is there are separate thread f

[2016-02-11 20:54] alanmoo commented on #40
I’m still working on getting the animated encrypt text up, it’s a bit complex integrating the JS into react, especially with the server side aspects of it

[2016-02-11 21:08] #119 closed

[2016-02-11 21:11] valianttry commented on #112
@alanmoo can you update here what of the above bugs are fixed / still pending? cc @alicoding

[2016-02-11 21:15] alanmoo commented on #112
@valianttry I've edited all the comments relevant to me with notes.

[2016-02-11 21:25] HPaulJohnson commented on #30
Op-ed complete, pitching continues.

[2016-02-11 21:30] darrenpasemko commented on #117
@brettgaylor @OpenMatt @KarinaRipper @lovegushwa @valianttry
Here's the first pass on the animation!
https://vimeo.com/155043161
Password: Mozilla
Talk more soon!
Sorry once again for the delay.

[2016-02-11 21:36] HPaulJohnson commented on #33
Both posts need a final pass by policy and will plan on publishing Tuesday (2/16)

[2016-02-11 21:37] KevZawacki commented on #81
@natalieworth With Paul now -- these are approved. Can you share a link to the assets? Thanks!

[2016-02-11 21:38] HPaulJohnson opened #120 "Add link to Medium back into footer"
We need to add the link to Medium "join the conversation" back into the footer of the landing page. This should be done Monday eve or Tuesday morning.

[2016-02-11 21:44] HPaulJohnson commented on #52
@lovegushwa @natalieworth @KevZawacki

We currently have slots for 7 tweets and 7 FB posts starting on 2/16 and running for first two weeks of campaign. By end of day tomorrow, let's package up this first batch of social assets.

For paid portion campaign, we'll just need basic CTA images, 3 copy variations and native version of video with branded bumper for embedding on Facebook and Twitter. Also

[2016-02-11 21:47] HPaulJohnson commented on #53
Plan is to turn on this campaign Monday eve, 2/15 ahead of Tuesday's launch.

[2016-02-11 21:52] HPaulJohnson commented on #57
@lovegushwa @natalieworth need to update with alt copy for the rollover version:
- Find out how it works and why it’s worth protecting
- See how it works and why it’s worth protecting
- See why it’s essential and worth protecting

[2016-02-11 21:58] KGorr commented on #97
@KevZawacki, would it be possible for you to also provide an image to go along with the encryption campaign blurb?

[2016-02-11 22:16] valianttry commented on #112
@alanmoo :clap: :+1:

[2016-02-11 22:37] stephaniemcv opened #121 "Unable to play video - feedback from Desk.com"
We have had 4 cases of people saying they cannot get the video on the microsite to play. Some have provided browser and operating system data.

Windows Vista and Firefox
Windows 7and Internet Explorer

[2016-02-11 22:54] alanmoo commented on #121
Do these users have adblockers running? Mavis was having trouble because of her blocker...

[2016-02-11 23:02] stephaniemcv opened #122 "Marking Active Advocates in ET/Basket setup"
Since one of our KPIs is focused on growing our Active Advocates, we need to discuss the best way to flag these subscribers. Currently they are in a static data extension based on an import from Blue State Digital. This means new subscribers who take an action that would define them as Active Advocates cannot be added to this data extension.

Basket is based on preferences, so I'm voting for addin

[2016-02-11 23:04] HPaulJohnson opened #123 "MarCom checklist for 2/16 campaign launch"
Launch checklist for Marketing and Comms activity supporting official campaign launch on 2/17.

- [x] Op-ed #30 (approved / pitching in process)
- [x] FAQ for press pitch #32 (needs policy team signoff)
- [x] Mark's Campaign blog for blog.mozilla.org and Medium #33 (needs policy team signoff)
- [x] Chapter 1 blog post for Medium #33 (needs policy team signoff)
- [x] Setup Medium publication #120 (

[2016-02-11 23:05] stephaniemcv commented on #121
I will follow up and add that to my initial line of questioning if more pop up.

[2016-02-12 00:02] valianttry commented on #73
NEW UPDATED TIMELINE:

### Beat 1: Privacy helps you be you -- February 1 - February 16.

February 1: Survey Launch
February 16: Beat 1 Video Launch -- Full launch all channels
- 2/16: Script approval for Video 2 completed (Mark, Policy, Legal)
- 2/17: Voice-over re-recording + music completed
- 2/18: Final edit completed -- reviewed by stakeholders as an FYI (Marketing)

### Beat 2: Introduction

[2016-02-12 00:13] natalieworth commented on #81
Thanks @KevZawacki , here's the link to the google drive with png images and the .ai file. I can export any other file format if you need them exported any other way.
https://drive.google.com/drive/folders/0B20-0lpP23c0ZVBfeUotdVU1U1k

[2016-02-12 00:52] valianttry commented on #112
We need to add a donate link to the bottom of the Microsite (P1) @lovegushwa The icon can be a heart.

![mozilla_advocacy](https://cloud.githubusercontent.com/assets/9830371/12995876/d8cf60be-d0df-11e5-9338-2b20f4352cc1.png)

[2016-02-12 01:24] alanmoo commented on #112
https://donate.mozilla.org/ ? I can whip that together now, no need for a comp if it's simply a heart icon styled like the rest of them. Does it have to be on the right or can it be in the middle of the other elements?

[2016-02-12 01:39] KevZawacki commented on #69
Hi @kellymj, Jochai from policy needs to sign off -- I'm sending his way this afternoon.

cc @HPaulJohnson and @lovegushwa, who can assist with graphics.

[2016-02-12 02:34] HPaulJohnson opened #124 "Create Mozilla Advocacy YouTube channel"
We are giving up on attempting to gain access to existing /mozilla Youtube channel and we need YT hosted video in order to have an embed code available for comms. In particular, we'll need YT embed code to provide to media contacts, PR agency and for Medium publication.

@KevZawacki will set up the channel.

@lovegushwa and @natalieworth we'll need some quick branding (avatar and cover photo) to m

[2016-02-12 02:59] HPaulJohnson commented on #52
Adding Paid Media ad copy here for consolidate review of social assets tomorrow:

https://docs.google.com/document/d/1Z-4oftTt0v5gqZp3DD3R0w1rC8D-oSIpixADPdROCQ0/edit

[2016-02-12 09:21] adamlofting commented on #111
@jgmac1106 this could be affected depending on how the in-page event tracking has been setup (in GA you can define these as `interaction` or `non-interaction` events). The default is `interaction` events which turn a visit into a `non-bounce`.

[2016-02-12 09:28] adamlofting commented on #118
:+1: :trophy:

[2016-02-12 09:35] lovegushwa commented on #92
@cassiemc @vazquez @sabrinang @kristinashu @flukeout @natalieworth @xmatthewx @LauraReynal @edrushka  @HPaulJohnson

Please try out this prototype and post your feedback today! (See the email I sent for context, start reading from the 4th comment above.) Send me a IRC if you have questions.

Thank you thank you.

[2016-02-12 17:30] flukeout commented on #92
On mobile (Nexus 4) I can neither see the message I am typing, nor the encrypted version...

![image](https://cloud.githubusercontent.com/assets/25212/13014957/39076e64-d16b-11e5-8bc1-ec7fe219b764.png)

Maybe you could compress the height of the input and output fields to one line for mobile?

[2016-02-12 17:33] flukeout commented on #92
Before picking an emoji key, the typed message doesn't appear in the Secret Message...

![image](https://cloud.githubusercontent.com/assets/25212/13015018/8b6848ae-d16b-11e5-867d-2bb0c92e73ef.png)

Can we...
- Have it appear un-encrypted until you pick a key? <- my pref
- Default to one of the keys right from the start?

[2016-02-12 17:36] flukeout commented on #92
Not a huge deal, but the "characters left" indicator goes into the negative when you use up your 400 max chars and you can keep typing a longer message. Can we cap the message length and stop the indicator at 0 chars left?

[2016-02-12 17:41] KevZawacki commented on #124
Channel is set up [here](https://www.youtube.com/channel/UCltqjpqVd-IowlC-iLp91eg?feature=hovercard).

I'll send the log in credentials privately.

[2016-02-12 17:49] KevZawacki commented on #124
@lovegushwa and @natalieworth, here are the specs for YouTube channel art: https://support.google.com/youtube/answer/2972003?hl=en

@lovegushwa, are you able to upload the video, too?

[2016-02-12 17:51] flukeout commented on #92
Until you type your message, the **Share this message** button is hidden. Once it appears, even if you delete your message contents, the **Share** button remains. Maybe we can hide it when the message is blank.

[2016-02-12 17:52] Giorgio-Olivero commented on #92
thanks for the feedbacks!  consider that this is still an early prototype and some issues are actually yet-to-be-developed features.

[2016-02-12 17:53] HPaulJohnson commented on #52
@lovegushwa video specs for Twitter and FB:

Twitter: https://business.twitter.com/help/promoted-video?lang=en&location=na
FB: https://www.facebook.com/business/ads-guide/video-views/

[2016-02-12 17:53] flukeout commented on #92
The emojis in the "show me what this is" intro tutorial don't match any of the emojis that I can actually use when writing a message, which is disappointing because i want to use a watermelon!

It also suggests that the shape of the emojis is going to match the letter, which isn't really the case.

[2016-02-12 17:54] lovegushwa commented on #57
Updated tile with new language for rollover state (Moco requested we keep the same color as the gear store.)
<img width="1247" alt="encrypt-tile-preview" src="https://cloud.githubusercontent.com/assets/12228435/13015537/89cc5d2a-d16e-11e5-9b21-4e724e1ce6ad.png">

[2016-02-12 17:55] flukeout commented on #92
@Giorgio-Olivero Yeah for sure - just listing things I've found since @lovegushwa asked us to take a look. Apologies if you are already aware of these. Let me know if this kind of feedback is helpful at this point. Cheers.

[2016-02-12 17:56] flukeout commented on #92
The tutorial carousel indicator doesn't indicate what page you're on...

![image](https://cloud.githubusercontent.com/assets/25212/13015615/e1bb6954-d16e-11e5-82ec-e6c2c7f18247.png)

Ok, I'm done for now :D

[2016-02-12 18:27] kristinashu commented on #92
Super cute! Here are a few initial thoughts:

Maybe don't use the happy face emoji here? It' seems a little confusing to see the emoji in the traditional sense (a picture to replace a word) but then the rest of the app emoji's represent a letter. But maybe that's just me:

<img width="322" alt="screen shot 2016-02-12 at 10 30 18 am" src="https://cloud.githubusercontent.com/assets/1068783/13016451/

[2016-02-12 18:43] KevZawacki commented on #97
Hi @KGorr, how's this?

"Mozilla is standing up for encryption. Our online privacy depends on encryption. Learn more about how it works, why it's essential, and why it's worth protecting. Visit mzl.la/encrypt."

@HPaulJohnson This is derivative language, most of which has already been used externally. I'll share with Sara just in case. @KGorr, we're waiting on final approval on the above language.

[2016-02-12 18:56] lovegushwa commented on #112
Hi @alanmoo
It should be on the right, also we need to make the donate icon red and not in a circle (the same red your using on site.)

Here is a SVG red heart, you can also use font-awesome equivalent if needed.
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvcWkwdEhiUVJJd2M/view?usp=sharing

<img width="1199" alt="screen shot 2016-02-12 at 10 51 08 am" src="https://cloud.githubusercon

[2016-02-12 18:57] alanmoo commented on #112
Should this go on the main advocacy site too? It's all the same component, so it would be easy. @lovegushwa @valianttry

[2016-02-12 19:04] Giorgio-Olivero commented on #92
@kristinashu : what's your phone model?

[2016-02-12 19:08] lovegushwa commented on #112
Italic across the site looks like a heaver weight than the body copy. Can you make it "book italic"?

<img width="384" alt="screen shot 2016-02-12 at 10 57 02 am" src="https://cloud.githubusercontent.com/assets/12228435/13017382/c3457d48-d178-11e5-8a77-fd63ac61c028.png">

Alan note: PR submitted. Coming soon.

[2016-02-12 19:18] Giorgio-Olivero commented on #92
Release 0198
available here: http://el.s.todo.to.it/cryptoloji/0198

Change-log:
- minor bug fixes
- we have freshly introduced the 'decrypt a message logic and view' ('decryption' was missing from previous prototype)
- onboarding slider component, first version (now it's slidable, before only tappable)
- 'more emoji' modal refinement

Please keep on with the comments, we're not answering them 1:1

[2016-02-12 19:42] lovegushwa commented on #109
@brettgaylor @HPaulJohnson
Finished. You can share this video and poster link directly with partners.

https://drive.google.com/folderview?id=0B2qu3ExKWIlvaXczQ2ZDNWd3akU&usp=sharing

[2016-02-12 19:43] valianttry opened #125 "Build Beat 2 snippet"
@lovegushwa @ScottDowne @alicoding @simonwex

The Firefox product team has raised some concerns about the "disruptiveness" of the current video+embed snippet (see screengrabs and comments below).

Questions:
* Is it possible to reduce the size of the video window? How hard is that?
* Is it possible to configure a 2nd variant using the existing snippet code that removes the video altogether (replac

[2016-02-12 19:44] kristinashu commented on #92
@Giorgio-Olivero i'm on iPhone 5s in Firefox

[2016-02-12 19:51] JessicaVondrak commented on #125
Hi team,

It's possible to not include a video.
![screen shot 2016-02-12 at 12 48 39 pm](https://cloud.githubusercontent.com/assets/17205874/13018547/5a51265c-d187-11e5-899d-99e32a4db2a3.png)

[2016-02-12 20:33] alanmoo commented on #112
This is getting hard to manage, let's make any further issues a new github issue so that they're easier to track. Just give them a dev label and assign to me.

[2016-02-12 21:04] KevZawacki commented on #124
Done!

[2016-02-12 21:04] #124 closed

[2016-02-12 21:11] lovegushwa commented on #52
@HPaulJohnson

Social assets for policy review:
https://drive.google.com/folderview?id=0B2qu3ExKWIlvSERfNl9XVGVQaG8&usp=sharing

[2016-02-12 21:23] KevZawacki commented on #34
Beat 2 content will be an "encryption explainer" by @simonwex. Currently being developed.

[2016-02-12 21:26] KevZawacki commented on #32
Latest: Pitching begins Tuesday, Feb. 16.

[2016-02-12 21:30] HPaulJohnson commented on #123
all unchecked items have been submitted for final review by policy.

[2016-02-12 21:32] HPaulJohnson commented on #109
I think we are good to go. Thanks, @lovegushwa

[2016-02-12 21:32] #109 closed

[2016-02-12 21:33] HPaulJohnson commented on #81
This is good to go, closing. Thanks, @natalieworth and @KevZawacki

[2016-02-12 21:33] #81 closed

[2016-02-12 21:35] valianttry commented on #125
Alternate ideas from @lovegushwa
- Possible to play the video then replace it with the form so that they are in a linear sequence vs. both presented at the same time.
- Reducing fields: Email + Privacy checkbox
- We want to update you on important issues that protect your privacy. We're giving you a chance to review our Privacy Policy and opt in to receive emails. "We ask you to acknowledge our pr

[2016-02-12 21:36] HPaulJohnson commented on #53
Submitted for final policy review/approval.

[2016-02-12 21:36] HPaulJohnson commented on #52
All assets (copy/visuals) for paid and organic submitted for final policy review/approval.

https://docs.google.com/document/d/1WVdsmmm7VO02tPRNdP4SpWQcLYf4Lm_-XTPFDgNBnNk/edit

[2016-02-12 22:20] alanmoo opened #126 "Add animated "encrypt" header"

[2016-02-12 22:21] alanmoo commented on #112
I believe all of the above are fixed, except for the encrypt text animation, which I'm working on now (#126).

[2016-02-12 22:21] #112 closed

[2016-02-12 22:21] valianttry commented on #125
@simonwex

-- Subscribe with required email.... then open a 2nd modal that asks them to provide some additional info and why (name + country)

[2016-02-12 22:24] valianttry commented on #125
@OpenMatt can you add this dev work to our Plan ticket (@simonwex asked me to ask you :)

[2016-02-13 01:30] alanmoo commented on #126
I'm close to recreating it, @lovegushwa @natalieworth.

https://www.dropbox.com/s/9kc9u3uqtq3jr2m/encrypt-animation.mov?dl=0

After the time has elapsed, I'm going to make them snap to the correct letters/pattern. I also need to clean up the start a bit- I'm thinking there's nothing there when it first comes up, and then each one flickers on.

[2016-02-13 19:57] KevZawacki commented on #69
Hi @kellymj. Our Firefox + You copy has gone through the policy / legal review process required for the encryption campaign.

[This](https://docs.google.com/document/d/1dU7pjgMDnrxsDQzoxGwf_StQkg-Cp3JSk8xyOOJJFPg/edit) is the language they landed on. Does it work for Firefox + You?

Thanks again for your patience and help.

[2016-02-13 20:08] KevZawacki commented on #33
All approved. Posting Tuesday.

[2016-02-13 20:08] #33 closed

[2016-02-15 19:15] valianttry commented on #123
@HPaulJohnson or @KevZawacki or @shaghdoosti can you drop in the link to the spreadsheet that holds the list of content and approval steps? I can't seem to find it atm.

[2016-02-15 21:37] brettgaylor opened #127 "Deliver end bumpers for beat 2"
@lovegushwa and @natalieworth will deliver these to @darrenpasemko . cc @KarinaRipper

Jordan - right now the animation *includes* the mozilla logo, and this is built into the animation (crypty moves and acknowledges the logo).  An ideal solution would keep this logo placement.

Ideally Jordan you could deliver this EOD tomorrow so that Darren can edit in for EOD Thursday delivery.

[2016-02-15 23:51] brettgaylor opened #128 "Identify additional assets for Beat 2 social"
As we are closing off production this week, are there any additional items that will be needed for social such as screen grabs, alpha channeled artwork, etc?

Let's use this ticket to finalize any other deliverables we're expecting from @darrenpasemko .  cc @KarinaRipper , @lovegushwa

[2016-02-16 00:15] natalieworth commented on #126
Thanks @alanmoo ,
There is also a smaller (shortened) version of the after effects file and a gif here if needed:
https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0WlpZdWktUFRWTU0&usp=drive_web&ddrp=1#
cc @lovegushwa If you could review when you're back from the long weekend: https://d157rqmxrxj6ey.cloudfront.net/natalieworth/33342/
cc @alicoding (I've updated the after e

[2016-02-16 01:01] alanmoo commented on #126
Yeah, I'm using JS to randomly generate the animation, and after a fixed time it becomes the right letters. Check it out at: https://advocacy-mozilla-org-sta-pr-85.herokuapp.com/encrypt/

I can fine tune some of the numbers- how often something changes, how long it lasts, and the probability of a shape changing as opposed to a character. I'm playing with it a bit more tonight to see if I can get t

[2016-02-16 01:27] lovegushwa commented on #61
We can stick with the above drawing for now.

[2016-02-16 01:27] #61 closed

[2016-02-16 03:50] alanmoo commented on #120
Where should the link direct users to? https://medium.com/@mozilla ?

[2016-02-16 03:53] HPaulJohnson commented on #120
@alanmoo: https://medium.com/encryption-matters

[2016-02-16 04:04] alanmoo commented on #120
When do you want it live?

-A

On Feb 15, 2016, 7:53 PM -0800, Paul Johnsonnotifications@github.com, wrote:

[2016-02-16 04:08] HPaulJohnson commented on #120
Let's wait until @KevZawacki posts the initial piece of content their tomorrow. Kevin, an eta of when that might be?

[2016-02-16 04:26] KGorr commented on #97
Thanks, @KevZawacki! Copy is great and the images are perfect. I'll await the final word that it's approved before sending to Stephanie for uploading in Exact Target.

[2016-02-16 09:08] adamlofting commented on #118
@alicoding did this get pushed live? I'm not seeing any data in GA yet.

[2016-02-16 13:20] KevZawacki commented on #120
@HPaulJohnson @alanmoo Medium blogs will be live at 7:15 a.m. PT

[2016-02-16 13:35] KevZawacki commented on #97
Note to self: awaiting approvals [in this doc](https://docs.google.com/document/d/1QpAMYVblmMSZ3E9l2BzMyRYWIk8Su82ItisDPDJB-Yg/edit)

[2016-02-16 17:10] alicoding commented on #118
I have added it here https://github.com/mozilla/advocacy.mozilla.org/commit/20399122013a988f57d6c8ddeba411f1840bd8b6

Let me check if this is now on prod.

[2016-02-16 17:11] alicoding commented on #118
Definitely there on prod @adamlofting

[2016-02-16 17:27] alicoding commented on #40
I think we can close this ticket and file another issue for the animated logo if needed.

[2016-02-16 17:27] #40 closed

[2016-02-16 18:06] OpenMatt commented on #125
@alanmoo @alicoding is this something you might be able to help with this week? Or are we waiting for @ScottDowne to return?

[2016-02-16 18:09] natalieworth commented on #126
Thanks @alanmoo , this is looking good! Is it possible to speed it up to animate within 1-1.5 seconds, or so the 'encrypt' animation is loaded by 1.5 seconds? I think the 'R' in 'encrypt' may have also shifted down a bit. The baseline looks a little lower than the other encrypt characters. And just wondering if a new animation loads randomly on each refresh of the page?

[2016-02-16 18:11] lovegushwa commented on #52
@cassiemc @sabrinang R?
Social shares to kick off our campaign. We're currently bench-marking and starting to concept some heavy hitters to test, but these below have made it through policy review and ready to ship pending design review.

https://redpen.io/emed87f8e808509568

[2016-02-16 18:12] natalieworth commented on #57
@HPaulJohnson I believe there's more feedback for this on the bugzilla ticket today: https://bugzilla.mozilla.org/show_bug.cgi?id=1244346 (regarding tweaks to the "encryption helps protect your privacy). If you want to review, I can update the designs and repost for the mozilla.org team. Thanks

[2016-02-16 18:43] #120 closed

[2016-02-16 18:47] sabrinang commented on #52
@lovegushwa I put some feedback on the redpen. For the social shares like the meme that don't have the wordmark or link, I'd assume the copy will link back to to mzl.la/encrypt or #youbeyou. I find the #youbeyou hashtag to not be as strong in design 12 as in design 10 since the encryption message is emphasized more after it. The #youbeyou is also being used for a fashion campaign so emphasizing en

[2016-02-16 19:08] lovegushwa commented on #126
@alanmoo yeah this looks great. I agree @natalieworth  We could speed it up to 1.5 seconds.

[2016-02-16 19:30] OpenMatt commented on #118
@simonwex @alicoding any updates?

[2016-02-16 19:31] OpenMatt commented on #118
Andrea Wood: Adam re-opened the github ticket because he's not seeing clicks in GA. Ali replied that he committed the code. i'm not sure of next step.

[2016-02-16 19:31] valianttry opened #129 "Share text is too long"
From Jascha:
Hey Andrea,

Looks like the social shares are tuned wrong (you have to delete text to send).

![social_shares_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/13088378/db8f48cc-d4a0-11e5-871a-3b82ca1f0eef.png)

[2016-02-16 19:34] valianttry commented on #118
yes thanks @OpenMatt i read the ticket. Adam is offline and unable to help, but we're launching to several million people today -- hence the P1. I assume the next step is **someone double checks Ali's code since it still seems to be broken according to Adam.**

[2016-02-16 19:35] alicoding commented on #118
@simonwex and I are debugging this right now and will report back once we see the data on GA.

[2016-02-16 19:35] OpenMatt commented on #118
awesome thanks guys.

[2016-02-16 19:37] HPaulJohnson commented on #129
@alicoding not sure where the "via Mozilla" language came from? it's not in the final ticket (#110) copy deck:

https://docs.google.com/document/d/1fTHv-bSDMhNOvUITU9Se3yGP-EjjfkiuWl-EobGDdjU/edit

Quick fix is to remove that copy.

[2016-02-16 19:43] HPaulJohnson commented on #129
cc @alanmoo Twitter is specifically what needs fixing. Please use copy from doc.

[2016-02-16 19:44] valianttry commented on #118
whoohoo :clap: thanks for the hustle @alicoding and @simonwex !!

[2016-02-16 19:44] alicoding commented on #118
This is now fixed :) @simonwex can probably share the screenshot to verify this since I don't have access to this GA :)

[2016-02-16 19:44] alicoding commented on #129
@HPaulJohnson that was requested in the QA call last week, but let me look into this quickly.

[2016-02-16 19:51] alicoding commented on #129
https://github.com/mozilla/advocacy.mozilla.org/pull/88 fixes is up and should be on production shortly.

[2016-02-16 20:02] alicoding commented on #129
This is now fixed and it's on production https://github.com/mozilla/advocacy.mozilla.org/pull/88

[2016-02-16 20:02] #129 closed

[2016-02-16 20:05] OpenMatt commented on #79
@alicoding @alanmoo any updates? cc @simonwex

[2016-02-16 20:15] simonwex commented on #118
Verified:

![image](https://cloud.githubusercontent.com/assets/25260/13089754/fe397dec-d4a6-11e5-9a74-3ff1673c9a67.png)

[2016-02-16 20:15] alicoding commented on #79
@OpenMatt if you are asking about the update for fundraising.mozilla.org blog that's done on my part, but waiting for @jbuck to push the update on Wordpress :)

[2016-02-16 20:17] jbuck commented on #79
FMO is up to date

[2016-02-16 20:18] alicoding commented on #79
yay! Thanks @jbuck

[2016-02-16 21:15] valianttry opened #130 "Agree on how we measure Active Advocates in each campaign beat"
This is our North Star KPI so we need a firm agreement on what "actions" count in each beat as a metric for an Active Advocate.

More from @adamlofting :

    * What are the actions throughout the campaign that you think count as advocacy?
        We've talked about Share and Pledge as possible actions but we should decide and map these to the beats

Once that's decided, we can work out how to cou

[2016-02-16 21:27] valianttry commented on #130
My suggested actions to count (to launch this conversation):

### Beat 1 Primary Actions  (Primary content: Video)
- Email audience: Share
- Snippet audience: Opt-in

### Beat 2 Primary Actions (Primary content: Video)
- Email audience: Share (includes NEW optins from snippet)
- Snippet audience: Opt-in

### Beat 3 Primary Actions (Cipher exercise: Email only)
- Email audience: Respond to cipher C

[2016-02-16 21:33] valianttry commented on #130
@brettgaylor @shaghdoosti

[2016-02-16 21:48] alanmoo commented on #125
If this is something that needs to launch next week, I guess it'll be one of us. But I'm not familiar with working on the snippet, are you @alicoding?

[2016-02-16 21:56] alicoding commented on #125
I never done it either, but first thing first one of us gotta try setup the
infrastructure to run this snippet service which I've failed to get it
working. I'm going to try again :(

On Tue, Feb 16, 2016 at 4:48 PM Alan Mooiman notifications@github.com
wrote:

[2016-02-16 22:06] lovegushwa opened #131 "Design - add video playlist component to microsite"
@natalieworth @alanmoo
Let's add the playlist component to the three landing page versions.

![screen shot 2016-02-16 at 2 03 08 pm](https://cloud.githubusercontent.com/assets/12228435/13092657/18cacb02-d4b6-11e5-895a-01e9761558f3.png)
For use with video 2

 ![screen shot 2016-02-16 at 2 03 18 pm](https://cloud.githubusercontent.com/assets/12228435/13092673/29d9437e-d4b6-11e5-90c5-2bb1ef10b3d5.png

[2016-02-16 22:18] lovegushwa opened #132 "A/B test landing page versions 1 and 3"
@adamlofting @valianttry @alanmoo @HPaulJohnson

A. https://advocacy.mozilla.org/encrypt/
B. https://advocacy.mozilla.org/encrypt/3/

The goal of this test is to see which version performs better for email opt-in conversions.
Traffic to these versions will be via social shares on facebook or twitter, or organic.
@HPaulJohnson any other potential sources of traffic? (earned media?)

Ideally we get

[2016-02-16 22:27] lovegushwa commented on #52
@sabrinang thank you for the review!

Yes some of the CTAs are simplified / seem to be mission content, in those cases supporting text (like below the image on facebook) will fill in any missing context. @HPaulJohnson has the exact details on why were making which version and how they will be used. Also some of these are for paid so they fall under the facebook 20% copy rule.

[2016-02-16 22:38] lovegushwa commented on #52
@cassiemc FYI this has all been through policy and legal so were just reviewing design not copy at this point. This is a new process so we can figure out another way to do it on the next video (.ie design gets a chance to review before policy and legal.)

[2016-02-16 22:44] JessicaVondrak commented on #125
@alanmoo @alicoding  Have either of you worked with Giorgos?  He may be able help answer any snippet service questions.

@glogiotatidis  Would you be willing to assist here?  Or point us to someone on your team who can help with snippet service questions?

Thanks!
Jess

[2016-02-16 22:59] lovegushwa commented on #127
Working on this now, will post a update in the next hour.

[2016-02-17 00:06] alicoding commented on #125
I've never work with but have heard Scott mentioned about Giorgos. It will
be really helpful to meet after my second try to setup the snippet service
to see if I can get it running on my machine and after that point I think
it will be easy enough to create or make any changes to the snippet Scott
created.

On Tue, Feb 16, 2016, 5:45 PM JessicaVondrak notifications@github.com
wrote:

[2016-02-17 00:07] HPaulJohnson commented on #57
this is live.

[2016-02-17 00:07] #57 closed

[2016-02-17 01:22] lovegushwa commented on #127
@brettgaylor

Made good progress on this: https://redpen.io/p/cd8fe6966aa62bf06c
Red ink is voice over we need to record if we choose that direction. Will post more context this evening, need to head out the door.

[2016-02-17 01:41] kellymj commented on #69
Thanks! We're good to go on the March newsletter. I'll share a test send when that's ready to ensure nothing has changed in the time in between.

[2016-02-17 01:44] kellymj opened #133 "Review copy for Firefox Friends email"
@KevZawacki, we have drafted [copy](https://docs.google.com/document/d/1ZLM2bDLolSLWi3JkE1HFiCxoA9Rpj5s49FZFg4kgB7w/edit?usp=sharing) for the Firefox Friends audience. Who should review and give it the final approval before we send?

Also, we'll need a graphic. I'm looking for a PNG static of the video with a play button, 768px x
334px.

(Github noob here. Should I assign this to someone? If so, w

[2016-02-17 04:08] lovegushwa commented on #127
@brettgaylor @darrenpasemko @KarinaRipper

So really we have just two versions of the video. The Landing page version is good to go as is.
We just need to decide on how to include the URL for the Partner/Native version.

**Partner/Native v1 -**  The simplest execution is to tuck a URL under the Mozilla logo.
**Partner/Native v2 -**  We push the Mozilla logo and URL to another sceen after SCN18. Wi

[2016-02-17 05:30] darrenpasemko commented on #127
I'd go with v1.

Or maybe the original version, with the Encrypt card following, but without the mozilla logo at the end.

Regardless I think it's more engaging, and much cuter to watch "Crypty" interact with the Mozilla logo.

[2016-02-17 05:53] brettgaylor commented on #127
Agree w/ Darren.  I think it's the cleanest execution, and we don't actually have room to change animation at this point.  I think we are still adding to the "brand bank" with this approach.

[2016-02-17 08:34] glogiotatidis commented on #125
Getting the service to work locally is a good step forward. Please bear in mind that snippet developing and testing is time consuming and more complicated than just simple html pages. I encourage you to build changes upon the current template and add control statements for the different variations.

Also you probably want to build the `legacy` branch locally, since this is the current running serv

[2016-02-17 10:09] adamlofting commented on #118
:muscle: :bowtie: :+1: :sunny:

[2016-02-17 10:09] #118 closed

[2016-02-17 11:46] adamlofting commented on #130
Helpful test question: "Is this person being an advocate for Mozilla by doing this thing?"

My views:
- 'Watching' makes you 'active', but not an advocate. We should aim for lots of watching, but we should think of it as priming for future advocacy actions. The payoff for this work doesn't show in our KPI until we ask people to be an advocate later.
- Likewise, we want lots of opt-ins, but this is

[2016-02-17 11:55] adamlofting commented on #132
I'm going to need a little bit more info:
- Is the social traffic being split to these two pages at source (ie ShareProgress), or is that what we want to do with Optimizely?
- Is it _only_ social traffic we want to test? That first URL looks like the default for all traffic. Do we want to test all?
- @alanmoo (or @alicoding ) do you know if we're triggering any Optimizely conversion goals in the c

[2016-02-17 13:25] KevZawacki commented on #69
Thanks so much, @kellymj! I know the back-and-forth for approvals wasn't ideal -- thanks for understanding. :-)

[2016-02-17 13:38] KevZawacki commented on #133
Thanks, @kellymj. I'll share with @valianttry, who can then ship to policy and legal for review. When do we need approval by?

@valianttry, I've created a fresh doc with the copy [here](https://docs.google.com/a/mozilla.com/document/d/1Gg6zeFwYvRBvA7gtqUoRBuAc5vlRu5aiB-tfUeA0ZhI/edit?usp=sharing), and also updated our approvals spreadsheet.

Re: the graphic. @lovegushwa and @natalieworth, do we ha

[2016-02-17 14:05] stephaniemcv opened #134 "Image of Video for Beat 1 Kicker email"
@lovegushwa or @natalieworth
I need a 600x300 image of the video with the play button. Can be same as the starting picture on the landing pages.

Email is scheduled to send on Friday 2/19. If possible, can I get it by tomorrow for the review group?

[2016-02-17 15:03] cassiemc commented on #52
@lovegushwa Left a few comments in the redpen. Nothing blocking but I think some can be cleaned up a tad.

[2016-02-17 16:32] alicoding commented on #132
I don't think we have done anything other than including that script tag

https://github.com/mozilla/advocacy.mozilla.org/blob/master/pages/encrypt/index.jsx#L40-L41

[2016-02-17 16:33] valianttry commented on #123
Everything with a "Y" in column J has full approval to go live:
https://docs.google.com/spreadsheets/d/1MiPaWtpXqYdQ5iUDb3oNemicU5RDguJhVQB6fVlHQEo/edit#gid=0

Anything we can't change that's already launched (e.g. it would need to be redesigned, re-approved, and cause pain) does not need to conform to the latest approved language. (That could change if something is noticed and there is grumbling,

[2016-02-17 17:03] HPaulJohnson commented on #53
this is live. will be updating/optimizing keyword list as we go.

[2016-02-17 17:03] #53 closed

[2016-02-17 17:08] HPaulJohnson commented on #52
@lovegushwa to update graphics based on design team input and we will start running social campaign today.

will start a separate ticket for wave 2 social to accompany next video.

[2016-02-17 17:08] #52 closed

[2016-02-17 17:15] lovegushwa commented on #127
@darrenpasemko @brettgaylor cc @KarinaRipper

Great, so here is where we landed:
<img width="966" alt="screen shot 2016-02-17 at 9 03 25 am" src="https://cloud.githubusercontent.com/assets/12228435/13117584/6a901380-d555-11e5-8e30-03c046418c20.png">

Darren you can get the aftereffects files here:
https://drive.google.com/folderview?id=0B20-0lpP23c0UkdEYXgwbkJsczA&usp=sharing

OR just swipe the EN

[2016-02-17 17:18] natalieworth commented on #134
Hey @stephaniemcv , I've exported 2 images for this (one is @2x or 144dpi for retina if needed and the other at 72dpi). Let me know if this works for the email template you're setting up:
<img width="600" alt="landing-page-video-600x300 2x" src="https://cloud.githubusercontent.com/assets/14876567/13118070/60070f5c-d557-11e5-9f77-77b772b5a78c.png">
Link to the files are here:
https://drive.google.c

[2016-02-17 17:25] stephaniemcv commented on #134
The .png will work! Thank you!

[2016-02-17 17:40] darrenpasemko commented on #127
Thanks Jordan!
D

On Wed, Feb 17, 2016 at 9:15 AM, lovegushwa notifications@github.com
wrote:

##

Darren Pasemko
Director
4644 S.E. 51st Ave
Portland, Oregon, U.S.A.
97206
(646) 406-1320
www.pasemko.com

[2016-02-17 18:22] natalieworth commented on #133
@KevZawacki I've exported png's for the file specs above of the beat 1 video. One is @2x if needed for retina:
https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0VnFIYnF4YWxVaGs&usp=drive_web&ddrp=1#
Let me know if these are good or if I can help out with anymore images, thanks

[2016-02-17 19:19] alanmoo commented on #132
+1 to Ali, I didn't do anything re: Optimizely.

[2016-02-17 19:34] brettgaylor commented on #128
just a bump on this @HPaulJohnson - Darren is doing final delivery tomorrow.  Are there other elements we need from him?

[2016-02-17 19:49] alanmoo commented on #121
Has there been any more follow up on this?

[2016-02-17 20:01] lovegushwa commented on #132
@alanmoo @alicoding  can we still make this test happen?

@valianttry @HPaulJohnson Adam left a few questions above.

[2016-02-17 20:13] HPaulJohnson commented on #132
I'm also locked out of Optimizely because of SSO.

RE: ShareProgress. We are still a few weeks away from implementing that so this set of testing would be done via Optimizely.

[2016-02-17 20:26] KevZawacki commented on #133
@natalieworth rocks! :+1:

@kellymj, do these do the trick? Also, still waiting on copy approval.

[2016-02-17 20:31] natalieworth commented on #134
@stephaniemcv I'm going to close this, but feel free to reopen if you need anything additional/ changed

[2016-02-17 20:31] #134 closed

[2016-02-17 20:36] KevZawacki commented on #133
@kellymj A couple more questions from policy:

How large is the Firefox and Friends audience?
When do we need final approval by?

Thanks!

[2016-02-17 20:41] alicoding commented on #132
I actually never done that before and don't see anything in the donate repo to copy that

[2016-02-17 21:30] stephaniemcv opened #135 "Add new agent to Desk.com"
@adamlofting
Can we please add Maryam as an agent. Desk.com blew up again with cases for Encryption.

Also, it looks like some of the agents haven't logged in a long time. Can we maybe slot other people in for them?

[2016-02-17 22:03] darrenpasemko commented on #127
New Mozilla Logo, and possible image treatments...

![beat 2 yellowed desat version 021716_00060](https://cloud.githubusercontent.com/assets/16806353/13126418/3050057a-d57f-11e5-93b4-e5dcf734863e.jpg)
![beat 2 desat version 021716_00060](https://cloud.githubusercontent.com/assets/16806353/13126429/3855b80a-d57f-11e5-8e9b-78cec46dcb23.jpg)
![Uploading BEAT 2 Original 021716_00060.jpg…]()

[2016-02-17 22:03] #127 closed

[2016-02-17 22:14] darrenpasemko commented on #127
Looks like the "Original Image Treatment" didn't upload in that last message. Here it is...
![beat 2 original 021716_00060](https://cloud.githubusercontent.com/assets/16806353/13126773/b398cbc8-d580-11e5-872f-8f04cc087bdc.jpg)

[2016-02-17 23:39] HPaulJohnson commented on #128
@darrenpasemko is it possible to get the following for use on social media:

.gifs
- (:06) Crypty with “Encryption” text   (could be cut together with the exploding cat)
- (:38) Exploding cat with “Encryption Power” text
- (:48-:52) Little character turning into message bubble
- (:56-1:01) Little character turning into + sign

video shorts
- (:16-:40) Starting with “there’s a very good chance…” an

[2016-02-17 23:42] alanmoo commented on #132
@adamlofting I'd think it should be easy enough to add some Optimizely callbacks on signup once we have access.

[2016-02-17 23:48] lovegushwa opened #136 "Link Mozilla logo to mozilla.org"
@alanmoo
Please link the mozilla logo to mozilla.org across all three versions of the landing page.

[2016-02-17 23:54] #136 closed

[2016-02-17 23:54] brettgaylor opened #137 "Medium icon misaligned"
Reported here:
https://github.com/mozilla/advocacy.mozilla.org/issues/90

I can reproduce

[2016-02-17 23:54] alanmoo commented on #137
Refresh.

[2016-02-17 23:55] brettgaylor commented on #137
Sweet!  Thanks, Alan :)

[2016-02-17 23:55] #137 closed

[2016-02-18 00:53] darrenpasemko commented on #128
Paul, can you confirm the tech specs for those video shorts? 1920X1080,
23.98 fps, H.264, Unrestricted kbps?
Brett mentioned that Mozilla would handle the GIFS.
Everything else is in order. I'll let you know if I have any questions.
Darren

On Wed, Feb 17, 2016 at 3:39 PM, Paul Johnson notifications@github.com
wrote:

##

Darren Pasemko
Director
4644 S.E. 51st Ave
Portland, Oregon, U.S.A.
97206
(6

[2016-02-18 01:00] lovegushwa commented on #128
@darrenpasemko yep those specifications are perfect.

[2016-02-18 01:02] darrenpasemko commented on #128
Thanks Jordan!
D

On Wed, Feb 17, 2016 at 5:00 PM, lovegushwa notifications@github.com
wrote:

##

Darren Pasemko
Director
4644 S.E. 51st Ave
Portland, Oregon, U.S.A.
97206
(646) 406-1320
www.pasemko.com

[2016-02-18 01:29] lovegushwa opened #138 "Design - Beat 2 social assets"

[2016-02-18 01:29] lovegushwa opened #139 "Design - Beat 2 posters"

[2016-02-18 01:29] lovegushwa opened #140 "Design - Beat 2 snippet"

[2016-02-18 01:30] lovegushwa opened #141 "Beat 3 email concept / experience"

[2016-02-18 01:30] lovegushwa opened #142 "Social strategy for Beat 4"

[2016-02-18 01:31] lovegushwa opened #143 "Design - Benchmark social for Beat 4"

[2016-02-18 01:31] lovegushwa opened #144 "Design - Beat 4 social assets"

[2016-02-18 01:31] lovegushwa opened #145 "Build - Beat 2 snippet"

[2016-02-18 01:31] lovegushwa opened #146 "Add video playlist component to landing pages"
Design and dev implementation of the microsite carousel (for archiving the episode content).

[2016-02-18 01:32] lovegushwa opened #147 "Update beat 2 landing page"

[2016-02-18 01:32] lovegushwa opened #148 "Build - Beat 3 email template"

[2016-02-18 01:32] lovegushwa opened #149 "Build - Update video and content - beat 4 landing pages"

[2016-02-18 09:20] adamlofting commented on #132
I've pinged a few people re Optimizely, but no reply yet. So that's our biggest blocker.

@alanmoo @alicoding the Optimizely callback is pretty simple. I'm happy to review if you can point me at the code for the encryption site.

Here's an example from donate, but we don't need the revenue amount:

https://github.com/mozilla/donate.mozilla.org/blob/dac728cd68467699d386fce0b3e09d22a96ffb82/assets/j

[2016-02-18 10:33] adamlofting commented on #135
Maryam has been added :+1:

We're using Flex Agents which means we can add as many accounts as we need, and are only billed based on the numbers of hours they are logged in, so it's fine to have dormant accounts with this setup.

FWIW, you have admin permissions to add new people too, so if you hear anyone else who needs access feel free.

[2016-02-18 10:33] #135 closed

[2016-02-18 11:29] darrenpasemko commented on #128
@brettgaylor @lovegushwa @OpenMatt @KarinaRipper @valianttry Here's the new edit. I sent it through email, but I thought I would post it officially on Github too.
https://vimeo.com/155043161
Password: Mozilla

[2016-02-18 11:30] darrenpasemko commented on #117
@brettgaylor @lovegushwa @OpenMatt @KarinaRipper @valianttry here's the new edit. I sent it through email, but I thought I would post it officially on Github too.
https://vimeo.com/155043161
Password: Mozilla

[2016-02-18 11:31] darrenpasemko commented on #15
I'll have this signed and returned tomorrow. Sorry, I was concentrating on last minute revisions today.

[2016-02-18 19:24] darrenpasemko commented on #128
Can I just pop everything in a Drop Box folder?

[2016-02-18 19:27] brettgaylor commented on #128
Sure, that works!  We also use Google Drive a lot.

[2016-02-18 19:43] KevZawacki commented on #97
Hi @KGorr, the following language is approved for the MLN newsletter:

"Mozilla is standing up for encryption, the technology that helps protect our online security and privacy. Learn more about how it works, why it's essential, and why it's worth protecting. Visit mzl.la/encrypt."

I think we're all set, so I'm going to close this ticket. Feel free to re-open if something's changed!

[2016-02-18 19:43] #97 closed

[2016-02-18 20:01] lovegushwa commented on #140
@valianttry checkout the redpen here:
https://redpen.io/hp282243217e57f1fb

Please confirm:
- the language for option 1 and 1B
- if we want to borrow the order and language from our advocacy.mozilla.org/encrypt signup form
- the language for 2 and 2B
- your preference for option 2 or 2B

[2016-02-18 21:12] natalieworth commented on #126
@alanmoo @lovegushwa This is awesome. I'm going to close as it's now live :+1:

[2016-02-18 21:13] #126 closed

[2016-02-18 21:46] natalieworth commented on #146
@alanmoo Here is the link to the .ai file with the dev annotations. Just ping me if you need me to update or export anything additional. I'm just working on editing and exporting a final static image for the Beat 2 video. Will post here when it's finalized. Thanks!
https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0NkI5c3pQNFlDMDg&usp=drive_web&ddrp=1#

[2016-02-18 21:55] lovegushwa commented on #146
@alanmoo for your reference:

v1 landing
![screen shot 2016-02-18 at 1 47 41 pm](https://cloud.githubusercontent.com/assets/12228435/13159481/ee6fce7e-d646-11e5-810e-8c9dd7e4963c.png)

v2 landing + all states
![screen shot 2016-02-18 at 1 53 31 pm](https://cloud.githubusercontent.com/assets/12228435/13159522/186df1f6-d647-11e5-90d1-d07abd79b5ce.png)

![screen shot 2016-02-18 at 1 48 20 pm](https:/

[2016-02-18 21:59] lovegushwa commented on #146
@natalieworth here is the checklist of things Alan will need:
- [x] Video 2 poster image
- [x] Video 1 and 2 thumbnail @2x
- [x] Coming soon pattern thumbnail @2x (it's currently kinda bright, maybe we can knock it back a little)

(something darker like this ... this might be to dark but you get the idea)
![screen shot 2016-02-18 at 1 57 36 pm](https://cloud.githubusercontent.com/assets/12228435/1

[2016-02-18 22:00] natalieworth commented on #131
@alanmoo Also posting the UI and annotations for the dev work here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0NkI5c3pQNFlDMDg&usp=drive_web&ddrp=1#

[2016-02-18 22:00] lovegushwa commented on #146
@alanmoo we should keep the episode description text for all landing page version, not just in v1 as shown above.

[2016-02-18 22:02] lovegushwa commented on #131
see issue #146

[2016-02-18 22:02] #131 closed

[2016-02-18 22:03] lovegushwa commented on #146
if you need to see the old playlist component wireframes they are here: #131

[2016-02-18 22:13] KevZawacki commented on #30
Placed in CNN! Closing ticket.

[2016-02-18 22:13] #30 closed

[2016-02-18 23:08] natalieworth commented on #146
@alanmoo @lovegushwa Exported deliverables for this are here:
- Darker version of video 2 poster image: https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0dlU5alZuSXN5LVU/view
- Regular version of video 2 poster image: https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0cGFPMHFjQndiN0E/view
- Video 1 thumbnail @2x: https://drive.google.com/a/mozillafoundation.org

[2016-02-18 23:11] natalieworth commented on #139
Beat 2 posters (edited dark and regular version) can be found here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0ZmFCdmVwLU1PaUU&usp=drive_web&ddrp=1#

[2016-02-18 23:25] valianttry commented on #140
My instinct is:
- Option 1 is too hard to build in the short timeline (r-)
- Option 1B is totally do-able since the modal build is on us and there's no snippet dev needed (r+)
- Option 2 + Option 2B we should ask the snippet team and Firefox UX team to weigh in and R+ whichever one they like most. Outstanding questions:
  -- We lose country data if we opt to omit it, which has long-term implicatio

[2016-02-18 23:33] natalieworth commented on #139
Hey @brettgaylor do you think this image would be stronger for the static video 2:
<img width="960" alt="crypty" src="https://cloud.githubusercontent.com/assets/14876567/13161824/1a06c818-d655-11e5-8afd-57bf1292c9bf.png">
I'm good with either, or I can try and source another one from the video

[2016-02-18 23:53] lovegushwa commented on #139
@natalieworth yeah this is the right image.

[2016-02-18 23:57] lovegushwa commented on #139
@natalieworth @brettgaylor we need to consider how a play button will effect this image.
We might need to create something with crypty that's asymmetrical

[2016-02-18 23:58] natalieworth commented on #139
Ah yes that's a good point @lovegushwa I'll experiment with this one

[2016-02-19 00:17] lovegushwa commented on #140
@valianttry I will post redirect UX/UI for Option 1 tomorrow, but these should be good to show to MOCO folks today or early tomorrow, no need to include our form design.

Option 1
<img width="1482" alt="screen shot 2016-02-18 at 4 10 40 pm" src="https://cloud.githubusercontent.com/assets/12228435/13162576/8dc29e12-d65a-11e5-9500-40c04d4df02f.png">

Option 2
<img width="1251" alt="screen shot 2016-

[2016-02-19 00:38] natalieworth commented on #139
@lovegushwa quick update on how this could look with the current crop of the static image. I'll test out an asymmetrical version to see if that could work
<img width="932" alt="screen shot 2016-02-18 at 4 37 49 pm" src="https://cloud.githubusercontent.com/assets/14876567/13163002/0dcce6d2-d65e-11e5-8240-d82d7aa0c939.png">

[2016-02-19 00:43] brettgaylor commented on #139
Where is the language for the website written and approved?  We might want to remove “throughout history” since we made those edits to the video.

This is looking great!

[2016-02-19 00:47] natalieworth commented on #139
@brettgaylor Yeah, good idea to update the language. The link for the doc I'm using for language is here if you want to check it out: https://docs.google.com/document/d/1rZnC_4uIv7fVlps_RwTIcDR4ohHgIxN6vt_eLMEWcwo/edit I just flagged your comment on there too for review

[2016-02-19 01:04] lovegushwa commented on #140
@valianttry final redpen: https://redpen.io/p/ur7d2d8000796b0937

[2016-02-19 01:16] natalieworth commented on #139
Asymmetrical options:
Medium Crypty:
<img width="944" alt="screen shot 2016-02-18 at 4 39 52 pm" src="https://cloud.githubusercontent.com/assets/14876567/13163596/5051533a-d663-11e5-817e-84c045908d73.png">

Peeking Crypty:
<img width="961" alt="screen shot 2016-02-18 at 4 43 52 pm" src="https://cloud.githubusercontent.com/assets/14876567/13163601/563f3938-d663-11e5-8efc-31bd58b585f9.png">

[2016-02-19 01:17] brettgaylor commented on #139
I like asymetrical!  She looks more friendly.

[2016-02-19 01:18] natalieworth commented on #139
Put these on redpen if anyone needs to comment directly: https://redpen.io/p/rbb08fa5c283b3f60d

[2016-02-19 02:22] valianttry opened #150 "Tableau data missing - help?"
Hey @adamlofting --

I've been chatting with Jessica Vondrak on snippets team about data coming from the video snippets. She's provided a few spreadsheets of data including comparison data from other videos on the snippet. I've compiled the data here:
https://docs.google.com/spreadsheets/d/1tPLH1AfHpbRRuCX8WcR3Y16qNDpBwCyvHmGt0S6NKrI/edit#gid=0

It looks like perhaps Scott didn't include all the m

[2016-02-19 05:29] darrenpasemko commented on #128
@brettgaylor @HPaulJohnson @lovegushwa @KarinaRipper @OpenMatt  So I've shared a Drop Box folder with everyone. It contains the final video, in three different formats from full HD, to a Vimeo ready H.264 file. All the stills requested as psd files, and the video excerpts requested. Thanks. Let me know if anything is missing, or if you have any problems downloading the files. Total Size:3.31 GB.

[2016-02-19 09:14] adamlofting commented on #150
Sure, I can help check. (Noting that I've not actually instrumented any in-snippet tracking before :bowtie: )

@valianttry which missing data are you looking for? the `watched 1/4` and `watched 3/4` of the video? Or the `sign-ups`?

@ScottDowne can you point me at the code for this?

[2016-02-19 13:33] KevZawacki commented on #69
We're all set here -- closing ticket

[2016-02-19 13:33] #69 closed

[2016-02-19 13:35] KevZawacki commented on #34
Update: Beat 2 content will be...

-- Simon's encryption explainer
-- Blog from Mark about video 2

Working to wrangle / write these today. Adjusting milestone.

[2016-02-19 13:47] KevZawacki commented on #32
Update: Currently at 39 stories globally.

[2016-02-19 14:26] cassiemc commented on #32
:boom: @KevZawacki you're killing it

[2016-02-19 16:21] stephaniemcv opened #151 "Basket Errors - Beat 1 Kicker Emails On Hold"
From Jess:
Several errors happened in the past 24 hours. It's been requested that we hold off sending emails at this time until the scope of the problem is understood. (Whenever we send an email, it increases the traffic of Basket for people who visit the email preference center. We need to minimize traffic to Basket until we know what's up.)

[2016-02-19 16:35] valianttry opened #152 "Beat 1 Kicker Email QA Feedback"
![for__review_-_active_advoactes__can_you_spread_the_word__-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/13181789/9a07e1a8-d6e3-11e5-9a2a-b9c36fd3a600.png)

[2016-02-19 16:38] valianttry commented on #152
Stephanie you can also update the views sentence to "viewed more than 350,000 times since we released it last week."

[2016-02-19 16:58] stephaniemcv commented on #152
Done and done. Thanks for the review!

[2016-02-19 17:35] brettgaylor commented on #100
Delivered!

[2016-02-19 17:35] #100 closed

[2016-02-19 17:36] OpenMatt commented on #151
- Discussed in stand-up today. We are in holding pattern -- waiting for MoCo update on timelines.

[2016-02-19 17:48] OpenMatt commented on #93
Next step: @lovegushwa let's map out next steps on approval process.

[2016-02-19 18:04] OpenMatt commented on #150
@ScottDowne is on PTO. Not sure if maybe @alicoding or @alanmoo can help.

[2016-02-19 18:05] Giorgio-Olivero commented on #93
@cassiemc
prototype test recap info:

Github page where we post the current issues: https://github.com/todotoit/cryptoloji/issues

Notes to the current prototype:
- *_mobile only *_
- benchmark devices: iOS9 (iPhone 5 or 6) / Android 5.x (tested on OnePlusOne and Nexus5). It does work also elsewhere but there could be minor/major issues that we're already knowledgeable about and that will be fixed

[2016-02-19 18:06] stephaniemcv opened #153 "Image of Video for Beat 2 email"
@natalieworth
I need a 600x300 image of the video with the play button. Can be same as the starting picture on the landing pages and .png format is fine.

Email is scheduled to send on Friday 2/24. If possible, can I get it by EOD Monday for the review group?

[2016-02-19 18:06] OpenMatt commented on #152
Assuming this can be closed now -- please re-open if that's wrong.

[2016-02-19 18:06] #152 closed

[2016-02-19 18:09] OpenMatt commented on #147
@alanmoo any status update on this one?

[2016-02-19 18:09] alicoding commented on #150
The only info I have right now is https://github.com/ScottDowne/snippets/blob/signup-snippet/campaigns/signup-snippet/snippet.html

[2016-02-19 18:10] OpenMatt commented on #146
@alanmoo is working on this now, as per today's stand-up mtg.

[2016-02-19 18:10] alanmoo commented on #147
AFAIK this is effectively the same as adding the playlist, just making the site land on the Beat 2 video/details. Is that correct, @lovegushwa?

[2016-02-19 18:13] OpenMatt commented on #145
- This is about implementing design changes to the snippet, as per design ticket here: https://github.com/MozillaFoundation/encryption_campaign/issues/140
- Currently blocked on making a final decision about which of those design choices we will implement
- @lovegushwa @alanmoo and @valianttry are meeting on this today to work out next steps

[2016-02-19 18:16] OpenMatt commented on #132
@alanmoo or @alicoding: can you point @adamlofting to the code for the encryption site?

[2016-02-19 18:17] OpenMatt commented on #111
Closing.

[2016-02-19 18:17] #111 closed

[2016-02-19 18:17] alanmoo commented on #132
Sorry, missed that. It's in https://github.com/mozilla/advocacy.mozilla.org @adamlofting

[2016-02-19 18:19] alanmoo commented on #132
Specifically https://github.com/mozilla/advocacy.mozilla.org/tree/master/pages/encrypt

[2016-02-19 18:19] OpenMatt commented on #105
@michellenebiolo I discussed w. Giorgio -- we're going to have you guys get back w. an assessment on what would be involved for TODO to build the API instead of us. I will close this one and file a new one.

[2016-02-19 18:20] brettgaylor commented on #150
Those events were custom made by scott, I believe.  We didn’t ask him to track 1/4 or 3/4 plays - just started, 1/2 and full.

[2016-02-19 18:23] #105 closed

[2016-02-19 18:24] OpenMatt commented on #93
- thanks @Giorgio-Olivero and @michellenebiolo !
- @lovegushwa : next steps for us: deliver feedback for next and final interation.
- @lovegushwa let's make sure we have a clearly documented plan here for who needs to provide feedback, when, how, etc. You and I can touch base on that today.

[2016-02-19 18:30] OpenMatt opened #154 "Build API for Cryptoloji"
* Next step: @Giorgio-Olivero is going to get back to us with an estimate on the amount of effort required for TODO to produce this. And then: we will make a decision about how to proceed next.

[2016-02-19 18:32] OpenMatt commented on #154
@simonwex : you mentioned you had some best practise documentation that might help w. this. Please add here when you can.
- (note for TODO: don't feel you need to wait for that -- it's not a blocker. So long as we address the points Simon raised in his risk assessment document, we should be fine.)

[2016-02-19 18:33] #23 closed

[2016-02-19 18:39] OpenMatt opened #155 "Do copy review for Cryptoloji"
##### We need to do a complete review of all copy used in the Cryptoloji experience.
Deadline = Wed, Feb 24

Here is the draft w. copy + UX flow:
https://github.com/MozillaFoundation/encryption_campaign/files/141589/220218_wireframe_onboarding.pdf

And here's a Google Doc version to make text edits easier:
https://docs.google.com/document/d/1rf__iFvsPRewpAPYAT_fZ4Tt0d0mS3RQrw6iD78BQ98/edit

### Si

[2016-02-19 18:41] HPaulJohnson commented on #138
@KevZawacki here is a (currently blank) doc to start hacking on copy for beat 2 social:

https://docs.google.com/a/mozilla.com/document/d/1Nrm7-Cbodhky9x-O050BxaHo66_8mtE0h6VA-QAUSiw/edit?usp=sharing

[2016-02-19 18:42] OpenMatt commented on #155
Note: we'll need to include some mention of the fact that this experience is designed as a toy / educational resource. and NOT: intended for strong encryption. And probably use the word "cypher" as opposed to "encryption."

[2016-02-19 18:44] OpenMatt commented on #155
@michellenebiolo @Giorgio-Olivero do you guys have any examples we should look at for (1)?

[2016-02-19 18:46] OpenMatt commented on #155
Let's discuss in our TODO mtg Feb 22

[2016-02-19 18:53] OpenMatt commented on #93
### Next steps
- [ ] Brand feedback (@lovegushwa)
- [ ] Copy feedback ( @HPaulJohnson @KevZawacki )
- [ ] General UX / experience feedback ( collecting various and sundry. but decider = @lovegushwa . With help from: @cassiemc can you potentially help here?)

[2016-02-19 18:54] xmatthewx commented on #93
This is great! A few bits of feedback below. Hope some it is helpful...

**Key**
Users probably need some info on the Key earlier in the experience.
- "Pick a Key to scramble your message. Share the key secretly with anyone you want to unlock it."

**Message box labels**
These could be optimized to clarify.
- ~~Your Message~~ `Secret Message` – This text is our secret that we want to hide from pry

[2016-02-19 18:55] OpenMatt commented on #93
question for @michellenebiolo + @Giorgio-Olivero: what's the deadline for getting this feedback to you?

[2016-02-19 19:05] #108 closed

[2016-02-19 19:07] OpenMatt commented on #106
@simonwex any thoughts on the short-link question?

[2016-02-19 19:07] #101 closed

[2016-02-19 19:08] OpenMatt commented on #65
@KevZawacki any updates? or can we close?

[2016-02-19 19:09] OpenMatt commented on #59
@brettgaylor is this still the right ticket for video 4?

[2016-02-19 19:09] OpenMatt commented on #55
@HPaulJohnson can we close this now?

[2016-02-19 19:14] OpenMatt commented on #54
@HPaulJohnson ok to close this one?

[2016-02-19 19:14] OpenMatt commented on #38
@lovegushwa is it ok to close this one?

[2016-02-19 19:15] OpenMatt commented on #24
@HPaulJohnson let us know when there's any news here.

[2016-02-19 19:15] OpenMatt commented on #92
Closing this one, as work is now ongoing in Prototype 2 here: https://github.com/MozillaFoundation/encryption_campaign/issues/93

[2016-02-19 19:17] #92 closed

[2016-02-19 19:20] OpenMatt opened #156 "Write a blog post report-out on beat 1"
* What did we do?
* How did it go?
* What data did we collect?
* What kind of press did we get?
* What did we learn?

We can maybe start a draft here:
public.etherpad-mozilla.org/p/beat1

[2016-02-19 19:20] HPaulJohnson commented on #54
yes, Kevin is reaching out to the list now. closing this for now.

[2016-02-19 19:20] #54 closed

[2016-02-19 19:21] OpenMatt commented on #156
@valianttry @KevZawacki what do you think about my suggested outline headers? Do those feel like the right buckets?

@KevZawacki : want to start filling out the press section, plus any other initial thoughts / ideas you have?

[2016-02-19 19:25] KevZawacki commented on #138
Dropped in initial ideas. Maura and Liz have access, too.

[2016-02-19 19:27] KevZawacki commented on #65
Discussion still needs to happen -- pushing milestone

[2016-02-19 19:32] OpenMatt commented on #86
Closing. Please re-open if that's wrong.

[2016-02-19 19:32] #86 closed

[2016-02-19 19:32] #82 closed

[2016-02-19 19:34] Giorgio-Olivero commented on #93
@OpenMatt it's continuous integration development, so theoretically anytime is good. But the earlier the better. If by the end of today your team could pinpoint any main issue it would be helpful. We'll have still time next week to integrate also newer feedbacks. On Monday's call we'll share with you the wireframes of the upgraded onboarding.

@xmatthewx thanks for the feedback about the copy! It'

[2016-02-19 19:36] OpenMatt commented on #145
Looks like this is actually a dupe of https://github.com/MozillaFoundation/encryption_campaign/issues/125 -- closing and will keep working there.

[2016-02-19 19:36] #145 closed

[2016-02-19 19:37] OpenMatt commented on #125
- Thanks for your help, @glogiotatidis !

[2016-02-19 19:38] OpenMatt commented on #125
- Let's use this ticket as the "build" ticket. The design ticket is here: https://github.com/MozillaFoundation/encryption_campaign/issues/140
- Next step: finalize the design choice, so we know what we need to build.

[2016-02-19 19:40] OpenMatt commented on #140
@lovegushwa @valianttry please update here once you've made a final design decision.

[2016-02-19 19:48] valianttry commented on #140
Negotiating language with Marketing team here:
https://docs.google.com/document/d/1f8aD_1ALc4UCuycVLqVeRSUMW_mmL9zSbvXoE13wKXY/edit

Final forthcoming. @lovegushwa we should chat with @alanmoo about efforts for each of the above variants today -- when's good?

[2016-02-19 19:49] natalieworth commented on #139
@lovegushwa Tried experimenting with colours sampled from the animation, or keeping the black background, but trying to get it less muddy looking:
<img width="604" alt="screen shot 2016-02-19 at 11 40 34 am" src="https://cloud.githubusercontent.com/assets/14876567/13187209/b8fc3e72-d6fe-11e5-9cb3-578b8b8ce3ca.png">
<img width="605" alt="screen shot 2016-02-19 at 11 40 24 am" src="https://cloud.git

[2016-02-19 19:52] KevZawacki commented on #156
Just dropped in press information (links we can add outside of etherpad).

[2016-02-19 19:54] HPaulJohnson commented on #24
Vendor and security review complete this week.

Share Progress needs to recognized DNT prior to launch. They are working on it now and I'm meeting with them on Monday to understand when that work will be complete.

In parallel, will work with Abigail on the contract piece (she was waiting for security review to be completed).

[2016-02-19 19:58] natalieworth commented on #153
Hey @stephaniemcv, I'll have this for you Monday morning if that works :)

[2016-02-19 20:55] simonwex commented on #154
@OpenMatt the OWASP Top 10 is what I was talking about:
https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project

[2016-02-19 21:39] valianttry commented on #140
FYI @alanmoo here is snippets documentation: https://wiki.mozilla.org/Websites/Snippets

[2016-02-19 21:40] alanmoo commented on #140
Thanks!

[2016-02-19 22:28] brettgaylor opened #157 "Create first script"
Based on transcripts and on-screen text.  cc @MozMatej

Approval by policy/legal/advocacy

Due: Tuesday Feb 23

[2016-02-19 22:32] lovegushwa opened #158 "Sketch - visual systems for advocacy video"
Let's look at AJ+ and similar video system and dissect all the types of components we need to build:
_We will review at the end of day Monday_

- style for into
- ”lower thirds” text
- on screen text - quotes
- on Screen text - facts
- ANY OTHER COOL IDEAS!

[2016-02-19 22:32] brettgaylor opened #159 "Assembly/Radio edit"
Based on script.  Due Tuesday 23rd.

[2016-02-19 22:33] lovegushwa opened #160 "Create style - ident"
See benchmarks in #158
Into includes Mozilla logo and ENCRYPT animation currently used at the end of videos 1 and 2

[2016-02-19 22:33] lovegushwa commented on #160
See benchmarks in #158

[2016-02-19 22:35] brettgaylor opened #161 "Rough cut"
Feb 26th

Approval stage with policy/advocacy/legal

[2016-02-19 22:36] brettgaylor opened #162 "Fine Cut"
March 2nd

Approval by advocacy/legal/policy

[2016-02-19 22:37] brettgaylor opened #163 "Final delivery"
March 4th

[2016-02-19 22:38] lovegushwa opened #164 "Create style - "lower thirds" text"
See benchmarks in #158
We should think about a way to handle various length names and titles.

[2016-02-19 22:43] lovegushwa opened #165 "Create style - On screen text: quotes"
See benchmarks in #158

[2016-02-19 22:45] lovegushwa opened #166 "Create style - On screen text: facts & quotes"
See benchmarks in #158

[2016-02-19 23:06] lovegushwa commented on #158
Benchmark from @brettgaylor https://episode6.donottrack-doc.com/en/

[2016-02-19 23:23] stephaniemcv opened #167 "Develop New Opt In Email copy"
@valianttry @shaghdoosti

Because our current welcome email is very vague, we've had many comments in Desk.com about people who are confused as to what "subscription" they're signing up for. Many people are very concerned they'll have to pay for something and aren't aware that they're signing up for emails.

Ideally we would provide new subscribers with how often they could expect emails from us,

[2016-02-19 23:44] lovegushwa commented on #138
**gif specifications to test**

Twitter: 1024 x 512 12fps  /  512 x 256  24fps
Facebook: 1200 x 630 12fps / 600 x 315 24fps

[2016-02-20 00:42] brettgaylor commented on #158
Here's one from AJ+
https://www.youtube.com/watch?v=6aBygmdZAfs

Notice they have a consistent opening animation, text, "lower thirds" for when they caption people's names, on screen text, etc.  They also have a specific way they close each video, and a consistent way they ask users to share the video.

Obviously their content is more exciting than ours - we only have one sit down interview :)

[2016-02-20 00:51] brettgaylor opened #168 "Create "ps" content that points to open web fellows program"
As discussed with @valianttry

[2016-02-20 02:46] #123 closed

[2016-02-21 22:34] lovegushwa commented on #139
@natalieworth the last version (directly above this comment) looks good!

[2016-02-22 09:42] adamlofting commented on #150
Thanks @alicoding - that helps.

@brettgaylor that makes sense to me. I can't imagine we'd make any campaign adjustments based on the 1/4 or 3/4 play stats so don't think we're missing anything important here.

The `CTR` value is missing in that spreadsheet, but it's just a calculation using the other data that _is_ there so doesn't need events tracking (I'd add it but the sheet is locked). It's ~

[2016-02-22 10:45] adamlofting commented on #132
@alanmoo - can we add the js snippet above to here please:
https://github.com/mozilla/advocacy.mozilla.org/blob/master/components/encrypt-signup.jsx#L50

[2016-02-22 15:30] #88 closed

[2016-02-22 15:30] #13 closed

[2016-02-22 15:37] OpenMatt commented on #154
Thanks @simonwex !
@Giorgio-Olivero @michellenebiolo will wait to hear from you regarding next steps.

[2016-02-22 15:38] OpenMatt commented on #125
@alanmoo can you update status?

[2016-02-22 15:40] OpenMatt commented on #32
+1 :)

[2016-02-22 15:41] OpenMatt commented on #128
- thanks @darrenpasemko !
- what are the next steps here? @brettgaylor @HPaulJohnson can we close this?

[2016-02-22 15:44] #15 closed

[2016-02-22 15:44] OpenMatt commented on #117
@brettgaylor status?

[2016-02-22 15:45] OpenMatt commented on #79
can we close?

[2016-02-22 15:46] OpenMatt commented on #73
@valianttry is this timeline still up to date?

[2016-02-22 15:47] #89 closed

[2016-02-22 15:48] OpenMatt commented on #78
Closing. @valianttry please re-open if that's wrong.

[2016-02-22 15:48] #78 closed

[2016-02-22 15:48] OpenMatt commented on #77
any updates here?

[2016-02-22 15:48] #87 closed

[2016-02-22 15:50] #51 closed

[2016-02-22 15:51] valianttry commented on #73
I believe this is still correct.

[2016-02-22 15:52] #98 closed

[2016-02-22 15:53] OpenMatt commented on #75
@brettgaylor what should we do with this one?

[2016-02-22 15:53] #49 closed

[2016-02-22 15:53] #27 closed

[2016-02-22 15:53] #26 closed

[2016-02-22 15:54] OpenMatt commented on #151
@stephaniemcv any updates on this one?

[2016-02-22 15:58] OpenMatt commented on #130
@valianttry @adamlofting rich discussion. what's the next best step here? Should we sched a 15-minute meeting to finalize and document?

[2016-02-22 15:59] stephaniemcv commented on #151
They found the issue and greenlighted us to send. So the Kicker emails went
out Friday afternoon.

On Mon, Feb 22, 2016 at 8:54 AM, OpenMatt notifications@github.com wrote:

[2016-02-22 16:04] chadsansing commented on #77
Shipped two plans.
- [Really Private Messaging](http://chadsansing.github.io/curriculum-testing/encryption/really-private-messaging.html#overview)
- [Werewolf in the Middle](http://chadsansing.github.io/curriculum-testing/encryption/werewolf-in-the-middle.html#overview)

Revised the first one according to expert input from MoCo security. Waiting on word from @mozstacy about keeping or losing the x

[2016-02-22 16:08] OpenMatt commented on #121
@stephaniemcv can you update here when you have a sec?

[2016-02-22 16:09] OpenMatt commented on #122
see https://github.com/MozillaFoundation/encryption_campaign/issues/130

[2016-02-22 16:09] OpenMatt commented on #122
cc @valianttry

[2016-02-22 16:10] OpenMatt commented on #141
@lovegushwa should we schedule a kick-off to talk this through / get to a set of deliverables and next steps?

[2016-02-22 16:19] brettgaylor commented on #75
@valianttry which languages do we have segments for in our email list?  We could start campaigns to localize in these languages using Amara.

[2016-02-22 16:29] valianttry commented on #75
We discussed priority languages at our work week -- Portugeuse is the non-EN priority along with India (EN) and UK (EN) based on legislation expected.

![img_1945_2_jpg](https://cloud.githubusercontent.com/assets/9830371/13224628/4b83aa1e-d93e-11e5-92ce-b8f64dd1de1f.png)

[2016-02-22 16:32] brettgaylor commented on #75
@valianttry in that plan I think we discussed waiting until after the entire campaign, seeing which videos converted well, and then localizing those.  I think the only push to rethink this came from @shaghdoosti who had some feedback from participation summit that localizing video content is something community would like to see us invest in.

Feels like we could still go with original plan - loca

[2016-02-22 16:33] brettgaylor commented on #117
Shipped!

[2016-02-22 16:33] #117 closed

[2016-02-22 16:33] brettgaylor opened #169 "Make GIFs of video 2"
We're going to do this internally.

[2016-02-22 16:34] brettgaylor commented on #128
We have all the image/video assets we need.  Need a few GIFs, which I'm opening a ticket for here
https://github.com/MozillaFoundation/encryption_campaign/issues/169

[2016-02-22 16:34] #128 closed

[2016-02-22 16:35] amirad commented on #77
Nope that's it. We've started a sharing plan for those activities once they're ready.

[2016-02-22 16:36] natalieworth commented on #139
@alanmoo updated poster 2 jpeg is here: https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0MGtyT0E1c2p5d2M/view

[2016-02-22 16:38] Giorgio-Olivero commented on #93
Here's the user-test report. As you can see both onboarding and sharing need to get back to the drawing board in order to improve the overall UX.
https://docs.google.com/presentation/d/1r6qawylZctjcIqqtHbnkag8xDpRsQmKzxlpuhHFgskA/edit?usp=sharing

[2016-02-22 16:39] alanmoo commented on #125
There are a few plans in motion.

1.) no dev work needed for snippet itself, as it will be an existing template with a link to a signup page on the advocacy site (which I'm awaiting design in order to build)

2.) Minor updates to the existing snippet with either the video or signup form, which I can make based on Scott's previous work. However, the timeline on QA may result in this one being bette

[2016-02-22 16:41] alanmoo commented on #125
Er, @valianttry. (GitHub's mobile site is feature incomplete)

[2016-02-22 16:48] JessicaVondrak commented on #125
@alanmoo
Hi Alan -
I can chime in from a template snippet perspective.
for #2)  We already have an existing template with the video.  We can just link the text to the advocacy site.  This should eliminate any additional updates for you.  If we want to test A) Video with linked text B)  Sign-up form only.  We are all set to go!

Keep me in the loop with timing or any additional questions!
Jess

[2016-02-22 17:02] natalieworth commented on #138
Twitter image assets: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0TmFfcmRFcGRnbjg&usp=drive_web&ddrp=1#
Facebook image assets: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0S25LM183RV9BQnM&usp=drive_web&ddrp=1#
Just working on uploading the gif's this morning and will post here. Thanks
cc @HPaulJohnson @lovegushwa

[2016-02-22 17:08] #151 closed

[2016-02-22 17:09] OpenMatt commented on #93
Key creative challenges we're focused on:
- 1) On-boarding
  - broken into 3 key steps (which @Giorgio-Olivero will list here)
- 2) Sharing
  - to increase virality, etc.
- 3) Language & Branding
  - e.g., use of word "encryption" vs. "cipher"
  - @lovegushwa can provide some benchmarks / examples here

[2016-02-22 17:11] adamlofting commented on #122
While we might want to do something with an Advocacy Flag in Basket/ET, I'd like us not to confuse this with tracking 'Active Advocates'.

The title 'Active Advocates' has a specific meaning to us and is based on recorded behaviour rather than comms preference. Ref [KPIs doc](https://docs.google.com/document/d/17_7zMuGsFJTKOMEDOZmuakvUybE0DzZRNfntSAoOGEM/edit#heading=h.e9ponl2wikjo).

Tracking 'Ac

[2016-02-22 17:15] OpenMatt commented on #155
Note: Wed Feb 24 is the best date to do this.

[2016-02-22 17:21] valianttry commented on #93
We will need to connect quickly with @shaghdoosti and @Jochai1 to firm up language this week.

[2016-02-22 17:21] OpenMatt commented on #93
@Giorgio-Olivero will share an asset here that helps us collaborate on the on-boarding aspect.

[2016-02-22 17:24] OpenMatt commented on #93
@valianttry lets use this ticket to do that copy review: https://github.com/MozillaFoundation/encryption_campaign/issues/155

[2016-02-22 17:35] KevZawacki commented on #93
Firstly, this is _so_ cool.

Copy looks great from my perspective -- but will have to please policy + legal, too.

[2016-02-22 18:00] natalieworth commented on #153
Hi @stephaniemcv, here are the images for beat 2's email (again at regular and @2x for retina displays):
https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0cWFxendVQXRCMms&usp=drive_web&ddrp=1#

[2016-02-22 18:03] alanmoo commented on #139
👍

[2016-02-22 21:25] lovegushwa commented on #140
@valianttry check out the final snippet design. If these are good to go i'll move them over to the build ticket.

Option 1
<img width="1273" alt="screen shot 2016-02-22 at 1 17 10 pm" src="https://cloud.githubusercontent.com/assets/12228435/13233111/fd44ffdc-d966-11e5-8f7c-ec83ecea20c4.png">

Option 2A
<img width="1233" alt="screen shot 2016-02-22 at 12 42 43 pm" src="https://cloud.githubuserconte

[2016-02-22 21:41] lovegushwa commented on #140
We will also need to include after click "submit" to "expect a confirmation email"
... re @ScottDowne beat 1 snippet design.

[2016-02-22 22:42] valianttry commented on #140
I sent this to the Marketing Team for final review. Their feedback is due tomorrow a.m.

[2016-02-22 23:05] Giorgio-Olivero commented on #93
hello, here's the updated mockup/wireframe sequence for a renewed onboarding.
If you feel -as we do- that this iteration is promising we can move it to redpen as @lovegushwa suggested.

[220218_wireframe_onboarding.pdf](https://github.com/MozillaFoundation/encryption_campaign/files/141589/220218_wireframe_onboarding.pdf)

[2016-02-22 23:13] brettgaylor commented on #93
I like this!  It really addresses some of the concerns I've had that we aren't doing enough user education.

I missed today's meeting but I understand that the text will need to go through new drafts - I think this will be important in highlighting the "cypher" part of encryption.

[2016-02-23 00:52] valianttry commented on #140
From Legal:
- This language is officially approved from the legal team

They also had some really good feedback unrelated to legal stuff:
- Can we add a little "envelope" icon somewhere that signals this is intended as an email optin exercise?
- We need to make certain the "X" to opt out of this snippet is included in the design UX;
- We can't actually link to the privacy notice in the popup, so w

[2016-02-23 00:56] HPaulJohnson opened #170 "MarCom checklist for Beat 2 Launch"
Launch checklist for Marketing and Comms activity supporting launch of beat 2 content on 2/24.

- [x] Mark's blog for blog.mozilla.org and Medium #34 (needs policy team signoff)
- [ ] Simon's encryption explainer blog for Medium #34 (complete draft + policy team signoff)
- [x] Wave 2 of media pitching #32 (pitch needs policy team signoff)
- [ ] 10 Facts about encryption for media packet #32 (needs

[2016-02-23 01:23] natalieworth commented on #138
@HPaulJohnson @lovegushwa Exported gifs are here (some are lower res due to the looping, so we may need to test the quality on facebook/ twitter before posting to make sure it's not too low):
https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0bkI0M04zSmlaMzg&usp=drive_web&ddrp=1#
I can also export different resolutions if needed

[2016-02-23 01:28] HPaulJohnson commented on #138
Thanks, @natalieworth, these look awesome. I'm going to finalize the copy in the a.m. and send these along for approval.

I think the only outstanding item is the shorter video clips. Was anyone able to get those off Darren's dropbox? @lovegushwa

[2016-02-23 02:09] lovegushwa commented on #140
@valianttry @alanmoo final snippet and signup form designs here. If these are good to go lets move to a build ticket!

Option 1
<img width="1274" alt="screen shot 2016-02-22 at 6 03 32 pm" src="https://cloud.githubusercontent.com/assets/12228435/13239426/ee6c33cc-d98e-11e5-9390-11f7ee6356fa.png">

Redirect form
<img width="1192" alt="screen shot 2016-02-22 at 6 24 53 pm" src="https://cloud.githubu

[2016-02-23 02:25] brettgaylor commented on #138
(+1) (+1) (+1)

@natalieworth is the https gif meant to loop? Doesnt for me.

[2016-02-23 02:31] brettgaylor commented on #138
@HPaulJohnson I was able to open that dropbox - did you have trouble?  I shared the folder with you in case you didn't have before.

[2016-02-23 04:55] alanmoo commented on #146
PR has been submitted sans the actual video information- where can I get the video/final copy?

A deployment should be generated and linked to from https://github.com/mozilla/advocacy.mozilla.org/pull/95 in the morning.

[2016-02-23 11:07] adamlofting commented on #132
@HPaulJohnson Optimizely access has been restored -- it was only allowing mozilla.com emails in, but this now works for mozillafoundation.org emails too.

@alanmoo I've R+'d your patch and merged it - I'm not sure how this site deploys though so may require a manual push to prod? Once this is done we can start the test.

@valianttry I'm setting up this test for all traffic, not just social, but le

[2016-02-23 11:08] adamlofting commented on #170
We have access to Optimizely again.

[2016-02-23 15:53] OpenMatt commented on #155
@KevZawacki @HPaulJohnson do you have any edits?
@valianttry : who else needs to sign off re: policy + legal?

[2016-02-23 15:53] alanmoo commented on #132
@adamlofting Once merged, it got deployed to staging at https://advocacy-mozilla-org-staging.herokuapp.com/

-Alan

On Feb 23, 2016, 3:07 AM -0800, Adam Loftingnotifications@github.com, wrote:

[2016-02-23 16:21] HPaulJohnson commented on #132
@adamlofting @valianttry I think we only want to do this test on non-email traffic as the landing page variations are optimizing for email address form.

[2016-02-23 16:22] HPaulJohnson commented on #155
@OpenMatt taking a look first this morning.

[2016-02-23 16:40] alanmoo commented on #132
Are we going to be testing the alternate version of the social page? (https://Advocacy.mozilla.org/encrypt/3)? If so, I have to update that to include the playlist, which will need a little bit of design help today. (Until now that page has been there, just not linked to unless someone got curious about the URL)

[2016-02-23 16:51] natalieworth commented on #138
@HPaulJohnson @brettgaylor @lovegushwa I can export the short videos. I believe they needed to include some sort of Mozilla branding too, right?
Yes, @brettgaylor! Https should loop, I'll update it, thanks

[2016-02-23 16:52] HPaulJohnson commented on #138
@brettgaylor - I don't have dropbox premium so wouldn't let me download without paying.

@natalieworth if you could export and add some branding that would be awesome.

[2016-02-23 16:53] brettgaylor commented on #138
Yeah I think they could use some branding. They end quite abruptly. Happy
to help with this today!
On 23 Feb 2016 8:51 a.m., "Natalie Worth" notifications@github.com wrote:

[2016-02-23 17:03] valianttry commented on #125
Just completed a round of feedback from the marketing team. Given the late hour and additional changes requested (plus the QA and dev work remaining) we have run out of time to execute Option 2 in time for beat 2 video launch. (Option 2 was tweaking the embedded optin form). Option 2 variant doesn't need to be tied directly to a campaign, so we will pick it back up and finish it at a later time TB

[2016-02-23 17:17] natalieworth commented on #138
That would be awesome @brettgaylor , I'm just working on fixing that one gif but can connect after about the short videos if that works

[2016-02-23 17:27] natalieworth commented on #139
@alanmoo Forgot to update the thumbnail for this too! Sorry! New thumbnail for beat 2 is in this file: https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0OTA0eE00cWNJMEE/view
Other thumbnails can still be found here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0bk50N0Zab0RLbkE&usp=drive_web&ddrp=1#

[2016-02-23 17:29] alanmoo commented on #146
https://advocacy-mozilla-org-sta-pr-95.herokuapp.com/encrypt/

[2016-02-23 17:38] #153 closed

[2016-02-23 17:39] adamlofting commented on #132
I'm closing this ticket following discussion on the stand-up.

We're setup to run tests now, but this original test doesn't make sense given where the campaign is at.

Team will scope future tests in new tickets as and when there is traffic opportunities.

[2016-02-23 17:39] #132 closed

[2016-02-23 17:42] #149 closed

[2016-02-23 17:44] brettgaylor opened #171 "QA microsite"
Using this URL
https://advocacy-mozilla-org-sta-pr-95.herokuapp.com/encrypt/

[2016-02-23 17:44] brettgaylor opened #172 "Compress Beat 2 video"
Gotta do it

[2016-02-23 17:45] brettgaylor commented on #147
@alanmoo here's two tickets
https://github.com/MozillaFoundation/encryption_campaign/issues/171
https://github.com/MozillaFoundation/encryption_campaign/issues/172

[2016-02-23 17:48] alanmoo commented on #147
Dupe of #146.

[2016-02-23 17:48] #147 closed

[2016-02-23 17:48] alanmoo commented on #146
QA in #171

[2016-02-23 18:00] alanmoo commented on #172
@wex or @jbuck I'm going to need some assistance popping these up on the CDN when these are ready.

[2016-02-23 18:09] lovegushwa opened #173 "Final assets for beat 2 snippet"
Hello everyone, please drop the final snippet in the feed below:

- [x] design
- [x] poster 480x270.jpg - no play button ( @natalieworth )
- [x] email signup URL (@alanmoo )
- [x] video file
- [x] copy ( @valianttry  )

[2016-02-23 18:10] lovegushwa commented on #173
DESIGN
<img width="1275" alt="screen shot 2016-02-22 at 5 59 16 pm" src="https://cloud.githubusercontent.com/assets/12228435/13261570/97cdf4e2-da15-11e5-9c3f-723582dde354.png">

Landing page:
<img width="1800" alt="encryption-ui-011-05" src="https://cloud.githubusercontent.com/assets/12228435/13267011/be6efc26-da2f-11e5-93f8-8274e094aed6.png">

<img width="1800" alt="encryption-ui-011-06" src="htt

[2016-02-23 18:29] alanmoo commented on #173
https://advocacy.mozilla.org/encrypt/signup (not live yet)

[2016-02-23 18:45] natalieworth commented on #138
Just double checked the gifs and they are all good to go (but we'll still need to test on facebook/ twitter if possible). All should be looping, with only 2 in a continuous looping pattern (back and forth). Images should be good to go now too for both facebook and twitter. Everything can be found in the beat 2 folder:
https://docs.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0MUNvN

[2016-02-23 18:52] KevZawacki commented on #155
@OpenMatt Just took a look and added some small suggestions

[2016-02-23 19:07] alanmoo commented on #171
@brettgaylor You had thoughts on the modal behavior?

[2016-02-23 19:10] brettgaylor commented on #171
I think it's good, the only thing i wonder is if clicking on the video should play/pause?

[2016-02-23 19:11] alanmoo commented on #171
The video itself has controls when playing, and clicking outside the video pauses it- is that not enough?

[2016-02-23 19:13] valianttry commented on #155
@OpenMatt I've pinged @Jochai1 and @shaghdoosti for feedback by email (cc'd you). I think it's important to stay consistent with Jochai vs. switching to Heather since he sat in on the discussion at our SF workweek and has a lot more context.

[2016-02-23 19:13] brettgaylor commented on #171
Probably!  On my setup I just need to scroll down to the controls if I happen to click outside the video. So it just feels a little clunky to me - you can pause it by clicking outside, but can't replay it by clicking back on the video, which I think has become assumed behaviour due to youtube.

[2016-02-23 19:25] alanmoo commented on #171
Ah, I see. So perhaps if the video is paused, clicking on it again starts it?

[2016-02-23 19:29] brettgaylor commented on #171
Yes.

[2016-02-23 20:23] alanmoo commented on #146
I've added url params https://advocacy-mozilla-org-sta-pr-95.herokuapp.com/encrypt/?video=1 or https://advocacy-mozilla-org-sta-pr-95.herokuapp.com/encrypt/?video=2 for direct linking to videos

[2016-02-23 20:31] valianttry commented on #171
On my 15" laptop the site is pretty constrained -- I realize the resolution / screen size is hard to get right for all screens but is this optimized for _most_? Just checking!

![screen shot 2016-02-23 at 12 24 42 pm](https://cloud.githubusercontent.com/assets/9830371/13265732/671cb2fc-da29-11e5-9407-2c7f54ec4352.png)

[2016-02-23 20:35] alanmoo commented on #171
The site is responsive, so wider than 980px it will lock the content at center, and in browsers less than 980px wide, the content will scale down/rearrange as needed.

[2016-02-23 20:39] valianttry commented on #171
:clap: thanks @alanmoo !

[2016-02-23 20:48] valianttry commented on #173
Final copy for below the search bar:
"Mozilla stands up for online privacy. If you want to be in-the-know about our work and learn about opportunities to stand with us, sign up to be on our email list. We’ll send you important updates, news, and opportunities to take action."

hotlinked text should look like this:
![snippet_2nd_iteration_language_options_-_google_docs](https://cloud.githubusercont

[2016-02-23 20:54] valianttry commented on #173
Link for snippet text link:
https://advocacy.mozilla.org/encrypt/signup?ref=EncryptionQ1_2016&utm_campaign=EncryptionQ1_2016&utm_source=firefox&utm_medium=snippet&utm_content=MeetEncryption_Beat2

[2016-02-23 20:56] natalieworth commented on #173
Beat 2 poster: https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0b3QxY3RwcGlySG8/view

[2016-02-23 21:11] lovegushwa commented on #173
Final video file: https://drive.google.com/file/d/0B2qu3ExKWIlvcC1VS25sZDRfazg/view?usp=sharing

[2016-02-23 21:11] alanmoo commented on #173
Is there an mp4 file too?

[2016-02-23 21:13] lovegushwa commented on #173
@alanmoo this is just for the snippet. I'll give you separate links for the landing page video.

[2016-02-23 21:14] alanmoo commented on #173
Ah, it would help to look at the name of the ticket I'm commenting on :smile:

[2016-02-23 21:28] lovegushwa opened #174 "Build - Final landingpage updates & email form"
LANDING PAGE
- [x] video 2 copy
- [x] compressed video 2 files

EMAIL FORM
- [x] email form design
- [x] tabzilla .png
- [x] background images
- [x] rollover copy for " *Required. Why do we ask for this information?"

[2016-02-23 21:29] lovegushwa commented on #174
@alanmoo
Email form design:

<img width="1800" alt="encryption-ui-011-05" src="https://cloud.githubusercontent.com/assets/12228435/13267293/66f955ca-da31-11e5-8fc1-d11865f449ae.png">

<img width="1800" alt="encryption-ui-011-06" src="https://cloud.githubusercontent.com/assets/12228435/13267298/6e4a7cbe-da31-11e5-8376-a8fcc74528f3.png">

[2016-02-23 21:34] stephaniemcv opened #175 "Beat 2 - Emails in Layout Review"
You'll get Test emails in your inbox for templates A,B,C,D.  Please review copy, links and rendering. Note any feedback in this ticket.

@valianttry @KevZawacki @lovegushwa @natalieworth @mmika

[2016-02-23 21:36] natalieworth commented on #173
@lovegushwa Updated version of the beat-2 poster (480x270):
https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0R3RZMHl4X1JaTEk/view
I feel it still seems to look a bit soft, but I checked it with the beat-1 poster and they were both the same size. I've also exported it at 144 dpi for retina, but could try doubling the 480x270 if it's still too soft?

[2016-02-23 21:51] lovegushwa commented on #174
Tabzilla and background patterns:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvMGZFSDFiZkNkSEE&usp=sharing

[2016-02-23 21:58] stephaniemcv opened #176 "Beat 3 - Emails in Layout Review"
You should get an email shortly with the subject line: [Beat 3 Test 1] Can you read this message?
Please review the email copy, links and rendering. Note any feedback in this ticket.

@valianttry @KevZawacki @shaghdoosti @lovegushwa @natalieworth

[2016-02-23 21:58] stephaniemcv opened #177 "Beat 4 - Emails in Layout Review"
Please review the email copy, links and rendering. Note any feedback in this ticket.

[2016-02-23 22:00] lovegushwa commented on #174
Landing page - video 2 copy:
https://docs.google.com/a/mozilla.com/document/d/1rZnC_4uIv7fVlps_RwTIcDR4ohHgIxN6vt_eLMEWcwo/edit?usp=sharing

[2016-02-23 22:06] valianttry commented on #173
From Jessica Vondrak:

Hi Andrea -

10am should be perfect.

All the files look good.  See screenshot below.  Two things:

1)   We could consider moving the image on the web poster slightly to the left to make the play button more centered.  Minor tweak but it could also be left as is.
2)  We need at 40x50  or 64x64 png icon to include by the text.  I dropped in just the Mozilla branded logo as an

[2016-02-23 22:40] valianttry commented on #175
Gray box template feedback:

I think the way the text is broken up doesn't quite work. I suggest we break the text up this way:

**[inside gray box]**
Did you see the big news this week about Apple and the FBI? Right now, everybody’s talking about encryption. We want more people to participate in this debate and take a stand.

**[Below Video]**
Meet Encryption!
Watch this next video in our series

[2016-02-23 22:42] valianttry commented on #175
"Button Only" version looks really good to me, so R+

![_template_a_test_someone_we_want_you_to_meet_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/13269257/ad47b9b8-da3b-11e5-93bf-16e2554c9398.png)

[2016-02-23 22:43] brettgaylor commented on #138
All Facebook gifs here:
https://giphy.com/channel/ynjldhrazxrozxj3b3jrcy5jyq/

[2016-02-23 22:45] brettgaylor opened #178 "Beat 2 social - add bumpers to short social clips"

[2016-02-23 22:45] valianttry commented on #175
For the URLs, the standard Campaign Name is in this spreadsheet:
https://docs.google.com/spreadsheets/d/1GIhOB5ERW9FvvNazBaLKsEX6ZFga3GYWDFd7b4zrCPs/edit#gid=0

"EncryptionQ1_2016" -- possible to update all the URL campaigns or have we used the "2016_Encryption" already for Beat 1?

Probably doesn't matter that much, but we should try to be consistent moving forward.

[2016-02-23 22:45] HPaulJohnson opened #179 "Update FB & Twitter share message/image on /encrypt landing page for Beat 2"
We need updated copy and images for FB and Twitter share buttons on campaign home page.

cc/ @alicoding @lovegushwa @natalieworth

[2016-02-23 22:48] valianttry commented on #175
For the "control" version using our old template (and with longer text) -- Now that I'm looking at it in layout there is a little too much bolding. Can we un-bold the sentence in the first paragraph?

With that change I am R+

![_template_a_test_someone_we_want_you_to_meet_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/13269437/86f76514-da3c-11e5-

[2016-02-23 22:50] valianttry commented on #175
R+ for this variant:

![_template_a_test_someone_we_want_you_to_meet_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/13269487/c003035e-da3c-11e5-83fd-d75912ca138e.png)

[2016-02-23 22:58] HPaulJohnson commented on #179
New copy to be added here once social copy completes approval process.

[2016-02-23 22:59] lovegushwa commented on #174
rollover copy for " *Required. Why do we ask for this information?"

We care about your privacy and helping you make informed choices. That’s why we link to our Privacy Notice  so you can easily read it. To receive emails we require only your email address — “First Name” and “Country” aren’t required to sign up, but if you tell us your country we can send you local news and events — it’s your choi

[2016-02-23 23:00] alanmoo commented on #174
Are there specs on placement of Tabzilla?

[2016-02-23 23:10] HPaulJohnson commented on #138
@brettgaylor link on giphy says this channel page is private. can you open it up?

[2016-02-23 23:27] brettgaylor commented on #138
try now?

[2016-02-23 23:30] HPaulJohnson commented on #138
yep, works. thx.

[2016-02-23 23:35] stephaniemcv opened #180 "Email Process and Performance Tracking"
In the spirit of being open, I'd like to create a single point where email content, testing and results can be easily accessed by anyone. All feedback welcome!

My hope is that by the end of the campaign we have a structure that can be applied to campaigns in the future.

https://docs.google.com/a/mozilla.com/spreadsheets/d/1ikv9lEajYaLw0edrNNWcJX09_WGE_ITJo96K8jL4xew/edit?usp=sharing

@valianttry

[2016-02-23 23:42] alanmoo commented on #146
Where can I find the text copy for the description of the beat 2 video? @valianttry

[2016-02-24 00:03] lovegushwa commented on #174
@alanmoo @cadecairos @simonwex

Final landing page video files:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvcWMyME9DbVo0VTg&usp=sharing

[2016-02-24 00:09] KevZawacki commented on #175
One note from me -- the social media icons are linking to Firefox, not Mozilla. Is that intentional?

![screen shot 2016-02-23 at 7 08 52 pm](https://cloud.githubusercontent.com/assets/11045250/13271128/fdadbd2e-da60-11e5-9bc5-46b30478ee1a.png)

[2016-02-24 00:26] lovegushwa commented on #173
@valianttry working on this

[2016-02-24 00:27] lovegushwa commented on #140
Final deliverables for option 1 here #173
Option 2 is on pause.

[2016-02-24 00:27] #140 closed

[2016-02-24 01:15] lovegushwa commented on #174
@alanmoo
Final Landing page - video 2 copy:
"Meet Encryption, and learn how she's hard at work to keep you safe online."

[2016-02-24 01:22] lovegushwa commented on #175
@stephaniemcv Overall looking great!
- the mozilla logo is a bit to large a looking fuzzy.
- the poster image is looking de-saturated: can you use this one instead?
  https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvdUczaGtKM3J1bG8/view?usp=sharing
- "Watch Video" should be in ALL CAPS

<img width="793" alt="screen shot 2016-02-23 at 4 35 04 pm" src="https://cloud.githubusercontent.com/a

[2016-02-24 01:52] valianttry commented on #171
New optin page feedback (looking at https://advocacy-mozilla-org-sta-pr-97.herokuapp.com/encrypt/signup/):

We need to replace the double-dash with a long Emdash so they match:

![screen_shot_2016-02-23_at_5_50_30_pm](https://cloud.githubusercontent.com/assets/9830371/13273140/1dcd40d0-da56-11e5-8df6-50b5a7d0fa11.png)
(that was my fault, it's that way in the Google Doc)
- All the error messages ar

[2016-02-24 01:53] alanmoo commented on #171
Yeah, not yet functional

[2016-02-24 01:56] valianttry commented on #171
@alanmoo did you get affirmation that the optin page can handle the traffic: Approx 100,000 - 300,000 page views and optins / day?

[2016-02-24 01:57] HPaulJohnson commented on #155
I added some suggested/alt copy in the comments on the gdoc though it would be great if @KevZawacki could go through and clean it up.

[2016-02-24 02:07] alanmoo commented on #171
Bucket is handling the optins just like the snippet so that shouldn't be a problem and the rest of the site has been moved behind a CDN. So yes.

[2016-02-24 02:38] alanmoo commented on #171
Signup form should be working now

[2016-02-24 03:21] alanmoo commented on #171
Everything's merged together on staging:

https://advocacy-mozilla-org-staging.herokuapp.com/encrypt/2/?video=2
https://advocacy-mozilla-org-staging.herokuapp.com/encrypt/?video=2

and the snippet target (not the final URL yet)

https://advocacy-mozilla-org-staging.herokuapp.com/encrypt/signup

I'll push to production later this evening, but please let me know if there's anything terribly wrong in

[2016-02-24 03:56] valianttry commented on #171
I noticed after the video plays the message that pops up is about privacy. I suggest we change it to say: "Will you spread the word about our friend, encryption?" The social links there use text about #youbeyou as well.. I know @HPaulJohnson is working on getting final social language in #179 ; we should update it if possible.

![mozilla_advocacy](https://cloud.githubusercontent.com/assets/9830371

[2016-02-24 03:59] valianttry commented on #171
Is it possible to direct people who click "signup" on the microsite to the new optin design? We're getting criticism for the old version that's not very transparent.

![new optin practices](https://cloud.githubusercontent.com/assets/9830371/13275256/d927a5c6-da67-11e5-8695-fcc52071de17.png)

[2016-02-24 04:03] lovegushwa commented on #171
@alanmoo ( @valianttry this might answer your question)
<img width="517" alt="screen shot 2016-02-23 at 7 58 10 pm" src="https://cloud.githubusercontent.com/assets/12228435/13275275/1c51e01e-da68-11e5-9f14-af6b41b6f0e0.png">
- Can we use "First Name" rather than "Name"
- Let's underline the link in "Why do we ask for this information" rather than use a blue link color. (It should like just like "t

[2016-02-24 04:06] valianttry commented on #171
Oh thanks @lovegushwa i didn't see the link! I also think to be clearer we should change the title to "Join Mozilla's email list" or if that's too long, "Join the email list"

[2016-02-24 04:09] valianttry commented on #171
Not a P1, but we should change the optin invitation at the top right (updates may not always be about "advocacy" per se). Let's use "email updates" instead:

![mozilla_advocacy](https://cloud.githubusercontent.com/assets/9830371/13275387/7508b3e4-da69-11e5-927d-73ed1851363f.png)

[2016-02-24 04:12] lovegushwa commented on #171
@alanmoo UI tweaks

<img width="1125" alt="screen shot 2016-02-23 at 7 54 18 pm" src="https://cloud.githubusercontent.com/assets/12228435/13275333/ac0bedee-da68-11e5-977b-6357ceaec0cc.png">
- A: use all caps here
- B: align start of thubnails to edge of "Meet Encryption"
- C: add a bit more line spacing to these captions (see example)
- add some space between "episode" and "0:00" (time)
- D: Make

[2016-02-24 04:17] lovegushwa commented on #171
@alanmoo @simonwex this is a big one, P1 if possible.

looks like the video is defaulting to the .mp4 not the .webm
There is a huge difference in quality and file size here. The .webm is 9mb rather than 15mb and the quality is much better.

[2016-02-24 04:23] brettgaylor commented on #171
@alanmoo you probably know this but if you put webm as first file and then mp4 as fallback, they will default in that order.

[2016-02-24 04:24] HPaulJohnson commented on #171
RE: Sharing copy. Let's use the following:

Share CTA (per Andrea's suggestion):
"Will you spread the word about our friend, encryption?"

For the email share text:
(Subject): "Check out this great video on encryption."
(Body): "I just watched a video about how encryption works in our everyday lives and thought you would really like it. Check it out at https://mzl.la/encrypt. Hope you enjoy it!"

[2016-02-24 04:26] HPaulJohnson commented on #179
As per QA ticket #171, let's update the sharing copy as follows:

RE: Sharing copy. Let's use the following:

Share CTA popup:
"Will you spread the word about our friend, encryption?"

For the email share text:
(Subject): "Check out this great video on encryption."
(Body): "I just watched a video about how encryption works in our everyday lives and thought you would really like it. Check it out at

[2016-02-24 04:31] brettgaylor commented on #172
This got done

[2016-02-24 04:31] #172 closed

[2016-02-24 04:34] alanmoo commented on #171
None of these look particularly difficult, I'll tackle them after I eat, on my way home now. The only catch is changing social content will happen for all the videos, the groundwork isn't quite there to be unique per video. So I'll update them for beat 2 and then make them variable later this week. Sound good?

[2016-02-24 04:36] HPaulJohnson commented on #171
works for me @alanmoo. thanks.

[2016-02-24 04:51] lovegushwa commented on #171
@alanmoo P1:  this is my last change, it's going to make the page look much better.

Updated video 2 poster image:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvWUxudjh5b2pEUmM/view?usp=sharing

[2016-02-24 04:52] alanmoo commented on #171
@lovegushwa 👍

[2016-02-24 04:55] valianttry commented on #171
@alanmoo you're a late night hero :clap:

![what-were-the-funniest-quotes-from-the-2012-presidential-election-37409777-nov-6-2012-1-600x400](https://cloud.githubusercontent.com/assets/9830371/13276007/c857a248-da6f-11e5-896d-e90706d452fe.jpg)

[2016-02-24 05:59] alanmoo commented on #171
Everything's been done. One minor question @lovegushwa: By making "Coming soon" book weight, did you mean bolder? The weights don't quite translate the same to web fonts.

[2016-02-24 06:18] alanmoo commented on #179
I've dropped these in, but @alicoding can you double check these work as expected in the morning?

[2016-02-24 06:19] alanmoo commented on #171
I've deployed this to production and it should be available within an hour (due to the CDN).

[2016-02-24 06:25] #146 closed

[2016-02-24 06:25] #171 closed

[2016-02-24 06:25] #174 closed

[2016-02-24 06:37] lovegushwa commented on #173
@valianttry

Snippet icon:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvdW0wZUk1azhPTTA/view?usp=sharing

Poster:
https://drive.google.com/a/mozilla.com/file/d/0B20-0lpP23c0R3RZMHl4X1JaTEk/view?usp=sharing

[2016-02-24 10:57] Giorgio-Olivero commented on #155
(I formatted the gdoc so it's easier to understand which part of the texts are part of the UI and which ones are comments/extra infos)

[2016-02-24 11:13] JessicaVondrak commented on #173
Hi Jordan and Andrea - I dropped in the assets and it's close to perfect.  :)

2 things:
1)  @lovegushwa The icon is awesome; just one minor tweek.  I think we may need to add some padding to the top of the image to make it appear more centered with the text. (see screenshot below).   I tried re-sizing the image, but it looked blurry and still not centered.  I think the issue may be the text is a

[2016-02-24 13:12] stephaniemcv commented on #175
Thanks for the feeback. All updates made.

@valianttry I did use "2016_Encryption" already for Beat 1 But I'll switch to "EncryptionQ1_2016" for the rest of the emails.

Also I'm linking that spreadsheet in #180

[2016-02-24 13:39] Giorgio-Olivero commented on #155
@HPaulJohnson thanks for the feedback! I understand that we should wait for more feedback from @Jochai1 and @shaghdoosti  as suggested by @valianttry . Correct?

[2016-02-24 13:56] Giorgio-Olivero commented on #155
If you want to see the onboarding mockup in the browser context go here
http://el.s.todo.to.it/cryptoloji/0508/
(both desktop/mobile: this onboarding it's just a sequence of png to see how they 'feel' in the browser, no interaction nor swiping or responsive layout - tap/click to move to the next steps)

[2016-02-24 14:58] KevZawacki commented on #155
@HPaulJohnson Just reviewed your suggestions -- comments in doc

[2016-02-24 15:43] valianttry commented on #173
Thanks @JessicaVondrak ! I've asked @adamlofting to confirm the URL is OK and I don't know if @lovegushwa is up and at 'em yet this morning (he's in PST). Will get to these asap.

[2016-02-24 15:51] adamlofting commented on #173
It looks like the ampersands got html-encoded, which might not work.

Instead this should be:
https://advocacy.mozilla.org/encrypt/signup/?utm_source=desktop-snippet&utm_medium=snippet&utm_content=MeetEncryption_Beat2&utm_term=5440&utm_campaign=EncryptionQ1_2016

Note the `&` instead of the `&amp;` between each parameter.

[2016-02-24 15:59] JessicaVondrak commented on #173
Hi @adamlofting -
The snippet service requires you to include the`"&amp;"`  -  it will create an error if you eliminate those characters.

[2016-02-24 16:05] #175 closed

[2016-02-24 16:05] adamlofting commented on #173
Interesting... as the GA parameters have worked correctly in the past for all previous snippets, perhaps when the URL gets rendered to the end user it ends up as `&` anyway.

Unless this is a recent change in how the service works, I expect the URL you provided above will work fine for our tracking.

Once it goes live we can check in the GA real time report:
https://analytics.google.com/analytics/

[2016-02-24 16:10] JessicaVondrak commented on #173
GA will definitely pick up the data for clicks on the link.  We use this same tagging structure for all of our links and use GA to track "clicks".

I'm not sure if this impacts anything you want to track beyond "clicks"?  Is there a separate way you are tracking actual conversion (sign-ups)?

[2016-02-24 16:15] Giorgio-Olivero commented on #93
attached: new mockups for the 'encrytion' view on desktop screens.
[160224_mozilla_wireframe_desktop_encryption_02.pdf](https://github.com/MozillaFoundation/encryption_campaign/files/144949/160224_mozilla_wireframe_desktop_encryption_02.pdf)

these are not fully implemented yet, you can find a progress here: http://el.s.todo.to.it/cryptoloji/0508/#/encrypt

[2016-02-24 16:15] adamlofting commented on #173
That's great then - beyond clicks is all handled in GA if it happens on our webpage.

[2016-02-24 16:16] JessicaVondrak commented on #173
Perfect!  :)

[2016-02-24 16:59] valianttry commented on #173
per @shaghdoosti -- let's make one word change:

"Mozilla stands up for online privacy." change to: "Mozilla stands up for online security."

possible @JessicaVondrak ?

[2016-02-24 17:11] OpenMatt commented on #155
- Thanks everyone! I updated the sign-off list above
- @valianttry have you done your review yet? Do you want to?
- @lovegushwa do you want to review as well, as per overall onboarding UX?

[2016-02-24 17:12] OpenMatt commented on #154
We expect an estimate back from TODO by end of this week

[2016-02-24 17:14] OpenMatt commented on #93
@lovegushwa want to take first pass at reviewing and providing some feedback here?

[2016-02-24 17:20] natalieworth commented on #138
@HPaulJohnson I have uploaded the updated social graphics for facebook/twitter (native share). I'm just going to connect with Jordan for the external mozilla/ url branded one's, but will post here asap:
Facebook (native): https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0ZnA3bHdFSnBCcXM&usp=drive_web&ddrp=1#
Twitter (native): https://drive.google.com/a/mozillafoundation.o

[2016-02-24 17:34] lovegushwa commented on #173
Revised icons:
@valianttry @JessicaVondrak there are a few options in this folder, try a and see what looks best.

https://drive.google.com/folderview?id=0B2qu3ExKWIlvSDFZYzlHMTZ5UFU&usp=sharing

[2016-02-24 17:46] JessicaVondrak commented on #173
@lovegushwa
I think #1 looks best...thoughts?  My eyes are crossing bc they look very similar!
#1 ) 60x70png ![screen shot 2016-02-24 at 6 40 13 pm](https://cloud.githubusercontent.com/assets/17205874/13294836/2e017680-db26-11e5-9680-a9f748b7366d.png)
#2)  64x64png
![screen shot 2016-02-24 at 6 44 34 pm](https://cloud.githubusercontent.com/assets/17205874/13294977/c90aa098-db26-11e5-9b5e-9de761470

[2016-02-24 18:04] OpenMatt commented on #155
@Giorgio-Olivero could you produce an updated PDF based on the copy edits you got thus far? Then we can use that for @Jochai1 to do a final review.

[2016-02-24 18:05] OpenMatt commented on #155
@Giorgio-Olivero btw @Jochai1 is just getting back from India, so it will probably be Thurs or Fri before he can review. Let me know if there's anything we can do to ensure that doesn't block your progress too badly? I know you were hoping to expedite this one.

[2016-02-24 18:27] OpenMatt commented on #93
@Giorgio-Olivero we can get you feedback on this latest iteration by end of Friday. Is that ok for you? It's extremely busy here right now.

[2016-02-24 18:28] OpenMatt commented on #156
@adamlofting do you think maybe you could include a quick summary of key KPI data, to flesh out that part of the picture in terms of how beat 1 and now beat 2 have been performing?

[2016-02-24 18:34] lovegushwa commented on #179
Facebook with URL: https://drive.google.com/file/d/0B2qu3ExKWIlvb2d3WEstRjVmUTQ/view?usp=sharing

Twitter with URL:
https://drive.google.com/file/d/0B2qu3ExKWIlvNzlaM2N5Ym9HUUU/view?usp=sharing

[2016-02-24 18:35] alanmoo commented on #179
@alicoding can you throw this into your existing PR?

[2016-02-24 18:37] lovegushwa commented on #173
@JessicaVondrak 1 looks great, ship it! :)

[2016-02-24 18:40] Giorgio-Olivero commented on #93
yes, sure. but we need to proceed anyways (theoretically Friday is our deadline, even if I envision that we'll keep finalizing and fine tuning next week).

[2016-02-24 18:42] JessicaVondrak commented on #173
Great, done!

[2016-02-24 18:45] Giorgio-Olivero commented on #155
yes, we'll update the web-based mockup with the new texts tomorrow morning (CET timezone)
- @michellenebiolo has been working on a google spreadsheet with all the copy in order to make it easier to comment/propose copy iterations. She'll share it here tomorrow. This will include also the text of the landing pages from: mozilla newsletter, usergenerated message, decryption view.

Probably not much

[2016-02-24 18:49] alanmoo commented on #179
Merged in and deployed.

[2016-02-24 18:49] #179 closed

[2016-02-24 19:01] JessicaVondrak commented on #173
Final URL for Tracking with finalized Snippet ID #  5540:

https://advocacy.mozilla.org/encrypt/signup/?utm_source=desktop-snippet&amp;utm_medium=snippet&amp;utm_content=MeetEncryption_Beat2&amp;utm_term=5540&amp;utm_campaign=EncryptionQ1_2016

[2016-02-24 19:20] lovegushwa commented on #179
@alicoding just created new .png's this should help with better compression on facebook

Facebook with URL: https://drive.google.com/file/d/0B2qu3ExKWIlvOUlCYWdMNFhET2M/view?usp=sharing

Twitter with URL: https://drive.google.com/file/d/0B2qu3ExKWIlvYkxQUTFxTl9sWmc/view?usp=sharing

[2016-02-24 19:43] lovegushwa opened #181 "Updated pattern for email opt-in confirmation page"
@alanmoo I updated the pattern .png so it has less contrast.
Can you update this image when you get a chance?

https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvWGNtN1Q5OFU4ZG8/view?usp=sharing

[2016-02-24 19:50] KevZawacki commented on #156
Updating the etherpad with the latest comms data

[2016-02-24 20:30] valianttry opened #182 "Change language on optin form when video play ends"
Need to remove "privacy" from this copy:

![mozilla_advocacy](https://cloud.githubusercontent.com/assets/9830371/13299934/56d4a0ca-daf2-11e5-8cc4-53c0c5d37098.png)

[2016-02-24 21:01] Giorgio-Olivero commented on #93
(tomorrow we'll post the updated 'sharing' view', it would be cool to prioritize the feedback on that part)

[2016-02-24 21:03] lovegushwa commented on #93
@OpenMatt @Giorgio-Olivero digging into this now.

[2016-02-24 21:37] lovegushwa commented on #93
Let's consolidate the first round feedback in redpen ( @Giorgio-Olivero you don't need to pay to view)

Desktop view:
https://redpen.io/p/xzd9ac600aefa383c6

Onboarding:
https://redpen.io/p/fq35b78d3e8adb630f

[2016-02-24 21:42] lovegushwa commented on #155
Let's consolidate the first round design feedback in redpen ( @Giorgio-Olivero you don't need to pay to view)

Desktop view:
https://redpen.io/p/xzd9ac600aefa383c6

Onboarding:
https://redpen.io/p/fq35b78d3e8adb630f

[2016-02-24 21:44] lovegushwa commented on #93
posting feedback in #155

[2016-02-24 21:55] alanmoo opened #183 "URL plan for future beats"
The structure of URL's has been a bit rough in the last few beats as I didn't have a clear picture of what the needs of them were. Up until now, this is what we've had (all URLs start with `advocacy.mozilla.org`)

### Current scheme

* `/encrypt/` - the page with "sign up" CTA (I'll call it 'social'), showing the latest video
* `/encrypt/2` - the page without the "sign up" CTA ('direct'), showing

[2016-02-24 21:59] #182 closed

[2016-02-24 22:59] #181 closed

[2016-02-25 04:10] lovegushwa commented on #155
@Giorgio-Olivero some quick exploration of the logo with an application of the campaign typeface.
( a rounded version of cooper-hewitt bold, we could also explore a lighter weight.)

Currently the letters are too heavy, but you get the idea how this could tie into the campaign identity and Mozilla brand with some further exploration.

I can work on this a bit more tomorrow if you like?

<img width

[2016-02-25 08:41] Giorgio-Olivero commented on #155
@lovegushwa sure, go ahead! then we can try it live online.

[2016-02-25 14:20] michellenebiolo commented on #155
Hi, I’ve created a [spreadsheet for copy review](https://docs.google.com/spreadsheets/d/1STrOHP3L2VmxmBqjIc3PPbJn0-tq5Qu2gOCgFTtXK_o/edit?usp=sharing).
Sorry if it’s a little sad to use a boring spreadsheet ;) but it’s the easiest way for us to keep track of changes and still see the entire flow at once.

The first column gives you an indication of where the copy goes in the experience flow.
We ar

[2016-02-25 14:27] KevZawacki commented on #155
This is hugely helpful -- thanks, @michellenebiolo.

I just made some tweaks to copy to the "Option A" column

[2016-02-25 16:37] Giorgio-Olivero commented on #93
[@lovegushwa you were right and made me fall in love with RedPen (really cool service/UX)]

so here we go with the 'mobile sharing, modal view screen'

the files already have annotations.

this new sequence is triggered when the user tap on 'share message', then:
- the view panel panel slides up
- it displays the Google 'reCaptha v2' (less intrusive than any other captcha techniques)
- as soon as

[2016-02-25 18:07] Giorgio-Olivero commented on #93
If you want to try the new animated (tested only on: chrome / desktop) encrypted message output check this out http://el.s.todo.to.it/cryptoloji/0542/#/encrypt
(only test this feature on this link)
Try picking few different keys and see how it changes/animates the output. We implemented this solution because it explains really nicely how the ciphering takes the letter as inputs and swaps them with

[2016-02-25 18:26] OpenMatt commented on #155
- Thank you for this @michellenebiolo !
- Next step: @shaghdoosti will take next pass on copy in the spreadsheet, which she will have done by end of day Friday.

[2016-02-25 18:51] OpenMatt commented on #93
- @lovegushwa from TODO's point of view, this is the top prioritiy ticket right now (even more so than the copy)
- they want feedback on the _share_ view that they just added here

[2016-02-25 18:55] #165 closed

[2016-02-25 18:56] lovegushwa opened #184 "Create style - Photo treatment"

[2016-02-25 19:15] OpenMatt commented on #141
@shaghdoosti do we have any sense of whether we'll need dev resources to help build this?

[2016-02-25 20:30] valianttry opened #185 "Snippet error with Video 2: Snippet has been taken down"
Hi Andrea -

There's a glitch occurring with the video on the snippet that Stephen Horlander pointed out.  We need to pause while we investigate.  See comments below....

"The pages loads briefly, then flashes, then reflows the layout because the video is too big. Video of the issue: http://people.mozilla.org/~shorlander/bugs/about-home-reflow.webm"

It wasn't occurring yesterday, so it's likely s

[2016-02-25 20:44] lovegushwa commented on #185
@valianttry
Let's try this file: https://drive.google.com/file/d/0B2qu3ExKWIlvcC1VS25sZDRfazg/view?usp=sharing
It's 5.6mb (the older files was 6.9mb)

[2016-02-25 20:51] valianttry commented on #185
Apparently Giorgos (with snippets team) uploaded several new templates which may have caused the problem.... new video is getting uploaded by Jessica V now.

[2016-02-26 12:10] adamlofting commented on #156
@OpenMatt I've added some high-level notes about the result of the survey, and web analytics so far.
- @stephaniemcv could you add the latest email sign-up numbers?
- @HPaulJohnson can you add the FB video views?
- @valianttry can add the snippet video views data if you have it? (I'll ping Jessica to see if there's a report I can access now as well, but currently I don't have this data)

[2016-02-26 13:08] KevZawacki commented on #34
Beat 2 content is live on blog.mozilla.org and Medium. Closing ticket.

[2016-02-26 13:08] #34 closed

[2016-02-26 13:43] adamlofting commented on #156
@valianttry no action needed for you now. :+1:

I have the snippet video views, and have added these to the pad.

[2016-02-26 15:52] KevZawacki opened #186 "Collect and ship campaign metrics for 2/29 call"
@HPaulJohnson @valianttry

Lots of data already collected in #156.

Kevin will share numbers with EJ once this ticket is updated.

[2016-02-26 16:03] KevZawacki commented on #186
Here's what we have so far:

**Video views across channels**:
- Microsite: 120k
- Snippet: 500k
- Facebook:@hpauljohnson?

**Snippet email signup**:
- New opt-ins: @stephaniemcv?

**Web analytics**:
- ~75% of visits result in people watching the campaign videos
- Of the 120k times people have started watching the video on the site, 20k have gone on to share the video on Facebook, Email or Twitter

[2016-02-26 16:28] stephaniemcv commented on #186
Beat 1 added between 2/11-2/23 ~ 148,000, Beat 2 added between 2/25-2/26 ~ 5,000

[2016-02-26 16:42] KevZawacki commented on #186
Emailed what we have so far to EJ. Paul and Andrea are on the thread.

EJ's slide [here](https://docs.google.com/presentation/d/1Iq0zr1p5ihn_nwUwbc8dXOQ-fpAsyUu2Uc9bQm2Trl8/edit?ts=56d07c43#slide=id.g11b4b8ef56_0_3).

[2016-02-26 16:57] lovegushwa commented on #144
@OpenMatt @HPaulJohnson
Spoke with Paul about this yesterday. Were going to try several different approaches here, could be a great place to git some additional design firepower ( @sabrinang  ?)

Direction 1: (advocacy info graphics) I think @KevZawacki may be helping research this.
Direction 2: Humor / meme, the focus here is creating something thats highly shareable first.
Direction 3: ??

We ne

[2016-02-26 17:00] HPaulJohnson commented on #156
Added social stats (and some updated stats from GA re: video views). @KevZawacki is going to add some stats re: media/press hits

[2016-02-26 17:02] HPaulJohnson commented on #186
From: https://public.etherpad-mozilla.org/p/beat1

Video views across channels:
- Microsite:266K video "events" (163K started + 91K ended)
- Snippet: 500k
- Facebook:125K

Snippet email signup:
- New opt-ins: Beat 1 added between 2/11-2/23 ~ 148,000, Beat 2 added between 2/25-2/26 ~ 5,000
  Note: Some of these come from the microsite traffic vs. snippet. Any way to distinguish?

Social
- Shares fr

[2016-02-26 17:02] #186 closed

[2016-02-26 17:18] valianttry commented on #156
@KevZawacki @HPaulJohnson @OpenMatt @adamlofting I left some comments in the pad -- so much awesome stuff and work !

It would be good to try and provide some comparison data if we can find it -- even if it's an imperfect comparison. It's difficult to claim something is exceptional without providing _some_ measuring stick.

We also answered a lot of Qs about email through testing -- @stephaniemcv

[2016-02-26 18:51] valianttry commented on #185
Update: Snippet with Video 2 is still down. Everyone who can fix it is on PTO. Discussing alternatives with Michaela Smiley.

[2016-02-26 19:09] lovegushwa commented on #93
@Giorgio-Olivero I left some feedback in the redpen for the share sequence. I love that share how has hints and mini-onboarding. Beautiful. @HPaulJohnson can you take a look at the above and provide feedback on the share experience?